.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: z('page', 'header');

  .outer-wrap,
  .inner-wrap {
    width: 100%;
    max-width: 1024px;
  }
  .outer-wrap {
    @include rgba-background(rgba(255,255,255,0.1));
  }
}