
//- audio excerpt section

//- script
  var 
  
div(data-section='one-patients-story').section.section--story

  .audio

    a(id='one-patients-story' name='one-patients-story' ).scroll-point

    .audio-bg

    h2 This is what binge eating #[br.hide--mobile]disorder (B.E.D.) can feel like

    p.hide--desktop.center.footnote
      em Excerpts from an interview with Sunny Sea Gold, B.E.D. patient and advocate.

    .sunny-icon


    .quote-block

      p.quote #[span.quote-open.quotation-mark.first-quote]During a binge, I would often eat really, really fast. My binges would always happen when I was alone.#[span.quote-close.quotation-mark]

      .play-button(data-target="sample2").play-sample2

      p.listen Listen to the extended excerpt

      .audio-container
        - var src = '';
        if prod
          - src = '/hcp/content/media/sunny-audio-1.mp3';
        if dev
          - src = 'media/sunny-audio-1.mp3';

        audio.audio-sample2
          source(src="#{src}", type="audio/mpeg")


    .quote-block

      p.quote #[span.quote-open.quotation-mark.second-quote]When I first realized #[br.hide--desktop]there was something #[br.hide--desktop]wrong, it was #[br.hide--mobile]terrifying to #[br.hide--desktop]admit that to anyone, even #[br.hide--desktop]a professional.#[span.quote-close.quotation-mark] 

      .play-button(data-target="sample1").play-sample1

      p.listen Listen to the extended excerpt

      //- .audio-player
      .audio-container
        - var src = '';
        if prod
          - src = '/hcp/content/media/sunny-audio-2.mp3';
        if dev
          - src = 'media/sunny-audio-2.mp3';

        audio.audio-sample1
          source(src="#{src}", type="audio/mpeg")

  .callout
    p Excerpts from an interview with Sunny#[br.hide--mobile]Sea Gold, B.E.D. patient and advocate. This is one adult's experience with B.E.D.
