
//- audio excerpt section
  
div(data-section='one-patients-story').section.section--resources

  .audio

    a(id='one-patients-story' name='one-patients-story' ).scroll-point

    .audio-bg

    h2 This is what binge eating #[br.hide--mobile]disorder (B.E.D.) can feel like

    p.hide--desktop.center.footnote
      em Excerpts from an interview with Sunny Sea Gold, B.E.D. patient and advocate.

    .sunny-icon

    .quote-block
      p.quote #[span.quote-open.quotation-mark]When I first realized that #[br.hide--desktop]there was something #[br.hide--desktop]wrong, it #[br.hide--mobile]was terrifying to #[br.hide--desktop]admit to anyone, even #[br.hide--desktop]a professional.#[span.quote-close.quotation-mark] 

      .play-button(data-target="sample1").play-sample1

      p.listen Listen to the extended excerpt

      //- .audio-player
      .audio-container
        audio(src="/hcp/content/media/Sunny_Seagold_2.mp3" controls="none").audio-sample1

    .quote-block
      p.quote #[span.quote-open.quotation-mark]My binges would always #[br.hide--desktop]happen when I was alone. #[br]That’s not something #[br.hide--desktop]that you want anyone else #[br.hide--desktop]to see #[br.hide--mobile]you do.#[span.quote-close.quotation-mark] 

      .play-button(data-target="sample2").play-sample2

      p.listen Listen to the extended excerpt

      //- .audio-player
      .audio-container
        audio(src="/hcp/content/media/Sunny_Seagold_1.mp3").audio-sample2

  .callout
    p Excerpts from an interview with Sunny#[br.hide--mobile]Sea Gold, B.E.D. patient and advocate. This is one adult's experience with B.E.D.
