div(
  data-section='course'
  ).section.section--course
  
  a(href='/#course').bar.bar--title.
    It often goes untreated for years
  a(id='course', name='course').scroll-point
  
  .content-wrap
    h2.
      BED onset occurs later than other eating disorders
    p.sub-head.
      The median age of onset #[nobr (21 years)] is #[span.yellow several years #[br.mobile]later] #[br.hide--mobile]than for anorexia nervosa and bulimia nervosa.#[sup 2]
    .graphic-container
      p.twenty-one
        img(src='img/course-21.png').
      p.chart
        img(src='img/median-ages.png').
      p.mean-duration.
        The mean duration of #[br.hide--desktop]#[span.yellow BED is 8.1 years#[sup 2]]
    p.disclaimer.
      Data from an eating-disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, #[br.hide--mobile]a nationally representative face-to-face household survey of English-speaking adults #[br.hide--desktop]≥18 years.#[sup 2]
