div(data-section='clinical-characteristics').section.section--course

  a(id='clinical-characteristics', name='clinical-characteristics').scroll-point
  
  .content-wrap

    div(data-skrollr='course-title')
      h2.
        Binge eating disorder (B.E.D.) onset occurs later #[br.hide--mobile]than other eating disorders
      
      p.sub-head.
        In a survey of US adults, the median age of onset #[nobr (21 years)] was #[span.yellow several years later] than for anorexia nervosa and bulimia nervosa (18 years).*#[sup 2]
    
    .graphic-container
      
      h3.chart-head.hide--mobile.
        Median ages of onset and age-of-onset #[br]ranges for B.E.D., AN, and BN#[sup 2]


      .twenty-one-animated.hide--mobile
        .animated-wrap
          .numbers-wrap
            div(data-skrollr='course-21-numbers').numbers
          .brackets
          div(data-skrollr='course-21-copy').copy
        .seo.
          Median age of onset for B.E.D. is 21.

      p.twenty-one.hide--desktop
        img(src='img/course-21.png', alt='Median age of onset for B.E.D. is 21.')
      
     


      .legend
        h3.chart-head.center.hide--desktop.
          Median ages of onset and #[br]age-of-onset ranges for #[br]B.E.D., AN, and BN#[sup 2]

        p.chart.hide--desktop
          img(src='img/median-ages.png', alt='Median age of onset for anorexia nervosa and bulimia nervosa is 18.')

        .median-ages.hide--mobile
          .seo.
            Median age of onset for anorexia nervosa and bulimia nervosa is 18.

        p.text.footnote.hide--desktop.
          Interquartile range.#[br]
          AN=anorexia nervosa;#[br]
          BN=bulimia nervosa.

      p.mean-duration.sub-head.
        The mean duration of B.E.D. is #[br.hide--desktop]8.1 years.#[sup 2]

    
    h2.yellow.
      Adults with B.E.D. have other psychiatric comorbidity at rates similar to bulimia and anorexia#[sup 1]

    p.sub-head.
      Adults with B.E.D. often have coexisting psychiatric and physical conditions such #[br.hide--mobile]as bipolar disorders, depressive disorders, anxiety disorders, substance use disorders, and obesity.#[sup 1]
      
    h3.yellow.center.chart-head.spiral-charts-head.
      Lifetime B.E.D. comorbidity in a nationally representative #[br.hide--mobile]survey of US adults aged ≥18 years*#[sup 2]:

    .eighty.graphic

      p(data-skrollr='course-80').large.yellow.
        79#[sup.percent %]

      p.
        met criteria for#[br]
        #[span.yellow at least 1 other]#[br]
        psychiatric disorder

    .forty-nine.graphic

      p(data-skrollr='course-49').large.yellow.
        49#[sup.percent %]

      p.
        met criteria for#[br]
        #[span.yellow 3 or more other]#[br]
        psychiatric disorders

    p.footnote.chart-footnote.asterisk.
      Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a nationally representative face-to-face household survey of English-speaking adults #[br.hide--mobile]aged ≥18 years.#[sup 2]
