div(data-section='course').section.section--course
  
  a(href='/#course').bar.bar--title.
    Clinical characteristics of BED
  a(id='course', name='course').scroll-point
  
  .content-wrap
    h2.
      BED onset occurs later than other eating disorders
    
    p.sub-head.
      In a survey of US adults, the median age of onset #[nobr (21 years)] was #[span.yellow several years later] #[br.hide--mobile]than for #[br.hide--desktop]anorexia nervosa and bulimia nervosa (18 years).*#[sup 2]
    
    .graphic-container
      
      p.twenty-one
        img(src='img/course-21.png')
      
      div
        p.text.yellow.
          Age-of-onset ranges#[br]
          for AN, BN, and BED*#[sup 2]

        p.chart
          img(src='img/median-ages.png')

        p.text.footnote.
          #[span.yellow *Interquartile range.]#[br]
          AN=anorexia nervosa;#[br]
          BN=bulimia nervosa.

      p.mean-duration.
        The mean duration of BED is 8.1 years#[sup 2]

    p.disclaimer.
      *Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, #[br.hide--mobile]a nationally representative face-to-face household survey of English-speaking adults #[br.hide--desktop]≥18 years.#[sup 2]



    h2.yellow.
      BED is associated with significant psychiatric comorbidity comparable to bulimia nervosa and anorexia nervosa

    p.
      Adults with BED often have coexisting bipolar, depressive, or anxiety disorders
      
    p.yellow.center.
      Lifetime comorbidity per DSM-IV in a nationally representative survey of US adults ≥18 years*#[sup 2]




    .eighty.graphic

      p.large.yellow.
        79#[sup.percent %]

      p.
        met criteria for#[br]
        #[span.yellow at least 1 other]#[br]
        psychiatric disorder

    .forty-nine.graphic

      p.large.yellow.
        49#[sup.percent %]

      p.
        met criteria for#[br]
        #[span.yellow  or more other]#[br]
        psychiatric disorder