div(data-section='diagnosis').section.section--diagnosis

  a(id='diagnosis',name='diagnosis').scroll-point

  .content-wrap
    

    div('data-bottom-top'='opacity: 0; transform: translate3d(0px,-50px,0px)',
        'data-bottom-bottom'='opacity: 1; transform: translate3d(0px,0,0px)')
      h2.
        Recognizing binge eating disorder (B.E.D.) in adults
      p.sub-head.
        B.E.D. is defined as recurring episodes (at least once weekly for #[br.hide--desktop]3 months) of consuming a large amount of food in a short period of time, compared to what others might eat, with episodes characterized by experiencing a lack of control and significant distress regarding binge eating.#[sup 1]
    p.moar
      em
        | #[a(data-slideout='signup', class='signup') Please register] to receive the  
      | #[nobr DSM-5#[sup &reg;]] 
      em
        | diagnostic criteria and additional information from Shire about B.E.D. in adults.

    h3 B.E.D. is different from #[br.hide--desktop]bulimia nervosa
    p It is not associated with compensatory behaviors such as purging or excessive exercise, or with #[br.hide--mobile]dietary restriction, although frequent dieting may be reported.#[sup 1]
    h3 B.E.D. is different from overeating
    p While overeating is a challenge for many Americans, recurrent binge eating is much less common, #[br.hide--mobile]far more severe, and is associated with significant physical and psychological problems.#[sup 13]
    h3 B.E.D. is different from obesity
    p Compared with weight-matched obese adults without B.E.D., obese adults with B.E.D. eat more #[br.hide--mobile]calories in studies of how people eat and show#[sup 1]:
    ul.bullet
      li More functional impairment
      li Greater self-reported distress
      li Impaired quality of life
      li More coexisting psychiatric conditions
    p B.E.D. occurs in normal-weight, overweight, and obese individuals.#[sup 2]

    h3.center.chart-head.
      Based on a nationally representative survey of US adults aged ≥18 years*#[sup 2]:

    .graphic-wrap

      .fifty-percent
        .grey-circle
          .yellow-wrap
            div(data-skrollr='diagnosis-circle').yellow-circle

        p(data-skrollr='diagnosis-50').large.yellow
          | &lt;50#[sup.percent %]
          .seo.
            Less than 50% of adults with B.E.D. are obese.


        p(data-skrollr='diagnosis-50-caption').yellow.
          of adults with B.E.D. #[br]are obese


      .nineteen-percent.weight-graphic
        .seo.
          Silhouette of a normal-weight male

        p(data-skrollr='diagnosis-19').large.yellow.
          19#[sup.percent %]

        p.yellow.
          are normal weight #[br](BMI 18.5-24.9)

      .thirty-six-percent.weight-graphic
        .seo.
          Silhouette of an overweight male

        p(data-skrollr='diagnosis-36').large.
          36#[sup.percent %]

        p are overweight#[br](BMI 25-29.9)

        p but not obese#[br](BMI ≥30)
        
    p.footnote.asterisk.
      Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, #[br.hide--mobile]a nationally respresentative face-to-face household survey of English-speaking adults aged &#8805;18 years.


    .bed-patient-profiles

      a(id='profiles',name='profiles').scroll-point
      

      .patient-profiles-header
        h3 Patient Profiles of Adults with B.E.D.

        p 
          em.
            Models and descriptions are fictional #[br.hide--desktop]representations of how some adults #[br.hide--desktop]with B.E.D. may present, and do 
            #[br.hide--mobile]not #[br.hide--desktop]constitute the totality of B.E.D. #[br.hide--desktop]symptoms and criteria. Diagnosis should be based on a complete
            #[br.hide--mobile] evaluation of the patient that confirms the criteria for B.E.D. established in DSM-5#[sup &reg;].

      ul.profile-buttons

        li.kim-button(data-target="kim-profile").profile-button.active-profile-button
          .active-bg
        li.nikki-button(data-target="nikki-profile").profile-button
          .active-bg
        li.julie-button(data-target="julie-profile").profile-button
          .active-bg
        li.diego-button(data-target="diego-profile").profile-button
          .active-bg

      .profile-container

        .arrow-prev.arrow.inactive
        .arrow-next.arrow

        


        //- PROFILE 1: Kimberly
        .kim-profile.profile.active-profile(data-profile-num="1")

          .profile-image
  
          h3 Kimberly

          .patient-profile-pagination
            .circle.active
            .circle
            .circle
            .circle

          .profile-section.first
            p Binge days per week: #[span.yellow 2]
            p.footnote (on average, 3-month period)

          .profile-section.stats
            p Age: #[span.yellow 34]
            p BMI: #[span.yellow 29]

          .profile-section
            ul
              li Kimberly works as a high school librarian
              li She is single and lives alone
              li Kimberly’s binges are usually the result of boredom

          .profile-section
            p.quote “I feel like I’ve lost control while I’m eating.”
            p.footnote.bmi BMI=body mass index.


        //- PROFILE 2: Nikki
        .nikki-profile.profile(data-profile-num="2")

          .profile-image

          h3 Nikki

          .patient-profile-pagination
            .circle
            .circle.active
            .circle
            .circle

          .profile-section.first
            p Binge days per week: #[span.yellow 3]
            p.footnote (on average, 3-month period)

          .profile-section.stats
            p Age: #[span.yellow 27]
            p BMI: #[span.yellow 28]

          .profile-section
            ul
              li Nikki is a pediatric oncology nurse
              li Her binges are triggered by interpersonal stressors
              li Nikki is distressed by her bingeing behavior

          .profile-section
            p.quote “I’m disgusted with myself after I binge.”
            p.footnote.bmi BMI=body mass index.


        //- PROFILE 3: Julie
        .julie-profile.profile(data-profile-num="3")

          .profile-image
          
          h3 Julie

          .patient-profile-pagination
            .circle
            .circle
            .circle.active
            .circle

          .profile-section.first
            p Binge days per week: #[span.yellow 5]
            p.footnote (on average, 3-month period)

          .profile-section.stats
            p Age: #[span.yellow 42]
            p BMI: #[span.yellow 35]

          .profile-section
            ul
              li Julie works as an advertising executive
              li Julie's binges are triggered by negative feelings #[br.hide--mobile]about her body shape
              li Julie has a coexisting psychiatric disorder—Julie struggles with anxiety disorder

          .profile-section
            p.quote "When the binges are over, I feel guilty about #[br.hide--mobile]my behavior."
            p.footnote.bmi BMI=body mass index.



        //- PROFILE 4: Diego
        .diego-profile.profile(data-profile-num="4")

          .profile-image

          h3 Diego

          .patient-profile-pagination
            .circle
            .circle
            .circle
            .circle.active

          .profile-section.first
            p Binge days per week: #[span.yellow 5]
            p.footnote (on average, 3-month period)

          .profile-section.stats
            p Age: #[span.yellow 30]
            p BMI: #[span.yellow 32]

          .profile-section
            ul
              li Diego works at night to support his family
              li Following his binges, Diego tends to feel depressed

          .profile-section
            p.quote “I binge alone because I don't want anyone #[br.hide--mobiel]to know how much I eat.”
            p.footnote.bmi BMI=body mass index.
