div(data-section='diagnosis').section.section--diagnosis

  a(id='diagnosis',name='diagnosis').scroll-point

  .content-wrap
    

    div('data-bottom-top'='opacity: 0; transform: translate3d(0px,-50px,0px)',
        'data-bottom-bottom'='opacity: 1; transform: translate3d(0px,0,0px)')
      h2.
        Recognizing BED
      p.sub-head.
        BED is defined as recurring episodes of eating a large amount of food in a short period of time, with episodes characterized by feelings of lack of control and marked distress.#[sup 1]
    p.
      These are not the full diagnostic criteria. #[a(data-slideout='signup', class='signup') Please register] to receive the full #[em DSM-5]#[sup ®] diagnostic criteria and additional BED information from Shire.

    h3.
      BED is different from bulimia nervosa
    p.
      It is not associated with compensatory behaviors such as purging or excessive exercise, or with dietary restriction, although frequent dieting may be reported.#[sup 1]
    h3.
      BED is different from overeating
    p.
      While overeating is a challenge for many Americans, recurrent binge eating is much less common, far more severe, and is associated with significant physical and psychological problems.#[sup 13]
    h3.
      BED is different from obesity
    p.
      As noted in #[em DSM-5]#[sup &reg;], compared with weight-matched obese adults without BED, obese adults with BED consume more calories in laboratory studies of eating behavior and have#[sup 1]:
    ul.bullet
      li.
        Greater functional impairment
      li.
        Lower quality of life
      li.
        More subjective distress
      li.
        Greater psychiatric comorbidity
    p.
      BED occurs in normal-weight, overweight, and obese individuals#[sup 2]

    h3.center.chart-head.
      Based on a nationally representative survey of US adults aged ≥18 years#[sup 2]:

    .graphic-wrap

      .fifty-percent
        .grey-circle
          .yellow-wrap
            div(data-skrollr='diagnosis-circle').yellow-circle

        p(data-skrollr='diagnosis-50').large.yellow.
          &lt;50#[sup.percent %]

        p(data-skrollr='diagnosis-50-caption').yellow.
          of adults with BED #[br]are obese


      .nineteen-percent.weight-graphic

        p(data-skrollr='diagnosis-19').large.yellow.
          19#[sup.percent %]

        p.yellow.
          are normal weight #[br](BMI 18.5-24.9)

      .thirty-six-percent.weight-graphic

        p(data-skrollr='diagnosis-36').large.
          36#[sup.percent %]

        p.
          are overweight#[br]
          (BMI 25-29.9)

        p.
          but not obese#[br]
          (BMI ≥30)
