div(data-section='dsm5').section.section--dsm5

  a(id='dsm5',name='dsm5').scroll-point

  .content-wrap
    
    h2.
      Essential features #[br.hide--desktop]of binge eating disorder (BED)

    //-p.sub-head.
      In order to be diagnosed with BED, an individual must meet all #[br.hide--mobile]of the following #[em DSM-5]#[sup ®] diagnostic criteria.#[sup 1]
    
    p.sub-head.
      In order to receive a diagnosis of BED, an individual must meet #[br.hide--mobile]the #[em DSM-5]#[sup ®] diagnostic criteria listed below#[sup 1]:


    ol.number
      li
        | Recurring episodes of binge eating are characterized #[br.hide--mobile]by the following:

        //-| Recurrent episodes of binge eating. An episode of #[br.hide--mobile]binge eating is characterized by #[em both] of the following:
        ul.bullet
          li.
            Consuming an abnormally large amount of food #[br.hide--mobile]in a short period of time (eg, within 2 hours), #[br.hide--mobile]compared to what others might eat in the same #[br.hide--mobile]amount of time; and
          //-li.
            Eating, in a discrete period of time (eg, within any #[br.hide--mobile]2-hour period), an amount of food that is definitely #[br.hide--mobile]larger than what most people would eat in a similar #[br.hide--mobile]period of time under similar circumstances. 
          li.
            Experiencing a lack of control over eating during #[br.hide--mobile]an episode (eg, an inability to stop eating)
          //-li.
            A sense of lack of control over eating during the #[br.hide--mobile]episode (eg, a feeling that one cannot stop eating or #[br.hide--mobile]control what or how much one is eating). 
      li
        | Binge eating episodes exhibit at least 3 of the #[br.hide--mobile]following characteristics:
        //-| The binge eating episodes are associated with #[em 3 #[br.hide--mobile](or more)] of the following:
        ul.bullet
          li.
            Consuming food faster than normal;
          //-li.
            Eating much more rapidly than normal.
          li.
            Consuming food until uncomfortably full;
          //-li.
            Eating until feeling uncomfortably full.
          li.
            Consuming large amounts of food when not hungry;
          //-li.
            Eating large amounts of food when not feeling physically hungry.
          li.
            Consuming food alone due to embarrassment; and
          //-li.
            Eating alone because of feeling embarrassed by how much one is eating.
          li.
            Feeling disgusted, depressed, or guilty after eating a large amount #[br.hide--desktop]of food
          //-li.
            Feeling disgusted with oneself, depressed, or very guilty afterward.
      li.
        Significant distress regarding #[br.hide--desktop]binge eating.
      li.
        Binge eating occurs at least once weekly for 3 months, on average.
      li.
        Compensatory behaviors are not observed like those associated with bulimia #[br.hide--mobile]nervosa, and the binge eating does not occur during an episode of bulimia nervosa #[br.hide--mobile]or anorexia nervosa.
      //-li.
        Not associated with the recurrent use of inappropriate compensatory behavior #[br.hide--mobile]as in bulimia nervosa and does not occur exclusively during the course of bulimia nervosa #[br.hide--mobile]or anorexia nervosa.

    .footnote.smaller.
      DSM-5 is a registered trademark of the American Psychiatric Association.


    p.disclaimer.smaller
      em.
        Diagnosis should be based upon a complete evaluation of the patient.

    a(data-slideout='signup').button.signup.
      Register to receive the #[br.hide--desktop]#[em DSM-5]#[sup &reg;] diagnostic criteria and additional BED information from Shire


    .tab-container
      .tab-inner

        .close

        h3.
          What are common #[br]triggers of binge eating?
        p.
          As noted in #[em DSM-5]#[sup ®], negative affect most commonly precedes a bingeing episode.#[sup 1] 

        p.
          Other triggers include#[sup 1]:
        
        ul.bullet
          li
            | Interpersonal stressors
          li
            | Restrictions on diet
          li
            | Feeling badly about body weight, body shape, and food
          li
            | Feeling bored
        
      .closed-text.
        What are common triggers of binge eating?



