div(data-section='dsm-5').section.section--dsm5

  a(id='dsm-5',name='dsm-5').scroll-point

  .content-wrap
    
    h2 The essential features #[br.hide--desktop]of binge eating disorder (B.E.D.)

    p.sub-head Individuals with B.E.D. must meet all of the #[br.hide--mobile]following criteria#[sup 1]:

    p.wrap At least once per week for 3 months, they experience a loss of control over eating and consume an abnormally large amount of food in a short period of time compared with what others might eat in the same amount of time.

    p.wrap These episodes feature at least 3 of the&nbsp;following: consuming food faster than&nbsp;normal; consuming food until uncomfortably full; consuming large amounts of food when not hungry; consuming food alone due to embarrassment; feeling disgusted, depressed or guilty after eating a large amount of food.
    
    p.wrap Overall, they feel significant distress about their binge eating.
    
    p.wrapbottom They do not show regular compensatory behavior associated with bulimia nervosa, nor do they binge eat solely during an episode of bulimia nervosa or anorexia nervosa.

    p.disclaimer.smaller
      em Diagnosis should be based upon a complete evaluation of the patient.

    a(data-slideout='signup').button.signup.
      Register to receive the #[br.hide--desktop]#[em DSM-5]#[sup &reg;] diagnostic criteria and additional information from Shire about B.E.D. in adults


    .tab-container

      .tab-inner

        .close

        h3 What are common triggers #[br]of binge eating&nbsp;episodes?

        p Negative affect most commonly precedes a bingeing episode.#[sup 1] 

        p Other triggers include#[sup 1]:
        
        ul.bullet

          li Interpersonal stressors
          li Restrictions on diet
          li Feeling bad about body weight, body shape, and&nbsp;food
          li Feeling bored
        
      .closed-text What are common triggers of binge#[br] eating episodes?



