div(data-section='dsm-5').section.section--dsm5

  a(id='dsm-5',name='dsm-5').scroll-point

  .content-wrap
    
    h2.
      Essential features #[br.hide--desktop]of binge eating disorder (BED)

    p.sub-head.
      In order to receive a diagnosis of BED, an individual must meet #[br.hide--mobile]the diagnostic criteria listed below#[sup 1]:

    ol.number
      li
        | Recurring episodes of binge eating are characterized #[br.hide--mobile]by the following:

        ul.bullet
          li.
            Consuming an abnormally large amount of food #[br.hide--mobile]in a short period of time (eg, within 2 hours), #[br.hide--mobile]compared to what others might eat in the same #[br.hide--mobile]amount of time; and
          li.
            Experiencing a lack of control over eating during #[br.hide--mobile]an episode (eg, an inability to stop eating)
      li
        | Binge eating episodes exhibit at least 3 of the #[br.hide--mobile]following characteristics:
        ul.bullet
          li.
            Consuming food faster than normal;
          li.
            Consuming food until uncomfortably full;
          li.
            Consuming large amounts of food when not hungry;
          li.
            Consuming food alone due to embarrassment; and
          li.
            Feeling disgusted, depressed, or guilty after eating a large amount #[br.hide--desktop]of food
      li.
        Significant distress regarding #[br.hide--desktop]binge eating.
      li.
        Binge eating occurs at least once weekly for 3 months, on average.
      li.
        Compensatory behaviors are not observed like those associated with bulimia #[br.hide--mobile]nervosa, and the binge eating does not occur during an episode of bulimia nervosa #[br.hide--mobile]or anorexia nervosa.
      

    p.disclaimer.smaller
      em.
        Diagnosis should be based upon a complete evaluation of the patient.

    a(data-slideout='signup').button.signup.
      Register to receive the #[br.hide--desktop]#[em DSM-5]#[sup &reg;] diagnostic criteria and additional BED information from Shire


    .tab-container
      .tab-inner

        .close

        h3.
          What are common #[br]triggers of binge eating?
        p.
          Negative affect most commonly precedes a bingeing episode.#[sup 1] 

        p.
          Other triggers include#[sup 1]:
        
        ul.bullet
          li
            | Interpersonal stressors
          li
            | Restrictions on diet
          li
            | Feeling bad about body weight, body shape, and food
          li
            | Feeling bored
        
      .closed-text.
        What are common triggers of binge eating?



