div(data-section='dsm5').section.section--dsm5
  
  a(href='/#dsm5').bar.bar--title.
    The #[em DSM-5#[sup &reg;]] criteria

  a(id='dsm5',name='dsm5').scroll-point

  .content-wrap
    
    h2.
      Essential features #[br.mobile]of binge eating disorder

    p.sub-head.
      In order to be diagnosed with BED, an individual must meet all #[br.hide--mobile]of the following #[em DSM-5]#[sup ®] diagnostic criteria.#[sup 1]

    ol.letter
      li
        | Recurrent episodes of binge eating. An episode of #[br.hide--mobile]binge eating is characterized by #[em both] of the following:
        ol.number
          li.
            Eating, in a discrete period of time (eg, within any #[br.hide--mobile]2-hour period), an amount of food that is definitely #[br.hide--mobile]larger than what most people would eat in a similar #[br.hide--mobile]period of time under similar circumstances. 
          li.
            A sense of lack of control over eating during the #[br.hide--mobile]episode (eg, a feeling that one cannot stop eating or #[br.hide--mobile]control what or how much one is eating). 
      li
        | The binge eating episodes are associated with #[em three #[br.hide--mobile](or more)] of the following:
        ol.number
          li.
            Eating much more rapidly than normal.
          li.
            Eating until feeling uncomfortably full.
          li.
            Eating large amounts of food when not feeling #[br.hide--mobile]physically hungry.
          li.
            Eating alone because of feeling embarrassed by #[br.hide--mobile]how much one is eating.
          li.
            Feeling disgusted with oneself, depressed, or #[br.hide--mobile]very guilty afterward.
      li.
        Marked distress regarding binge eating is present.
      li.
        Episodes occur, on average, at least once a week for 3 months.
      li.
        Not associated with the recurrent use of inappropriate compensatory behavior #[br.hide--mobile]as in bulimia nervosa and does not occur exclusively during the course of bulimia nervosa or anorexia nervosa.

    p.disclaimer
      em.
        Diagnosis should be based upon a #[br.hide--desktop]complete evaluation of the patient.

    a(href,data-slideout='signup').pdf-link
      span.
        Register for additional information on BED including the full #[em DSM-5#[sup &reg;]] diagnostic criteria

    .tab-container
      .tab-inner
        h3.
          What are common triggers of binge eating?
        p.
          As noted in DSM-5®, negative affect most commonly precedes a bingeing episode.#[sup 1] 

        p.
          Other triggers include#[sup 1]:
        
        ul
          li Interpersonal stressors
          li Dietary restraint
          li Negative feelings related to body weight, body shape, and food
          li Boredom
        
      .closed-text.
        What are common triggers of binge eating?



