div(data-section='effects').section.section--effects

  a(id='effects',name='effects').scroll-point
    
  .content-wrap    

    div('data-bottom-top'='opacity: 0; transform: translate3d(0px,-50px,0px)',
        'data-bottom-bottom'='opacity: 1; transform: translate3d(0px,0,0px)')
      h1.
        BED in adults is associated with a range of functional consequences#[sup 1]

      p.intro.
        Functional consequences may include#[sup 1]:

    .associated
      
      ul.bullet
        li.
          Social role adjustment problems
        li.
          Impaired health-related quality #[br.hide--desktop]of life
        li.
          Decreased life satisfaction
        li.
          Increased medical morbidity and mortality
        li.
          Increased health care utilization compared with body mass index (BMI)–matched control subjects
        li.
          Increased risk for weight gain and development of obesity

      h3.chart-head.center.
        In a nationally representative survey of US adults aged ≥18 years#[sup 2]:

      .sixty-three.graphic

        p(
          data-bottom-top='opacity: 0; transform: scale(0.5);',
          data--20p-bottom='opacity: 1; transform: scale(1);').large.
          63#[sup.percent %]
  
        p.
          #[span.yellow reported functional #[br]impairment] during #[br]the past year (Sheehan #[br.hide--mobile]Disability Scale)

      .nineteen.graphic
        p(
          data-bottom-top='opacity: 0; transform: scale(0.5);',
          data--20p-bottom='opacity: 1; transform: scale(1);').large.
          19#[sup.percent %]

        p.
          reported #[br]#[span.yellow severe impairment]

    p.footnote.center.chart-footnote.
      Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a face-to-face household survey of English-speaking adults aged ≥18 years.#[sup 2]
