div(data-section='functional-consequences').section.section--effects

  a(id='functional-consequences',name='functional-consequences').scroll-point
    
  .content-wrap    

    div(data-skrollr='effects-title')
      h2.
       According to #[em DSM-5]#[sup ®], a number of functional consequences are associated with BED#[sup 1]

    .associated
      
      ul.bullet
        li.
          Problems with adapting to social roles
        li.
          Quality of life and life satisfaction degradation due to health issues
        li.
          Heightened medical mortality and morbidity
        li.
          Heightened use of healthcare resources as compared to BMI-matched controls
        li.
          Potential to gain weight and could lead to obesity

      h3.chart-head.center.
        In a nationally representative survey of US adults aged ≥18 years#[sup 2]:

      .sixty-three.graphic

        p(data-skrollr='effects-63').large.
          63#[sup.percent %]
  
        p.
          #[span.yellow reported functional #[br]impairment] during #[br]the past year (Sheehan #[br.hide--mobile]Disability Scale)

      .nineteen.graphic
        p(data-skrollr='effects-19').large.
          19#[sup.percent %]

        p.
          #[span.yellow reported severe impairment] during the past year (Sheehan Disability Scale)

    p.footnote.center.chart-footnote.
      Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a face-to-face household survey of English-speaking adults aged ≥18 years.#[sup 2]
