div(data-section='effects').section.section--effects

  a(id='functional-consequences',name='functional-consequences').scroll-point
    
  .content-wrap    

    div(data-skrollr='effects-title')
      h2.
        According to DSM-5#[sup &reg;], BED in adults is associated with a range of functional consequences#[sup 1]

    .associated
      
      ul.bullet
        li.
          Social role adjustment problems
        li.
          Impaired health-related quality #[br.hide--desktop]of life and life satisfaction
        li.
          Increased medical morbidity and mortality
        li.
          Increased health care utilization compared with body mass index (BMI)–matched control subjects
        li.
          Increased risk for weight gain and development of obesity

      h3.chart-head.center.
        In a nationally representative survey of US adults aged ≥18 years#[sup 2]:

      .sixty-three.graphic

        p(data-skrollr='effects-63').large.
          63#[sup.percent %]
  
        p.
          #[span.yellow reported functional #[br]impairment] during #[br]the past year (Sheehan #[br.hide--mobile]Disability Scale)

      .nineteen.graphic
        p(data-skrollr='effects-19').large.
          19#[sup.percent %]

        p.
          #[span.yellow reported severe impairment] during the past year (Sheehan Disability Scale)

    p.footnote.center.chart-footnote.
      Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a face-to-face household survey of English-speaking adults aged ≥18 years.#[sup 2]
