div(data-section='effects').section.section--effects

  a(href='/#effects').bar.bar--title.
    BED is a psychological condition
  a(id='effects',name='effects').scroll-point
    
  .content-wrap
    h1.
      BED-related impairment

    p.intro.
      Adults with BED may feel trapped by their behavior, powerless #[br.hide--mobile]to overcome the urge to binge#[sup 1,2,6]

    .associated
      h3.associated-heading.
        #[em #[strong BED in adults is associated with#[sup 2]:]]

      ul.bullet
        li.
          Social role adjustment problems
        li.
          Impaired health-related quality #[br.hide--desktop]of life
        li.
          Decreased life satisfaction
        li.
          Increased medical morbidity and mortality
        li.
          Increased health care utilization compared with body mass index (BMI)–matched control subjects
        li.
          Increased risk for weight gain and development of obesity


      .sixty-three.graphic

    .comorbidity
      h3.
        Significant psychiatric comorbidity

      //- Desktop Text
      p.hide--mobile.
        Almost 50% meet criteria for #[br.hide--mobile]#[span.yellow 3 or more] other psychiatric #[br.hide--mobile]disorders#[sup 2]

      .eighty.graphic

      //- Mobile Text
      p.hide--desktop.
        Almost 50% meet criteria for #[br.hide--mobile]#[span.yellow 3 or more] other psychiatric #[br.hide--mobile]disorders#[sup 2]