div(data-section='home').section.section--home

  .seo.
    Binge eating disorder in adults.

  a(id='home' name='home').scroll-point

  a(href='#home').bar.bar--title binge eating disorder #[br.hide--desktop]in adults

  .disclaimer-bar
    p This site is intended for US health care #[br.hide--desktop]professionals only.  If you are not a physician, #[br.hide--desktop]please visit the #[a(href="") patient website].

  .home-video-container

    video.home-video.home-video-1.active(width='1024' height='576' poster='img/Patient1_web.png' preload='none')
      
      source(type='video/mp4' src='http://view.vzaar.com/2552732/video')
      
      object(width='1024' height='623' type='application/x-shockwave-flash' data='flashmediaelement.swf')
        
        param(name='movie' value='flashmediaelement.swf')

        param(name='flashvars' value='controls=false&file=http://view.vzaar.com/2552732/video')
        
        img(src='img/Patient1_web.png' width='1024' height='623' title='No video playback capabilities')


    video.home-video.home-video-2(width='1024', height='576', poster='img/Patient2_web.png', preload='none')
      
      source(type='video/mp4' src='http://view.vzaar.com/2552735/video')
      
      object(width='1024' height='623' type='application/x-shockwave-flash' data='flashmediaelement.swf')
        
        param(name='movie' value='flashmediaelement.swf')

        param(name='flashvars' value='controls=false&file=http://view.vzaar.com/2552735/video')
        
        img(src='img/Patient2_web.png' width='1024' height='623' title='No video playback capabilities')


    video.home-video.home-video-3(width='1024' height='576' poster='img/Patient3_web.png' preload='none')
      
      source(type='video/mp4' src='http://view.vzaar.com/2552736/video')
      
      object(width='1024' height='623' type='application/x-shockwave-flash' data='flashmediaelement.swf')
        
        param(name='movie' value='flashmediaelement.swf')

        param(name='flashvars' value='controls=false&file=http://view.vzaar.com/2552736/video')
        
        img(src='img/Patient3_web.png' width='1024' height='623' title='No video playback capabilities')


    video.home-video.home-video-4(width='1024' height='576' poster='img/Patient4_web.png' preload='none')
      
      source(type='video/mp4' src='http://view.vzaar.com/2552737/video')
      
      object(width='1024' height='623' type='application/x-shockwave-flash' data='flashmediaelement.swf')
        
        param(name='movie' value='flashmediaelement.swf')

        param(name='flashvars' value='controls=false&file=http://view.vzaar.com/2552737/video')
        
        img(src='img/Patient4_web.png')






  .content-wrap

    p.eyebrow Binge eating disorder #[br.hide--mobile](B.E.D.) #[br.hide--desktop]is a cycle of…
    h1.tagline Binge. Distress. Repeat.#[sup 1]
     
    p Identifying and accurately diagnosing #[br]adults with B.E.D. is the first step to #[br.hide--mobile]helping them.

    h3 What is B.E.D.?

    p B.E.D., now a distinct disorder, is defined as recurring episodes (≥ once weekly, for #[br.hide--mobile]at least 3 months) of consuming a large amount of food in a short time, compared with others. Patients feel a lack of control during a binge and marked distress over their eating. They typically experience shame and guilt, among other symptoms, about their bingeing, and may conceal these symptoms, even from you.#[sup 1]

    .sign-up-button
      a(data-slideout="signup")
        p SIGN UP FOR MORE INFORMATION

  //- BED 2.0 Callouts

  .callouts
    .column

      a.callout-link(href="#" target="_self")

        .callout-arrow

        h2 Download the B.E.D. #[br]Patient Screener

        p A validated instrument designed #[br.hide--mobile]to help #[br.hide--desktop]you quickly and simply #[br.hide--mobile]screen patients #[br.hide--desktop]whom you #[br.hide--mobile]suspect of having B.E.D.

    .column

      a.callout-link(href="/#/videos" target="_self")

        .callout-arrow

        h2 View NEW videos

        p Physician peers discuss the #[br.hide--desktop]treatment of B.E.D.

    .column

      a.callout-link(href="/#/story" target="_self")

        .callout-arrow

        h2 Listen to a real #[br.hide--mobile]patient story

        p Sunny Sea Gold, an adult patient #[br.hide--desktop]with B.E.D. and an advocate, talks #[br.hide--desktop]about her B.E.D. experience.
