div(data-section='home').section.section--home

  .seo.
    Binge eating disorder in adults.

  a(id='home' name='home').scroll-point

  a(href='#home').bar.bar--title binge eating disorder #[br.hide--desktop]in adults

  .disclaimer-bar
    p This site is intended for US health care #[br.hide--desktop]professionals only.  If you are not a physician, #[br.hide--desktop]please visit the #[a(href="http://www.bingeeatingdisorder.com") patient website].

  .home-video-container

    video(reload="none", width="1024", height="576", id="heroPlayer")
      source(type="video/mp4", src="")


  .content-wrap

    p.eyebrow Binge eating disorder #[br.hide--mobile](B.E.D.) #[br.hide--desktop]is a cycle of…
    h1.tagline Binge. Distress. Repeat.#[sup 1]

    p Identifying and accurately diagnosing #[br]adults with B.E.D. is the first step to #[br.hide--mobile]helping them.

    h3 What is B.E.D.?

    p B.E.D., now a distinct disorder, is defined #[br.hide--mobile]as recurring episodes (≥&nbsp;once&nbsp;weekly, for #[br.hide--mobile]at least 3 months) of&nbsp;consuming a large amount of food&nbsp;in a short time, compared with others. Patients feel a lack of control during a binge and marked distress over their binge eating. They typically experience shame and guilt, among other symptoms, about their bingeing, and may conceal these symptoms, even from you.#[sup 1]

    .sign-up-button
      a(onclick="$('.page-header__btn--signup').click();")
        p SIGN UP FOR MORE INFORMATION

  //- BED 2.0 Callouts

  .callouts
    .column

      a.callout-link(href="/hcp/#/starting-the-conversation" target="_self")

        .callout-arrow

        h2 Download the Adult B.E.D. #[br.hide--desktop]Patient Screener

        p A validated instrument designed #[br.hide--mobile]to&nbsp;help&nbsp;you begin the evaluation process&nbsp;with adult patients whom you&nbsp;suspect of having B.E.D.

    .column.middle

      a.callout-link(href="/hcp/#/videos" target="_self")

        .callout-arrow

        h2 View NEW videos

        p Physicians discuss #[br.hide--desktop] B.E.D. #[br.hide--mobile]in adults.

    .column

      a.callout-link(href="/hcp/#/one-patients-story" target="_self")

        .callout-arrow

        h2 Listen to a real adult #[br]patient story

        p Sunny Sea Gold, an adult patient #[br.hide--desktop]with B.E.D. and an advocate, talks #[br.hide--desktop]about her B.E.D. experience.
