div(data-section='home').section.section--home

  a(href='#home').bar.bar--title.
    binge eating disorder #[br.hide--desktop]in adults

  a(id='home',name='home').scroll-point

  .disclaimer-bar
    p.
      This site is intended for US health care professionals only.

  .content-wrap
    p.eyebrow.
      Binge eating disorder (BED) #[br]is a cycle of…
    h1.tagline.
      Binge. Distress. Repeat.#[sup 1]
     
    p.sub-head.
      Identifying and accurately diagnosing adults with BED is the first step to helping them.

    h3.
      What is BED?

    p.
      BED, now a distinct disorder in #[em DSM-5]#[sup ®], is defined as recurring episodes (≥ once weekly, for at least 3 months) of consuming a large amount of food in a short time, compared with others. Patients feel a lack of control during a binge and marked distress over their eating. They typically experience shame and guilt, among other symptoms, about their bingeing, and may conceal these symptoms, even from you.#[sup 1]
