div(data-section='home').section.section--home

  .seo.
    Binge eating disorder in adults.

  a(id='home',name='home').scroll-point

  a(href='#home').bar.bar--title binge eating disorder #[br.hide--desktop]in adults

  .disclaimer-bar
    p.
      This site is intended for US health care professionals only.  If you are not a physician, please visit the #[a(href="") patient website].

  .content-wrap
    p.eyebrow Binge eating disorder (B.E.D.) #[br.hide--mobile]is a cycle of…
    h1.tagline Binge. Distress. Repeat.#[sup 1]
     
    p Identifying and accurately diagnosing #[br]adults with B.E.D. is the first step to #[br.hide--mobile]helping them.

    h3 What is B.E.D.?

    p B.E.D., now a distinct disorder, is defined as recurring episodes (≥ once weekly, for #[br.hide--mobile]at least 3 months) of consuming a large amount of food in a short time, compared with others. Patients feel a lack of control during a binge and marked distress over their eating. They typically experience shame and guilt, among other symptoms, about their bingeing, and may conceal these symptoms, even from you.#[sup 1]

//- BED 2.0 Callouts

.callouts
  .column

    a.callout-link(href="#", target="_self")

      .callout-arrow

      h2 Download the B.E.D. #[br]Patient Screener

      p A validated instrument designed #[br.hide--mobile]to help #[br.hide--desktop]you quickly and simply #[br.hide--mobile]screen patients #[br.hide--desktop]whom you #[br.hide--mobile]suspect of having B.E.D.

  .column

    a.callout-link(href="/#/videos", target="_self")

      .callout-arrow

      h2 View NEW videos

      p Physician peers discuss the #[br.hide--desktop]treatment of B.E.D.

  .column

    a.callout-link(href="#", target="_self")

      .callout-arrow

      h2 Listen to a real #[br.hide--mobile]patient story

      p Sunny Sea Gold, a B.E.D. #[br.hide--mobile]patient #[br.hide--desktop]and advocate, talks #[br.hide--mobile]about her #[br.hide--desktop]B.E.D. experience.