div(data-section='neurobiology').section.section--neurobiology

  a(href='/#neurobiology').bar.bar--title.
    Emerging evidence of BED neurobiology
  a(id='neurobiology', name='neurobiology').scroll-point

  .content-wrap
    h2.pretitle.
      While the exact cause is unknown
    h1.
      Research suggests BED may have a neurobiological basis and genetic and environmental influences#[sup 6-18]

    .reward.neuro-graphic
      h3.
        Reward center and impulsivity dysregulation
      p.
        Adults with BED have shown reduced activity #[br.hide--mobile]in impulse control-related regions of the brain#[sup 6]

    .dysregulation.neuro-graphic
      h3.
        Neurotransmitter dysregulation
      p.
        Dopamine signaling converts sensory stimuli #[br.hide--mobile]into processes that may generate or enhance wanting #[br.hide--mobile]of a particular food#[sup 7-10]


    .endogenous.neuro-graphic
      h3.
        Endogenous μ-opioid signaling dysfunction
      p.
        Opioid signaling converts sensory stimuli #[br.hide--mobile]into processes that generate or enhance “liking” of a particular food#[sup 8,9]
      .blurb.
        Dysregulation in these areas of the brain, known as the reward center, has been associated with changes in reward processing, self-regulation, and impulse control that may play a significant role in abnormal, compulsive eating behavior.#[sup 6,7,10-16]


    .risk.neuro-graphic
      h3.
        Research also suggests that risk factors for BED may include:
      
      ul.bullet
        li
          | Genetic influences#[sup 7,17]
          ul.dash.dash--em
            li.
              BED appears to run in families, which may reflect additive genetic influences
            li.
              Genetic differences in neurobiological components #[br.hide--mobile]of the brain's reward center have been observed
        li
          | Environmental influences#[sup 18,19]
          ul.dash.dash--em
            li.
              In a case-controlled retrospective assessment of 162 women with BED, stressful life events were reported more frequently in the year preceding BED onset than in non-BED controls
            li.
              In a nationally representative survey of 5,702 adults, of the men (n=30) and women (n=75) who reported BED, 98% and 90%, respectively, reported experiencing some form of trauma*
        
      p.asterisk.
        *Types of trauma included combat experience, life-threatening accident, and physical or sexual assault.