div(data-section='neurobiology').section.section--neurobiology

  a(id='neurobiology', name='neurobiology').scroll-point

  .content-wrap
    
    div(data-skrollr="neurobiology-header")
      h2.pretitle.
        While the exact cause is unknown,
      h2.
        Research suggests BED may have a neurobiological basis and genetic and environmental influences#[sup 6-12]

    div(data-skrollr="neurobiology-reward").reward.neuro-graphic

      h3.
        Reward center and impulsivity dysregulation
      p.
        Adults with BED have shown reduced activity #[br.hide--mobile]in impulse control&ndash;related regions of the brain#[sup 6]

    div(data-skrollr="neurobiology-dysregulation").dysregulation.neuro-graphic
    
      h3.
        Neurotransmitter dysregulation
      p.
        Dopamine signaling converts sensory stimuli #[br.hide--mobile]into processes that may generate or enhance wanting #[br.hide--mobile]of a particular food#[sup 7-9]


    div(data-skrollr="neurobiology-endogeneous").endogenous.neuro-graphic

      h3.
        Endogenous μ-opioid signaling dysfunction
      p.
        Opioid signaling converts sensory stimuli #[br.hide--mobile]into processes that generate or enhance “liking” of a particular food#[sup 8,9]
       

    div(data-skrollr="neurobiology-risk").risk.neuro-graphic

      h3.
        Research also suggests that risk factors for BED may include:
      
      ul.bullet
        li
          | Genetic influences#[sup 7,10]
          ul.dash.dash--em
            li.
              BED appears to run in families, which may reflect additive genetic influences
            li.
              Genetic differences in neurobiological components #[br.hide--mobile]of the brain&#8217;s reward center have been observed
    
    div(data-skrollr="neurobiology-risk-2").risk-2.neuro-graphic

      ul.bullet
        li
          | Environmental influences
          ul.dash.dash--em
            li.
              In a case-controlled retrospective assessment of 162 women with BED, #[br.hide--mobile]stressful life events were reported more frequently in the year preceding BED onset than in non-BED controls#[sup 11]
            li.
              In a nationally representative survey of 5,702 adults, of the men (n=30) and women (n=75) who reported BED, 98% and 90%, respectively, reported experiencing some form of trauma*#[sup 12]
        
      p.footnote.
        *Types of trauma included combat experience, life-threatening accident, and physical #[br.hide--mobile]or sexual assault.#[sup 12]





