div(data-section='neurobiology').section.section--neurobiology

  a(id='neurobiology', name='neurobiology').scroll-point

  .content-wrap
    
    div(data-skrollr="neurobiology-header")
      h2.pretitle.
        While the exact cause is unknown,
      h2.
        Research suggests B.E.D. may have a neurobiological basis #[br.hide--mobile]and genetic and environmental influences#[sup 6-12]
      p.sub-head.
        Prevailing theories that may support a neurobiological basis for B.E.D.:

    div(data-skrollr="neurobiology-reward").reward.neuro-graphic

      h3.
        Reward center and impulsivity dysregulation theory
      p.
        Adults with B.E.D. have shown reduced activity in impulse control&ndash;related #[br.hide--mobile]regions of the brain#[sup 6]

    div(data-skrollr="neurobiology-dysregulation").dysregulation.neuro-graphic
    
      h3.
        Neurotransmitter #[br.hide--desktop]dysregulation theory
      p.
        Dopamine signaling converts sensory stimuli into processes that may #[br]generate or enhance “wanting” of a particular food#[sup 7-9]


    div(data-skrollr="neurobiology-endogeneous").endogenous.neuro-graphic

      h3.
        Endogenous μ-opioid signaling dysfunction theory
      p.
        Opioid signaling converts sensory stimuli into processes that generate #[br.hide--mobile]or enhance “liking” of a particular food#[sup 8,9]

    div(data-skrollr="neurobiology-header-2")
      p.sub-head.second.
        Research also suggests that risk factors for B.E.D. may include:

    div(data-skrollr="neurobiology-risk").risk.neuro-graphic

      h3.
        Genetic influences#[sup 7,10]
      
      ul.bullet
        li.
          B.E.D. appears to run in families, which may reflect additive genetic influences
        li.
          Genetic differences in neurobiological components of the brain&#8217;s reward center have been observed
    
    div(data-skrollr="neurobiology-risk-2").risk-2.neuro-graphic

      h3.
        Environmental and social influences

      ul.bullet
        li.
          In a case-controlled retrospective assessment of 162 women with B.E.D., #[br.hide--mobile]stressful life events were reported more frequently in the year preceding B.E.D. onset than in non-B.E.D. controls#[sup 11]
        li.
          In a nationally representative survey of 5,702 adults, of the men (n=30) and women (n=75) who reported B.E.D., 98% and 90%, respectively, reported experiencing some form of trauma*#[sup 12]
        
    p.footnote.asterisk.
      Types of trauma included combat experience, life-threatening accident, major natural disaster, and physical or sexual assault.#[sup 12]





