div(data-section='prevalence').section.section--prevalence 
  
  a(id='prevalence',name='prevalence').scroll-point

  .content-wrap

    h2(data-skrollr="prevalence-header").
      BED affects nearly #[br.hide--desktop]3 million US adults#[sup 2,3]

    div(data-skrollr="prevalence-map").us-graphic.graphic

    div(data-skrollr="prevalence-asterisk").chart-note.footnote.
      Estimated 12-month prevalence in National Comorbidity Survey Replication of US adults aged ≥18 years, extrapolated to full US population aged ≥18 years.#[sup 2,3]

    .blurb.
      BED is the most common eating disorder among US adults and more than twice as prevalent as bulimia nervosa and anorexia nervosa combined#[sup 2]

    p.gender-ratio.sub-head.
      The gender ratio is far less skewed in BED than in bulimia nervosa.#[sup 1]

    h3.center.chart-head.
      12-month prevalence in US adults#[sup 2]:

    .male-female-graphic
      p(data-skrollr='prevalence-mf-text-1').
        #[span.yellow BED: 2 to 1]#[br]
        1.6% of women vs 0.8% of men
      p(data-skrollr='prevalence-mf-text-2').
        #[span.yellow Bulimia nervosa: 5 to 1]#[br]
        0.5% of women vs 0.1% of men

      .male-graphic.graphic(data-skrollr='prevalence-male-graphic')
      .female-graphic.graphic(data-skrollr='prevalence-female-graphic')

    .footnote
      p.
        Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a face-to-face household survey of English-speaking adults aged &#8805;18 years.

    .comparable

      h3.
        Prevalence rates are comparable among non-Latino white #[span.percent (1.4%)], Latino #[span.percent (2.1%)], Asian #[span.percent (1.2%)], and African American #[span.percent (1.5%)] adults in the US#[sup 4]

      p.footnote.
        Sample from a combined data set of 3 nationally representative US samples.#[sup 4]

      .patients-graphic
        .patient-1(data-skrollr='patient-1').graphic
        .patient-2(data-skrollr='patient-2').graphic
        .patient-3(data-skrollr='patient-3').graphic
        .patient-4(data-skrollr='patient-4').graphic

    p.frequencies.
      BED occurs with roughly similar frequencies in most industrialized countries (eg, Australia, Canada, many European countries, New Zealand, and the United States).#[sup 1]

    .blurb-2(data-skrollr='prevalence-blurb-2')
      .sub-head.
        In an online survey, only 3% of US adults who met #[em DSM-5]#[sup ®] criteria for BED reported being diagnosed with BED by a health care provider in the past 12 months.#[sup 5]

      .footnote.
        Data from a 2013 online survey of adults aged ≥18 years. Of 22,397 respondents, 344 met #[em DSM-5]#[sup &reg;] criteria for BED in the previous 12 months.#[sup 5]
