div(
  data-section='prevalence'
  ).section.section--prevalence 

  a(href='/#prevalence').bar.bar--title.
    BED is the most common eating disorder
  a(id='prevalence',name='prevalence').scroll-point

  .content-wrap

    h1.
      BED affects nearly 3 million US adults*#[sup 2-4]

    .us-graphic.graphic

    .asterisk.
      Estimated 12-month prevalence in National Comorbidity Survey Replication of US adults ≥18 years of age, extrapolated to full US population aged ≥18 years.#[sup 2-4]

    .blurb.
      BED is the most common eating disorder among US adults and more than twice as prevalent as bulimia nervosa and anorexia nervosa combined#[sup 2]

    p.gender-ratio.
      The gender ratio is far less skewed in BED than in bulimia nervosa#[sup 1]


    .male-female-graphic.graphic

    .female-graphic.desktop-graphic
      //-p.
        12-month prevalence of BED among women#[sup 2]

    .male-female-text.
      The gender ratio is far less skewed in BED than in bulimia nervosa#[sup 1]

    .male-graphic.desktop-graphic
      //-p.
        12-month prevalence of BED among men#[sup 2]

    .comparable

      h2.
        Comparable prevalence rates among non-Latino white (1.4%), Latino (2.1%), Asian (1.2%), and African American (1.5%) adults in the US#[sup †5]

      .patients-graphic.graphic

      p.
        #[sup †]Sample from a combined data set of 3 nationally representative US samples.#[sup 5]

    p.frequencies.
      Roughly similar frequencies in the industrialized countries (eg, Australia, Canada, #[br.hide--mobile]many European countries, New Zealand, and the United States)#[sup 1]