div(data-section='prevalence').section.section--prevalence 
  
  a(id='prevalence',name='prevalence').scroll-point

  .content-wrap

    h2(data-skrollr="prevalence-header").
      Binge eating disorder (B.E.D.) affects #[br.hide--desktop]&asymp;2.8 million US adults*#[sup 2,3]

    div(data-skrollr="prevalence-map").us-graphic.graphic
      .seo.
        Nearly 3 million US adults have B.E.D.

    div(data-skrollr="prevalence-asterisk").chart-note.footnote.
      *Estimated 12-month prevalence in National Comorbidity Survey Replication of US adults aged ≥18 years, extrapolated to full US population aged ≥18 years.#[sup 2,3]

    .blurb.
      B.E.D. is the most common eating disorder among US adults and more than twice as prevalent as bulimia nervosa and anorexia nervosa combined#[sup 2]

    p.gender-ratio.sub-head.
      The gender ratio is far less skewed in B.E.D. than in bulimia nervosa.#[sup 1]

    h3.center.chart-head.
      Estimated 12-month prevalence #[br.hide--desktop]in US adults#[sup †,2]:

    .male-female-graphic

      p(data-skrollr='prevalence-mf-text-1').
        #[span.yellow B.E.D.: 2 to 1]#[br]
        1.6% of women vs 0.8% of men

      p(data-skrollr='prevalence-mf-text-2').
        #[span.yellow Bulimia nervosa: 5 to 1]#[br]
        0.5% of women vs 0.1% of men

      .male-graphic.graphic(data-skrollr='prevalence-male-graphic')
      .female-graphic.graphic(data-skrollr='prevalence-female-graphic')

    p.footnote
      #[sup †]Data from an eating disorder–assessed subsample (n=2,980) of the National Comorbidity Survey Replication, a face-to-face household survey of English-speaking adults aged &#8805;18 years.
    
    .comparable

      p.sub-head Prevalence rates are comparable among non-Latino white #[span.small (1.4%)], Latino #[span.small (2.1%)], Asian #[span.small (1.2%)], and African #[br.hide--desktop]American #[span.small (1.5%)] adults in the United States.‡#[sup 4]


      .patient-thumbs

        .kim-thumb.patient-thumb

        .nikki-thumb.patient-thumb

        br.hide--desktop

        .julie-thumb.patient-thumb

        .diego-thumb.patient-thumb

        a(href="/hcp/#/profiles", target="_self").view-patient-profiles
          p View B.E.D. Patient Profiles

      p.footnote #[sup ‡]Sample from a combined data set of 3 #[br.hide--desktop]nationally representative US samples.#[sup 4]

    p.sub-head.center-mobile.
      B.E.D. occurs with roughly similar #[br.hide--desktop]frequencies in most industrialized #[br.hide--desktop]countries (eg, Australia, Canada, #[br.hide--desktop]many European countries, New #[br.hide--desktop]Zealand, and the United States).#[sup 1]

    .blurb-2(data-skrollr='prevalence-blurb-2')
      .sub-head.
        In an online survey, only 3.2% (11 of 344) of US adults who met diagnostic criteria for B.E.D. reported being diagnosed with B.E.D. by a health care provider in the past 12 months.#[sup 5]

      .footnote.
        Data from a 2013 online survey of adults aged ≥18 years. Of 22,397 respondents, 344 met diagnostic criteria for B.E.D. in the previous 12 months.#[sup 5]
