div(data-section='resources').section.section--resources

  a(id='resources' name='resources').scroll-point

  .content-wrap.steps

    h2 Starting the conversation

    p.sub-head These tools were developed by Shire to assist #[br.hide--mobile]health care professionals to identify and accurately #[br.hide--mobile]diagnose adults with B.E.D. in their practices.

    .graphic-wrap

    .screening-the-patient.step.step-1

      h3 Screening the patient

      .download-button
        a(href="media/Binge-Eating-Disorder-Screener-7.pdf" target="_blank")
          p Download the Adult B.E.D. #[br.hide--desktop]Patient Screener

      p This patient screener is a validated instrument designed to help you begin the evaluation process with adult patients whom you suspect may have B.E.D.
      //- p A validated instrument designed to #[br.hide--desktop]help you quickly and simply screen #[br.hide--desktop]patients whom you suspect of #[br.hide--desktop]having B.E.D.

    .conducting-a-conversation.step.step-2

      h3 Conducting a conversation

      .download-button
        a(href="media/BED-in-Adults-Discussion-Guide-for-Resource-Kit.pdf" target="_blank")
          p Download the Discussion Guide for #[br]Adult Patients with B.E.D.

      p This discussion guide helps you begin a #[br.hide--mobile]dialogue about B.E.D. with adult patients.
      //- p It is important to remember that #[br.hide--desktop]patients are often embarrassed by and #[br.hide--desktop]ashamed of their eating behaviors, so #[br.hide--desktop]managing patient sensitivity is essential #[br.hide--desktop]for conducting a comfortable and #[br.hide--desktop]productive conversation.


  //- audio excerpt section
  
  .audio

    a(id='story' name='story').scroll-point

    .audio-bg

    h2 This is what binge eating #[br.hide--mobile]disorder (B.E.D.) can feel like

    .sunny-icon

    .quote-block
      p.quote #[span.quote-open.quotation-mark]When I first realized that #[br.hide--desktop]there was something #[br.hide--desktop]wrong, it #[br.hide--mobile]was terrifying to #[br.hide--desktop]admit to anyone, even #[br.hide--desktop]a professional.#[span.quote-close.quotation-mark] 

      .play-button(data-target="sample1").play-sample1

      p.listen Listen to the extended excerpt

      //- .audio-player
      .audio-container
        audio(src="media/Sunny_Seagold_1.mp3" controls="none").audio-sample1

    .quote-block
      p.quote #[span.quote-open.quotation-mark]My binges would always #[br.hide--desktop]happen when I was #[br.hide--desktop]alone. #[br.hide--mobile]That’s not #[br.hide--desktop]something that you want anyone else to see #[br.hide--mobile]you #[br.hide--desktop]do; there’s a lot of shame #[br.hide--desktop]around it.#[span.quote-close.quotation-mark] 

      .play-button(data-target="sample2").play-sample2

      p.listen Listen to the extended excerpt

      //- .audio-player
      .audio-container
        audio(src="media/Sunny_Seagold_2.mp3").audio-sample2

  .callout
    p Excerpts from an interview with Sunny#[br.hide--mobile]Sea Gold, B.E.D. patient and advocate.
