div(data-section='resources').section.section--resources

  a(href='/#resources').bar.bar--title.
    Resources/Expert Videos
  a(id='resources',name='resources').scroll-point

  .content-wrap
    h2.
      Resources
    p.sub-head.
      Now that you have a better understanding of BED, you know what to #[br.hide--mobile]look for in your practice. 
    h3.conversation.
      Starting the conversation
    p.
      These questions may help you begin a dialogue with your adult patients about #[br.hide--mobile]their eating behavior and feelings toward food.
    h3.
      General screening#[sup 1]
    ul.bullet
      li.
        Do you worry that you have lost control over how much you eat?
      li.
        Would you say that food dominates your life?

    .graphic-wrap
      h3.
        Specific for BED diagnosis#[sup 1]
      ul.bullet
        li.
          Do you often eat within any 2-hour period what #[br.hide--mobile]most people would regard as an unusual amount of food?
        li
          | During these binges, did you eat… 

          ul.dash
            li.
              Much more rapidly than normal? 
            li.
              Until you felt uncomfortably full? 
            li.
              Large amounts of food when you didn’t feel #[br.hide--mobile]physically hungry? 
            li.
              Alone because you were embarrassed by how #[br.hide--mobile]much you were eating?
        li.
          Was it very upsetting to you that you couldn’t stop #[br.hide--mobile]eating or control what or how much you were eating?
        li.
          How often did you binge?
    
    .videos

      h4.
        VIDEOS: Key opinion leaders discuss BED

      ul
        li
          p.
            Overview
        li
          p.
            Clinical #[br]Course
        li
          p.
            Clinical #[br]Characteristics
        li
          p.
            BED #[br]Neurobiology
        li
          p.
            Clinical #[br]Strategies

    h3.org-header.
      If you or your patients would like more information about BED, #[br.hide--mobile]these organizations may be able to help:
    
    ul.organizations
      li
        p.
          Alliance for Eating Disorders Awareness
        p.
          www.allianceforeatingdisorders.com
        p.
          (866) 662-1235
      li
        p.
          American Medical Association
        p.
          www.ama-assn.org/ama
        p.
          (800) 621-8335
      li
        p.
          American Psychiatric Association
        p.
          www.psychiatry.org
        p.
          (888) 35-PSYCH
      li
        p.
          American Psychological Association
        p.
          www.apa.org
        p.
          (800) 374-2721
      li
        p.
          Binge Eating Disorder Association
        p.
          bedaonline.com
        p.
          (855) 855-BEDA
      li
        p.
          National Alliance for Mental Illness
        p.
          www.nami.org
        p.
          (800) 950-6264
      li
        p.
          National Association for Anorexia Nervosa #[br]and Associated Disorders
        p.
          www.anad.org
        p.
          (630) 577-1330
      li
        p.
          National Eating Disorders Association
        p.
          www.nationaleatingdisorders.org
        p.
          (800) 931-2237

    a.button.signup.
      Sign up to receive informative BED content and updates from Shire.

    .references
      p.
        #[strong References:] 

        #[strong 1.]&nbsp;American Psychiatric Association. Binge-eating disorder. In: #[em Diagnostic and Statistical Manual of Mental Disorders. 5th ed.] Arlington, VA: American Psychiatric Association; 2013;350-353. 

        #[strong 2.]&nbsp;Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. The prevalence and correlates of eating disorders in the National Comorbidity Survey Replication [published correction appears in #[em Biol Psychiatry.] 2012;72(2):164]. #[em Biol Psychiatry.] 2007;61(3):348-358.

        #[strong 3.]&nbsp;Howden LM, Meyer JA. Age and sex composition: 2010. US Census Bureau; 2011. 

        #[strong 4.]&nbsp;Marques L, Alegria M, Becker AE, et al. Comparative prevalence, correlates of impairment, and service utilization for eating disorders across US ethnic groups: implications for reducing ethnic disparities in health care access for eating disorders. #[em Int J Eat Disord.] 2011;44(5):412-420. 

        #[strong 5.]&nbsp;Cossrow N, Russo LJ, Ming EE, Witt EA, Victor TW, Wadden TA. Estimating the prevalence of binge eating disorder in a community sample comparing DSM-IV-TR and DSM-5 criteria. Poster. APA 167th Annual Meeting, New York, NY, May 3-7, 2014. 

        #[strong 6.]&nbsp;Balodis IM, Molina ND, Kober H, et al. Divergent neural substrates of inhibitory control in binge eating disorder relative to other manifestations of obesity. #[em Obesity (Silver Spring).] 2013;21(2):367-377. 

        #[strong 7.]&nbsp;Davis CA, Levitan RD, Reid C, et al. Dopamine for “wanting” and opioids for “liking”: a comparison of obese adults with and without binge eating. #[em Obesity (Silver Spring).] 2009;17(6):1220-1225. 

        #[strong 8.]&nbsp;Berridge KC, Ho CY, Richard JM, DiFeliceantonio AG. The tempted brain eats; pleasure and desire circuits in obesity and eating disorders. #[em Brain Res.] 2010;1350:43-64. 

        #[strong 9.]&nbsp;Wyvell CL, Berridge KC. Intra-accumbens amphetamine increases the conditioned incentive salience of sucrose reward: enhancement of reward “wanting” without enhanced “liking” or response reinforcement. #[em J Neurosci.] 2000;20(21):8122-8130. 

        #[strong 10.]&nbsp;Davis C, Levitan RD, Yilmaz Z, Kaplan AS, Carter JC, Kennedy JL. Binge eating disorder and the dopamine D2 receptor: Genotypes and sub-phenotypes. Prog Neuropsychopharmacol #[em Biol Psychiatry.] 2012;38(2):328-335. 

        #[strong 11.]&nbsp;Pike KM, Wilfley D, Hilbert A, Fairburn CG, Dohm FA, Striegel-Moore RH. Antecedent life events of binge-eating disorder. #[em Psychiatry Res.] 2006;142(1):19-29. 

        #[strong 12.]&nbsp;Mitchell KS, Mazzeo SE, Schlesinger MR, Brewerton TD, Smith BN. Comorbidity of partial and subthreshold PTSD among men and women with eating disorders in the National Comorbidity Survey-Replication Study. #[em Int J Eat Disord.] 2012;45(3):307-315. 

        #[strong 13.]&nbsp;American Psychiatric Association. Feeding and eating disorders. American Psychiatric Association; 2013. 

        #[strong 14.]&nbsp;Morgan JF. The SCOFF questionnaire: a new screening tool for eating disorders. #[em West J Med.] 2000;172(3):164-165. 

        #[strong 15.]&nbsp;First MB, Spitzer RL, Gibbon M, Williams JBW. #[em Structured Clinical Interview for DSM-IV-TR Axis I Disorders, Research Version, Patient Edition (SCID-I/P).] New York, NY: Biometrics Research, New York State Psychiatric Institute; 2010.