div(data-section='resources').section.section--resources

  a(href='/#resources').bar.bar--title.
    Resources/Expert Videos
  a(id='resources',name='resources').scroll-point

  .content-wrap
    h2.
      Resources
    p.sub-head.
      Now that you have a better understanding of BED, you know what to #[br.hide--mobile]look for in your practice. 
    h3.conversation.
      Starting the conversation
    p.
      These questions may help you begin a dialogue with your adult patients about #[br.hide--mobile]their eating behavior and feelings toward food.
    h3.
      General screening#[sup 1]
    ul.bullet
      li.
        Do you worry that you have lost control over how much you eat?
      li.
        Would you say that food dominates your life?

    .graphic-wrap
      h3.
        Specific for BED diagnosis#[sup 1]
      ul.bullet
        li.
          Do you often eat within any 2-hour period what #[br.hide--mobile]most people would regard as an unusual amount of food?
        li
          | During these binges, did you eat… 

          ul.dash
            li.
              Much more rapidly than normal? 
            li.
              Until you felt uncomfortably full? 
            li.
              Large amounts of food when you didn’t feel #[br.hide--mobile]physically hungry? 
            li.
              Alone because you were embarrassed by how #[br.hide--mobile]much you were eating?
        li.
          Was it very upsetting to you that you couldn’t stop #[br.hide--mobile]eating or control what or how much you were eating?
        li.
          How often did you binge?
    
    .videos

      h4.
        VIDEOS: Key opinion leaders discuss BED

      ul
        li
          p.
            Overview
        li
          p.
            Clinical #[br]Course
        li
          p.
            Clinical #[br]Characteristics
        li
          p.
            BED #[br]Neurobiology
        li
          p.
            Clinical #[br]Strategies

    h3.org-header.
      If you or your patients would like more information about BED, #[br.hide--mobile]these organizations may be able to help:
    
    ul.organizations
      li
        p.
          Alliance for Eating Disorders Awareness
        p.
          www.allianceforeatingdisorders.com
        p.
          (866) 662-1235
      li
        p.
          American Medical Association
        p.
          www.ama-assn.org/ama
        p.
          (800) 621-8335
      li
        p.
          American Psychiatric Association
        p.
          www.psychiatry.org
        p.
          (888) 35-PSYCH
      li
        p.
          American Psychological Association
        p.
          www.apa.org
        p.
          (800) 374-2721
      li
        p.
          Binge Eating Disorder Association
        p.
          bedaonline.com
        p.
          (855) 855-BEDA
      li
        p.
          National Alliance for Mental Illness
        p.
          www.nami.org
        p.
          (800) 950-6264
      li
        p.
          National Association for Anorexia Nervosa #[br]and Associated Disorders
        p.
          www.anad.org
        p.
          (630) 577-1330
      li
        p.
          National Eating Disorders Association
        p.
          www.nationaleatingdisorders.org
        p.
          (800) 931-2237

    a.button.signup.
      Sign up to receive informative BED content and updates from Shire.

    .references
      p.
        #[strong References:] 

        #[strong 1].&nbsp;American Psychiatric Association. Binge-eating disorder. In: #[em Diagnostic and Statistical Manual of Mental Disorders]. 5th ed. Arlington, VA: American Psychiatric Association; 2013;350-353. 

        #[strong 2].&nbsp;Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. The prevalence and correlates of eating disorders in the National Comorbidity Survey Replication [published correction appears in #[em Biol Psychiatry]. 2012;72(2):164]. #[em Biol Psychiatry]. 2007;61(3):348-358.

        #[strong 3].&nbsp;US Census Bureau. USA QuickFacts. http://quickfacts.census.gov#[br.mobile-only]/qfd/states/00000.html. Accessed May 20, 2014. 

        #[strong 4].&nbsp;US Census Bureau. US and World Population Clock. www.census.gov/popclock. Accessed May 20, 2014. 

        #[strong 5].&nbsp;Marques L, Alegria M, Becker AE, et al. Comparative prevalence, correlates of impairment, and service utilization for eating disorders across US ethnic groups: implications for reducing ethnic disparities in health care access for eating disorders. #[em Int J Eat Disord]. 2011;44(5):412-420. 

        #[strong 6].&nbsp;Sim LA, McAlpine DE, Grothe KB, et al. Identification and treatment of eating disorders in the primary care setting. #[em Mayo Clin Proc]. 2010;85(8):746-751. 

        #[strong 7].&nbsp;Balodis IM, Molina ND, Kober H, et al. Divergent neural substrates of inhibitory control in binge eating disorder relative to other manifestations of obesity. #[em Obesity] (Silver Spring). 2013;21(2):367-377. 

        #[strong 8].&nbsp;Davis CA, Levitan RD, Reid C, et al. Dopamine for “wanting” and opioids for “liking”: a comparison of obese adults with and without binge eating. #[em Obesity] (Silver Spring). 2009;17(6):1220-1225. 

        #[strong 9].&nbsp;Berridge KC, Kringelbach ML. Neuroscience of affect: brain mechanisms of pleasure and displeasure. #[em Curr Opin Neurobiol]. 2013;23(3):294-303. 

        #[strong 10].&nbsp;Wyvell CL, Berridge KC. Intra-accumbens amphetamine increases the conditioned incentive salience of sucrose reward: enhancement of reward “wanting” without enhanced “liking” or response reinforcement. #[em J Neurosci]. 2000;20(21):8122-8130. 

        #[strong 11].&nbsp;Schäfer A, Vaitl D, Schienle A. Regional grey matter volume abnormalities in bulimia nervosa and binge-eating disorder. #[em Neuroimage]. 2010;50(2):639-643. 

        #[strong 12].&nbsp;Woolley JD, Gorno-Tempini M-L, Seeley WW, et al. Binge eating is associated with right orbitofrontal-insular-striatal atrophy in frontotemporal dementia. #[em Neurology]. 2007;69(14):1424-1433. 

        #[strong 13].&nbsp;Schienle A, Schäfer A, Hermann A, Vaitl D. Binge-eating disorder: reward sensitivity and brain activation to images of food. #[em Biol Psychiatry]. 2009;65(8):654-661. 

        #[strong 14].&nbsp;Levitan RD, Masellis M, Basile VS, et al. The dopamine-4 receptor gene associated with binge eating and weight gain in women with seasonal affective disorder: an evolutionary perspective. #[em Biol Psychiatry]. 2004;56(9):665-669. 

        #[strong 15].&nbsp;Naleid AM, Grace MK, Chimukangara M, Billington CJ, Levine AS. Paraventricular opioids alter intake of high-fat but not high-sucrose diet depending on diet preference in a binge model of feeding. #[em Am J Physiol Regul Integr Comp Physiol]. 2007;293(1):R99-R105. 

        #[strong 16].&nbsp;Boggiano MM, Chandler PC, Viana JB, Oswald KD, Maldonado CR, Wauford PK. Combined dieting and stress evoke exaggerated responses to opioids in binge-eating rats. #[em Behav Neurosci]. 2005;119(5):1207-1214. 

        #[strong 17].&nbsp;Blasio A, Steardo L, Sabino V, Cottone P. Opioid system in the medial prefrontal cortex mediates binge-like eating. #[em Addict Biol]. 2013;19(4):652-662. 

        #[strong 18].&nbsp;Davis C, Levitan RD, Yilmaz Z, Kaplan AS, Carter JC, Kennedy JL. Binge eating disorder and the dopamine D2 receptor: genotypes and sub-phenotypes. #[em Prog Neuropsychopharmacol Biol Psychiatry]. 2012;38(2):328-335. 

        #[strong 19].&nbsp;Mitchell KS, Mazzeo SE, Schlesinger MR, Brewerton TD, Smith BN. Comorbidity of partial and subthreshold ptsd among men and women with eating disorders in the national comorbidity survey-replication study. #[em Int J Eat Disord]. 2012;45(3):307-315. 

        #[strong 20].&nbsp;American Psychiatric Association. Feeding and eating disorders. American Psychiatric Association; 2013. 

        #[strong 21].&nbsp;Morgan JF, Reid F, Lacey JH. The SCOFF questionnaire: a new screening tool for eating disorders. #[em West J Med]. 2000;172(3):164-165. 

        #[strong 22].&nbsp;First MB, Spitzer RL, Gibbon M, Williams JBW. Structured Clinical Interview for DSM-IV-TR Axis I Disorders, Research Version, Patient Edition. (SCID-I/P). New York: Biometrics Research, New York State Psychiatric Institute; 2010. 
