div(data-section='starting-the-conversation').section.section--resources

  a(id='starting-the-conversation' name='starting-the-conversation').scroll-point

  .content-wrap.steps

    h2 Starting the conversation

    p.sub-head These tools were developed by Shire to assist #[br.hide--mobile]health care professionals in identifying and accurately #[br.hide--mobile]diagnosing B.E.D. in adults.

    .graphic-wrap

    .screening-the-patient.step.step-1

      h3 Screening the patient

      .download-button
        a(href="/hcp/content/media/BingeEatingDisorder_Screener.pdf" target="_blank")
          p Download the Adult B.E.D. #[br.hide--desktop]Patient Screener

      p This patient screener is a validated instrument designed to help you begin the evaluation process with adult patients whom you suspect may have B.E.D.

    .conducting-a-conversation.step.step-2

      h3 Conducting a conversation

      .download-button
        a(href="/hcp/content/media/BingeEatingDisorderDiscussionGuide.pdf" target="_blank")
          p Download the Discussion Guide for #[br]Adult Patients With B.E.D.

      p This discussion guide helps you begin a #[br.hide--mobile] dialogue about B.E.D. with adult patients.
