div(data-section='resources').section.section--resources

  a(id='resources',name='resources').scroll-point

  .content-wrap.steps

    h2 Starting the conversation

    p.sub-head Utilize these tools to identify potential BED patients and conduct comfortable conversations about eating behaviors.

    .graphic-wrap

    .screening-the-patient.step.step-1

      h3 Screening the patient

      .download-button
        p Download Adult B.E.D. patient screener

      p A validated instrument designed to help you quickly and simply screen patients whom you suspect of having BED.

    .conducting-a-conversation.step.step-2

      h3 Conducting a conversation

      .download-button
        p Download Discussion Guide for Adult Patients with B.E.D.

      p It is important to remember that patients are often embarrassed by and ashamed of their eating behaviors, so managing patient sensitivity is essential for conducting a comfortable and productive conversation.


  //- audio excerpt section

  .audio

    .audio-bg

    h2 This is what binge eating #[br.hide--mobile]disorder (B.E.D.) can feel like
    .quote-block
      p.quote #[span.quote-open.quotation-mark]When I first realized that there was something wrong, it #[br.hide--mobile]was terrifying to admit to anyone, even a professional.#[span.quote-close.quotation-mark] 

      .play-button

      p.listen Listen to the extended excerpt

      .audio-player

    .quote-block
      p.quote #[span.quote-open.quotation-mark]My binges would always happen when I was alone. #[br.hide--mobile]That’s not something that you want anyone else to see #[br.hide--mobile]you do; there’s a lot of shame around it.#[span.quote-close.quotation-mark] 

      .play-button

      p.listen Listen to the extended excerpt

      .audio-player

  .callout
    p Excerpts from an interview with Sunny#[br.hide--mobile]Sea Gold, B.E.D. patient and advocate.
    

