
div(data-section="videos").section.section--videos

  a(id='videos',name='videos').scroll-point

  .content-wrap

    .videos

      h3 VIDEOS: Experts discuss B.E.D. in adults


      //- VIDEO PLAYER
      .video-player

        video(id='videoPlayer' controls='controls' reload='none')

          source(type='video/mp4' src='')

        .arrow-left.arrow
        .arrow-right.arrow

      
      .video-list

        ul.video-nav
          li.mobile-dropdown 

          li(data-target="what-is-bed").active.
            What is B.E.D.?

          li(data-target="bed-in-adults").two-lines
            span.hide--mobile B.E.D. in Adults #[br]Background Information
            span.hide--desktop B.E.D. Background

          li(data-target="physician-television").
            Physician Television Network

        //- BED DEFINED
        .video-section.what-is-bed.active
          
          .video-thumb(data-video="bulik4").video-1
            p What are the essential features for a diagnosis of B.E.D.?
            .timestamp 1:25

          .video-thumb(data-video="wilfley10").video-2.new
            p How is B.E.D. distinct from bulimia nervosa?
            .timestamp 2:23

          .video-thumb(data-video="wilfley9").video-3.new
            p How is B.E.D. distinct from overeating and obesity?
            .timestamp 2:31

          .video-thumb(data-video="bulik3").video-4
            p What are the functional consequences of B.E.D. in adults?
            .timestamp 2:00

          .video-thumb(data-video="bulik12").video-5.new
            p What is the clinical course of B.E.D.?
            .timestamp 0:31


        //- BED IN ADULTS BACKGROUND INFORMATION
        .video-section.bed-in-adults

          .video-thumb(data-video="grilo2").video-1
            p How does the prevalence of B.E.D. compare to that of other eating disorders in adults?
            .timestamp 0:42

          .video-thumb(data-video="wilfley13").video-2.new
            p What is the relationship between obesity and B.E.D. in adults?
            .timestamp 0:55

          .video-thumb(data-video="grilo5").video-3
            p What psychiatric conditions are commonly associated with B.E.D.
            .timestamp 1:10

          .video-thumb(data-video="kornstein6").video-4
            p What is thought to cause B.E.D.?
            .timestamp 0:53

          .video-thumb(data-video="grilo7").video-5
            p How does the prevalence of B.E.D. compare among races/ethnicities in adults?
            .timestamp 0:52

          .video-thumb(data-video="kornstein8").video-6
            p Does B.E.D. occur in both women and men?
            .timestamp 0:34

          .video-thumb(data-video="kornstein14").video-7.new
            p How can clinicians begin an effective conversation with their adult patients about B.E.D.?
            .timestamp 0:51
  

        //- PHYSICIAN TELEVISION NETWORK
        .video-section.physician-television

          .video-thumb(data-video="chapter1").video-1
            p Living with B.E.D.
            .timestamp 4:54

          .video-thumb(data-video="chapter2").video-2
            p Diagnostic criteria for B.E.D.
            .timestamp 5:56

          .video-thumb(data-video="chapter3").video-3
            p Possible causes of B.E.D.
            .timestamp 5:37

          .video-thumb(data-video="chapter4").video-4
            p Recognizing adult patients with B.E.D.
            .timestamp 6:21

          .video-thumb(data-video="chapter5").video-5
            p Functional consequences of B.E.D.
            .timestamp 2:24
            
          .video-thumb(data-video="chapter6").video-6
            p Diagnosing B.E.D. in adult patients
            .timestamp 4:06

            





    //-------------------------------------------------------------------------------------------------

    //- ORGANIZATIONS SECTION
    h3.org-header.
      If you or your patients would like more information about BED, #[br.hide--mobile]these organizations may be able to help:
    
    ul.organizations
      li
        p.
          Alliance for Eating Disorders Awareness
        p
          a(href="http://www.allianceforeatingdisorders.com").yellow.
            www.allianceforeatingdisorders.com
        p.
          1-866-662-1235
      li
        p.
          American Medical Association
        p
          a(href="http://www.ama-assn.org/ama").yellow.
            www.ama-assn.org/ama
        p.
          1-800-262-3211
      li
        p.
          American Psychiatric Association
        p
          a(href="http://www.psychiatry.org").yellow.
            www.psychiatry.org
        p.
          1-888-357-7924
      li
        p.
          American Psychological Association
        p
          a(href="http://www.apa.org").yellow.
            www.apa.org
        p.
          1-800-374-2721
    ul.organizations
      li
        p.
          Binge Eating Disorder Association
        p
          a(href="http://bedaonline.com").yellow.
            bedaonline.com
        p.
          1-855-855-2332
      li
        p.
          National Alliance for Mental Illness
        p
          a(href="http://www.nami.org").yellow.
            www.nami.org
        p.
          1-800-950-6264
      li
        p.
          National Eating Disorders Association
        p
          a(href="http://www.nationaleatingdisorders.org").yellow.
            www.nationaleatingdisorders.org
        p.
          1-800-931-2237

    a(data-slideout='signup', data-skrollr='resources-signup').button.signup.
      Register for additional information on BED including the #[em DSM-5]#[sup ®] diagnostic criteria

    .references
      p.ref.
        #[strong References:] 

        #[strong 1.]&nbsp;American Psychiatric Association. Binge-eating disorder. In: #[em Diagnostic and Statistical Manual of Mental Disorders.] 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353. 

        #[strong 2.]&nbsp;Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. [Published correction appears in #[em Biol Psychiatry.] 2012;72(2):164.] #[em Biol Psychiatry.] 2007;61(3):348-358.

        #[strong 3.]&nbsp;Howden LM, Meyer JA. Age and sex composition: 2010. US Census Bureau; 2011. 

        #[strong 4.]&nbsp;Marques L, Alegria M, Becker AE, et al. #[em Int J Eat Disord.] 2011;44(5):412-420. 

        #[strong 5.]&nbsp;Cossrow N, Russo LJ, Ming EE, Witt EA, Victor TW, Wadden TA. Poster. APA 167th Annual Meeting, New York, NY, May 3-7, 2014. 

        #[strong 6.]&nbsp;Balodis IM, Molina ND, Kober H, et al. #[em Obesity (Silver Spring).] 2013;21(2):367-377. 

        #[strong 7.]&nbsp;Davis CA, Levitan RD, Reid C, et al. #[em Obesity (Silver Spring).] 2009;17(6):1220-1225. 

        #[strong 8.]&nbsp;Berridge KC, Ho CY, Richard JM, DiFeliceantonio AG. #[em Brain Res.] 2010;1350:43-64. 

        #[strong 9.]&nbsp;Wyvell CL, Berridge KC. #[em J Neurosci.] 2000;20(21):8122-8130. 

        #[strong 10.]&nbsp;Davis C, Levitan RD, Yilmaz Z, Kaplan AS, Carter JC, Kennedy JL. #[em Prog Neuropsychopharmacol] #[em Biol Psychiatry.] 2012;38(2):328-335. 

        #[strong 11.]&nbsp;Pike&nbsp;KM, Wilfley D, Hilbert A, Fairburn CG, Dohm FA, Striegel-Moore RH. #[em Psychiatry Res.] 2006;142(1):19-29. 

        #[strong 12.]&nbsp;Mitchell KS, Mazzeo SE, Schlesinger MR, Brewerton TD, Smith BN. #[em Int J Eat Disord.] 2012;45(3):307-315. 

        #[strong 13.]&nbsp;American Psychiatric Association. DSM-5 Fact Sheet. Feeding and eating disorders. #[span.break www.dsm5.org/Documents/Eating%20Disorders%20Fact%20Sheet.pdf]. Accessed May 21, 2014. 

        #[strong 14.]&nbsp;Morgan JF, Reid F, Lacey JH. #[em West J Med.] 2000;172(3):164-165. 

        #[strong 15.]&nbsp;First MB, Spitzer RL, Gibbon M, Williams JBW. #[em Structured Clinical Interview for DSM-IV-TR Axis I Disorders, Research Version, Patient Edition (SCID-I/P).] New York, NY: Biometrics Research, New York State Psychiatric Institute; 2010.
