a(
  id="diagnosis",
  name="diagnosis"
  )
div(
  data-section="diagnosis"
  ).section.section--diagnosis
  .outer-wrap
    .inner-wrap
  a(
    href="#dsm5"
    ).bar--next.
    The #[em DSM-5#[sup &reg;]] criteria