a(
  id="home",
  name="home"
  )
div(
  data-section="home"
  ).section.section--home
  .bar--title.
    binge eating disorder
  .content-wrap
    .eyebrow.
      For many patients, binge eating #[br]disorder is a cycle of…
    h1.
      Binge, shame, guilt. #[br]Repeat.
    p.
      Adults with binge eating disorder (BED) carry on in silence for years, too embarrassed and ashamed to talk about their bingeing, all the while compromising their physical and mental health. 1-8 It’s time to interrupt their suffering.
  a(
    href="#prevalence"
    ).bar--next.
    BED is the most common eating disorder