a(
  id="neurobiology",
  name="neurobiology"
  )
div(
  data-section="neurobiology"
  ).section.section--neurobiology
  .content-wrap
  a(
    href="#diagnosis"
    ).bar--next.
    Finding BED in your patients