<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <!-- Stagiing -->
    <add name="CS_RealtimeLog" connectionString="Data Source=STG-SHR-DB01\SQL2K5;Initial Catalog=realtime_log;User ID=shirewebuser;Password=Shire123;" providerName="System.Data.SqlClient"/>
    <!-- Production -->
    <!-- <add name="CS_RealtimeLog" connectionString="Data Source=PRD-SHR-DB01\SQL2005;Initial Catalog=realtime_log;User ID=shirewebuser;Password=Shire032011;" providerName="System.Data.SqlClient"/> -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="RTWebSiteID" value="1030040"/>
    <add key="RTWelcomEmailMAID" value="1030080"/>
    <add key="verboseLog" value="true"/>
    <add key="isDebug" value="true"/>
    <add key="CommonConfigPath" value="/hcp/Unsubscribe/common/config/"/>
    <add key="RTChannelType" value="EMAIL"/>
    <add key="RTAudience" value="HCP"/>
    <add key="RTWebUnsubscribeSiteID" value="1030040"/>
    <add key="RTCountry" value="US"/>
    <add key="RTLanguage" value="EN"/>
    <add key="RTEncryptionKey" value="vyvansebed"/>
    <add key="RTErrorLogConnectionString" value="CS_RealtimeLog"/>
    <add key="RTIDExitMCC" value="1090470"/>
    <add key="RTIDSourceMCC" value="1115550"/>
    <add key="RTIDResponseTracking" value="1120500"/>
    <add key="RTIDHCPOptIn" value="1145530"/>
    <add key="RTIDOptOutBEDEmail" value="1145540"/>
    <add key="RTIDOptOutBEDDirectMail" value="1145550"/>
    <add key="RTIDOptOutAll" value="8061"/>
    <add key="RTIDAnsOpen" value="6042"/>
    <add key="RTIDAnsYes" value="6015"/>
    <add key="RTIDAnsQuestionNotAsked" value="6041"/>
    <add key="MCCRegister" value="BP00001"/>
    <add key="MCCUnsubscribe" value="BP00002"/>
  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="BEDLogFile.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <serviceMetadata httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="BEDService.BEDUnsubscribe" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="HttpsBinding" contract="BEDService.IUnsubscribeBED" behaviorConfiguration="web"/>
        <host>
          <baseAddresses>
            <add baseAddress="Service/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="HttpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
          <!--<security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>