// ---------- Bourbon ----------

$prefix-for-webkit    : true;
$prefix-for-mozilla   : true;
$prefix-for-microsoft : true;
$prefix-for-opera     : true;
$prefix-for-spec      : true;

$em-base : 16;

// ---------- Compass ----------

// $legacy-support-for-ie  : true;
// $legacy-support-for-ie6 : true;
// $legacy-support-for-ie7 : true;
// $legacy-support-for-ie8 : true;

// http://beta.compass-style.org/reference/compass/support/res
// http://beta.compass-style.org/help/documentation/tuning-vendor-prefixes/
// http://atendesigngroup.com/blog/new-browser-support-features-compass-1x

$graceful-usage-threshold : 0.1;
$critical-usage-threshold : 0.1368;

// to exclude ie7
$debug-browser-support    : false;
$browser-minimum-versions : ("ie": "8");

// compass-borderbox variables
$global-border-box        : true;

// ---------- Sprites ----------

$disable-magic-sprite-selectors: false;

// ---------- Z Indexes ----------

$z-layers: (
    "default" : 1,
    "below" : -1,
    "bottomless-pit" : -9000,
    "menu" : (
        "button" : 1001,
        "overlay": 1000
    ),
    "modal" : 2000
);

// ---------- Media Queries ----------

$media-queries: (
    "sm" : "only screen and (max-width: 640px)",
    "smr" : "only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2)",
    "md" : "only screen and (min-width: 641px) and (max-width: 1024px)",
    "mdr" : "only screen and (min-width: 641px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)",
    "lg" : "only screen and (min-width: 1025px)",
    "lgr" : "only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2)",
    "op": "(orientation: portrait)",
    "ol": "(orientation: landscape)",
    "p": "(max-aspect-ratio: 13/9)",
    "l": "(min-aspect-ratio: 13/9)"
);

$queries: (
    sm: false,
    smr: true,
    md: false,
    mdr: true,
    lg: false,
    lgr: true
);


$md-gutter: percentage(20/768);
$sm-gutter: percentage(20/320);



