root = true

# All
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 2

# Javascript
[*.js]
indent_style = space
indent_size = 2

# Jade
[*.jade]
indent_style = space
indent_size = 2

# SCSS
[*.{_scss,scss}]
indent_style = space
indent_size = 2
