@charset "UTF-8";

@import "vendor/_reset";

// @import 'vendor/_normalize';

@import "base/__base";

@import "components/__components";

@import "pages/__pages";

body:before {
    @include mq("mobile") {
        content: $preload-mobile;
        display: none;
    }

    @include mq("desktop") {
        content: $preload-desktop;
        display: none;
    }
}
