---
---
extends /layouts/stripped

//- hacky solution to properly display pdfs in iOS: redirect to file
script(type='text/javascript').

  var iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ? true : false );

  if (iOS) {
    window.location('/media/DSM-5_BED_Brochure.pdf');
  }


block styles
  style.
    * {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    html, body {
      overflow: hidden;
    }

block content
  iframe(src='/media/DSM-5_BED_Brochure.pdf')
