---
---
extends /layouts/stripped

block styles
  style.
    * {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    html, body {
      overflow: hidden;
    }

block content
  iframe(src='content/media/DSM-5_BED_Brochure.pdf')
