---
---
extends /layouts/base

block content
  
  .contact-us
    .content-wrap
      h1.
        Contact Us

      p.
        Thank you for your interest. Shire US Inc. welcomes your comments and questions.

      h2.
        Health Care Professionals

      p.
        Clinical inquiries: For further clinical information on Shire products, US health care professionals may call Shire Medical Affairs toll-free at #[strong 1-800-828-2088] or send an e‐mail to <a href='mailto:medinfoGlobal@shire.com' target='_blank'>medinfoGlobal@shire.com</a>.
