---
---
extends /layouts/base

include /mixins/pagination.jade

block content
  include /partials/pages/index/home.jade
  include /partials/pages/index/prevalence.jade
  include /partials/pages/index/dsm5.jade
  include /partials/pages/index/course.jade
  include /partials/pages/index/effects.jade 
  include /partials/pages/index/neurobiology.jade
  include /partials/pages/index/diagnosis.jade
  include /partials/pages/index/resources.jade
  include /partials/pages/index/videos.jade
  include /partials/components/next-section.jade  

  .pagination
    each val in site.nav['primary']
      a(href='#{val.url}',class='pagination__item')
