div(
  data-section='diagnosis'
  ).section.section--diagnosis

  a(
    id='diagnosis',
    name='diagnosis',
    href='#diagnosis'
    ).bar.bar--title.
    Finding BED in your patients
    
  .content-wrap
    h1.
      Recognizing BED
    p.sub-head.
      #[em DSM-5#[sup &reg;]] defines BED as recurring episodes (at least once weekly for 3 months) of consuming a large amount of food in a short period of time, with episodes characterized by feelings of lack of control and marked distress regarding binge eating.#[sup 1]
    h3.
      BED is different from bulimia nervosa
    p.
      It is not associated with compensatory behaviors such as purging or excessive exercise, or with dietary restriction, although frequent dieting may be reported.#[sup 1]
    h3.
      BED is different from overeating
    p.
      While overeating is a challenge for many Americans, recurrent binge eating is much less common, far more severe, and is associated with significant physical and psychological problems.#[sup 20]
    h3.
      BED is different from obesity
    p.
      Adults with BED are more likely than weight-matched obese adults without BED to#[sup 1]:
    ul.bullet
      li.
        Overestimate the importance of body weight and shape
      li.
        Have other psychiatric conditions
      li.
        Experience functional impairment
      li.
        Have lower quality of life
    h3.chart-head.
      BED occurs in normal-weight, overweight, and obese individuals#[sup 2]

    .graphic-wrap