div(
  data-section='effects'
  ).section.section--effects

  a(
    id='effects',
    name='effects',
    href='#effects'
    ).bar.bar--title.
    BED is a psychological condition
    
  .content-wrap
    .fpo