div(
  data-section='effects'
  ).section.section--effects

  a(
    id='effects',
    name='effects',
    href='#effects'
    ).bar.bar--title.
      BED is a psychological condition
    
  .content-wrap
    h1.
      BED is a psychiatric disorder

    p.
      Adults with BED may feel trapped by their behavior, powerless to overcome the urge to binge, and reluctant to seek treatment because of their embarrassment#[sup 1,2,7,8]

    h2.
      Impaired quality of life

    p.
      BED is associated with:

    ul
      li.
        Social role adjustment problems
      li.
        Impaired health-related quality of life
      li.
        Decreased life satisfaction of life

    .sixty-three.graphic

    h2.
      BED is associated with significant psychiatric comorbidity

    .eighty.graphic

    p.
      Almost 50% meet criteria for #[span.yellow 3 or more] other psychiatric disorders