a(
  id="effects",
  name="effects"
  )
div(
  data-section="effects"
  ).section.section--effects
  .outer-wrap
    .inner-wrap
  a(
    href="#neurobiology"
    ).bar--next.
    Emerging evidence of BED neurobiology