div(
  data-section='home'
  ).section.section--home

  a(
    id='home',
    name='home',
    href="#home"
    ).bar.bar--title.
    binge eating disorder

  .content-wrap
    p.eyebrow.
      For many patients, binge eating disorder is a cycle of…
    h1.tagline.
      #[nobr Binge, shame, guilt.] #[br]Repeat.
    p.
      Adults with binge eating disorder (BED) carry on in silence for years, too embarrassed and ashamed to talk about their bingeing, all the while compromising their physical and mental health. #[sup 1-8]
    p.
      It’s time to interrupt their suffering.
