div(
  data-section='home'
  ).section.section--home

  a(id='home',name='home').scroll-point
  a(href='/#home').bar.bar--title.
    binge eating disorder


  .disclaimer-bar
    p.
      This site is intended for US health care professionals only.


  .content-wrap
    p.eyebrow.
      For many patients, binge eating disorder is a cycle of…
    h1.tagline.
      #[nobr Binge, shame, guilt.] #[br]Repeat.
    p.
      Binge eating disorder (BED) is now a distinct disorder in DSM-5#[sup &reg;]. BED is defined as recurring episodes (≥ once weekly, for at least 3 months) of consuming a large amount of food in a short time, compared with others. During a binge patients feel a lack of control and marked distress over their eating. They typically experience shame and guilt, and may conceal their symptoms, even from you. 
    p.
      Identifying and accurately diagnosing adults with BED is the first step to helping them.
