div(
  data-section='neurobiology'
  ).section.section--neurobiology

  a(
    id='neurobiology',
    name='neurobiology',
    href='#neurobiology'
    ).bar.bar--title.
    Emerging evidence of BED neurobiology

  .content-wrap