div(
  data-section='neurobiology'
  ).section.section--neurobiology

  a(
    id='neurobiology',
    name='neurobiology',
    href='#neurobiology'
    ).bar.bar--title.
    Emerging evidence of BED neurobiology

  .content-wrap
    h2.
      While the cause of BED is unknown
    h1.
      Prevailing theories may support a neurobiological basis

    .reward
      h3.
        Reward center and impulsivity dysregulation
      p.
        Adults with BED have shown reduced activity in impulse control-related regions of the brain

    .dysregulation
      h3.
        Neurotransmitter dysregulation
      p.
        Dopamine signaling converts sensory stimuli into processes that generate or enhance desire for a particular food

    .endogenous
      h3.
        Endogenous μ-opioid signaling dysfunction
      p.
        μ-Opioid receptor polymorphisms are more often found in adults with BED

    .risk
      h3.
        Research also suggests that risk factors for BED include:
      
      ul.bullet
        li
          |Genetic influences
          ul.dash
            li.
              BED appears to run in families
            li.
              Genetic differences in neurobiological components of the brain's reward center have been observed
        li
          |Environmental influences
          ul.dash
            li.
              In a nationally representative survey of 5,702 adults, 98% of the men (n=7) and 90% of the women (n=75) with BED reported experiencing some form of trauma (such as exposure to combat, life-threatening accidents, a major natural disaster, or physical or sexual assault)