div(
  data-section='prevalence'
  ).section.section--prevalence 

  a(
    id='prevalence',
    name='prevalence',
    href='#prevalence'
    ).bar.bar--title.
    BED is the most common eating disorder

  .content-wrap
    hr
