a(
  id="prevalence",
  name="prevalence"
  )
div(
  data-section="prevalence"
  ).section.section--prevalence
  .gradient
  .outer-wrap
    .inner-wrap
      hr
  a(
    href="#course"
    ).bar--next.
    It often goes untreated for years