div(
  data-section='prevalence'
  ).section.section--prevalence 

  a(
    id='prevalence',
    name='prevalence',
    href='#prevalence'
    ).bar.bar--title.
    BED is the most common eating disorder

  .content-wrap

    h1.
      BED affects nearly 3 million US adults*#[sup 2,9,10]

    .us-graphic.graphic

    .asterisk.
      Estimated 12-month prevalence in National Comorbidity Survey Replication of US adults  ≥18 years of age, extrapolated to May 2014 estimated full US population aged ≥18 years.#[sup 2,9,10]

    .blurb.
      BED is the most common eating disorder among US adults and more than twice as prevalent as bulimia nervosa and anorexia nervosa combined

    .male-female-graphic.graphic

    .female-graphic.desktop-graphic
      p.
        12-month prevalence of BED among women#[sup 2]

    .male-female-text.
      The percentage of individuals who meet the diagnosis criteria for BED within the past year is 1.6% of women and 0.8% of men

    .male-graphic.desktop-graphic
      p.
        12-month prevalence of BED among men#[sup 2]


    p.gender-ratio.
      The gender ratio is far less skewed in BED than in bulimia nervosa

    .comparable

      h2.
        Comparable prevalence among non-Latino white (1.4%), Latino (2.1%), Asian (1.2%), and African American (1.5%) adults in the US†#[sup 11]

      .patients-graphic.graphic

      p.
        †Sample from a combined data set of 3 nationally representative US samples.

    ul.bullet
      li.
        Roughly similar frequencies in the industrialized countries (eg, Australia, Canada, many European countries, New Zealand, and the United States)#[sup 1]