div(
  data-section='resources'
  ).section.section--resources

  a(
    id='resources',
    name='resources',
    href='#resources'
    ).bar.bar--title.
    Resources for helping

  .content-wrap
    
    .headline-wrap

      h2.
        Resources
      p.
        Now that you have a better understanding of BED, you know what to look for in your practice.

    h3.
      Starting the conversation
    p.
      These questions may help you begin a dialogue with your adult patients about their eating behavior and feelings toward food.
    h3.
      General screening#[sup 1]
    ul.bullet
      li.
        Do you worry that you have lost control over how much you eat?
      li.
        Would you say that food dominates your life?

    .float-column

      h3.
        Specific for BED diagnosis#[sup 1]
      ul.bullet
        li.
          Do you often eat within any 2-hour period what most people would regard as an unusual amount of food?
        li
          | During these binges did you eat… 

          ul.nest
            li.
              Much more rapidly than normal? 
            li.
              Until you felt uncomfortably full? 
            li.
              Large amounts of food when you didn’t feel physically hungry? 
            li.
              Alone because you were embarrassed by how much you were eating?
        li.
          Was it very upsetting to you that you couldn’t stop eating or control what or how much you were eating?
        li.
          How often did you binge?
    
    .videos

      h4.
        VIDEOS: Key opinion leaders discuss BED

      ul
        li
          p.
            Overview
        li
          p.
            Clinical #[br]Course
        li
          p.
            Clinical #[br]Characteristics
        li
          p.
            BED #[br]Neurobiology
        li
          p.
            Clinical #[br]Strategies

    .orgs

      h3.
        If you or your patients would like more information about BED, these organizations may be able to help:
      
      ul
        li
          p
            span.
              Alliance for Eating Disorders Awareness
          p.
            www.allianceforeatingdisorders.com
          p.
            (866) 662-1235
        li
          p
            span.
              American Medical Association
          p.
            www.ama-assn.org/ama
          p.
            (800) 621-8335
        li
          p
            span.
              American Psychiatric Association
          p.
            www.psychiatry.org
          p.
            (888) 35-PSYCH
        li
          p
            span.
              American Psychological Association
          p.
            www.apa.org
          p.
            (800) 374-2721  

      ul
        li
          p
            span.
              Binge Eating Disorder Association
          p.
            bedaonline.com
          p.
            (855) 855-BEDA
        li
          p
            span.
              National Alliance for Mental Illness
          p.
            www.nami.org
          p.
            (800) 950-6264
        li
          p
            span.
              National Association for Anorexia Nervosa and Associated Disorders
          p.
            www.anad.org
          p.
            (630) 577-1330
        li
          p
            span.
              National Eating Disorders Association
          p.
            www.nationaleatingdisorders.org
          p.
            (800) 931-2237

      .callout.
        Sign up to receive access to exclusive BED content and updates from Shire.

    .references
      p.
        #[strong References:] 
      
        #[strong 1]. American Psychiatric Association. Binge-eating disorder. In: Diagnostic and Statistical Manual of Mental Disorders. 5th ed. Arlington, VA: American Psychiatric Association; 2013;350-353.
      
        #[strong 2]. Hudson JI, Hiripi E, Pope HG Jr, Kessler RC. The prevalence and correlates of eating disorders in the National Comorbidity Survey Replication. Biol Psychiatry. 2007;61(3):348–358. [Erratum in Biol Psychiatry. 2012;72(2):164.] 
      
        #[strong 3]. Pope HG Jr, Lalonde JK, Pindyck LJ, et al. Binge eating disorder: a stable syndrome. Am J Psychiatry. 2006;163(12):2181-2183. 
      
        #[strong 4]. Brody ML, Masheb RM, Grilo CM. Treatment preferences of patients with binge eating disorder. Int J Eat Disord. 2005;37(4):352-356. 
      
        #[strong 5]. Roehrig M, Masheb RM, White MA, Grilo CM. The metabolic syndrome and behavioral correlates in obese patients with binge eating disorder. Obesity (Silver Spring). 2008;17(3):481-486. 
      
        #[strong 6]. Fichter MM, Quadflieg N, Hedlund S. Long-term course of binge eating disorder and bulimia nervosa: relevance for nosology and diagnostic criteria. Int J Eat Disord. 2008;41(7):577-586. 
    
        #[strong 7]. Sim LA, McAlpine E, Grothe KB, et al. Identification and treatment of eating disorders in the primary care setting. Mayo Clin Proc. 2010;85(8):746–751. 
      
        #[strong 8]. Hudson JI, Lalonde JK, Coit CE, et al. Longitudinal study of the diagnosis of components of the metabolic syndrome in individuals with binge-eating disorder. Am J Clin Nutr. 2010;91(6):1568-1573. 
      
        #[strong 9]. US Census Bureau. USA QuickFacts. http://quickfacts.census.gov/qfd/states/00000.html. Accessed May 20, 2014. 
      
        #[strong 10]. US Census Bureau. U.S. and World Population Clock. www.census.gov/popclock. Accessed May 20, 2014. 
      
        #[strong 11]. Marques L, Alegria M, Becker AE, et al. Comparative prevalence, correlates of impairment, and service utilization for eating disorders across US ethnic groups: implications for reducing ethnic disparities in health care access for eating disorders. Int J Eat Disord. 2011;44(5):412-420. 
      
        #[strong 12]. Manwaring JL, Green L, Myerson J, Strube MJ, Wilfley DE. Discounting various types of rewards by women with and without binge eating disorder: evidence for general rather than specific differences. Psychol Rec. 2011;61(4):561-582. 
      
        #[strong 13]. Balodis IM, Molina ND, Kober H, et al. Divergent neural substrates of inhibitory control in binge eating disorder relative to other manifestations of obesity. Obesity (Silver Spring). 2013;21(2):367–377. 
      
        #[strong 14]. Davis CA, Levitan RD, Reid C, et al. Dopamine for “wanting” and opioids for “liking”: a comparison of obese adults with and without binge eating. Obesity (Silver Spring). 2009;17(6):1220–1225. 
      
        #[strong 15]. Wang G–J, Geliebter A, Volkow ND, et al. Enhanced striatal dopamine release during food stimulation in binge eating disorder. Obesity (Silver Spring). 2011;19(8):1601–1608. 
      
        #[strong 16]. Schäfer A, Vaitl D, Schienle A. Regional grey matter volume abnormalities in bulimia nervosa and binge-eating disorder. Neuroimage. 2010;50(2):639-643. 
      
        #[strong 17]. Woolley JD, Gorno-Tempini M-L, Seeley WW, et al. Binge eating is associated with right orbitofrontal-insular-striatal atrophy in frontotemporal dementia. Neurology. 2007;69(14):1424-1433. 
      
        #[strong 18]. Schienle A, Schäfer A, Hermann A, Vaitl D. Binge-eating disorder: reward sensitivity and brain activation to images of food. Biol Psychiatry. 2009;65(8):654-661. doi:10.1016/j.biopsych.2008.09.028. Epub 2008 Nov 8. 
      
        #[strong 19]. Levitan RD, Masellis M, Basile VS, et al. The dopamine-4 receptor gene associated with binge eating and weight gain in women with seasonal affective disorder: an evolutionary perspective. Biol Psychiatry. 2004;56(9):665-669. 
      
        #[strong 20]. Naleid AM, Grace MK, Chimukangara M, Billington CJ, Levine AS. Paraventricular opioids alter intake of high-fat but not high-sucrose diet depending on diet preference in a binge model of feeding. Am J Physiol Regul Integr Comp Physiol. 2007;293(1):R99-R105. 
      
        #[strong 21]. Boggiano MM, Chandler PC, Viana JB, Oswald KD, Maldonado CR, Wauford PK. Combined dieting and stress evoke exaggerated responses to opioids in binge-eating rats. Behav Neurosci.  2005;119(5):1207-1214. 
      
        #[strong 22]. Blasio A, Steardo L, Sabino V, Cottone P. Opioid system in the medial prefrontal cortex mediates binge-like eating. Addict Biol. 2013 Jan 24. doi:10.1111/adb.12033. 
      
        #[strong 23]. [ref to come] 
      
        #[strong 24]. Brownstone LM, Bardone-Cone AM, Fitzsimmons-Craft EE, et al. Subjective and objective binge eating in relation to eating disorder symptomatology, negative affect, and personality dimensions. Int J Eat Disord. 2013;46(1):66-76. doi:10.1002/eat.22066. 
