div(data-direction='right').dsm5-container.slideout.slideout--dsm5
  .slideout__inner
    .close

    h2.
      What is binge eating disorder (BED)?

    p.
      Binge eating disorder, now a distinct diagnosis in DSM-5#[sup ®], is characterized by#[sup 1]:

    ul.bullet
      li.
        Recurring episodes (at least once weekly for 3 months) of consuming a large amount of food in a short period of time, compared with others
      li.
         A feeling of a lack of control over eating during an episode
      li.
        Marked distress regarding binge eating

    p.
      During a binge, adults with BED may eat much more rapidly than normal, eat until they are uncomfortably full, eat large amounts of food when not feeling physically hungry, and/or eat alone out of embarrassment. They may feel disgusted with themselves, depressed, or very guilty afterward.

    p.
      #[em These are not the complete diagnostic criteria, but instead a brief summary. Please view the full diagnostic criteria by selecting the link below. Diagnosis should be based on a complete evaluation of the patient.] 

    a(href,data-slideout='signup').pdf-link
      span.
        #[em DSM-5#[sup &reg;]] Criteria
