div(data-direction='right').dsm5-container.slideout.slideout--dsm5
  .slideout__inner
    .close

    h2.
      What is binge eating#[br]disorder (B.E.D.)?

    p.
      B.E.D., now a distinct disorder, is defined as recurring episodes (≥ once weekly, for at least 3 months) of consuming a large amount of food in a short time, compared with others. Patients feel a lack of control during a binge and marked distress over their eating. They typically experience shame and guilt, among other symptoms, about their bingeing. Compensatory behaviors are not observed like those associated with bulimia nervosa.#[sup 1]

    //- p.
    //-   Binge eating disorder, now a distinct diagnosis in #[em DSM-5]#[sup ®], is characterized by#[sup 1]:

    //- ul.bullet
    //-   li.
    //-     Recurring episodes (at least #[br.hide--desktop]once weekly for 3 months) of consuming an abnormally large amount of food in a short period of time (eg, within 2 hours), compared with others
    //-   li.
    //-     Experiencing a lack of control #[br.hide--mobile]over eating during an episode
    //-   li.
    //-     Significant distress regarding binge eating

    //- p.
    //-   During a binge, adults with BED may consume food faster than normal, when not hungry, until uncomfortably full. They may also consume food alone due to embarrassment, and may feel disgusted, depressed, or guilty #[br.hide--desktop]after bingeing.

    //- .footnote.smaller.
    //-   DSM-5 is a registered trademark of the American Psychiatric Association.

    p.smaller
      em.
        These are not the complete diagnostic criteria. Diagnosis should be based upon a complete evaluation of the patient.

    a(data-slideout='signup').button.signup.
      Register for additional information #[br.hide--desktop]on B.E.D. in adults including the #[br.hide--desktop]#[em DSM-5]#[sup &reg;] #[br.hide--mobile]diagnostic criteria

    