div(data-direction='right').dsm5-container.slideout.slideout--dsm5
  .slideout__inner
    .close

    h2.
      What is binge eating disorder (BED)?

    p.
      Binge eating disorder, now a distinct diagnosis in #[em DSM-5]#[sup ®], is characterized by#[sup 1]:

    ul.bullet
      li.
        Recurring episodes (at least once weekly for 3 months) of consuming a large amount of food in a short period of time, compared with others
      li.
         A feeling of a lack of control over eating during an episode
      li.
        Marked distress regarding binge eating

    p.
      During a binge, adults with BED may eat much more rapidly than normal, eat until they are uncomfortably full, eat large amounts of food when not feeling physically hungry, and/or eat alone out of embarrassment. They may feel disgusted with themselves, depressed, or very guilty afterward.

    p
      em.
        These are not the complete diagnostic criteria, but instead a brief summary. Diagnosis should be based upon a complete evaluation of the patient.

    a(data-slideout='signup').button.signup.
      Register for additional information on BED #[br.hide--mobile]including the full #[em DSM-5]#[sup &reg;] #[br.hide--mobile]diagnostic criteria
