div(data-direction='right').dsm5-container.slideout.slideout--dsm5
  .slideout__inner
    .close

    h2 What is binge eating#[br]disorder (B.E.D.)?

    p B.E.D., now a distinct disorder, is&nbsp;defined as recurring episodes (≥&nbsp;once weekly, for at least 3 months)&nbsp;of consuming a large amount of food in a short time, compared with others. Patients feel a lack of control during a binge and&nbsp;marked distress over their binge eating.&nbsp;They typically experience shame&nbsp;and guilt, among other symptoms,&nbsp;about their bingeing. Compensatory behaviors are not observed like those associated with bulimia nervosa.#[sup 1]

    p.smaller
      em These are not the complete diagnostic criteria. Diagnosis should be based upon a complete evaluation of the patient that confirms the criteria for B.E.D. established in 
      | DSM-5#[sup &reg;].

    p.small-footnote #[em DSM-5]#[sup &reg;] is a registered trademark of the American Psychiatric Association.

    a(data-slideout='signup').button.signup.
      Register for additional information #[br.hide--desktop]on B.E.D. in adults, including the #[br.hide--desktop]#[em DSM-5]#[sup &reg;] #[br.hide--mobile]diagnostic criteria

    
