.modal.modal--interstitial
  .modal__outer
    .modal__inner
      .modal__close
      h3.
        You are about to leave BingeEatingDisorder.com.
      p.
        This link will take you to a website maintained by a third party that is responsible for its content and privacy policy. Shire provides this link as a service to you. Our privacy policy does not apply to the website you are about to visit. We encourage you to read the privacy policy of every website you visit. Click "OK" to continue or "CANCEL" to return to BingeEatingDisorder.com.
      .controls
        a(href='#',target='_blank').button.button--ok.
          ok
        a(href).button.button--cancel.
          cancel

.modal.modal--signup
  .modal__outer
    .modal__inner
      .modal__close
      h3.
        Thank you!
      p.
        Your registration is complete.
      p.
        We appreciate your interest in staying up to date on binge eating disorder (BED) in adults. You can expect to receive additional information from Shire on how to help your adult patients with BED.

.modal.modal--signup_error
  .modal__outer
    .modal__inner
      .modal__close
      h3.
        Network Error
      p.
        There was an error processing your request. Please try again later.

.modal.modal--video
  .modal__outer
    .modal__inner
      .modal__close
      h3.
        Video title
      .fpo.
        FPO

.modal.modal--unsubscribe
  .modal__outer
    .modal__inner
      .modal__close
      h3.
        Thank you for your request.
      p.
        Your request has been received, and we will update your contact preferences. Please be aware that it may take up to 10 business days before your preferences are reflected in our system. You may still receive communications during this time.
      p.
        Please feel free to register with us again should you wish to recieve information about BED and other information from Shire in the future.
      .controls
        a(href="/").button.button--close.
          CLOSE

.modal.modal--unsubscribe_error
  .modal__outer
    .modal__inner
      .modal__close
      h3.
        Network Error
      p.
        There was an error processing your request. Please try again later.
      .controls
        a(href).button.button--close.
          CLOSE

