.next-section
  .content-wrap
    a(href='/#/prevalence', data-section='prevalence').bar.bar--next.bar--prevalence.
      BED: The most common eating disorder in adults#[sup 2]
  
    a(href='/#/dsm-5', data-section='dsm-5').bar.bar--next.bar--dsm5.
      What is BED?

    a(href='/#/clinical-characteristics', data-section='clinical-characteristics').bar.bar--next.bar--course.
      Clinical characteristics of BED
  
    a(href='/#/functional-consequences', data-section='functional-consequences').bar.bar--next.bar--effects.
      Functional consequences of BED

    a(href='/#/neurobiology', data-section='neurobiology').bar.bar--next.bar--neurobiology.
      Potential causes of BED
  
    a(href='/#/diagnosis', data-section='diagnosis').bar.bar--next.bar--diagnosis.
      Identifying BED in your adult patients

    a(href='/#/resources', data-section='resources').bar.bar--next.bar--resources.
      Resources/Expert Videos
