.next-section
  .content-wrap
    a(href='#/prevalence', data-section='prevalence').bar.bar--next.bar--prevalence.
      B.E.D.: The most common eating disorder in adults#[sup 2]
  
    a(href='#/dsm-5', data-section='dsm-5').bar.bar--next.bar--dsm5.
      What is B.E.D.?

    a(href='#/clinical-characteristics', data-section='clinical-characteristics').bar.bar--next.bar--course.
      Clinical Characteristics of B.E.D.
  
    a(href='#/functional-consequences', data-section='functional-consequences').bar.bar--next.bar--effects.
      Functional Consequences of B.E.D.

    a(href='#/potential-causes', data-section='potential-causes').bar.bar--next.bar--neurobiology.
      Potential Causes of B.E.D.
  
    a(href='#/diagnosis', data-section='diagnosis').bar.bar--next.bar--diagnosis.
      Identifying B.E.D. in Your Adult Patients

    a(href='#/starting-the-conversation', data-section='starting-the-conversation').bar.bar--next.bar--resources.
      Starting the Conversation

    a(href='#/one-patients-story', data-section='one-patients-story').bar.bar--next.bar--story.
      One Patient's Story

    a(href='#/videos', data-section='videos').bar.bar--next.bar--resources.
      Expert Videos

    a(href='#/helpful-links', data-section='helpful-links').bar.bar--next.bar--resources.
      Helpful Links
