.next-section
  .content-wrap
    a(href='/#prevalence').bar.bar--next.bar--prevalence.
      BED is the most common eating disorder
  
    a(href='/#dsm5').bar.bar--next.bar--dsm5.
      The #[em DSM-5#[sup &reg;]] criteria

    a(href='/#course').bar.bar--next.bar--course.
      Clinical characteristics of BED
  
    a(href='/#effects').bar.bar--next.bar--effects.
      Functional consequences of BED

    a(href='/#neurobiology').bar.bar--next.bar--neurobiology.
      Emerging evidence of BED neurobiology
  
    a(href='/#diagnosis').bar.bar--next.bar--diagnosis.
      Identifying BED in your adult patients

    a(href='/#resources').bar.bar--next.bar--resources.
      Resources/Expert Videos
