.page-header-bg
  .content-wrap
.page-header
  .content-wrap
    a(data-slideout="menu").page-header__btn.page-header__btn--menu.
      Menu
    //-a(data-slideout="dsm5").page-header__btn.page-header__btn--dsm5.
      #[em DSM-5]#[sup &reg;]#[br.hide--desktop] Criteria
    a(data-slideout="dsm5").page-header__btn.page-header__btn--dsm5.
      What #[br.hide--desktop]is B.E.D.?
    a(data-slideout="signup").page-header__btn.page-header__btn--signup.
      SIGN #[br.hide--desktop]UP
