.page-footer
  .content-wrap
    nav
      +nav('secondary')
    p.prc.
      #{site.prc}
    img(
      src="img/footer-logo.png").footer-logo
    p.
      &copy;2014 #[a(href='#',target='_blank') Shire US Inc.,] Wayne, PA 19087 1‐800‐828‐2088 All rights reserved.
    p.
      All content of this website including text, images, graphics, sound files, and their arrangement, belongs to Shire and is protected by international copyright laws. All other intellectual property rights are reserved. The content may not be copied for commercial use or distribution, nor may these objects be downloaded, modified, or posted to other sites.
    p.
      This site is intended solely for US residents and is governed solely by US laws and government regulations. Please see #[a(href='privacy-policy.html') our privacy policy] for more information. While Shire US Inc. makes reasonable efforts to include accurate, up‐to‐date information on the site, Shire US Inc. makes no warranties or representations as to its accuracy. Shire US Inc. assumes no liability for any errors or omissions in the content of the site.
