[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide{
    display:none;
}

ng\:form{
    display:block;
}

.ng-hide-add-active,
.ng-hide-remove{
    display:block;
}
