*, *:before, *:after {
    position: relative;
    box-sizing: border-box;
    max-height: 1000000px; // Disables Android's font boosting
    background: url(""); // Disables Android's Auto-Fit Pages
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Disables Tap Highlight Color
}

html {
    height: 100%;
    font-size: 100%;
    overflow-y: auto;

    @include mq("lg") {
        // min-width: 960px;
        min-width: 1024px;
    }

    @include mq("sm") {
        min-width: 320px;

        @include mq("ol") {
            // min-width: 640px;
        }

        @include mq("l") {
            // landscape styles here
            min-width: 640px;
        }

        @include mq("p") {
            // portrait styles here
        }
    }

    &.no-scroll {
        overflow-y: initial;

        body {
            overflow: hidden;
        }
    }

}

body {
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    @include inline-block;

    &:focus {
        outline: 0;
        outline: thin dotted \9; // IE6-9
    }
    &:hover {
        text-decoration: none;
    }

    &.scroll-point {
        margin-top: -10px;
        position: absolute;
        display: block;
    }
}

p a {
    display: inline;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
    color: inherit;
    padding: 0;
    margin: 0;
}

label {
    cursor: pointer;
}

.nobr,
nobr {
    white-space: nowrap;
}

sub, sup {
  font-size: 0.6em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
    top: -0.5em;

    .eq-ie9 & {
        top: -0.7em;
    }
    .eq-ie7 & {
        top: -0.8em;
    }
}

sub {
    bottom: -0.25em;
}

picture {
    @include inline-block;

//     img {
//         max-width: 100%;
//         height: auto;
//         left: 0px;
//         top: 0px;
//     }
}

a > picture {
    display: block;
}

.eq-ie9 * {
    filter: none !important;
}

.eq-ie8 * {
    filter: inherit;
}

.wrap--full {
    @include mq("sm") {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.wrap--content {
    margin: 0 auto;
    height: 100%;
    @include clearfix; // stop margin collapse

    @include mq("lg") {
        width: 960px;
        // padding: 42px 0;
    }
    @include mq("md") {
        width: 100%;
        padding: 0 $md-gutter;
    }
    @include mq("sm") {
        width: 100%;
        min-width: 320px;
        padding: 0 $sm-gutter;
    }
}

.cf {
    @include clearfix;
}

.cb {
    clear: both;
}

.cr {
    clear: right;
}

.cl {
    clear: left;
}

.center {
    text-align: center;
}

.pre {
    white-space: pre;
}

.hide--lg {
    @include mq("lg") {
        display: none !important;
    }
}

.hide--md {
    @include mq("md") {
        display: none !important;
    }
}

.hide--sm {
    @include mq("sm") {
        display: none !important;
    }
}

ul.bullet {
    display: block;

    @include mq("lg") {
        padding-left: 15px;
        // margin-left: -15px;
    }

    @include mq("sm") {
        padding-left: 10px;
        // margin-left: -10px;
    }

    > li {
        display: block;
    }

    > li:before {
        content: '\2022';
        width: 0;
        overflow: visible;
        float: left;
        font-size: 0.8em;

        @include mq("lg") {
            margin: 0 5px 0 -15px;
        }

        @include mq("sm") {
            margin: 0 2px 0 -10px;
        }
    }
}

ul.square {
    display: block;

    @include mq("lg") {
        padding-left: 15px;
        // margin-left: -15px;
    }

    @include mq("sm") {
        padding-left: 10px;
        // margin-left: -10px;
    }

    > li {
        display: block;
    }

    > li:before {
        content: '\25A0';
        width: 0;
        overflow: visible;
        float: left;
        font-size: 0.8em;

        @include mq("lg") {
            margin: 0 5px 0 -15px;
        }

        @include mq("sm") {
            margin: 0 2px 0 -10px;
        }
    }
}

ul.dash {
    display: block;

    @include mq("lg") {
        padding-left: 15px;
        // margin-left: -15px;
    }

    @include mq("sm") {
        padding-left: 10px;
        // margin-left: -10px;
    }

    > li {
        display: block;
    }
    > li:before {
        content: '\2013';
        width: 0;
        overflow: visible;
        float: left;
        font-size: 0.8em;

        @include mq("lg") {
            margin: 0 5px 0 -15px;
        }

        @include mq("sm") {
            margin: 0 2px 0 -10px;
        }
    }
    &.dash--m {
        @include mq("lg") {
            padding-left: 20px;
            margin-left: -20px;
        }
        @include mq("sm") {
            padding-left: 15px;
            margin-left: -15px;
        }

        > li:before {
            content: '\2014';

            @include mq("lg") {
                margin-left: -20px;
            }

            @include mq("sm") {
                margin-left: -15px;
            }
        }
    }
}

ol.letter {
    display: block;
    counter-reset: lettered;

    @include mq("lg") {
        padding-left: 15px;
        // margin-left: -15px;
    }

    @include mq("sm") {
        padding-left: 0;
    }

    > li {
        position: relative;
        display: block;
        counter-increment: lettered;
    }
    > li:before {
        content: counter(lettered, lower-alpha);
        margin: 0 5px 0 -15px;
        width: 0;
        overflow: visible;
        float: left;

        @include mq("sm") {
            margin: 0;
            width: auto;
            float: none;
        }
    }
}

ol.number {
    display: block;
    counter-reset: numbered;

    @include mq("lg") {
        padding-left: 15px;
        margin-left: -15px;
    }

    @include mq("sm") {
        padding-left: 18px;
        margin-left: -18px;
    }

    > li {
        display: block;
        counter-increment: numbered;
    }
    > li:before {
        content: counter(numbered, decimal) ".";
        width: 0;
        overflow: visible;
        float: left;

        @include mq("lg") {
            margin: 0 5px 0 -15px;
        }

        @include mq("sm") {
            margin: 0 2px 0 -18px;
        }
    }
}

.asterisk {
    margin-left: 9px;

    &:before {
        content: '\002A';
        position: absolute;
        right: 100%;
        padding-right: 2px;
    }
}

// http://www.benmarshall.me/responsive-iframes/
.intrinsic-container {
    position: relative;
    height: 0;
    overflow: hidden;

    iframe,
    img {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
    padding-bottom: 56.25%;
}
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
    padding-bottom: 75%;
}

// @-webkit-keyframes roll {
// from { -webkit-transform: rotate(0deg) }
// to   { -webkit-transform: rotate(360deg) }
// }

// @-moz-keyframes roll {
// from { -moz-transform: rotate(0deg) }
// to   { -moz-transform: rotate(360deg) }
// }

// @keyframes roll {
// from { transform: rotate(0deg) }
// to   { transform: rotate(360deg) }
// }

// * {
//     animation-name: roll;
//     animation-duration: 4s;
//     animation-iteration-count: infinite;
// }

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.veil {
    visibility: hidden !important;
}
