// Gill Sans
@mixin gs($type: "", $specify: false) {

    @if $specify == true or $type == "" {
        font-family: 'Gill Sans W01';
    }

    @if $type == "light" {
        font-weight: 100;
        font-style: normal;
    }
    @else if $type == "light-italic" {
        font-weight: 100;
        font-style: italic;
    }
    @else if $type == "roman" or $type == "" {
        font-weight: 300;
        font-style: normal;
    }
    @else if $type == "italic" {
        font-weight: 300;
        font-style: italic;
    }
    @else if $type == "bold" {
        font-weight: 400;
        font-style: normal;
    }
    @else if $type == "bold-italic" {
        font-weight: 400;
        font-style: italic;
    }

}

// Helvetica Neue
@mixin hn($type: "", $specify: false) {

    @if $specify == true or $type == "" {
        font-family:'Neue Helvetica W01';
    }

    @if $type == "light" {
        font-weight: 300;
        font-style: normal;
    }
    @else if $type == "light-italic" {
        font-weight: 300;
        font-style: italic;
    }
    @else if $type == "roman" or $type == "" {
        font-weight: 400;
        font-style: normal;
    }
    @else if $type == "italic" {
        font-weight: 400;
        font-style: italic;
    }
    @else if $type == "bold" {
        font-weight: 600;
        font-style: normal;
    }
    @else if $type == "bold-italic" {
        font-weight: 600;
        font-style: italic;
    }
    @else if $type == "medium" {
        font-weight: 500;
        font-style: normal;
    }
    @else if $type == "medium-italic" {
        font-weight: 500;
        font-style: italic;
    }

}

//              /$$               /$$ /$$
//             | $$              | $$|__/
//   /$$$$$$$ /$$$$$$   /$$   /$$| $$ /$$ /$$$$$$$   /$$$$$$
//  /$$_____/|_  $$_/  | $$  | $$| $$| $$| $$__  $$ /$$__  $$
// |  $$$$$$   | $$    | $$  | $$| $$| $$| $$  \ $$| $$  \ $$
//  \____  $$  | $$ /$$| $$  | $$| $$| $$| $$  | $$| $$  | $$
//  /$$$$$$$/  |  $$$$/|  $$$$$$$| $$| $$| $$  | $$|  $$$$$$$
// |_______/    \___/   \____  $$|__/|__/|__/  |__/ \____  $$
//                      /$$  | $$                   /$$  \ $$
//                     |  $$$$$$/                  |  $$$$$$/
//                      \______/                    \______/

body {
    @include gs("light", true);
    color: #E8E9E9;
    background: #333E48;
    line-height: 1.25;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

.yellow {
    color: $active-yellow;
}


h1, .heading--1 {
    @include gs("light");
}
h2, .heading--2 {

}
h3, .heading--3 {

}
h4, .heading--4 {
    @include gs("light-italic");
}
h5, .heading--5 {

}
h6, .heading--6 {

}
p {

}
li {

}
p.footnote,
p.disclaimer,
ol.refs li {
    @include gs("light");
    color: #858B91;    
}

ol.refs {
    border-top: 1px solid #5C656D;
    padding-top: 30px;
    padding-bottom: 30px;
}

//            /$$           /$$
//           |__/          |__/
//   /$$$$$$$ /$$ /$$$$$$$$ /$$ /$$$$$$$   /$$$$$$
//  /$$_____/| $$|____ /$$/| $$| $$__  $$ /$$__  $$
// |  $$$$$$ | $$   /$$$$/ | $$| $$  \ $$| $$  \ $$
//  \____  $$| $$  /$$__/  | $$| $$  | $$| $$  | $$
//  /$$$$$$$/| $$ /$$$$$$$$| $$| $$  | $$|  $$$$$$$
// |_______/ |__/|________/|__/|__/  |__/ \____  $$
//                                        /$$  \ $$
//                                       |  $$$$$$/
//                                        \______/

@include mq("lg") {

    body, p, a, li {
        font-size: 18px;
    }
    h1, .heading--1 {
        font-size: 32px;
    }
    h2, .heading--2 {
        font-size: 24px;
    }
    h3, .heading--3 {
        font-size: 21px;
    }
    h4, .heading--4 {
        font-size: 18px;
    }
    h5, .heading--5 {

    }
    h6, .heading--6 {

    }
    p {

    }
    li {

    }
    p.footnote,
    p.disclaimer,
    ol.refs li {
        font-size: 14px;
    }
}
@include mq("md") {

    body, p, a, li {
        font-size: 18px;
    }
    h1, .heading--1 {
        font-size: 26px;
    }
    h2, .heading--2 {
        font-size: 22px;
    }
    h3, .heading--3 {
        font-size: 21px;
    }
    h4, .heading--4 {
        font-size: 18px;
    }
    h5, .heading--5 {

    }
    h6, .heading--6 {

    }
    p {

    }
    li {

    }
    p.footnote,
    p.disclaimer,
    ol.refs li {
        font-size: 14px;
    }
}
@include mq("sm") {

    body, p, a, li {
        font-size: 16px;
    }
    h1, .heading--1 {
        font-size: 26px;
    }
    h2, .heading--2 {
        font-size: 22px;
    }
    h3, .heading--3 {
        font-size: 17px;
    }
    h4, .heading--4 {
        font-size: 18px;
    }
    h5, .heading--5 {

    }
    h6, .heading--6 {

    }
    p {

    }
    li {

    }
    p.footnote,
    p.disclaimer,
    ol.refs li {
        font-size: 14px;
    }
}

nav li {
    padding-bottom: 0;
}
