// Gill Sans
@mixin gs($type: "", $specify: false) {

    @if $specify == true or $type == "" {
        font-family: 'Gill Sans W01';
    }

    @if $type == "light" {
        font-weight: 100;
        font-style: normal;
    }
    @else if $type == "light-italic" {
        font-weight: 100;
        font-style: italic;
    }
    @else if $type == "roman" or $type == "" {
        font-weight: 300;
        font-style: normal;
    }
    @else if $type == "italic" {
        font-weight: 300;
        font-style: italic;
    }
    @else if $type == "bold" {
        font-weight: 400;
        font-style: normal;
    }
    @else if $type == "bold-italic" {
        font-weight: 400;
        font-style: italic;
    }
}

// Helvetica Neue
@mixin hn($type: "", $specify: false) {

    @if $specify == true or $type == "" {
        font-family:'Neue Helvetica W01';
    }

    @if $type == "light" {
        font-weight: 300;
        font-style: normal;
    }
    @else if $type == "light-italic" {
        font-weight: 300;
        font-style: italic;
    }
    @else if $type == "roman" or $type == "" {
        font-weight: 400;
        font-style: normal;
    }
    @else if $type == "italic" {
        font-weight: 400;
        font-style: italic;
    }
    @else if $type == "bold" {
        font-weight: 600;
        font-style: normal;
    }
    @else if $type == "bold-italic" {
        font-weight: 600;
        font-style: italic;
    }
    @else if $type == "medium" {
        font-weight: 500;
        font-style: normal;
    }
    @else if $type == "medium-italic" {
        font-weight: 500;
        font-style: italic;
    }

}

//              /$$               /$$ /$$
//             | $$              | $$|__/
//   /$$$$$$$ /$$$$$$   /$$   /$$| $$ /$$ /$$$$$$$   /$$$$$$
//  /$$_____/|_  $$_/  | $$  | $$| $$| $$| $$__  $$ /$$__  $$
// |  $$$$$$   | $$    | $$  | $$| $$| $$| $$  \ $$| $$  \ $$
//  \____  $$  | $$ /$$| $$  | $$| $$| $$| $$  | $$| $$  | $$
//  /$$$$$$$/  |  $$$$/|  $$$$$$$| $$| $$| $$  | $$|  $$$$$$$
// |_______/    \___/   \____  $$|__/|__/|__/  |__/ \____  $$
//                      /$$  | $$                   /$$  \ $$
//                     |  $$$$$$/                  |  $$$$$$/
//                      \______/                    \______/

body {
    @include gs("light", true);
    color: #E8E9E9;
    background: #333E48;
    line-height: 1.2;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

.yellow {
    color: $active-yellow;
}

.heading--1 {
    @include gs("light");
    color: $active-yellow;
    text-align: center;
}
.heading--2 {
    @include gs("light-italic");
    color: #E8E9E9;
    text-align: center;
}
.heading--3 {
    @include gs("light");
    color: #E8E9E9;
}
.heading--4 {
    @include gs("light-italic");
    color: #E8E9E9;
}
.heading--5 {

}
.heading--6 {

}
p {

}
li {

}
p.footnote,
p.disclaimer,
ol.refs li {
    @include gs("light");
    color: #858B91;    
}

p.footnote {
    text-align: left;

    @include mq("lg") {
        margin: 30px auto;
        width: 500px;
    }
    @include mq("md") {
        margin: 30px percentage(40/768);
    }
    @include mq("sm") {
        margin: 30px percentage(10/320);
    }
}

ol.refs {
    border-top: 1px solid #5C656D;

    @include mq("lg") {
        padding-top: 44px;
        padding-bottom: 44px;
    }
    @include mq("md") {
        padding-top: 34px;
        padding-bottom: 34px;
    }
    @include mq("sm") {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    li {
        @include mq("lg") {
            // margin-top: 4px;
            margin-bottom: 10px;
        }
        @include mq("md") {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        @include mq("sm") {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}

//            /$$           /$$
//           |__/          |__/
//   /$$$$$$$ /$$ /$$$$$$$$ /$$ /$$$$$$$   /$$$$$$
//  /$$_____/| $$|____ /$$/| $$| $$__  $$ /$$__  $$
// |  $$$$$$ | $$   /$$$$/ | $$| $$  \ $$| $$  \ $$
//  \____  $$| $$  /$$__/  | $$| $$  | $$| $$  | $$
//  /$$$$$$$/| $$ /$$$$$$$$| $$| $$  | $$|  $$$$$$$
// |_______/ |__/|________/|__/|__/  |__/ \____  $$
//                                        /$$  \ $$
//                                       |  $$$$$$/
//                                        \______/

@include mq("lg") {

    body, p, a, li {
        font-size: 18px;
    }
    .heading--1 {
        font-size: 32px;
    }
    .heading--2 {
        font-size: 24px;
    }
    .heading--3 {
        font-size: 21px;
    }
    .heading--4 {
        font-size: 18px;
    }
    .heading--5 {

    }
    .heading--6 {

    }
    p {

    }
    li {

    }
    p.footnote,
    p.disclaimer,
    ol.refs li {
        font-size: 14px;
    }
}
@include mq("md") {

    body, p, a, li {
        font-size: 18px;
    }
    .heading--1 {
        font-size: 26px;
        // margin: 56px 0 13px 0;
    }
    .heading--2 {
        font-size: 22px;
        // margin: 13px 0 50px 0;
    }
    .heading--3 {
        font-size: 21px;
    }
    .heading--4 {
        font-size: 18px;
    }
    .heading--5 {

    }
    .heading--6 {

    }
    p {

    }
    li {

    }
    p.footnote,
    p.disclaimer,
    ol.refs li {
        font-size: 14px;
    }
}
@include mq("sm") {

    body, p, a, li {
        font-size: 16px;
    }
    .heading--1 {
        font-size: 26px;
    }
    .heading--2 {
        font-size: 22px;
    }
    .heading--3 {
        font-size: 17px;
    }
    .heading--4 {
        font-size: 18px;
    }
    .heading--5 {

    }
    .heading--6 {

    }
    p {

    }
    li {

    }
    p.footnote,
    p.disclaimer,
    ol.refs li {
        font-size: 14px;
    }
}

nav li {
    padding-bottom: 0;
}

blockquote {

    &:before,
    &:after {
        font-size: 2.4em;
        color: #657E8E;
        @include gs("light-italic");
        line-height: 0;
        top: 0.3em;
    }

    &:before {
        content: '\201C';
    }
    &:after {
        content: '\201D';
    }

    p {
        display: inline;
    }
}

.roman{
    @include gs("roman", true);
}
