<?xml version="1.0" encoding="utf-8" ?>
<realtime>
	<endpoints audience="DTC">
		<endpoint servicename="Activity">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/Activity</endpoint>
		<endpoint servicename="Award">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/Award</endpoint>
		<endpoint servicename="Login">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/Login</endpoint>
		<endpoint servicename="MarketingAction">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/MarketingAction</endpoint>
		<endpoint servicename="MemberInfo">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/MemberInfo</endpoint>
		<endpoint servicename="MemberNuggets">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/MemberNuggets</endpoint>
		<endpoint servicename="Poll">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/Poll</endpoint>
		<endpoint servicename="Register">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/Register</endpoint>
		<endpoint servicename="Security">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/Security</endpoint>
		<endpoint servicename="SendEmail">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/SendEmail</endpoint>
		<endpoint servicename="Survey">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/Survey</endpoint>
		<endpoint servicename="Utility">https://ort.shiredtcpmm.fico.com:443/ShireDTC_v4_0Web/services/Utility</endpoint>
	</endpoints>
	<endpoints audience="HCP">
		<endpoint servicename="Activity">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/Activity</endpoint>
		<endpoint servicename="Award">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/Award</endpoint>
		<endpoint servicename="Login">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/Login</endpoint>
		<endpoint servicename="MarketingAction">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/MarketingAction</endpoint>
		<endpoint servicename="MemberInfo">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/MemberInfo</endpoint>
		<endpoint servicename="MemberNuggets">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/MemberNuggets</endpoint>
		<endpoint servicename="Poll">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/Poll</endpoint>
		<endpoint servicename="Register">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/Register</endpoint>
		<endpoint servicename="Security">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/Security</endpoint>
		<endpoint servicename="SendEmail">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/SendEmail</endpoint>
		<endpoint servicename="Survey">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/Survey</endpoint>
		<endpoint servicename="Utility">https://ort.shirehcppmm.fico.com:443/ShireHCP_v4_0Web/services/Utility</endpoint>
	</endpoints>
	<certificateIdentifier>25a2986f4946d10826c95cd750d25e5ffcd55dd9</certificateIdentifier>
	<channeltype audience="DTC">EMAIL</channeltype>
	<channeltype audience="HCP">EMAIL</channeltype>
	<unauthchanneltype audience="DTC">EXT_CK_ID</unauthchanneltype>
	<unauthchanneltype audience="HCP">EXT_CK_ID</unauthchanneltype>
	<directmailchanneltype audience="DTC">EXT_DM_ID</directmailchanneltype>
	<directmailchanneltype audience="HCP">EXT_DM_ID</directmailchanneltype>
	<smschanneltype audience="DTC">SMS</smschanneltype>
	<smschanneltype audience="HCP">SMS</smschanneltype>
	<defaultaddresstype audience="DTC">UNSP</defaultaddresstype>
	<defaultaddresstype audience="HCP">UNSP</defaultaddresstype>
	<defaultphonetype audience="DTC">HOME</defaultphonetype>
	<defaultphonetype audience="HCP">WORK</defaultphonetype>
	<defaultemailtype audience="DTC">UNSP</defaultemailtype>
	<defaultemailtype audience="HCP">UNSP</defaultemailtype>
	<defaultpracticetype audience="HCP">UNSP</defaultpracticetype>
	<errorcodes>
		<errorcode>
			<code>100</code>
			<errortype>ACT_EMAIL_INVALID_ADDRESS</errortype>
		</errorcode>
		<errorcode>
			<code>101</code>
			<errortype>ACT_EMAIL_UNDERAGE_EXISTS</errortype>
		</errorcode>
		<errorcode>
			<code>102</code>
			<errortype>ACT_EMAIL_MEMBER_EXISTS</errortype>
		</errorcode>
		<errorcode>
			<code>103</code>
			<errortype>ACT_EMAIL_INVALID_DOMAIN</errortype>
		</errorcode>
		<errorcode>
			<code>104</code>
			<errortype>ACT_EMAIL_BLACKLIST</errortype>
		</errorcode>
		<errorcode>
			<code>105</code>
			<errortype>ACT_EMAIL_OPTED_OUT</errortype>
		</errorcode>
		<errorcode>
			<code>106</code>
			<errortype>ACT_EMAIL_NOT_ALLOWED</errortype>
		</errorcode>
		<errorcode>
			<code>120</code>
			<errortype>ACT_BIRTH_DATE_INVALID</errortype>
		</errorcode>
		<errorcode>
			<code>121</code>
			<errortype>ACT_BIRTH_DATE_UNDERAGE</errortype>
		</errorcode>
		<errorcode>
			<code>122</code>
			<errortype>ACT_BIRTH_DATE_NEEDS_APPROVAL</errortype>
		</errorcode>
		<errorcode>
			<code>123</code>
			<errortype>ACT_BIRTH_DATE_REQUIRED</errortype>
		</errorcode>
		<errorcode>
			<code>124</code>
			<errortype>ACT_BIRTH_DATE_NOT_ALLOWED</errortype>
		</errorcode>
		<errorcode>
			<code>130</code>
			<errortype>ACT_PASSWORD_UNCONFIRMED</errortype>
		</errorcode>
		<errorcode>
			<code>131</code>
			<errortype>ACT_PASSWORD_BLANK</errortype>
		</errorcode>
		<errorcode>
			<code>132</code>
			<errortype>ACT_PASSWORD_TOO_SHORT</errortype>
		</errorcode>
		<errorcode>
			<code>133</code>
			<errortype>ACT_PASSWORD_INVALID</errortype>
		</errorcode>
		<errorcode>
			<code>134</code>
			<errortype>ACT_PASSWORD_TOO_LONG</errortype>
		</errorcode>
		<errorcode>
			<code>140</code>
			<errortype>ACT_SCREEN_NAME_EXISTS</errortype>
		</errorcode>
		<errorcode>
			<code>141</code>
			<errortype>ACT_SCREEN_NAME_VULGAR</errortype>
		</errorcode>
		<errorcode>
			<code>143</code>
			<errortype>ACT_SCREEN_NAME_INVALID</errortype>
		</errorcode>
		<errorcode>
			<code>150</code>
			<errortype>ACT_MEMBER_LOCKED</errortype>
		</errorcode>
		<errorcode>
			<code>151</code>
			<errortype>ACT_MEMBER_LOCKED_SITE</errortype>
		</errorcode>
		<errorcode>
			<code>152</code>
			<errortype>ACT_MEMBER_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>153</code>
			<errortype>ACT_MEMBER_UNDERAGE</errortype>
		</errorcode>
		<errorcode>
			<code>154</code>
			<errortype>ACT_MEMBER_SITE_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>156</code>
			<errortype>ACT_MEMBER_LOGIN_LOCK_FAILED</errortype>
		</errorcode>
		<errorcode>
			<code>158</code>
			<errortype>ACT_MEMBER_COUNTRY_NOT_VALID</errortype>
		</errorcode>
		<errorcode>
			<code>159</code>
			<errortype>ACT_UNSUPPORTED_CHANNEL</errortype>
		</errorcode>
		<errorcode>
			<code>160</code>
			<errortype>ACT_MERGE_MEMBER_INVALID_TYPE</errortype>
		</errorcode>
		<errorcode>
			<code>161</code>
			<errortype>ACT_MERGE_MEMBER_COPPA_NOT_ALLOWED</errortype>
		</errorcode>
		<errorcode>
			<code>162</code>
			<errortype>ACT_MERGE_INVALID_SELECTION</errortype>
		</errorcode>
		<errorcode>
			<code>163</code>
			<errortype>ACT_MERGE_MEMBER_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>164</code>
			<errortype>ACT_MERGE_MEMBER_SMS_ALIAS</errortype>
		</errorcode>
		<errorcode>
			<code>165</code>
			<errortype>ACT_MEMBER_NO_MATCH</errortype>
		</errorcode>
		<errorcode>
			<code>170</code>
			<errortype>ACT_CAP_CODE_ALREADY_REDEEMED</errortype>
		</errorcode>
		<errorcode>
			<code>171</code>
			<errortype>ACT_CAP_CODE_NOT_ACTIVE</errortype>
		</errorcode>
		<errorcode>
			<code>172</code>
			<errortype>ACT_CAP_CODE_DECRYPTION_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>173</code>
			<errortype>ACT_CAP_CODE_BLANK</errortype>
		</errorcode>
		<errorcode>
			<code>174</code>
			<errortype>ACT_SMS_UNLINKED</errortype>
		</errorcode>
		<errorcode>
			<code>175</code>
			<errortype>ACT_SMS_EXISTS</errortype>
		</errorcode>
		<errorcode>
			<code>176</code>
			<errortype>ACT_CAP_CODE_ALREADY_COMPLETE</errortype>
		</errorcode>
		<errorcode>
			<code>177</code>
			<errortype>ACT_SMS_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>178</code>
			<errortype>ACT_PROGRAM_INVALID</errortype>
		</errorcode>
		<errorcode>
			<code>179</code>
			<errortype>ACT_CODE_INVALID_FOR_PROGRAM</errortype>
		</errorcode>
		<errorcode>
			<code>180</code>
			<errortype>ACT_REDEMPTION_FOR_RANGE_MET</errortype>
		</errorcode>
		<errorcode>
			<code>181</code>
			<errortype>ACT_REDEMPTION_INVALID_FOR_METHOD</errortype>
		</errorcode>
		<errorcode>
			<code>182</code>
			<errortype>ACT_REDEMPTION_INVALID_FOR_VERSION</errortype>
		</errorcode>
		<errorcode>
			<code>183</code>
			<errortype>ACT_SMS_INVALID</errortype>
		</errorcode>
		<errorcode>
			<code>184</code>
			<errortype>ACT_SMS_UNLINK_NOT_ALLOWED</errortype>
		</errorcode>
		<errorcode>
			<code>191</code>
			<errortype>ACT_QUESTION_NOT_ASKED</errortype>
		</errorcode>
		<errorcode>
			<code>194</code>
			<errortype>ACT_QUESTION_ANSWER_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>195</code>
			<errortype>ACT_EXPIRED_QUESTION_SET</errortype>
		</errorcode>
		<errorcode>
			<code>196</code>
			<errortype>ACT_QUESTION_NOT_ALLOWED</errortype>
		</errorcode>
		<errorcode>
			<code>198</code>
			<errortype>ACT_ANSWER_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>-20102</code>
			<errortype>ACT_TOO_FEW_ANSWERS</errortype>
		</errorcode>
		<errorcode>
			<code>-20103</code>
			<errortype>ACT_TOO_MANY_ANSWERS</errortype>
		</errorcode>
		<errorcode>
			<code>-20104</code>
			<errortype>ACT_NO_QA_LINK</errortype>
		</errorcode>
		<errorcode>
			<code>-20105</code>
			<errortype>ACT_INVALID_ANSWER</errortype>
		</errorcode>
		<errorcode>
			<code>-20110</code>
			<errortype>ACT_REQUIRED_QUESTION_NOT_ANSWERED</errortype>
		</errorcode>
		<errorcode>
			<code>-20111</code>
			<errortype>ACT_BLANK_FREEFORM</errortype>
		</errorcode>
		<errorcode>
			<code>-20118</code>
			<errortype>ACT_FREEFORM_TOO_LONG</errortype>
		</errorcode>
		<errorcode>
			<code>-20119</code>
			<errortype>ACT_BAD_FREEFORM_DATATYPE</errortype>
		</errorcode>
		<errorcode>
			<code>-20120</code>
			<errortype>ACT_BAD_FREEFORM_PATTERN</errortype>
		</errorcode>
		<errorcode>
			<code>200</code>
			<errortype>ACT_RAF_ALREADY_REFERRED</errortype>
		</errorcode>
		<errorcode>
			<code>201</code>
			<errortype>ACT_RAF_VULGAR_CONTENT</errortype>
		</errorcode>
		<errorcode>
			<code>210</code>
			<errortype>ACT_POINTS_LOW_BALANCE</errortype>
		</errorcode>
		<errorcode>
			<code>211</code>
			<errortype>ACT_POINTS_BAD_DEBIT_REASON</errortype>
		</errorcode>
		<errorcode>
			<code>212</code>
			<errortype>ACT_POINTS_ACCT_EXPIRED</errortype>
		</errorcode>
		<errorcode>
			<code>213</code>
			<errortype>ACT_POINTS_ALREADY_PROCESSED</errortype>
		</errorcode>
		<errorcode>
			<code>214</code>
			<errortype>ACT_POINTS_LIMIT_OTHER_EXCEEDED_FOR_PERIOD</errortype>
		</errorcode>
		<errorcode>
			<code>215</code>
			<errortype>ACT_POINTS_LIMIT_REDEMPTION_EXCEEDED_FOR_PERIOD</errortype>
		</errorcode>
		<errorcode>
			<code>216</code>
			<errortype>ACT_POINTS_LIMIT_PRODUCT_REDEMPTION_EXCEEDED_FOR_PERIOD</errortype>
		</errorcode>
		<errorcode>
			<code>220</code>
			<errortype>ACT_AWARD_ALREADY_CLAIMED</errortype>
		</errorcode>
		<errorcode>
			<code>230</code>
			<errortype>ACT_PROMO_TOO_MANY_INVALID_ATTEMPTS</errortype>
		</errorcode>
		<errorcode>
			<code>231</code>
			<errortype>ACT_PROMO_TOO_MANY_REDEMPTIONS</errortype>
		</errorcode>
		<errorcode>
			<code>240</code>
			<errortype>ACT_SESSION_LOCKED</errortype>
		</errorcode>
		<errorcode>
			<code>241</code>
			<errortype>ACT_SESSION_WEBSITE_LOCKED</errortype>
		</errorcode>
		<errorcode>
			<code>242</code>
			<errortype>ACT_SESSION_KEY_EXPIRED</errortype>
		</errorcode>
		<errorcode>
			<code>243</code>
			<errortype>ACT_SESSION_MEMBER_NO_MATCH</errortype>
		</errorcode>
		<errorcode>
			<code>244</code>
			<errortype>ACT_SPAWN_SESSION_NOT_ALLOWED</errortype>
		</errorcode>
		<errorcode>
			<code>245</code>
			<errortype>ACT_WRONG_ID_TYPE</errortype>
		</errorcode>
		<errorcode>
			<code>246</code>
			<errortype>ACT_SESSION_UNLOCKED</errortype>
		</errorcode>
		<errorcode>
			<code>247</code>
			<errortype>ACT_SESSION_LITE_LOCKED</errortype>
		</errorcode>
		<errorcode>
			<code>248</code>
			<errortype>ACT_SESSION_UNAUTHENTICATED</errortype>
		</errorcode>
		<errorcode>
			<code>249</code>
			<errortype>ACT_UNAUTH_LOGIN_NOT_ALLOWED</errortype>
		</errorcode>
		<errorcode>
			<code>250</code>
			<errortype>ACT_INVALID_AUTHENTICATE_SESSION_CREATION</errortype>
		</errorcode>
		<errorcode>
			<code>260</code>
			<errortype>ACT_WEBSITE_EMAIL_STATUS_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>261</code>
			<errortype>ACT_WEBSITE_EMAIL_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>270</code>
			<errortype>ACT_WEBSITE_COUNTRY_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>271</code>
			<errortype>ACT_WEBSITE_COUNTRY_NOT_AVAILABLE</errortype>
		</errorcode>
		<errorcode>
			<code>272</code>
			<errortype>ACT_WEBSITE_COUNTRY_SURVEY_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>280</code>
			<errortype>ACT_SURVEY_COUNTRY_LANGUAGE</errortype>
		</errorcode>
		<errorcode>
			<code>290</code>
			<errortype>ACT_ORG_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>291</code>
			<errortype>ACT_ORG_ALREADY_ACTIVE</errortype>
		</errorcode>
		<errorcode>
			<code>292</code>
			<errortype>ACT_ORG_STATUS_LOCKED</errortype>
		</errorcode>
		<errorcode>
			<code>293</code>
			<errortype>ACT_ORG_STATUS_INCORRECT</errortype>
		</errorcode>
		<errorcode>
			<code>294</code>
			<errortype>ACT_ORG_PTS_LIMIT_REACHED</errortype>
		</errorcode>
		<errorcode>
			<code>300</code>
			<errortype>ACT_AUTH_USER_NOT_FOUND</errortype>
		</errorcode>
		<errorcode>
			<code>301</code>
			<errortype>ACT_AUTH_USER_EXISTS</errortype>
		</errorcode>
		<errorcode>
			<code>302</code>
			<errortype>ACT_AUTH_USER_LOGIN_LOCK_FAILED</errortype>
		</errorcode>
		<errorcode>
			<code>303</code>
			<errortype>ACT_AUTH_USER_LOCKED</errortype>
		</errorcode>
		<errorcode>
			<code>304</code>
			<errortype>ACT_AUTH_USER_COUNTRY_NOT_VALID</errortype>
		</errorcode>
		<errorcode>
			<code>305</code>
			<errortype>ACT_AUTH_USER_LOCKED_SITE</errortype>
		</errorcode>
		<errorcode>
			<code>350</code>
			<errortype>ACT_INVALID_TRACKING_ID</errortype>
		</errorcode>
		<errorcode>
			<code>400</code>
			<errortype>ACT_UPC_CODE_BLANK</errortype>
		</errorcode>
		<errorcode>
			<code>401</code>
			<errortype>ACT_UPC_CODE_ALREADY_REDEEMED</errortype>
		</errorcode>
		<errorcode>
			<code>402</code>
			<errortype>ACT_UPC_CODE_NOT_ACTIVE</errortype>
		</errorcode>
		<errorcode>
			<code>403</code>
			<errortype>ACT_UPC_CODE_INVALID</errortype>
		</errorcode>
		<errorcode>
			<code>404</code>
			<errortype>ACT_UPC_CODE_INVALID_FOR_PROGRAM</errortype>
		</errorcode>
		<errorcode>
			<code>405</code>
			<errortype>ACT_UPC_RDMPTN_LIMIT_REACHED</errortype>
		</errorcode>
		<errorcode>
			<code>500</code>
			<errortype>ACT_EXPIRED_PII_SET</errortype>
		</errorcode>
		<errorcode>
			<code>600</code>
			<errortype>ACT_CHANNEL_EXISTS</errortype>
		</errorcode>
		<errorcode>
			<code>601</code>
			<errortype>ACT_CHANNEL_LITE_EXISTS</errortype>
		</errorcode>
		<errorcode>
			<code>602</code>
			<errortype>ACT_CHANNEL_REQUIRED</errortype>
		</errorcode>
		<errorcode>
			<code>603</code>
			<errortype>ACT_CHANNEL_NOT_ALLOWED</errortype>
		</errorcode>
		<errorcode>
			<code>604</code>
			<errortype>ACT_CHANNEL_FAILED_DNS</errortype>
		</errorcode>
		<errorcode>
			<code>605</code>
			<errortype>ACT_CHANNEL_VULGAR_TERM</errortype>
		</errorcode>
		<errorcode>
			<code>606</code>
			<errortype>ACT_CHANNEL_INVLD_FORMAT</errortype>
		</errorcode>
		<errorcode>
			<code>607</code>
			<errortype>ACT_CHANNEL_BLACKLIST</errortype>
		</errorcode>
		<errorcode>
			<code>608</code>
			<errortype>ACT_CHANNEL_VALIDATION_REQ</errortype>
		</errorcode>
		<errorcode>
			<code>609</code>
			<errortype>ACT_CHANNEL_PRIMARY_REQ</errortype>
		</errorcode>
		<errorcode>
			<code>900</code>
			<errortype>ACT_UNSUPPORTED_VERSION</errortype>
		</errorcode>
		<errorcode>
			<code>1000</code>
			<errortype>DYN_PROMO_QUALIFY_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>1002</code>
			<errortype>DYN_REGISTRATION_QUALIFY_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>1003</code>
			<errortype>DYN_PROFILE_SENSITIVITY_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>1004</code>
			<errortype>DYN_MARKETING_ACTION_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>1005</code>
			<errortype>DYN_GET_QUESTIONS_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>1006</code>
			<errortype>DYN_AGE_VALIDATION_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>1007</code>
			<errortype>DYN_PROGRAM_QUALIFY_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>1008</code>
			<errortype>DYN_UPC_QUALIFY_ERROR</errortype>
		</errorcode>
		<errorcode>
			<code>3000</code>
			<errortype>ACT_INVALID_SESSION_NUGGETS</errortype>
		</errorcode>
		<errorcode>
			<code>3001</code>
			<errortype>ACT_INVALID_IP_ADDRESS</errortype>
		</errorcode>
		<errorcode>
			<code>0</code>
			<errortype>SERVICES_UNAVAILABLE</errortype>
		</errorcode>
	</errorcodes>
</realtime>