$small: 'only screen and (max-width: 40em)';
$medium: 'only screen and (min-width: 40.063em) and (max-width: 64em)';
$large: 'only screen and (min-width: 64.063em)';

@mixin breakpoint($size, $ie-class: '') {
  @media #{$size} {
    @content;
  }

  @if $ie-class != '' {
    .#{$ie-class} & {
      @content;
    }
  }
}

// Setup media query order for sass-media_query_combiner
html {
  @include breakpoint($small) {
    /* */
  }
}

html {
  @include breakpoint($medium) {
    /* */
  }
}

html {
  @include breakpoint($large) {
    /* */
  }
}
