// bourbon variables
$prefix-for-webkit: false;
$prefix-for-mozilla: false;
$prefix-for-microsoft: false;
$prefix-for-opera: false;
$prefix-for-spec: false;

// compass variables
$legacy-support-for-ie:  true;
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;

// compass-borderbox variables
$global-border-box: true;
