@charset "UTF-8";

@import "variables";
@import "compass";
@import "rgbapng";
@import "borderbox";
@import "bourbon/bourbon";

@import "mixins";
@import "mediaquery";
@import "zindex";

@import "compass/reset";

*, *:before, *:after {
  position: relative;
  // overflow: auto;
  box-sizing: border-box;
  // Disables Android's font boosting
  max-height: 1000000px;
  // Disables Android's Auto-Fit Pages
  background: url('');
  // Disables Tap Highlight Color
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  .eq-ie & {
    top: -0.8em;
  }
}

sub {
  bottom: -0.25em;
}

hr {
  margin: 0 auto;
  height: 1px;
  border: 0;
  @include rgba-background(rgba(255,255,255,0.4));
}

p {
  padding-bottom: 6px;
}

html {
  // background-color: #ffffff;
  background-color: #393e47;
  overflow-y: scroll;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Roboto, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.nobr,
nobr {
  white-space:nowrap;
}

.eq-ie9 * {
  filter: none !important;
}

.hide {
  display: none !important;
}

.hide--small {
  @include mq('small') {
    display: none !important;
  }
}

.hide--medium {
  @include mq('medium') {
    display: none !important;
  }
}

.hide--large {
  @include mq('large') {
    display: none !important;
  }
}

.page-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  border: 1px solid lighten(#000000, 20%);

  @include mq('small') {
    min-width: 320px;
  }

  @include mq('large') {
    max-width: 1024px;
    box-shadow: 0px 5px 10px lighten(#000000, 20%);
  }
}

// DEBUG
#_:target {

  .page-wrapper,
  .page-header {
    margin: 0;

    @include mq('small') {
      width: 320px;
    }
    @include mq('medium') {
      width: 768px;
    }
    @include mq('large') {
      width: 1024px;
    }
  }

}

.outer-wrap {
  margin: 0 auto;
  width: percentage(960/1024);

  @include mq('large') {
    width: 1024px;
  }
}

.inner-wrap {
  margin: 0 auto;

  @include mq('large') {
    width: 960px;
  }
}

.section {

  .bar--title {
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    background: #51748b;
    color: #febd3f;
    font-size: 21px;
    line-height: 58px;
    font-family: 'GillSansStd-Light';
  }

  .inner-wrap {
    min-height: 650px;

    &:after {
      content: '';
      height: 50px;
      display: block;
    }
  }

  .bar--next {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: #ffffff;
    font-size: 19px;
    font-family: 'GillSansStd-Light';
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 6px 17px 3px rgba(0,0,0,.5);

    &.highlight {
      background: #fec451 !important;
    }
  }



}

.page-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: z('page', 'header');

  .outer-wrap,
  .inner-wrap {
    width: 100%;
    max-width: 1024px;
  }
  .outer-wrap {
    @include rgba-background(rgba(255,255,255,0.1));
  }
}

.page-nav {
  position: fixed;
  top: 50px;
  // top: 0;
  left: 0;
  height: 100%;
  // display: none;
  overflow: hidden;
  z-index: z('page', 'nav');

  nav {
    position: relative;
    height: 100%;
    display: inline-block;
    background: #bbbec0;
    display: none;

    .primary-nav {

      .primary-nav__item {
        height: 36px;
        line-height: 40px;
        font-size: 19px;
        border-bottom: 1px solid #c3c6c7;
        letter-spacing: 0.02em;

        a {
          display: block;
          text-decoration: none;
          color: #333e48;
          height: 100%;
          padding: 0 60px 0 20px;
          white-space: nowrap;

          &.active,
          &.highlight {
            background: #fec451;
            box-shadow: 1px 2px 2px rgba(33,30,31,.25);
          }
        }
      }
    }
  }
}

// html._menu_open {
//   overflow: hidden;

//   body {
//     height: 100% !important;
//     overflow: hidden;
//   }

//   .page-header,
//   .page-wrapper,
//   .mask {
//     overflow-y: scroll;
//   }
// }

.btn {
  display: block;
  color: #ffffff;
  cursor: pointer;

  &.btn--menu {
    display: inline-block;
    height: 50px;
    line-height: 58px;
    padding: 0 30px;
    font-family: 'GillSansStd-Light';
    text-transform: uppercase;
  }
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include rgba-background(rgba(0,0,0,0.5));
  display: none;

  &.mask--nav {
    // top: 50px;
    z-index: z('mask', 'nav');
  }
}

.section--home {
  background: #4d5158;

  @include mq('small') {
    background: #4d5158 url('../img/home__bg--mobile.jpg') 0 50px no-repeat;
    background-size: contain;
  }
  @include mq('medium', 'large') {
    background: #4d5158 url('../img/home__bg.jpg') 0 50px no-repeat;
    background-size: cover;
  }

  .inner-wrap {
    padding-left: percentage(609/1024);
    padding-top: percentage(241/1024);
    // padding-right: percentage(35/1024);

    @include mq('small') {
      padding-left: percentage(14/640);
      padding-top: percentage(945/640);
    }
  }

  .eyebrow {
    font-size: 20px;
    line-height: 26px;
    font-family: 'GillSansStd-Light';
  }

  .tagline {
    font-size: 37px;
    line-height: 48px;
    font-family: 'GillSansStd';
    color: #febd3f;
    text-shadow: 0 3px 3px rgba(33,30,30,.4);
    padding-top: 7px;
  }

  .subhead {
    line-height: 24px;
    padding-top: 5px;
  }

  .bar--next {
    background: #51748b;
  }
}
.section--prevalence {
  background: #51748b;

  .bar--next {
    background: #333e48;
  }
}
.section--course {
  background: #333e48;

  .bar--next {
    background: #51748b;
  }
}
.section--effects {
  background: #51748b;

  .bar--next {
    background: #333e48;
  }
}
.section--neurobiology {
  background: #333e48;

  .bar--next {
    background: #8c8f91;
  }
}
.section--diagnosis {
  background: #8c8f91;

  .bar--next {
    background: #ededed;
    color: #000000;
  }
}
.section--dsm5 {
  background: #ededed;

  .bar--next {
    background: #8c8f91;
  }
}
.section--resources {
  background: #8c8f91;

  .inner-wrap:after {
    display: none;
  }
}