<?xml version="1.0" encoding="utf-8" ?>
<configvalues>
  <config name="SiteCode" value="" />
  <config name="LogLevel" value="Error" />
  <config name="EncryptionMode" value="enabled" />
  <config name="LogFilePath" value="C:\DataCapture\logs" />
  <config name="LogFilePrefix" value="Reg" />
  <config name="LogPurgeTimeframe" value="30" />
  <config name="DefaultMediaSourceCode" value="" />
  <config name="ReferringURL" value="" />
  <config name="ReferringKeywords" value="" />
  <config name="SMTPServer" value="locahost" />
  <config name="SMTPPort" value="25" />
  <config name="ReminderEmailSender" value="user@example.com" />
  <config name="ReminderEmailFormat" value="HTML" />
  <config name="ReminderEmailBodyFile" value="" />
  <config name="DefaultEmailSender" value="user@example.com" />
  <config name="DatabaseDSN" value="" />
  <config name="DatabaseServer" value="" />
  <config name="DatabasePort" value="" />
  <config name="CommonDatabaseServer" value="" />
  <config name="CommonDatabasePort" value="" />
  <config name="DatabaseName" value="vyvanse" />
  <config name="DatabaseUsername" value="" />
  <config name="DatabasePassword" value="" />
  <config name="CommonDatabaseName" value="data_capture_common" />
  <config name="CommonDatabaseUsername" value="fico_package" />
  <config name="CommonDatabasePassword" value="" />
  <config name="DatabaseConnectionProperties" value="" />
  <config name="MinAddressesRequired" value="0" />
  <config name="MinEmailsRequired" value="0" />
  <config name="MinPhonesRequired" value="0" />
  <config name="DependentMinAddressesRequired" value="0" />
  <config name="DependentMinEmailsRequired" value="0" />
  <config name="DependentMinPhonesRequired" value="0" />
  <config name="MaxFailedAttempts" value="3" />
</configvalues>

