.section--diagnosis {
  background: #8c8f91; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjklIiBzdG9wLWNvbG9yPSIjOGM4ZjkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTMlIiBzdG9wLWNvbG9yPSIjNDI0NjQ5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  #8c8f91 29%, #424649 93%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(29%,#8c8f91), color-stop(93%,#424649)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #8c8f91 29%,#424649 93%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #8c8f91 29%,#424649 93%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #8c8f91 29%,#424649 93%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #8c8f91 29%,#424649 93%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8f91', endColorstr='#424649',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  .lt-ie9 & {
    background: #8c8f91; /* Old browsers */
  }

  @include mq('small') {
    // TODO: change to linear gradient for mobile
  }

  .bar--title:before {
    border-top-color: rgb(43,52,61);
  }

	.sub-head {
		width: 897px;

		@include mq('small') {
			width: auto;
		}
		
	}
	.p1 {
		width: 810px;

		@include mq('small') {
			width: auto;
		}
	}

	.p2 {
		width: 690px;

		@include mq('small') {
			width: auto;
		}
	}

	.p3 {
		margin-bottom: 0;
	}

	.graphic-wrap {
		margin: 20px 0;

		@include mq('medium', 'large') {
			min-height: 270px;
			background: url('#{$img-path}/diagnosis-graphic.png') center center no-repeat;
		}
		@include mq('small') {
			min-height: 920px;
			background: url('#{$img-path}/diagnosis-graphic-mobile.png') center center no-repeat;
		}
	}
}

