.section--home {
  background: #4d5158;

  @include mq('small') {
    background: #4d5158 url('../img/home__bg--mobile.jpg') 0 50px no-repeat;
    background-size: contain;
  }
  @include mq('medium', 'large') {
    background: #4d5158 url('../img/home__bg.jpg') 0 50px no-repeat;
    background-size: cover;
  }

  .inner-wrap {
    padding-left: percentage(609/1024);
    padding-top: percentage(241/1024);
    // padding-right: percentage(35/1024);

    @include mq('small') {
      padding-left: percentage(14/640);
      padding-top: percentage(945/640);
    }
  }

  .eyebrow {
    font-size: 20px;
    line-height: 26px;
    font-family: 'GillSansStd-Light';
  }

  .tagline {
    font-size: 37px;
    line-height: 48px;
    font-family: 'GillSansStd';
    color: #febd3f;
    text-shadow: 0 3px 3px rgba(33,30,30,.4);
    padding-top: 7px;
  }

  .subhead {
    line-height: 24px;
    padding-top: 5px;
  }

  .bar--next {
    background: #51748b;
  }
}