.section--home {
  background: #4d5158;

  @include mq('small') {
    background: #4d5158 url('#{$img-path}/home__bg--mobile.jpg') 0 25px no-repeat;
  }
  @include mq('medium', 'large') {
    background: #4d5158 url('#{$img-path}/home__bg.jpg') 0 0 no-repeat;
  }

  .bar--title {
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #febd3f;
    font-size: 21px;
    background: #51748b;

    @include mq('small') {
      font-size: 25px;
    }

    &:before {
      display: none;
    }
  }

  .content-wrap {
    padding-left: 609px;
    padding-top: 237px;
    padding-right: 35px;

    @include mq('small') {
      padding-left: 14px;
      padding-top: 545px;
    }
  }

  .eyebrow {
    font-family: font('gill sans', 'roman');
    font-size: 21px;

    padding-bottom: 0;
    
    @include mq('small') {
      font-size: 35px;
      line-height: 39px;
    }
  }
}