.section--neurobiology {
  background: #333e48; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjMzMzZTQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxMjgyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-radial-gradient(center, ellipse cover,  #333e48 45%, #21282f 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%,#333e48), color-stop(100%,#21282f)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #333e48 45%,#21282f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #333e48 45%,#21282f 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #333e48 45%,#21282f 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #333e48 45%,#21282f 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333e48', endColorstr='#21282f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  .lt-ie9 & {
    background: #333e48; /* Old browsers */    
  }

  @include mq('small') {
    // TODO: change to linear gradient for mobile
  }

  .bar--title:before {
    border-top-color: rgb(56,84,102);
  }

  .content-wrap {
    h2.pretitle {
      font-size: 36px;
      line-height: 42px;
      padding-bottom: 10px;
      color: #ffffff;
    }
    h1 {
      font-size: 57px;
      padding-bottom: 50px;
    }

    .dash {
      :before {
        color: #ffffff;
      }
    }

    .reward {
      @include mq('small') {
        background-image: url('#{$img-path}/neurobiology-mobile-1.png');
        background-position: top left;
        background-repeat: no-repeat;
        position: relative;
        left: -20px;
        padding: 332px 0  0 20px;
      }
    }

    .dysregulation {
      @include mq('small') {
        background-image: url('#{$img-path}/neurobiology-mobile-2.png');
        background-position: top right;
        background-repeat: no-repeat;
        position: relative;
        right: -20px;
        padding: 310px 20px 0 0;

        h3, p {
          margin-left: -20px;
        }
      }
    }

    .endogenous {
      @include mq('small') {
        background-image: url('#{$img-path}/neurobiology-mobile-3.png');
        background-position: top left;
        background-repeat: no-repeat;
        left: -20px;
        padding: 325px 0  0 20px;

        .blurb {
          margin: 10px 0 40px 0;
          color: #333e48;
          border: 2px solid #febd3f;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          margin-left: -42px;
          padding: 40px 35px 40px 40px;
          background-color: #ffffff;
          background-image: -webkit-linear-gradient(-130deg, #cacaca, #fff 67%);
          background-image: -moz-linear-gradient(-130deg, #cacaca, #fff 67%);
          background-image: -o-linear-gradient(-130deg, #cacaca, #fff 67%);
          background-image: linear-gradient(-140deg, #cacaca, #fff 67%);
        }
      }
    }

    .risk {
      @include mq('small') {
        width: 640px;
        background-image: url('#{$img-path}/neurobiology-mobile-4.png');
        background-position: top center;
        background-repeat: no-repeat;
        left: -20px;
        padding: 510px 0  0 20px;
      }

      .asterisk {
        @include mq('small') {
          font-size: 25px;
          line-height: 30px;
        }
      }
    }
  }
}