.section--prevalence {
  background: #51748b; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjNTE3NDhiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NDA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-radial-gradient(center, ellipse cover,  #51748b 20%, #29404f 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,#51748b), color-stop(100%,#29404f)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #51748b 20%,#29404f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #51748b 20%,#29404f 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #51748b 20%,#29404f 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #51748b 20%,#29404f 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51748b', endColorstr='#29404f',GradientType=0 ); /* IE6-8 fallback on horizontal gradient */

  .lt-ie9 & {
    background: #51748b; /* Old browsers */
  }

  @include mq('small') {
    // TODO: change to linear gradient for mobile
  }

  .bar--title:before {
    border-top-color: rgb(77,81,88);
  }


  // TEXT FORMATTING AND LAYOUT
  h1, h2, h3, p {
    font-family: font('helvetica neue', 'light');
  }
  h1 {
    padding-bottom: 25px;
  }
  .asterisk {
    padding-left: 5px;
    font-size: 26px;
    line-height: 28px;
    width: 538px;
    margin-left: 25px;
    padding-bottom: 50px;

    &:before {
      content: '*';
      margin-left: -5px;
    }
  }
  .blurb {
    
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top left;
    padding: 22px;
    color: #333e48;
    font-size: 27px;
    line-height: 31px;

    @include mq('small') {
      background-image: url('#{$img-path}/prevalence-text-bg-mobile.png');
      width: 571px;
      height: 167px;
    }
  }
  .gender-ratio {
    padding: 40px 0;
  }
  .comparable {
    padding: 40px 0 26px 0;
    margin-bottom: 40px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

    h2 {
      font-size: 42px;
      line-height: 46px;
      width: 90%;
      padding-bottom: 50px;
    }
    p {
      padding: 25px 0 0 0;
      font-size: 25px;
      line-height: 28px;
    }
  }
  ul {
    li {
      padding-left: 28px;
      text-indent: -28px;

      &:before {
        display: inline;
        content: '•';
        color: #febd3f;
        padding-right: 10px;
      }
    }
  }

  // GRAPHICS
  .graphic {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top left;
  }
  .us-graphic {

    @include mq('small') {
      background-image: url('#{$img-path}/prevalence-us-mobile.png');
      height: 420px;
    }
  }
  .male-female-graphic {
    margin: 0 auto;

    @include mq('small') {
      background-image: url('#{$img-path}/prevalence-male-female-mobile.png');
      width: 500px;
      height: 348px;
    }
  }
  .patients-graphic {
    margin: 0 auto;

    @include mq('small') {
      width: 580px;
      height: 545px;
      background-image: url('#{$img-path}/prevalence-patients-mobile.png');
    }
  }



}