.section--resources {
  background: #8c8f91; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjOGM4ZjkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-radial-gradient(center, ellipse cover,  #8c8f91 40%, #323333 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%,#8c8f91), color-stop(100%,#323333)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #8c8f91 40%,#323333 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #8c8f91 40%,#323333 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #8c8f91 40%,#323333 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #8c8f91 40%,#323333 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8f91', endColorstr='#323333',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  .headline-wrap {
    margin-bottom: 30px;

    @include mq('small') {
      margin: 0;
    }

    p {
      @include mq('small') {
        font-size: 28px;
        line-height: 32px;
        width: 560px;
      }
    }
  }

  h2 {
    @include mq('small') {
      font-size: 36px;
    }
  }

  h3 {
    font-size: 23px;
    font-weight: normal;
    margin-top: 10px;

    @include mq('small') {
      font-size: 26px;
      margin-top: 15px;
    }
  }

  p, li {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;

    @include mq('small') {
      font-size: 26px;
      width: 580px;
      line-height: 32px;
      margin-bottom: 10px;
    }
  }

  .float-column {
    background: url("../img/bed-patient.png") no-repeat 0 20px;
    padding-left: 400px;
    margin: 40px 0 0 -32px;
    height: 406px;
    width: 900px;

    @include mq('small') {
      background: none;
      padding: 0;
      margin: 0 0 30px;;
      height: inherit;

      li {
        width: 520px;
      }
    }
  }

  .nest {
    margin-left: 20px;

    li {
      margin-bottom: 0;
    }

    li:before {
      content: "-";
      color: #febd3f;
      float: left;
      margin: 0 5px 0 -15px;
    }
  }

  .videos {

    background: #a1a1a1;
    width: 1024px;
    margin-left: -32px;
    padding: 20px 40px 25px;

    @include mq('small') {
      width: 625px;
      margin: 0 0 0 -20px;
    }

    h4 {
      color: #ffffff;
      font-size: 24px;
      margin-bottom: 30px;
    }

    li {
      background: #616364;
      display: inline-block;
      width: 180px;
      height: 160px;
      margin-right: 4px;
      border-bottom: #747779 solid 12px;

      @include mq('small') {
        width: 263px;
        height: 240px;
        margin-right: 7px;
        border-bottom: #747779 solid 18px;
      }

      p {
        color: #febd3f;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: inherit;
        height: inherit;
        padding: 21px;
        font-size: 24px;

        @include mq('small') {
          padding: 65px;
        }
      }
    }
  }

  .orgs {

    padding: 20px 50px 10px 5px;

    h3 {
      width: 800px;
      margin-bottom: 20px;
      line-height: 25px;
    }

    ul { 
      float: left;
      width: 450px;
      margin-bottom: 20px;

      li { 
        margin-bottom: 20px;
      }

      span {
        color: #ffffff;
      }

      p{
        color: #febd3f;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  .callout {
    margin: 0 auto;
    font-size: 21px;
    line-height: 25px;
    width: 360px;
    background: #333e48;
    text-align: center;
    clear: both;
    padding: 4px 20px;
    color: #febd3f;
    box-sizing: border-box;
    border-radius: 3px;

    @include mq('small') {

    }
  }

  .references {

    margin-top: 20px;
    font-family: font('helvetica nueue','light');

    p {
      font-size: 17px;
      line-height: 21px;
      color: #eeeeee;
      padding-right: 16px;
    }
  }

}