---
---
extends /layouts/base

block content
  include /partials/home.jade
  include /partials/prevalence.jade
  include /partials/course.jade
  include /partials/effects.jade
  include /partials/neurobiology.jade
  include /partials/diagnosis.jade
  include /partials/dsm5.jade
  include /partials/resources.jade