---
---
extends /layouts/base

include /mixins/pagination.jade

block content
  include /partials/components/sign-up.jade
  include /partials/pages/index/home.jade
  include /partials/pages/index/prevalence.jade
  include /partials/pages/index/dsm5.jade
  include /partials/pages/index/course.jade
  include /partials/pages/index/effects.jade 
  include /partials/pages/index/neurobiology.jade
  include /partials/pages/index/diagnosis.jade
  include /partials/pages/index/resources.jade
  //- nav
    +pagination('primary')