---
---
extends /layouts/base

include /mixins/pagination.jade

block content
  include /partials/index/home.jade
  include /partials/index/prevalence.jade
  include /partials/index/course.jade
  include /partials/index/effects.jade
  include /partials/index/neurobiology.jade
  include /partials/index/diagnosis.jade
  include /partials/index/dsm5.jade
  include /partials/index/resources.jade
  nav
    +pagination('primary')