@mixin inline-block {
  display: inline-block;

  @include for-legacy-browser('ie', '7') {
    *display: inline;
    *zoom: 1;
  }
}

@mixin bumpout {
  width: 1024px;
  margin-left: -32px;

  @include mq('mobile') {
    width: 640;
    margin-left: -20px;
  }
}