<?xml version="1.0" encoding="utf-8" ?>
<environment>
	<environmentName>STAGING</environmentName>
	<monitorIpRanges>
		<ipRange>172.18.200.*</ipRange>
		<ipRange>172.18.203.*</ipRange>
		<ipRange>63.241.199.*</ipRange>
		<ipRange>63.241.253.*</ipRange>
    <ipRange>216.110.6.*</ipRange>
    <ipRange>8.31.236.*</ipRange>
  </monitorIpRanges>
</environment>