body.contact-us{

    .gradient{
        position: absolute;
        background-image: linear-gradient(-180deg, #1E2730 0%, #252F39 100%);
        background-position: center top;
        width: 100%;
        height: 250px;
    }


    .header--contact-us, .section--contact-us{
        background-color: #252F39;
        text-align: left;
    }

    .heading--1{
        padding-top: 30px;
        padding-bottom: 12px;
        text-align: left;
    }

    h2{
        @include gs('light-italic');
        font-size: 24px;
        color: #E8E9E9;
        line-height: 29px;
        @include mq('sm'){
            line-height: normal;
        }
        text-align: left;
        padding-bottom: 18px;
    }

    h3{
        font-style: italic;
    }

    .section--contact-us{

        .wrap--content{
            padding-top: 18px;

            p{
                color: #858B91;
            }

            .white{
                color: #E8E9E9;
            }

            .subcontainer{
                width: 800px;
                height: 580px;
                margin: 0 auto;
            }

        }

    }


    @include mq('md','sm') {
        .section--contact-us{

            .wrap--content{
                .subcontainer{
                    width: auto;
                }
            }

        }

    }

    @include mq('sm') {

        .heading--1{
            padding-top: 6px;
        }

        .section--contact-us{

            .wrap--content{

                h2{
                    font-size: 22px;
                }

                h3{
                    font-size: 18px;
                    padding-bottom:10px;
                    margin-top: 10px;
                }

                p{
                    font-size: 16px;
                    color: #ADB2B6;
                }

                .subcontainer{
                    height: auto;
                }

            }

        }


    }

}
