body.effects-of-bed {
    $page: "effects-of-bed";

    .footnote {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 30px 0;
    }

    .section--associated {
        background: #252F39;
        
        .heading--1 {
            padding-bottom: 25px;
        }

        .wrap--content {

            @include mq("lg") {
                // width: 570px;
                margin: 0 auto;
            }

            @include mq("md") {
                padding-left: percentage(113/768);
                padding-right: percentage(113/768);
            }

        }

        ul {
            @include mq("lg") {
                width: 570px;
                margin: 0 auto 10px auto;
            }
        }

        li:before {
            @include mq('sm') {
                font-size: 1.5em;
            }
        }
    }
    .bold{
        font-weight: bold;
    }
    
    .section--association {
        background: #333E48;
        background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);

        .heading--2 {
            padding-top: 10px;
            padding-bottom: 23px;
        }
        .heading--3 {
            @include gs('light');
            font-size: 18px;
            color: #ADB2B6;
            line-height: 22px;
            padding: 30px 0 5px 0;
            text-align: center;
        }
        .wrap--content {
            @include mq("lg") {
                width: 570px;
            }
            @include mq("md") {

            }
        }

        .charts {

            .flexbox & {  
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;

                @include mq("sm") {
                    flex-direction: column;
                }
            }

            .no-flexbox & {
                display: table;
                border-collapse: separate;
                margin: 0 auto;
                border-spacing: 10% 0;                
            }

            .chart {
                text-align: center;

                @include mq("sm") {
                    margin: 25px auto;
                }

                .flexbox & {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                .no-flexbox & {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                }
            }

            .sixty-three {
                @include responsive-bg("#{$page}/63.png");
            }
            .nineteen {
                @include responsive-bg("#{$page}/19.png");
            }

            
            .num {
                color: #FDBD3E;
                font-size: 50px;
            }
            .text {
                @include mq('sm') {
                    width: percentage(155/280);
                    margin: 0 auto;
                }
            }
        }

        .heading--3 {
            @include mq('sm') {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .section--living {
        background: #252F39;

        .wrap--content {
            padding-bottom: 0;
        }

        .heading--1 {
            padding-bottom: 30px;
        }
        .heading--2 {
            padding-bottom: 60px;
        }

        blockquote {
            @include gs();
            color: #C2CBD0;
            padding-bottom: 25px;
            

            p {
                @include gs('light-italic');
                font-size: 22px;
                line-height: 26px;
            }

            &:before, &:after {
                @include gs('roman');
                color: #657E8E;
                font-size: 52px;
            }


            @include mq("lg") {
            }
            @include mq("md") {

                p {
                    font-size: 21px;
                }
            }
            @include mq("sm") {

                p {
                    font-size: 16px;
                }
            }
        }

        .mobile-excerpt-wrapper {
            position: static;   // so it doesn't effect absolute position of exerpts on desktop
            
            // this wrapper is only needed for mobile layout
            @include mq('sm') {
                background-color: #333E48;
                background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);
                width: percentage(320/280); // needs to be full width despite being in .wrap--content
                margin: 0 -6.25%;
                padding: 39px 6.25% 0 6.25%;
            }

        }

        .excerpt {
            
            @include mq("lg") {
                width: 270px;
                position: absolute;
                bottom: 202px;
            }

            &.one {
                text-align: right;

                @include mq("lg") {
                    left: 0;
                }
            }
            &.two {
                text-align: left;

                @include mq("lg") {
                    right: 0;
                }
            }

            @include mq("sm") {
                text-align: center !important;
            }

            .listen {
                color: #FFBE2C;

                @include mq("md", "sm") {
                    text-align: center;
                }
            }
        }

        .sunny {
            margin: 0 auto;

            @include responsive-bg("#{$page}/sunny.png");
        }

        .listen {
            overflow: auto;

            p {
                @include mq('sm') {
                    width: percentage(125/280);
                    text-align: left;
                    float: right;
                    margin-right: percentage(16/280);
                    padding-top: 9px;
                }
            }
        }

        .audio-player {

            @include mq('sm') {
                // @include inline-block;
                @include bst-img('sm/effects-of-bed/audio-player-placeholder.png');
                width: percentage(75/280);
                height: 57px;
                margin: 0 percentage(15/280) 33px percentage(49/280);
                float: left;
            }
        }
    }

    .section--button {
        background: #333E48;
        background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);
        padding-top: 65px;

        @include mq('sm') {
            padding-top: 20px;
            background-image: none;

            .btn {
                width: percentage(280/320);
                font-size: 14px;
                line-height: 17px;
                padding: 16px 24px 11px;
                height: auto;
            }
        }

        .wrap--refs {
            margin-top: 50px;

            .refs {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

}
