body.identifying-patients {
    $page: "identifying-patients";

    .section--patients {
        background: #252F39;

        .persons {

            .person {

                $persons: "kimberly" "nikki" "julie" "diego";
                @each $person in $persons {
                    &.#{$person} {
                        @include responsive-bg("#{$page}/#{$person}.jpg");
                    }
                }

            }
        }


        @include mq("lg") {

            .persons{
                margin-bottom: 60px;
            }

            .callouts{
                margin-bottom: 36px;
            }

            .callout{
                width: 50%;

                h2.heading--2{
                    margin-bottom: 10px;
                }

                p{
                    margin-bottom: 22px;
                }

            }

            h1.heading--1{
                width: 710px;
                margin: 0 auto 32px auto;
            }

            .btn.btn--yellow{
                height: 58px;
                line-height: 24px;
                padding-top: 6px;
                padding-bottom: 6px;
            }

            p.disclaimer{
                text-align: center;
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                width: 478px;
                margin: 16px auto 0 auto;
            }

        }

        @include mq("md") {

            .wrap--content {

            }

            .persons {
                @include clearfix;
                width: 592px;
                margin: 0 auto 40px auto;

                .person {
                    display: block;
                    float: left;

                    &.kimberly, &.julie{
                        border-right: 1px solid #242e38;
                    }

                }
            }
        }

        @include mq("sm") {

            .heading--1{
                margin-bottom: 26px;
            }

            .persons {
                @include clearfix;
                width: 316px;
                height: 268px;
                margin: 0 auto 0 -20px;
                position: relative;

                .person {
                    display: block;
                    float: left;
                    position: absolute;
                    z-index: 3;
                }

                .kimberly{
                    top: 0px;
                    left: 0px;
                    // border-bottom: 4px solid #252F39;
                }

                .nikki{
                    top:0px;
                    left: 162px;
                    // border-left: 4px solid #252F39;
                }

                .julie{
                    top: 124px;
                    left: 0px;
                    // border-right: 4px solid #252F39;
                }
                .diego{
                    top: 124px;
                    left: 162px;
                    // border-top: 4px solid #252F39;
                }
            }

            .callouts{
                .callout{

                    margin-bottom: 30px;

                    &.one{
                        border-bottom: none;

                        .btn{
                            padding-top: 14px;
                        }
                    }

                    &.two{
                        border-top: 1px solid #5C656D;
                        padding-top: 30px;
                        .btn{
                            padding-top: 14px; 
                        }
                    }

                    h2, p{
                        text-align: left;
                        padding-bottom: 16px;
                    }

                    .btn{
                        height: 65px;
                        padding-top: 10px;
                        line-height: 18px;
                        font-size: 14px;
                        width: percentage(280/320);
                    }

                }
            }

            p.disclaimer{
                width: 214px;
                text-align: center;
                vertical-align: middle;
                margin: 0 auto;
            }
        }
    }
}
