body.identifying-patients {
    $page: "identifying-patients";

    .section--patients {
        background: #252F39;

        .persons {

            .person {

                $persons: "kimberly" "nikki" "julie" "diego";
                @each $person in $persons {
                    &.#{$person} {
                        @include responsive-bg("#{$page}/#{$person}.jpg");
                    }
                }

            }
        }


        @include mq("lg") {
            .btn.btn--yellow{
                height: 58px;
                line-height: 24px;
                padding-top: 6px;
                padding-bottom: 6px;
            }

            p.disclaimer{
                margin-top: 16px;
                text-align: center;
            }

        }

        @include mq("md") {

            .wrap--content {

            }

            .persons {
                @include clearfix;
                width: 592px;
                margin: 0 auto 40px auto;

                .person {
                    display: block;
                    float: left;

                    &.kimberly, &.julie{
                        border-right: 1px solid #242e38;
                    }

                }
            }
        }

        @include mq("sm") {

            .persons {
                @include clearfix;
                width: 316px;
                margin: 0 auto;

                .person {
                    display: block;
                    float: left;
                }
            }
        }
    }
}
