body.index {

    .section--hero {

        .hero-player {

            .video {

                .still {
                    @media only screen and (min-width: 1401px) {
                        padding-top: 0 !important;
                        height: 644px !important;
                        background-size: contain !important;
                    }
                }
            }

            &.audrey .video .still {
                @include hero-bg("index/audrey.jpg");
            }

            .copy {

            }

            .callouts {

            }
        }     

        @include mq("lg") {

        }
        @include mq("md") {

            .hero-player {

                .callouts {
                    @include clearfix;
                    border-top: 1px solid #4D565E;
                    border-bottom: 1px solid #4D565E;

                    .wrap--content {
                        padding: 0;
                    }
                    
                    a {
                        height: 200px;
                        width: percentage(1/3);
                        float: left;
                        padding-top: 160px;
                        border-left: 1px solid #4D565E;

                        &:first-child {
                            border-left: none;
                        }

                        h4 {
                            text-align: center;
                        }
                    }
                }
            }
        }
        @include mq("sm") {

            .hero-player {

                .callouts {

                    .wrap--content {
                        padding: 0;
                    }

                    a {
                        height: 100px;
                        display: block;

                        h4 {
                            height: 100%;
                            line-height: 100px;
                        }
                    }
                }
            }

        }
    }
}
