body.index {

    .section--hero {

        .hero {

            .player {

                .still {
                    @include mq("lg") {
                        padding-top: 0 !important;
                        height: 644px !important;
                    }
                    @media only screen and (min-width: 1401px) {
                        background-size: contain !important;
                    }
                }
            }

            &.kimberly .player .still {
                @include hero-bg("index/kimberly.jpg");
            }

            &.nikki .player .still {
                @include hero-bg("index/nikki.jpg");
            }

            &.julie .player .still {
                @include hero-bg("index/julie.jpg");
            }

            &.diego .player .still {
                @include hero-bg("index/diego.jpg");
            }

            .copy {

            }

            .callouts {

            }
        }     

        @include mq("lg") {

            .hero {

                .player {

                    .color {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                        }

                        &:before {
                            left: 0%;
                            right: 50%;
                            background: #242F38;
                        }
                        &:after {
                            left: 50%;
                            right: 0%;
                            background: #36414C;
                        }

                        // &:before {
                        //     background: red;
                        // }
                        // &:after {
                        //     background: blue;
                        // }
                    }
                }

                .copy {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                    .wrap--content {
                        padding-top: 40px;
                        padding-left: 622px;
                    }
                }

                .callouts {
                    @include rgba-background(rgba(#333E48, 0.95));
                    position: absolute;
                    top: 322px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    border-top: 1px solid #4D565E;
                    border-bottom: 1px solid #4D565E;

                    a {
                        height: 197px;
                        width: 264px;
                        @include inline-block;
                        border-right: 1px solid #4D565E;
                        padding-top: 158px;
                        background: transparent;
                        transition: background 250ms;

                        &:hover {
                            @include rgba-background(rgba(#333E48, 0.95));
                        }

                        &:first-child {
                            border-left: 1px solid #4D565E;
                        }

                        h4 {
                            text-align: center;
                        }
                    }
                }
            }
        }
        @include mq("md") {

            .hero {

                .callouts {
                    @include clearfix;
                    border-top: 1px solid #4D565E;
                    border-bottom: 1px solid #4D565E;

                    .wrap--content {
                        padding: 0;
                    }
                    
                    a {
                        height: 200px;
                        width: percentage(1/3);
                        float: left;
                        padding-top: 160px;
                        border-left: 1px solid #4D565E;

                        &:first-child {
                            border-left: none;
                        }

                        h4 {
                            text-align: center;
                        }
                    }
                }
            }
        }
        @include mq("sm") {

            .hero {

                .callouts {

                    .wrap--content {
                        padding: 0;
                    }

                    a {
                        height: 100px;
                        display: block;

                        h4 {
                            height: 100%;
                            line-height: 100px;
                        }
                    }
                }
            }
        }
    }
}
