body.index {
    $page: "index";

    .section--hero {

        .hero {

            .player {

                .still {
                    @include mq("lg") {
                        padding-top: 0 !important;
                        height: 644px !important;
                    }
                    @media only screen and (min-width: 1401px) {
                        background-size: contain !important;
                    }
                }
            }

            &.kimberly .player .still {
                @include hero-bg("#{$page}/kimberly.jpg");
            }

            &.nikki .player .still {
                @include hero-bg("#{$page}/nikki.jpg");
            }

            &.julie .player .still {
                @include hero-bg("#{$page}/julie.jpg");
            }

            &.diego .player .still {
                @include hero-bg("#{$page}/diego.jpg");
            }

            .copy {

                h1 {
                    text-align: left;
                    margin: 0;
                }

            }

            .callouts {

                a {

                    h4 {

                        &:after {
                            content: '';
                            @include inline-block;
                            height: 8px;
                            width: 8px;
                            top: -1px;
                            margin-left: 10px;
                            border-right: 2px solid #D6D8DA;
                            border-bottom: 2px solid #D6D8DA;
                            transform: rotate(-45deg);

                            .eq-ie8 & {
                                display: none;
                            }
                        }
                    }

                    &.cta1 .icon {
                        @include responsive-icon("#{$page}/cta1.png");
                    }
                    &.cta2 .icon {
                        @include responsive-icon("#{$page}/cta2.png");
                    }
                    &.cta3 .icon {
                        @include responsive-icon("#{$page}/cta3.png");
                    }
                }
            }
        }

        .wrap--refs {
            margin-top: 0;
        
            ol.refs {
                border-top: none;
            }
        }

        @include mq("lg", "md") {

            .hero {

                .callouts {
                    border-top: 1px solid #4D565E;
                    border-bottom: 1px solid #4D565E;

                    a {
                        border-left: 1px solid #4D565E;

                        &:first-child {
                            border-left: none;
                        }

                    }
                }
            }
        }

        @include mq("lg") {

            .hero {

                .player {

                    .color {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                        }

                        &:before {
                            left: 0%;
                            right: 50%;
                            background: #242F38;
                        }
                        &:after {
                            left: 50%;
                            right: 0%;
                            background: #36414C;
                        }

                        // &:before {
                        //     background: red;
                        // }
                        // &:after {
                        //     background: blue;
                        // }
                    }
                }

                .copy {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                    .wrap--content {
                        padding-top: 36px;
                        padding-left: 622px;
                    }
                }

                .callouts {
                    @include rgba-background(rgba(#333E48, 0.95));
                    position: absolute;
                    top: 322px;
                    left: 0;
                    width: 100%;
                    text-align: center;

                    a {
                        height: 197px;
                        width: 264px;
                        @include inline-block;
                        padding-top: 158px;
                        background: transparent;
                        transition: background 250ms, color 250ms, border-color 250ms;

                        &:hover {
                            @include rgba-background(rgba(#333E48, 0.95));
                            color: #FFFFFF;

                            h4:after {
                                border-color: #FFFFFF;
                            }
                        }
                        &:active {
                            color: $active-yellow;

                            h4:after {
                                border-color: $active-yellow;
                            }
                        }

                        h4 {
                            text-align: center;
                        }
                    }
                }
            }
        }

        @include mq("md", "sm") {

            .hero {

                .copy {
                    background: #242F38;

                }
                .callouts {
                    background: #2F3A45;

                    a {
                        transition: background 250ms;

                        h4 {
                            transition: color 250ms;

                            &:after {
                                transition: border-color 250ms;
                            }
                        }

                        &:active {
                            background: darken(#2F3A45, 2%);

                            h4 {
                                color: $active-yellow;

                                &:after {
                                    border-color: $active-yellow;
                                }
                            }
                        }

                        h4:after {
                            transition: border 250ms;
                        }
                    }
                }
            }
        }

        @include mq("md") {

            .hero {

                .copy {

                    .wrap--content {
                        padding-top: 44px;
                        padding-bottom: 44px;

                        :last-child {
                            margin-bottom: 0 !important;
                            padding-bottom: 0 !important;
                        }
                    }
                }

                .callouts {
                    @include clearfix;

                    .wrap--content {
                        padding: 0;
                    }
                    
                    a {
                        height: 200px;
                        width: percentage(1/3);
                        float: left;
                        padding-top: 160px;

                        h4 {
                            text-align: center;
                        }
                    }
                }
            }
        }
        @include mq("sm") {

            .hero {

                .copy {

                    .wrap--content {
                        padding-top: 24px;
                        padding-bottom: 24px;

                        :last-child {
                            margin-bottom: 0 !important;
                            padding-bottom: 0 !important;
                        }
                    }
                }

                .callouts {
                    border-top: 1px solid #4D565E;
                    border-bottom: 1px solid #4D565E;

                    .wrap--content {
                        padding: 0;
                    }

                    a {
                        height: 100px;
                        padding-left: $sm-gutter;
                        padding-right: $sm-gutter;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: row;
                        border-left: none;
                        border-top: 1px solid #4D565E;

                        .no-flexbox & {
                            display: block;
                            text-align: center;

                            h4,
                            .icon {
                                @include inline-block;
                                vertical-align: middle;
                            }

                            h4 {
                                padding-right: 20px;
                            }
                        }

                        &:first-child {
                            border-top: none;
                        }

                        &:nth-of-type(2) {
                            flex-direction: row-reverse;
                        }

                        h4 {
                            height: 100%;
                            line-height: 100px;
                        }

                        .icon {
                            position: relative !important;
                            top: auto !important;
                            left: auto !important;
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
