body.patient-statistics {
    $page: "patient-statistics";


    .yellow {
        @include gs('light');
        color: #FDBD3E;
    }
                
    .footnote {
        text-align: center;
        width: 100%;
        padding-bottom: 14px;
    }

    .section--us {
        background: #252F39;

        .heading--1 {
            padding-bottom: 25px;

            @include mq('sm') {
                padding: 0 2% 25px 2%;
            }
        }
        .heading--2 {
            padding-bottom: 48px;

            @include mq('sm') {
                @include gs('light');
                font-size: 16px;
                color: #D6D8DA;
                line-height: 18px;
            }
        }

        .footnote {

            @include mq('lg') {
                width: percentage(556/960);
            }
        }

        .statistics {
            margin: 0 auto;

            @include mq("lg") {
                width: 910px;
            }

            @include mq("md") {
                width: percentage(610/768);
            }

            .map {
                @include responsive-bg("#{$page}/map.png");
                margin: 0 auto;
                text-align: center;

                @include mq("sm") {
                    margin: 0 auto;
                }

                .num {
                    color: #FDBD3E;
                    padding-top: 214px;

                    @include mq("lg") {
                        font-size: 52px;
                    }
                    @include mq("md") {
                        font-size: 36px;
                    }
                    @include mq("sm") {
                        padding-top: 55px;
                        font-size: 32px;
                    }
                }

                .stat {
                    color: #D6D8DA;

                    @include mq("lg", "md") {
                        font-size: 32px;
                    }
                    @include mq("sm") {
                        font-size: 26px;
                    }
                }
            }
            p.footnote {

                @include mq('lg') {
                    width: percentage(556/960);
                }
                @include mq('sm') {
                    margin: 0;
                }
            }
            
        }
    }

    .section--survey {
        background: #333E48;
        background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);

        .heading--1 {
            padding-bottom: 45px;

            @include mq('sm') {
                padding: 0 6% 20px 6%;
            }
        }
        .heading--2 {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 40px;

            @include mq('sm') {
                @include gs('light-italic');
                font-size: 16px;
                color: #D6D8DA;
                line-height: 18px;
                width: 90%;
            }
        }

        p {
            width: 560px;
            margin: 0 auto;

            @include mq('sm') {
                width: 100%;
            }
        }
        .text {
            @include inline-block;
            vertical-align: top;
            width: 399px;

            @include gs('light-italic');
            font-size: 24px;
            line-height: 29px;

            @include mq('sm') {
                width: percentage(260/320);
                @include gs('light');
                font-size: 16px;
                color: #D6D8DA;
                line-height: 18px;
                padding-top: 18px;
            }
        }

        @include mq("lg", "md") {

            .footnote {
                width: auto;
                margin: 0;
            }
        }

        @include mq("lg") {
            padding-top: 30px;
            padding-left: 50px;
            padding-bottom: 40px;
        }
        @include mq("md") {
            padding-top: 20px;
            padding-left: 30px;
        }

        @include mq("sm") {
            text-align: center;
        }

        .stat {
            @include gs('light-italic');
            @include inline-block;
            vertical-align: top;
            width: 121px;
            margin-right: 40px;
            text-align: center;

            .percent {
                color: #FDBD3E;

                @include mq("lg") {
                    font-size: 72px;
                    line-height: 86px;
                }
                @include mq("md") {
                    font-size: 36px;
                }
                @include mq("sm") {
                    font-size: 32px;
                }
            }

            .total {
                color: #858B91;

                @include mq("lg") {
                    font-size: 18px;
                }
                @include mq("md") {
                    font-size: 18px;
                }
                @include mq("sm") {
                    font-size: 16px;
                }

            }

            @include mq('sm') {
                display: block;
                width: 100%;
            }
        }

        .footnote {
            padding-top: 31px;

            @include mq('sm') {
                width: percentage(184/280);
            }
        }
    }

    .section--ratio {
        background: #252F39;

        .heading--1 {
            padding: 27px 0 25px 0;
        }

        .icon {
            @include mq("lg") {
                margin: 40px auto;
            }
            @include mq("md") {
                margin: 30px auto;
            }
            @include mq("sm") {
                margin: 20px auto;
            }
        }
        .two-to-one {
            .icon {
                @include responsive-icon("#{$page}/2-to-1.png");
            }

            @include mq('sm') {
                padding-bottom: 45px;
            }
        }
        .five-to-one {
            .icon {
                @include responsive-icon("#{$page}/5-to-1.png");
            }
        }

        h2 {
            padding: 0 0 45px 198px;

            .estimated {
                text-align: left;
                padding-bottom: 8px;

                em {
                    padding-right: 30px;
                }
                .ratio {
                    float: left;
                    color: #FDBD3E;
                }
            }
            .percent {
                color: #FDBD3E;
            }
            .vs {
                color: #ADB2B6;
            }


            @include mq("lg") {
                font-size: 24px;


                .ratio {
                    font-size: 72px;
                    line-height: 0.8;
                }
                .versus {
                    text-align: left;
                }
                .percent {
                    font-size: 32px;
                }
                .vs {
                    font-size: 29px;
                }
            }

            @include mq("md") {
                font-size: 24px;

                .ratio {
                    font-size: 72px;
                    line-height: 0.8;
                }
                .versus {
                    text-align: left;
                }
                .percent {
                    font-size: 26px;
                }
            }

            @include mq("sm") {
                font-size: 16px;
                padding: 0;

                .estimated {
                    padding-bottom: 20px;
                    @include clearfix;
                }
                .ratio {
                    font-size: 50px;
                    line-height: 0.8;
                    padding: 0 10px 0 30px;
                }
                .versus {
                    text-align: center;
                }
                .percent {
                    font-size: 26px;
                }
                .vs {
                    display: block;
                    padding: 12px 0;
                }
            }
        }

        .footnote {
            @include mq('lg') {
                width: percentage(667/960);
                margin: 0 auto;
            }
        }
    }

    .section--onset {
        background: #2B3742;

        .heading--1 {
            margin: 0 auto;
            width: percentage(766/960);
        }
        .footnote {
            @include mq('lg') {
                width: percentage(667/960);
                margin-left: auto;
                margin-right: auto;
            }
        }

    }

    .section--groups {
        background: #252F39;
        padding-top: 60px;

        @include mq('sm') {
            padding-top: 26px;
        }

        .heading--1 {
            width: percentage(667/960);
            margin: 0 auto 40px auto;

            @include mq('sm') {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        .heading--2 {
            color: #ADB2B6;
            width: percentage(650/960);
            margin: 0 auto;
            padding-bottom: 25px;

            @include mq('sm') {
                width: 100%;
            }
        }
        .footnote {
            padding-bottom: 25px;
        }


        .btn {
            @include mq('sm') {
                height: auto;
                line-height: 17px;
                padding: 15px percentage(40/280);
            }
        }
    }

    .wrap--refs {
        margin-top: 56px;
    }
    ol.refs {
        padding-top: 56px;
    }
}
