body.patient-profiles {
    $page: "patient-profiles";

    .section--patients {
        background: #252F39;

        @include mq("lg","md") {

            .person {
                $persons: "kimberly" "nikki" "julie" "diego";
                @each $person in $persons {
                    &.#{$person} {
                        @include responsive-bg("#{$page}/#{$person}.jpg");
                    }
                }
            }
        }

        @include mq("sm") {

            .person {
                $persons: "kimberly" "nikki" "julie" "diego";
                @each $person in $persons {
                    &.#{$person} {
                        @include responsive-bg("#{$page}/#{$person}.png");
                    }
                }
            }
        }


        @include mq("lg") {

            .persons {
                margin-bottom: 60px;
            }

            .callouts {
                margin-bottom: 36px;
            }

            .callout {
                width: 50%;

                h2.heading--2 {
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 22px;
                }
            }

            h1.heading--1 {
                width: percentage(710/960);
                margin: 0 auto 32px auto;
            }

            .btn {
                // height: 58px;
                height: auto;
                font-size: 16px;
                line-height: 19px;
                padding: 18px 0 16px 0;
                width: 360px;
            }

            .one .btn {
                padding-left: 60px;
                padding-right: 60px;
            }


            p.disclaimer {
                text-align: center;
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                width: percentage(478/960);
                margin: 16px auto 0 auto;
            }

        }

        @include mq("md") {

            .wrap--content {
                
            }

            .persons {
                @include clearfix;
                width: 592px;
                margin: 48px auto 40px auto;

                .person {
                    display: block;
                    float: left;

                    &.kimberly, &.julie{
                        border-right: 1px solid #242e38;
                    }

                }
            }
            
            .callouts{
                h2.heading--2{
                    font-size: 22px;
                    color: #E8E9E9;
                    line-height: 26px;
                }
                p{
                    font-size: 16px;
                    color: #D6D8DA;
                    line-height: 19px;
                    margin-top: 6px;
                }
                .btn{
                    /* Rectangle 10: */
                    background: #FFBE2C;
                    border-radius: 4px;
                    font-size: 14px;
                    color: #21282F;
                    line-height: 17px;
                    padding-top: 8px;
                    margin-top: 25px;
                }
            }
            .disclaimer{
                margin: 35px auto 0 auto;
                text-align: center;
                width: percentage(543/768);
            }
        }

        @include mq("sm") {

            .heading--1{
                margin-bottom: 26px;
                text-align: center;
            }

            .persons {
                @include clearfix;
                width: 316px;
                height: 268px;
                margin: 0 -6.25% 0 -6.25%;
                position: relative;

                .person {
                    display: block;
                    float: left;
                    position: absolute;
                    z-index: 3;
                }

                .kimberly{
                    top: 0px;
                    left: 0px;
                    // border-bottom: 4px solid #252F39;
                }

                .nikki{
                    top:0px;
                    left: 162px;
                    // border-left: 4px solid #252F39;
                }

                .julie{
                    top: 124px;
                    left: 0px;
                    // border-right: 4px solid #252F39;
                }
                .diego{
                    top: 124px;
                    left: 162px;
                    // border-top: 4px solid #252F39;
                }
            }

            .callouts {
                .callout {

                    margin-bottom: 30px;

                    &.one{
                        border-bottom: none;

                        .btn {
                            padding: 15px 27px;
                        }
                    }

                    &.two{
                        border-top: 1px solid #5C656D;
                        padding-top: 30px;

                        .btn {
                            padding: 15px; 
                        }
                    }

                    h2, p {
                        text-align: left;
                        padding-bottom: 16px;
                    }

                    .btn {
                        height: 65px;
                        padding-top: 10px;
                        line-height: 18px;
                        font-size: 14px;
                        // width: percentage(280/320);
                        width: 100%;
                    }

                }
            }

            p.disclaimer {
                width: 214px;
                text-align: center;
                vertical-align: middle;
                margin: 0 auto;
            }
        }
    }

    .bold{
        // @include gs("bold-italic");
        font-weight: 300;
    }

}
