body.potential-effects {
    $page: "potential-effects";

    .footnote {
        text-align: center;
        margin: 0 auto;
        padding: 30px 0;

        @include mq("lg") {
            width: 655px;
        }
        @include mq("md") {
            width: percentage(510/768);
        }
        @include mq("sm") {
            width: 100%;
            padding-left:percentage(20/320);
            padding-right:percentage(20/320);
        }
    }

    .section--associated {
        background: #252F39;
        
        .heading--1 {
            padding-bottom: 25px;

            @include mq('lg') {
                width: percentage(663/960);
                margin: 0 auto;
            }
        }

        .wrap--content {

            @include mq("lg") {
                margin: 0 auto;
            }

            @include mq("md") {
                padding-left: percentage(113/768);
                padding-right: percentage(113/768);
            }

        }

        ul {
            @include mq("lg") {
                width: 570px;
                margin: 0 auto 10px auto;
            }
        }
        li{
            @include mq("md") {
                font-size: 16px;
                color: #D6D8DA;
                line-height: 19px;
            }
        }

        li:before {
            @include mq('sm') {
                font-size: 1.5em;
            }
        }
    }
    .bold {
        font-weight: 300;
    }
    
    .section--association {
        background: #333E48;
        background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);

        .heading--2 {
            padding-top: 10px;
            padding-bottom: 26px;

            @include mq('lg') {
                width: percentage(441/570);
                margin: 0 auto;
            }

            @include mq('md') {
                width: percentage(541/768);
                margin: 0 auto;
            }
        }
        .heading--3 {
            @include gs('light');
            font-size: 18px;
            color: #ADB2B6;
            line-height: 22px;
            padding: 30px 0 5px 0;
            text-align: center;
            @include mq('md') {
                font-size: 16px;
                color: #ADB2B6;
                line-height: 19px;
                width: percentage(541/768);
                margin: auto;
            }
        }
        .wrap--content {

            @include mq("lg") {
                width: 570px;
            }
            @include mq("md") {

            }
        }

        .charts {

            .flexbox & {  
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;

                @include mq("sm") {
                    flex-direction: column;
                }
            }

            .no-flexbox & {
                display: table;
                border-collapse: separate;
                margin: 0 auto;
                border-spacing: 10% 0;                
            }

            .chart {
                text-align: center;

                @include mq("sm") {
                    margin: 25px auto;
                }

                .flexbox & {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                .no-flexbox & {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                }
            }

            .sixty-three {
                @include responsive-bg("#{$page}/63.png");
            }
            .nineteen {
                @include responsive-bg("#{$page}/19.png");
            }

            .num {
                color: #FDBD3E;
                font-size: 50px;
            }
            .text {
                width: percentage(185/280);
                margin: 0 auto;
                @include mq('md') {
                    font-size: 16px;
                    color: #F3F3F3;
                    line-height: 19px;
                }
                
            }
        }

        .heading--3 {
            @include mq('sm') {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .section--living {
        background: #252F39;

        .wrap--content {
            padding-bottom: 0;

            position: relative;
            z-index: 2;

            @include mq("md") {
                padding-top: 70px;
            }
        }

        .heading--1 {
            padding-bottom: 30px;
        }
        .heading--2 {
            padding-bottom: 60px;
        }

        blockquote {
            @include gs();
            color: #C2CBD0;
            padding-bottom: 25px;

            p {
                @include gs('light-italic');
                font-size: 22px;
                line-height: 26px;
            }

            &:before, &:after {
                @include gs('roman');
                color: #657E8E;
                font-size: 52px;
            }

            @include mq("md") {

                p {
                    font-size: 21px;
                }
            }
            @include mq("sm") {

                p {
                    font-size: 16px;
                }
            }
        }

        .mobile-excerpt-wrapper {
            position: static;   // so it doesn't affect absolute position of excerpts on desktop
            
            @include mq("lg") {
                background-image: url("../img/lg/potential-effects/radial-shadow.png");
                background-position: center bottom;
                background-repeat: no-repeat;
            }

            // this wrapper is only needed for mobile layout
            @include mq('sm') {
                background-color: #333E48;
                background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);
                width: percentage(320/320); // needs to be full width despite being in .wrap--content
                margin: 0 -6.25%;
                padding: 39px 6.25% 0 10%;
            }

        }

        .excerpt {
            
            @include mq("lg") {
                width: 270px;
                position: absolute;
                bottom: 202px;
            }
            @include mq("sm") {
                text-align: center !important;
            }
        }
        .one {
            text-align: right;

            @include mq("lg") {
                left: 0;
            }
            @include mq("md") {
                font-size: 21px;
                color: #C2CBD0;
                line-height: 25px;
                text-align: center;
                width: percentage(589/768);
                margin: 0 auto;
            }
        }
        .two {
            text-align: left;

            @include mq("lg") {
                right: 0;
            }

            @include mq("md") {
                font-size: 21px;
                color: #C2CBD0;
                line-height: 25px;
                text-align: center;
                width: percentage(589/768);
                margin: 0 auto;
            }
        }

        .listen {
            color: #FFBE2C;

            @include mq("md", "sm") {
                text-align: center;
                padding-bottom: 65px;
            }
        }
        
        .sunny {
            margin: 0 auto;
            @include responsive-bg("#{$page}/sunny.png");
        }

        .listen {
            // overflow: auto;

            p {
                @include mq('md') {
                    width: 138px; //percentage(175/610)
                    height: 58px;
                    text-align: left;
                    // float: right;
                    margin-right: percentage(16/280);
                    padding-top: 9px;
                    position: absolute;
                    left: 62%;
                }

                @include mq('sm') {
                    width: percentage(250/280);
                    text-align: center;
                    float: right;
                    left: 13%;
                    margin-right: percentage(36/280);
                    padding-top: 9px;
                }
            }
        }

        .bottom-pocket{
            @include mq("lg") {
                height: 15px;
                width: 100%;
                position: absolute;
                background-color: #333E48;
                background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);
                z-index: -1;
                bottom: 0px;
            }
        }

        .audio-player {

            .mejs-controls{
                position: relative;
            }

            //PLAYER POSITIONING
            @include mq('lg') {
                // @include bst-img('lg/potential-effects/audio-player-placeholder.png');
                margin-top: 10px;

                &.audio-1 {
                    float: right;
                }

                
            }

            @include mq('md') {
                margin: 0 auto;
                // margin: 0 percentage(15/280) 33px percentage(49/280);
                // float: left;
                width: 100px !important;
                height: 57px !important;
                min-width: 0;
            }

            @include mq('sm') {
                
                margin: 0 percentage(15/280) 33px 0;
                // float: left;
                width: percentage(75/280) !important;
                height: 57px !important;
                // @include bst-img('sm/potential-effects/audio-player-placeholder.png');

                // .mejs-play button{
                //     @include bst-img('sm/potential-effects/audio-player-placeholder.png');
                // }

                // .mejs-time, .mejs-mute{
                //     display: none;
                // }

            }


            //PLAYER STYLING
            .mejs-controls {

                background: none;
                background-image: none;

                @include mq("lg") {
                    .mejs-time-rail, .mejs-volume-button, .mejs-horizontal-volume-slider{
                        background: #3a3c3d url("background.png");
                        background: linear-gradient(#4a4c4d, #2b2d2d);
                    }
                }
                @include mq("md", "sm") {
                    .mejs-time-rail, .mejs-volume-button, .mejs-horizontal-volume-slider{
                        display: none;
                    }
                }

                .mejs-button.mejs-play {

                    &, &:hover, button, button:hover{
                        background-position: 0 0;
                    }

                    @include mq("lg") {
                        button {
                            background-image: url("../me/play_lg.png");
                            width: 34px;
                            height: 28px;
                            margin: 0 0 0 -10px;
                        }
                    }
                    @include mq("md", "sm") {
                        button{
                            background-image: url("../me/play.png");
                            width: 78px;
                            height: 60px;                             
                        }
                    }
                }
                .mejs-button.mejs-pause {
                    &, &:hover, button, button:hover{
                        background-position: 0 0;
                    }
                    @include mq("lg") {
                        button {
                            background-image: url("../me/pause_lg.png");
                            width: 34px;
                            height: 28px;
                            margin: 0 0 0 -10px;
                        }
                    }

                    @include mq("md", "sm") {
                        button{
                            background-image: url("../me/pause.png"); 
                            width: 78px;
                            height: 60px;  
                        }
                    }
                    
                }
            }

        }
    }

    .section--button {
        background: #333E48;
        background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);
        padding-top: 15px;

        @include mq('sm') {
            padding-top: 20px;
            background-image: none;

            .btn {
                width: percentage(280/320);
                font-size: 14px;
                line-height: 17px;
                padding: 16px 24px 11px;
                height: auto;
            }
            
        }

        @include mq('md') {
            .wrap--content{
                padding-top: 4px;
            }
            .center {
                text-align: center;
                width: percentage(350/768);
                margin: 0 auto;
                .btn{
                    font-size: 16px;
                    color: #21282F;
                    line-height: 19px;
                    padding: 13px 24px 11px;
                    height: auto;
                }
            }
        }

        .wrap--refs {
            margin-top: 50px;

            .refs {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

    @include mq('sm') {

        .section--button{

            .wrap--refs{

                .refs{
                    padding-left: 20px;
                    padding-right: 0px;
                }

            }
        }

    }


}
