body.profiles {
    $page: "profiles";
    @include gs("light");
    background-color: #ded8d5;//This is for PC Safari
    .gradient {
        position: absolute;
        background-image: radial-gradient(50% 121%, #F8F6F4 21%, #DED8D5 100%);
        .eq-ie9 & {
            background: #ded8d5;
            filter: none;
        }
        
        background-position: center center;
        width: 100%;
        height: 926px;
        z-index: 1;
    }
    .gradient-transition-top {
        background-image: linear-gradient(0deg, #52758B 73%, rgba(82,117,139,0.00) 100%);
        
        width: 100%;
        height: 649px;
        z-index: 3;
    }

    #gradient-transition-bottom {
        background-image: linear-gradient(0deg, #DED8D5 77%, rgba(222,216,213,0.00) 89%);
        
        .eq-ie9 & {
            background: #ded8d5;
            filter: none;
        }
        width: 100%;
        height: 649px;
        position: absolute;
        top: 586px;
        z-index: 2;

        &.nikki, &.julie {
            top: 320px;
            height: 926px;
        }
    }

    @include mq('sm') {

        .gradient, #gradient-transition-bottom, .gradient-transition-top {
            display: none;
        }
    }

    //for nikki & julie, the gradient-transition-bottom needs to shift a bit
        //starting line is at y=504px, and is 753px tall

    .section--carousel {
        z-index: 5;
        background: transparent;
        color: #858B91;

        .wrap--content {
            padding-top: 0px;
            padding-bottom: 24px;
            @include no-select;
        }

        blockquote, blockquote p {
            @include gs("light-italic");
            font-size: 24px;
            color: #858B91;
            line-height: 29px;
        }

        .hero {
            margin-left: 86px;
            margin-top: 54px;
            z-index: 3;
        }

        .mobile-hero {
            display: none;
        }

        .slide {
            display: none;
            height: 588px;
            z-index: 3;
            @include no-select;

            &.active {
                display: block;
            }

            .disclaimer {
                margin-top: 13px;
                width: 300px;
                line-height: 16px;
                font-size: 14px;
                color: #858B91;

                a{
                    color:#3c3f43;
                    text-decoration: underline;
                    line-height: 16px;
                    font-size: 14px;
                    &:hover, &:active{
                        color: #767c83;
                    }
                }

            }
        }

        .kimberly {

            .shadow {
                background-image: url("../img/lg/profiles/kimberly_lo.png");
                background-repeat: no-repeat;
                position: absolute;
                top: 299px;
                left: -184px;
                width: 743px;
                height: 337px;
                z-index: 2;
            }
        }

        .nikki {

            .shadow {
                display: none;
            }
        }

        .julie {

            .shadow {
                display: none;
            }
        }

        .diego {

            .hero {
                margin-top: 74px;
                margin-left: -206px;
            }

            .shadow {
                display: none;
            }

            @include mq("lg") {
                blockquote{
                    width: 408px;//MOVE TO LG
                }

                blockquote p{
                    width: 408px;//MOVE LG

                    span{
                        padding-left: 26px;
                    }
                }
            }
        }


        .profile {
            position: absolute;
            top: 153px;
            left: 574px;
            width: 330px;
            height: 275px;
            
            @include gs("light");
            font-size: 18px;
            color: #858B91;
            line-height: 22px;

            .name {
                font-size: 32px;
                color: #333E48;
                line-height: 38px;
                border-bottom: 1px solid #D6D8DA;
                padding-bottom: 10px;
            }

            .binge {
                padding-top: 13px;
                padding-bottom: 13px;
                border-bottom: 1px solid #D6D8DA;
            } 

            .text-line {
                border-bottom: 1px solid #D6D8DA;
                padding-top:15px;
                padding-bottom: 10px;

                .bmi {
                    display: inline-block;
                    padding-left: 41px;
                }
                .age {
                    display: inline-block;
                }

                .stat {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }

        @include mq("lg", "md") {
            ul.mobile-pagination{
                display:none;
            }
        }

        .pagination {
            width: 600px;
            height: 60px;
            display: block;
            margin: 0 auto;
            position: relative;

            li {
                @include gs();
                font-size: 14px;
                color: #858B91;
                line-height: 17px;
                text-transform: uppercase;
                width: 146px;
                height: 60px;
                cursor: pointer;
                background-image: url("../img/lg/profiles/slider-dot-empty.png");
                background-repeat: no-repeat;
                background-position: center center;
                padding-bottom:76px;
                z-index: 6;
                display: inline-block;
                text-align: center; 

                &.active, &:hover, &:active {
                    color: #52758B;
                    background-image: url("../img/lg/profiles/slider-dot-full.png");
                }

                span.liner {
                    width: 90px;
                    height: 1px;
                    border-top: 1px solid #979797;
                    position: absolute;
                    top: 50%;
                    left: 104px;
                }
            }
        }

        .carousel {

            .controls {
                position: absolute;
                top: 232px;
                width: 100%;

                .next {
                    width: 20px;
                    height: 33px;
                    background-image: url("../img/lg/profiles/carousel_arrow.png");
                    float: right;
                    z-index: 10;

                    &:hover {
                        background-image: url("../img/lg/profiles/carousel_arrow_hover.png");
                    }
                }

                .prev {
                    width: 20px;
                    height: 33px;
                    background-image: url("../img/lg/profiles/carousel_arrow.png");
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    float: left;
                    z-index: 10;

                    &:hover {
                        background-image: url("../img/lg/profiles/carousel_arrow_hover.png");
                    }
                }
            }
        }


        @include mq("lg") {
            
            .carousel {
                width: 100%;
                margin-bottom: 57px;

                .slides {

                    blockquote {
                        position: absolute;
                        top: 85px;
                        left: 348px;
                    }
                    .diego.active {
                        height: 588px;

                        blockquote {
                            top: 70px;
                        }
                    }


                    &.diego {

                        blockquote, blockquote p { 
                            width: 408px;
                        }
                    }
                }
            }

            .section-disclaimer-sm {
                width: 516px;
                height: 36px;
                margin: 0 auto 44px auto;
                @include gs("light");
                font-size: 14px;
                color: #858B91;
                line-height: 19px;
                text-align: center;
            }

            .section-disclaimer {
                width: 478px;
                height: 36px;
                margin: 0 auto 44px auto;
                @include gs("light");
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                text-align: center;
            }

            .callouts {
                @include gs("light");
                margin: 0 auto 46px auto;
                font-size: 16px;
                color: #858B91;
                line-height: 19px;

                h2 {
                    font-size: 22px;
                    color: #333E48;
                    line-height: 26px;
                    font-style: normal;
                    padding-bottom: 20px;
                }

                .callout {
                    width: 325px;

                    p {
                        opacity: 0.6;
                        margin-bottom: 21px;
                        font-size: 18px;
                        line-height: 22px;
                        color: #858B91;
                        width: 330px;
                    }

                    .btn {
                        width: 300px;
                        font-size: 14px;
                        @include gs();
                        color: #F2F2F2;
                        line-height: 18px;
                        padding: 15px 28px;
                        height: 65px;
                    }
                }

                .one {

                }
                .two {
                    
                }
            }
            
        }
        
        @include mq("md") {
            .carousel {
                width: 100%;
                margin-bottom: 57px;
                padding-left: 0px;
                .slides {
                    height: 558px;
                    
                    .kimberly {
                        .hero{
                            
                        }
                        .hero img{
                            width: 452px;
                            height: auto;
                            margin-left: -38%;
                            margin-top: 23%;
                        }
                        
                    }
                    .nikki {
                        .hero img{
                            height: 365px;
                            width: auto;
                            margin-top: 48%;
                        }

                    }
                    .julie {

                        .hero img{
                            height: 345px;
                            width: auto;
                            margin-top: 53%;
                        }
                        .profile{
                            top:12%;
                        }

                        .disclaimer {
                            margin-top: 13px;
                        }
                        blockquote {
                            line-height: 34px;
                        }
                        
                    }
                    .diego {
                        .hero img{
                            width: 502px;
                            height: auto;
                            margin-left: 14%;
                            margin-top: 18%;
                        }
                    }

                    blockquote {
                        position: absolute;
                        top: 10%;
                        left:5%;
                        width: percentage(303/768);
                        font-size: 22px;
                        color: #858B91;
                        line-height: 26px;
                        
                        
                    }

                    .disclaimer {
                        width: 100%;
                        font-size: 14px;
                        color: #858B91;
                        line-height: 15px;
                        //padding-bottom: 12px;
                    }
                    .profile{
                        left: percentage(372/768);
                        top: 12%;
                        width: 286px;
                        height: 90px;
                        font-size: 16px;
                        
                        .name{
                            font-size: 26px;
                            line-height: 31px;
                        }

                    }
                }

                .shadow {
                    display: none;
                }
            }

            .section-disclaimer-sm {
                width: 516px;
                height: 36px;
                margin: 0 auto 44px auto;
                @include gs("light");
                font-size: 14px;
                color: #858B91;
                line-height: 19px;
                text-align: center;
            }

            .section-disclaimer {
                width: 478px;
                height: 36px;
                margin: 0 auto 44px auto;
                @include gs("light");
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                text-align: center;
            }

            .callouts {
                @include gs("light");
                margin: 0 auto 46px auto;
                font-size: 16px;
                color: #858B91;
                line-height: 19px;

                h2 {
                    font-size: 22px;
                    color: #333E48;
                    line-height: 26px;
                    font-style: normal;
                    padding-bottom: 20px;
                }

                .callout {
                    width: percentage(325/717);
                    p {
                        opacity: 0.6;
                        margin-bottom: 21px;
                        font-size: 18px;
                        line-height: 22px;
                        color: #858B91;
                        // width: 330px;
                        min-height: 70px;
                    }

                    .btn {
                        width: 300px;
                        font-size: 14px;
                        @include gs();
                        color: #F2F2F2;
                        line-height: 18px;
                        padding: 15px 28px;
                        height: 70px;
                    }
                }

                .one {

                }
                .two {
                    p{
                        // width: 345px;
                    }
                    .btn{
                        // margin-left: 4%;
                    }

                }
            }

            .pagination {
                margin-top: 0px;
            }
        }


        @include mq("sm") {


            // padding fixes for the mobile hero shots
            .wrap--content {
                padding-left: 0px;
                padding-right: 0px;
                background-image: radial-gradient(50% 102%, #F7F4F2 21%, #DED8D4 100%);
                background-color: #DED8D4;
                // background-color: #F0ECE9; 
            }

            // restore padding for the parts that NEED spacing
            .controls, .pagination, .callouts, .wrap--refs, .profile, .section-disclaimer {
                padding-left: 6.25%;
                padding-right: 6.25%;
            }

            blockquote {
                text-align: center;

                p {
                    font-size: 22px;
                }
            }

            .controls {
                top: 230px;
            }

            .slide {
                width: 100%;
                height: auto;
                min-height: 315px;
                overflow: hidden;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-position: center 108px;
                background-size: cover;

                .hero, .hero img {
                    // max-height: 400px;
                }

                &.kimberly {
                }
                &.nikki {

                }
                &.julie {
                    
                    .hero {
                        width: percentage(302/320);
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                    }

                    blockquote {
                        width: percentage(291/320);
                        left: percentage(14/320);
                    }
                }
                &.diego {

                    blockquote {
                        width: percentage(291/320);
                        left: percentage(14/320);
                    }

                    .hero {
                        margin: 117px auto 0;
                    }
                }

                blockquote {
                    position: absolute;
                    top: 20px;
                    width: percentage(234/320);
                    left: percentage(43/320);
                }

                .disclaimer {
                    width: 100%;
                    padding-bottom: 12px;
                }

            }

            .hero {
                margin: 78px auto 0px auto;
            }
            .hero, .hero img {
                width: 100%;
                height: auto;
            }

            .shadow {
                display: none;
            }

            .profile {
                position: static;
                height: auto;
                width: 100%;
                color: #70767C;

                .name {
                    font-size: 32px;
                    color: #333E48;
                }
                .binge {
                    font-size: 18px;
                }
                .age, .bmi, .stat {
                    font-size: 16px;
                }

                > div, .text-line, .name, .binge {
                    border-bottom: 1px solid #C3C0BE;
                }
            }
            .section-disclaimer-sm {
                font-size: 14px;
                line-height: 15px;
                border-bottom: 1px solid #C3C0BE;
                padding-bottom: 13px;
                width: percentage(280/320);
                margin-left: 6.25%;
                margin-right: 6.25%;
            }
            .btn {
                line-height: 17px;
                margin-top: 15px;
                height: auto;
                font-size: 14px;
            }
            .callout {

                &.one {
                    border-bottom: 1px solid #C3C0BE;

                    .btn {
                        padding: 14px 40px;
                        margin-bottom: 18px;
                    }
                }
                &.two {

                    .btn {
                        padding: 14px;
                    }
                }
            }

            .pagination {
                display: none;
            }

            ul.mobile-pagination{

                display: block;
                width: 52px;
                height: 12px;
                margin:0 auto;
                // position: absolute;
                // margin-left: -26px;//half the width of the UL, bruh
                // left: 50%;
                // top: 460px; IN THE DESIGN THIS IS A HARD 460px FROM TOP UNIFIED
                cursor: pointer;
                z-index: 6;

                li{
                    display: inline-block;
                    width: 9px;
                    height: 9px;
                    background-image: url("../img/sm/profiles/oval_mobile_empty.png");
                    cursor: pointer;
                    z-index: 6;

                    &.active, &:hover, &:active{
                        background-image: url("../img/sm/profiles/oval_mobile_full.png");
                    }
                }
            }


            .heading--2 {
                @include gs('light');
                font-size: 24px;
                color: #333E48;
                line-height: 29px;
                text-align: left;
                padding: 16px 0 10px;
            }

            .section-disclaimer {
                font-size: 14px;
                color: #858B91;
                line-height: 17px;
                text-align: center;
                padding-top: 22px;
            }

            .wrap--refs {

                ol.number {
                    border-color: #C3C0BE;
                    margin-left: 0;
                }
            }
        }
    }

    .footer--global {
        z-index: 5;
    }
}
