body.recognizing-bed {

    .section--bulimia {
        background: #252F39;
        background-image: linear-gradient(-180deg, #1E2730 0%, #252F39 100%);            
    }

    .section--overeating {
        background: #333E48;

        &:before {
            @include stretch;
            background-image: radial-gradient(50% 149%, #333E48 17%, #252F39 100%);
        }
    }

    .section--obesity {
        background: #252F39;
    }

    .section--majority {
        background: #333E48;
    }

    .section--compared {
        background: #252F39;

        @include mq("lg") {
            .wrap--content {
                width: 570px;
            }
        }
    }
}
