body.sign-up{

    .header--page{
        background-image: linear-gradient(-180deg, #1E2730 0%, #252F39 100%);

    }

    .section--page{
        background-color: #252F39;

        form{
            width: 593px;
            margin: 0 auto;

            input[type='text'],input[type='email'] {
                width: 582px;
                @include gs('light');
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                border: none;
                display: block;
                border-bottom: 1px solid #5C656D;
                padding-bottom: 3px;
                margin-top: 25px;

                .errormessage{
                    display: none;
                    border-bottom: 1px solid #FF4517;
                    color: #FF4517;
                }

                &.forminvalid.ng-pristine {
                    border-bottom: 1px solid #FF4517 !important;
                }

                .form-group.help-block {
                    display: none;
                }
                .form-group.has-error.help-block {
                    display: block;
                    border-bottom: 1px solid #FF4517;
                }

                .help-block{
                    border-bottom: 1px solid #FF4517;
                }
                &.forminvalid.ng-dirty, &.ng-dirty.ng-invalid-required, &.ng-touch.ng-invalid-required{
                    color: #FF4517;
                    border-bottom: 1px solid #FF4517;
                
                    .errormessage{
                        color: #FF4517;
                        display: inline-block;
                        border-bottom: 1px solid #FF4517;
                        //position:absolute;
                    }
                }  

            }

            //input[type="checkbox"]:required {
            //    display: none;
            //}
            //input[type="checkbox"]:required:invalid + label:before {
            //    content: "\2610";
            //    padding-right: 0.2em;
            //    padding-top: 0.4em;
            //    font-size: 1.4em;
            //    color: red;
            //    @include mq('lg'){
            //        top: 0.2em;
            //    }
            //}
            //input[type="checkbox"]:required:valid + label:before {
            //    content: "\2611";
            //    padding-right: 0.2em;
            //    padding-top: 0.4em;
            //    font-size: 1.4em;
            //    color: green;
            //    @include mq('lg'){
            //        top: 0.2em;
            //    }
            //}
            //
            .form-group.help-block{
                display:none;
            }
            .form-group.has-error.help-block{
                display: block;
            }
            .help-block{
                position:absolute;
                color: #FF4517;
                margin-top: -30px;
                right:20px;
            }
            .errormessage {
                position:absolute;
                color: #FF4517;
                margin-top: -25px;
            }
            
            button{
                border-style: none;
                @include gs();
                font-size: 16px;
                color: #21282F;
                margin-top: 15px;
                line-height: 17px;
                
                @include mq('lg'){
                    width:268px;
                    margin-left: 28%;
                }
                @include mq('md'){
                    width: 230px;
                }
                
            }
            .info{
                margin-top: 20px;
                p.help-block{
                    right: 406px;
                    margin-top: -25px;
                    
                }
                
            }

            label{
                pointer-events: none;
                @include mq('lg') {
                    pointer-events: visiblePainted;
                }
            }

            p.info{
                margin-bottom:32px;
                color: #858B91;
                font-size: 18px;
            }

            p.info a{
                color: white;
                // font-weight: bold;
                //@include gs("bold");
                pointer-events: auto;
            }

            .heading--2{
                font-size: 24px;
                text-align: left;
                padding-top: 44px;
                padding-bottom: 9px;
            }

            .checkbox-cont{
                margin-top: -3.55%;
                @include mq('sm'){
                    margin-top: -7%;
                }
                @media only screen
                and (min-device-width : 320px)
                and (max-device-width : 480px)
                and (orientation : landscape) {
                    margin-top: -3.25%;
                }

                @media only screen
                and (min-device-width : 320px)
                and (max-device-width : 568px)
                and (orientation : landscape) {
                    margin-top: -3.5%;
                }
            }

        }

    }

    @include mq('lg') {
        .header--page{
            .heading--1{
                padding-top:40px;
                width: 850px;
                margin: 0 auto;
            }

        }

        .section--page{

            form{

                .heading--2{
                    font-size: 24px;
                    text-align: left;
                    padding-top: 44px;
                    padding-bottom: 9px;
                }

                .info{
                    // margin-bottom: 0px;
                }

            }

        }

    }
    @include mq('md') {
        h1.heading--1{
            margin: 30px auto;
            width: 93%;
        }
    }
    @include mq('sm') {

        .heading--1{
            text-align: left;
            top: 24px;
            margin-bottom: 24px;
        }


        form{
            width: 100% !important;
            margin: 0 auto;

            input[type='text'],input[type='email']{
                width:99% !important;
                @include gs('light');
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                border: none;
                display: block;
                border-bottom: 1px solid #5C656D;
                padding-bottom: 3px;
                margin-top: 25px;
            }
        }

        .info{
           
            p.help-block{
                left: 0px;
                font-size: 12px;
            }

        }

        p.info{
            font-size: 16px;
            color: #858B91;
            line-height: 19px;
        }

        p.info a{
            color: white;
            //font-weight: bold;
        }

        button{

            background: #FFBE2C;
            border-radius: 4px;
            /* SUBMIT: */

            font-size: 16px;
            color: #21282F;
            line-height: 19px;
            width: 100%;
            margin-bottom: 51px;
            margin-top: 35px;
        }
        
        .help-block{
            font-size: 12px;
            margin-top: -22px !important;
            right:10px !important;
        }
        .errormessage{
            font-size: 12px;
        }
        
    }


}
