body.sign-up{

    .header--page{
        background-image: linear-gradient(-180deg, #1E2730 0%, #252F39 100%);

    }

    .section--page{
        background-color: #252F39;

        form{
            width: 593px;
            margin: 0 auto;

            input[type='text'],input[type='email']{
                width:582px;
                @include gs('light');
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                border: none;
                display: block;
                border-bottom: 1px solid #5C656D;
                padding-bottom: 3px; 
                margin-top: 25px;

                .errormessage{
                    display: none;
                }

                &.forminvalid.ng-dirty, &.ng-dirty.ng-invalid-required, &.ng-touch.ng-invalid-required{
                    color: #FF4517;
                    border-bottom: 1px solid #FF4517;

                    .errormessage{
                        color: #FF4517;
                        display: inline-block;
                        // position:absolute;
                    }

                }

            }



            

            button{
                border-style: none;
                @include gs();
                font-size: 14px;
                color: #21282F;
                line-height: 17px;
            }

            p.info{
                margin-bottom:32px;
                color: #858B91;
                font-size: 18px;
            }

            p.info a{
                color: white;
                font-weight: bold;
            }

            .heading--2{
                font-size: 24px;
                text-align: left;
                padding-top: 44px;
                padding-bottom: 9px;
            }

        }
        
    }

    @include mq('lg') {
        .header--page{
            .heading--1{
                padding-top:40px;
                width: 850px;
                margin: 0 auto;
            }

        }

        .section--page{

            form{

                .heading--2{
                    font-size: 24px;
                    text-align: left;
                    padding-top: 44px;
                    padding-bottom: 9px;
                }

                .info{
                    // margin-bottom: 0px;
                }

            }

        }

    }
    @include mq('md') {

    }
    @include mq('sm') {

        .heading--1{
            text-align: left;
            top: 24px;
            margin-bottom: 24px;
        }


        form{
            width: 100% !important;
            margin: 0 auto;

            input[type='text'],input[type='email']{
                width:99% !important;
                @include gs('light');
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                border: none;
                display: block;
                border-bottom: 1px solid #5C656D;
                padding-bottom: 3px;
                margin-top: 25px;
            }
        }
        
        p.info{
            font-size: 16px;
            color: #858B91;
            line-height: 19px;
        }
        
        p.info a{
            color: white;
            font-weight: bold;
        }

        button{
            
            background: #FFBE2C;
            border-radius: 4px;
            /* SUBMIT: */
            
            font-size: 16px;
            color: #21282F;
            line-height: 19px;
            width: 100%;
            margin-bottom: 51px;
        }
        
        
    }


}

