body.support-and-resources{

    background-color: #252F39;

    .section--video-player-title{
        background-image: linear-gradient(-180deg, #1E2730 0%, #212B34 100%);
    }

    .section--video-player{
        
        // @include mq('lg') {
            background-color: #1B2025;
        // }

        .mejs-container, .mejs-container * {
            max-width: 100%;
            max-height: 100%;
        }
        .mejs-volume-slider{
            max-height: none;
        }
        .mejs-overlay{
            height: 540px;
            max-height: 100%;
            position: relative;
        }
        .mejs-inner {
            height: 100%;
        }
        #videoPlayer {
            background: transparent;
            max-width: 100%;
        }
    }

    .section--shire-resources{

        .wrap--content{
            border-top: 1px solid #5C656D;
            border-bottom: 1px solid #5C656D;
        }

    }

    .section--video-boxes{

        .wrap--content {
            @include mq('sm') {
                padding-top: 0;
            }
        }

        .tabs{

            padding-bottom: 18px;

            .tab{
                display: inline-block;
                vertical-align: middle;
                width: 33%;
                height: 60px;
                background-color: #52758B;
                color: #E8E9E9;
                padding: 20px 0;
                text-align: center;
                cursor: pointer;
                margin-right: 1px;

                &:last-child{
                    margin-right: 0;
                }

                &:hover,&.active,&:active{
                    border-bottom: 4px inset #FDBD3E;
                    color: #FDBD3E;
                }
            }

            @include mq('sm') {
                display: none;
            }
        }

        .mobile-dropdown {
            width: 100%;
            height: 50px;
            z-index: 10;
            margin-bottom: 20px;

            .option {
                height: 50px;
                // display: none;
                background: #52758B;
                font-size: 18px;
                color: #E8E9E9;
                line-height: 50px;
                padding-left: percentage(23/280);
                overflow: hidden;
                max-height: 0;
                transition: max-height 250ms;

                &.active, &.open {
                    // display: block;
                    max-height: 50px;
                }
                &.active {
                    color: #FFBE2C;
                }
                &.open {
                    border-bottom: 1px solid #7E97A6;

                    &:last-child {
                        border-bottom: none;
                    }

                    .arrow {
                        transform: rotateZ(0);
                    }
                }
            }

            .arrow {
                position: absolute;
                top: 50%;
                right: 20px;
                margin: -8px 0 -5px 0;
                transform: rotateZ(90deg);
                opacity: 0;
                transition: transform 250ms, opacity 250ms;

                &.visible {
                    opacity: 1;
                }

            }  

            @include mq('lg') {
                display: none;
            }

        }

        .boxes{

            .boxes-tab{
                display: none;

                &.active{
                    display: inline-block;
                }

                .consult-disclaimer{
                    @include gs("light");
                    font-size: 16px;
                    margin-top: 20px;
                    padding-top: 20px;
                    margin-left: 15px;
                    color: #858B91;
                    @include mq('sm') {
                        margin-left: 0;
                    }
                }

            }

            .boxes-row{

                .box{
                    width: 292px;
                    height: 112px;
                    display: inline-block; 
                    background-color: #333E48;
                    border: 2px solid transparent; //no more jiggly content!
                    margin-left: 14px;
                    margin-right: 11px;
                    position: relative;
                    padding-top:16px;
                    padding-left:16px;
                    cursor: pointer;
                    margin-top: 20px;
                    vertical-align: middle;



                    .yellow {
                        width: 210px;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: 0.2px;

                        @include mq('sm') {
                            width: percentage(198/280);
                        }
                    }

                    &:hover, &.playing {
                        border: 2px solid #FDBD3E;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    .subtitle {
                        font-style: italic;
                        font-size: 14px;
                        color: #ADB2B6;
                    }

                    .video-length {
                        font-size: 14px;
                        font-style: italic;
                        color: #858B91;
                        position: absolute;
                        width: 34px;
                        // left: 242px;
                        right: 25px;
                        top: 20px;
                    }

                    .play-btn {
                        width: 18px;
                        height: 19px;
                        background-image: url("../img/lg/support-and-resources/play-button.png");
                        position: absolute;
                        top: 18px;
                        // left: 277px;
                        right: 11px;
                    }

                    .new {
                        position: absolute;
                        top: 57px;
                        // left: 254px;
                        right: -9px;
                        width: 49px;
                        height: 22px;
                        background-image: url("../img/lg/support-and-resources/new-ribbon.png");
                    }

                    .viewed {
                        position: absolute;
                        top: 79px;
                        // left: 238px;
                        right: -9px;
                        width: 64px;
                        height: 22px;
                        background-image: url("../img/lg/support-and-resources/viewed-ribbon.png");
                        opacity: 0;
                    }

                    @include mq('sm') {
                        width: 100%;
                        height: 125px;
                        padding-bottom: 15px;
                        margin-top: 4px;
                        margin-left: auto;

                        .video-length {
                            left: auto;
                            right: 37px;
                            text-align: right;
                        }
                        .play-btn {
                            left: auto;
                            right: 11px;
                        }
                        .new {
                            left: auto;
                            right: -10px;
                            top: 41px;
                        }
                        .viewed {
                            left: auto;
                            right: -10px;
                            top: 62px;
                            z-index: 1;
                        }
                    }

                }

            }

            // .experts{
            //     .boxes-row{
            //         .box{
            //             min-height: 90px;

            //             .new {
            //                 top: 44px;
            //             }
            //             .viewed {
            //                 top: 64px;
            //             }

            //         }
            //     }
            // }

        }

    }


    .section--information{
        .link-box-grid{


            .link-box-row{



                .link-box{
                    @include gs('light');
                    font-size: 18px;
                    color: #ADB2B6;
                    line-height: 22px;
                    width:316px;
                    height: 70px;
                    margin-bottom: 10px;
                    display: inline-block;

                    br{
                        display: inline;
                    }
                    
                    @include mq('sm'){
                        width: 100%;
                    }

                }

            }

        }
    }

    .section--shire-resources {

        .heading--1 {
            @include mq('sm') {
                text-align: left;
                padding-bottom: 29px;
            }
        }
        .heading--2 {
            @include mq('sm') {
                text-align: left;
                padding-bottom: 25px;
            }
            @media only screen
            and (min-device-width: 768px)
            and (max-device-width: 1024px)
            and (orientation: landscape)
            and (-webkit-min-device-pixel-ratio: 1) {
                margin-left: 28px !important;
            }
        }
        .btn {
            width: 420px;
            @include mq('md'){
                width: 300px;
            }
            @include mq('sm') {
                margin-bottom: 14px;
                height: auto;
                line-height: 17px;
                padding: 14px percentage(16/280);
                font-size: 14px;
                width: auto;
            }
        }
    }
    .section--information {
        .heading--1 {
            @include mq('sm') {
                text-align: left;
                padding-bottom: 32px;
            }
        }

        .link-box .yellow a {
            display: block;
            &:hover{
                color: #FFBE2C;
            }
        }
        .link-box a:hover{
            color: white;
        }
    }

    @include mq('lg') {


        h2.heading--1{
            text-align: left;
            padding-bottom: 36px;
        }

        .section--video-player{

            .wrap--content{
                // width: 100%;
                // height: 100%;
                padding:0;

            }

            .player{
                background-image: url('../img/lg/support-and-resources/placeholder-video-player.png');
                width: 960px;
                height: 540px;
                padding: 0;
            }

            .mejs-container{
                // max-width: 960px;
                // max-height: 540px;
            }
            
        }

        .section--shire-resources{


            .wrap--content{
                border-top: 1px solid #5C656D;
                border-bottom: 1px solid #5C656D;
            }

            .box-wrap{}

            .split-box{
                width: 49%;
                padding: 0 2.5%;
                display: inline-block;
                
                
                .heading--2{
                    text-align: left;
                    font-size: 21px;
                    padding-bottom: 26px;
                }

                .btn{
                    font-size: 16px;
                    background: #FFBE2C;
                    border-radius: 4px;
                    font-size: 16px;
                    color: #21282F;
                    line-height: 19px;
                    height: 65px;
                    padding: 14px 28px;
                    &:hover{
                        background-color: #52758B;
                        color: #FFBE2C;
                    }
                }
                
            }

        }


    }

    //@media only screen
    //and (min-device-width: 768px)
    //and (max-device-width: 1024px)
    //and (orientation: landscape)
    //and (-webkit-min-device-pixel-ratio: 1) {
    //    width: 43%;
    //}

    @include mq('md') {

        .section--video-boxes{

            .wrap--content{
                padding-top: 0px;
            }

            .mobile-dropdown{
                margin-bottom: 0px;
            }

            .tabs{
                display: none;
                .tab{
                    // margin-right: 2px;
                }

            }
            .boxes{
                .boxes-row{
                    .box{
                        margin-right: percentage(8/670);
                        width: percentage(302/670);
                        min-height: 112px;
                        height: auto;

                        .yellow, .subtitle{
                            width: percentage(218/320);
                        }

                        .video-length {
                            right: 32px;
                        }
                        .play-btn{
                            right: 20px;
                        }

                    }

                }
            }
            

        }


        .section--shire-resources{


            .wrap--content{
                border-top: none;
                border-bottom: none;
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .box-wrap{
                border-top: 1px solid #5C656D;
                border-bottom: 1px solid #5C656D;
                padding-top: 34px;
                padding-bottom: 34px;
                padding-left: percentage(30/768);
                padding-right: percentage(30/768);
                margin: 0 auto;
            }

            .heading--1{
                padding-bottom: 30px;
            }

            .split-box{
                width: 45%; //percentage(269/656)
                // padding: 0 2.5%;
                display: inline-block;
                vertical-align: middle;
                margin: 0 auto;
                
                &.sb-1{
                    margin-right: percentage(60/768);
                }


                .heading--2{
                    text-align: left;
                    font-size: 21px;
                    padding-bottom: 26px;
                    margin-left: 3px;
                }

                .btn{
                    font-size: 14px;
                    line-height: 17px;
                    background: #FFBE2C;
                    border-radius: 4px;
                    color: #21282F;
                    height: 65px;
                    padding: 14px 17px;
                }
                
            }

        }

        .section--information{
            .heading--1{
                padding-bottom: 36px;
                width: percentage(625/656);
            }

            h1,h2{
                margin: 0 auto;
            }

            .link-boxes-tablet{

                padding-left: percentage(84/768);

                .link-box{
                    width: 230px;
                    height: 55px;
                    display: inline-block;
                    font-size: 14px;
                    line-height: 17px;
                    color: #ADB2B6;
                    
                    &:nth-child(2n+1){
                        margin-right: percentage(73/768);
                    }

                    margin-bottom: 30px;

                    .yellow, a{
                        display: block;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }

            }
            


        }

    }

}
