body.thank-you-request{

    .heading--1{
        padding-top: 50px;
        font-size: 32px;
        color: #FDBD3E;
        line-height: 38px;
        width: 850px;
        margin: 0 auto 0 105px;
        text-align: left;
    }
    .heading--2{
        font-size: 18px;
        color: #E8E9E9;
        line-height: 22px;
        margin-top: 24px !important;
        width: 75%;
        margin-left: 11%;
        text-align: left;
    }
    
    section.section--ty{
        background-color: #252F39;
        padding-bottom: 30px;
    }
    

    @include mq('lg') {

        .heading--1{
            padding-top: 20px;
            font-size: 32px;
            color: #FDBD3E;
            line-height: 38px;
            width: 850px;
            //margin: 0 auto;
        }

        

    }
    @include mq('md') {
        .heading--1{
            text-align: left;
            font-size: 30px;
            color: #FDBD3E;
            line-height: 28px;
            width: 100%;
            margin-left: 11%;
        }

    }
    @include mq('sm') {

        .heading--1{
            text-align: left;
            font-size: 30px;
            color: #FDBD3E;
            line-height: 28px;
            width: 100%;
            margin-left: 0;
        }
        
        
        
        .heading--2{
            text-align: left;
            margin: 0 auto;
            font-size: 18px;
            color: #E8E9E9;
            line-height: 22px;
            width: 100%;
        }
        


    }


}

