 body.unsubscribe{


    .gradient{
        position: absolute;
        background-image: linear-gradient(-180deg, #1E2730 0%, #252F39 100%);
        background-position: center top;
        width: 100%;
        height: 250px;
    }

    .header--unsubscribe, .section--unsubscribe{
        background-color: #252F39;
        text-align: left;
    }

    .section--unsubscribe{

        .wrap--content{

            // padding-top: 0;
            padding-bottom: 0;

            .subcontainer{
                width: 636px;
                min-height: 580px;
                margin: 0 auto;
            }    
        }


        .arrow{
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url("../img/lg/unsubscribe/down_arrow.png");
            background-repeat: no-repeat;
            background-position: center center;
            left: 553px;
            top: 30px;
        }

    }

     
     .help-block{
         position:absolute;
         color: #FF4517;
         margin-top: -30px;
         right:20px;
         border-bottom-color: #FF4517;
         
     }
     
     &.forminvalid.ng-dirty, &.ng-dirty.ng-invalid-required, &.ng-touch.ng-invalid-required{
         color: #FF4517;
         border-bottom: 1px solid #FF4517;
     }

    .heading--1{
        padding-bottom: 12px;
        text-align: left;
    }

    h2{
        @include gs('light-italic');
        font-size: 24px;
        color: #E8E9E9;
        line-height: 29px;
        text-align: left;
        padding-bottom: 18px;
    }

    .accordion{
        background: #333E48;
        border-radius: 4px;
    }


    // @include mq('lg') {

    .section--unsubscribe{

        .accordion{
            margin-bottom: 10px;
            padding-left: 25px;

            &:last-child{
                margin-bottom: 92px;
            }

            .accordion__header{
                cursor: pointer;
            }

            .accordion-title{
                width: 633px;
                height: 74px;
                
                .arrow{
                    transition: transform 180ms;
                }
            }

            &.open{
                .accordion__wrap{
                    padding-bottom: 30px;
                    max-height: 700px;
                }

                .accordion-title{
                    // height: auto;
                    padding-bottom: 0px; 

                    .arrow{
                        transform: rotateZ(-180deg);
                    }

                }

            }

            .accordion__wrap{
                overflow: hidden;
                max-height: 0px;
                transition: max-height linear 250ms;

                .accordion__content{
                    
                }

            }

            
        }
        .accordion-title{
            @include gs('light');
            font-size: 18px;
            color: #E8E9E9;
            line-height: 22px;
            padding-top: 30px;
            padding-bottom: 22px;
        }


        form{
            width: percentage(582/1024);
            min-width: 582px;
            margin: 0 auto;

            input[type='text'],input[type='email'], select{
                width:582px;
                @include gs('light');
                font-size: 18px;
                color: #858B91;
                line-height: 22px;
                border: none;
                display: block;
                border-bottom: 1px solid #5C656D;
                padding-bottom: 3px; 
                margin-top: 25px;
                }
                
               .errormessage{
                   display: none;
               }

                .help-block{
                //border-bottom: 1px solid #FF4517 !important;  
                z-index: 100;
                }

                &.ng-dirty.ng-invalid-required, &.forminvalid.ng-dirty{
                    border-bottom: 1px solid #FF4517 !important;
                    color:#FF4517;
                }
                &.forminvalid.ng-pristine{
                    border-bottom: 1px solid #FF4517 !important;
                }
                
                .form-group.help-block{
                    display:none;
                }
                .form-group.has-error.help-block{
                    display: block;
                }
            .help-block {
                position: absolute;
                color: #FF4517;
                margin-top: -30px;
                right: 20px;
            }
                .errormessage {
                    position:absolute;
                    color: #FF4517;
                    margin-top: -25px;
                }
            
            }
        

            select{
                width: 590px;
                margin-left: -8px;
                color: #858B91;
                background: #D8D8D8;
                
                &.ng-dirty.ng-invalid-required, &.forminvalid.ng-dirty{
                    border-bottom: 1px solid #FF4517 !important;
                    color: #FF4517;
                    
                    option{
                        color: #FF4517;
                    }
                }
                &.forminvalid.ng-pristine {
                    border-bottom: 1px solid #FF4517 !important;
                }    
                  option{
                        color: #FF4517;
                    }
                }

                option{
                    color: #858B91;
                }
                
            }

            button{
                border-style: none;
                @include gs();
                font-size: 14px;
                color: #21282F;
                line-height: 17px;
                margin-top: 28px;
                width: 100%;
            }

            p.info{
                margin-bottom:32px;
                color: #858B91;
                font-size: 18px;
            }

            .heading--2{
                font-size: 24px;
                text-align: left;
                padding-top: 44px;
                padding-bottom: 9px;
            }

        }


    // }
 
 
     @include mq("md") {

        .section--unsubscribe{

            .wrap--content{
                padding-left: 0;
                padding-right: 0;

                .subcontainer{
                    width: percentage(636/768);

                    .heading--2{
                        padding-top: 20px;
                    }
                }

            }

            .accordion{

                .accordion-title{
                    width: percentage(633/768);
                }

            }


            form{
                width: percentage(582/768);
                margin: 0 auto;

                input[type='text'],input[type='email'], select{
                    width:percentage(582/768);
                }


            }

        }

         
     }
     
     

     @include mq('sm') {

         .section--unsubscribe {

             .subcontainer {
                 width: 100% !important;
             }

             .heading--1 {
                 margin-bottom: 0px !important;
             }

             .heading--2 {
                 font-size: 22px !important;
                 color: #E8E9E9;
                 line-height: 23px !important;
                 text-align: left;

             }

             .accordion {
                 margin-bottom: 10px;
                 padding-left: 25px;

                 &:last-child {
                     margin-bottom: 52px !important;
                 }

                 .accordion-title {
                     width: 70%;
                     height: 94px;

                 }

                 &.open {
                     .accordion__wrap {
                         display: inline-block;
                         padding-bottom: 30px;
                     }

                     .accordion-title {
                         height: auto;
                         padding-bottom: 0px;
                     }

                 }

                 .accordion__wrap {
                     display: none;
                     
                     .accordion__content {
                     }

                 }

                 .arrow.closed{
                     left: 120%;
                     top: 20px;
                 }
                 

             }
             .accordion-title {
                 color: #D6D8DA;
                 font-size: 18px;
                 line-height: 22px;
                 padding-top: 15px;
                 padding-bottom: 20px;
             }

             form {
                 width: 115% !important;
                 margin: 0 auto;

                 input[type='text'], input[type='email'], select {
                     width: 100% !important;
                     font-size: 18px;
                     color: #858B91;
                     line-height: 22px;
                     border: none;
                     display: block;
                     border-bottom: 1px solid #5C656D;
                     padding-bottom: 3px;
                     margin-top: 25px;

                     &.ng-dirty.ng-invalid-required, &.forminvalid.ng-dirty {
                         border: 1px solid #FF4517;
                         color: #FF4517;
                     }

                     &.forminvalid.ng-pristine{
                         border-bottom: 1px solid #FF4517 !important;
                     }

                 }

                 select {
                     width: 590px;
                     margin-left: -8px;
                     color: #858B91;
                     background: #D8D8D8;

                     &.ng-dirty.ng-invalid-required, &.forminvalid.ng-dirty {
                         border: 1px solid #FF4517;
                         color: #FF4517;

                         option {
                             color: #FF4517;
                         }

                     }

                     &.forminvalid.ng-pristine{
                         border-bottom: 1px solid #FF4517 !important;

                         option{
                             color: #FF4517;
                         }
                     }

                     option {
                         color: #858B91;
                     }
                 }

                 button {
                     border-style: none;
                     @include gs();
                     font-size: 14px;
                     color: #21282F;
                     line-height: 17px;
                     margin-top: 28px;
                     width: 100%;
                 }

             }

         }
     }
