header.header--global {

    .title-bar {
        height: 60px;
        background: #52758B;

        .title {
            @include gs("light");
            color: #E6EEF2;
            transition: color 250ms;

            &:hover {
                color: #FFFFFF;
            }
            &:active {
                color: #FFBE2C;
            }
        }
        .hcp {
            @include gs("light-italic");
            color: #C0D2DE;
        }
        .signup {
            @include gs("light");
        }

    }
    .primary-nav {

        nav {

        }
        nav ul {

        }
        nav ul li {

        }
        nav ul li a {

        }

    }

    @include mq("lg") {

        .title-bar {
            line-height: 60px;

            .title,
            .hcp {
                height: 100%;
                float: left;
            }
            .title {
                font-size: 22px;
            }
            .hcp {
                margin-left: 22px;
                font-size: 15px;
            }
            .signup {
                float: right;
                font-size: 15px;
                color: #EDEDED;
                line-height: 30px;
                border: 1px solid #ADB2B6;
                border-radius: 4px;
                width: 260px;
                height: 30px;
                margin: 15px 0;
                text-align: center;
                transition: color 250ms, border 250ms, background 250ms;

                &:hover {
                    color: #FDBD3E;
                    border-color: #FDBD3E;
                }
                &:active {
                    color: #52758B;
                    background: #FDBD3E;
                    border-color: #FDBD3E;
                }
            }
        }

        .primary-nav {
            background: #333E48;

            nav {

            }
            nav ul {
                display: flex;
                justify-content: space-between;

                .no-flexbox & {
                    display: table;
                    width: 100%;                    
                }
            }
            nav ul li {

                .no-flexbox & {
                    display: table-cell;
                }

                &:last-child {
                    display: none;
                }
            }
            nav ul li a {
                border-bottom: 2px solid transparent;
                height: 43px;
                line-height: 43px;
                color: #C9D3D9;
                transition: border 250ms, color 250ms;

                &.active, 
                &:hover {
                    color: #FDBD3E;
                }
                &.active {
                    border-bottom-color: #FDBD3E;
                }

            }

        }
    }

    @include mq("md", "sm") {

        .title-bar {

            .menu-tile {
                width: 58px;
                height: 60px;
                background: #333E48;
                position: absolute;
                top: 0;
                right: 0;
            }
            .menu-btn {
                width: 24px;
                height: 17px;
                position: fixed;
                top: 21px;
                right: 17px;
                cursor: pointer;
                z-index: z("menu", "button");

                &:after {
                    content: '';
                    position: absolute;
                    top: -21px;
                    right: -17px;
                    width: 58px;
                    height: 60px;
                }

                .line {
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    background: #FFFFFF;
                    transform: rotate(0deg);
                    transition: 250ms;

                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 7px;
                    }
                    &:nth-child(4) {
                        top: 14px;
                    }
                }

                .nav-open & .line {

                    &:nth-child(1) {
                        top: 7px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        top: 7px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }

        .primary-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: z("menu", "overlay");
            background: #252F39;
            opacity: 0;
            transform: scale(0.85);
            transform-origin: center center;
            transition: transform 250ms, opacity 250ms;

            @include mq("op") {
                background: red;
            }

            overflow: auto;
            -webkit-overflow-scrolling: touch;

            .wrap--content {
                padding: 15px 0;
                display: table;
                height: 100%;
                width: 100%;
            }

            &.lte-ie10 {
                display: none;
            }

            .nav-open & {
                visibility: visible;
                transform: scale(1.0);
                opacity: 1;

                &.lte-ie10 {
                    display: block;
                }
            }

            nav {
                display: table-cell;
                vertical-align: middle;
                height: 100%;
            }
            nav ul {

            }
            nav ul li {
                text-align: center;
                padding: 4px 0;

                &:last-child {
                    padding-top: 30px;

                    a:before {
                        content: '';
                        position: absolute;
                        top: -15px;
                        left: 25%;
                        right: 25%;
                        height: 1px;
                        background: #858B91;
                        pointer-events: none;
                    }
                }
            }
            nav ul li a {
                @include gs("light");
                font-size: 26px;
                color: #F2F2F2;
                line-height: 31px;
                transition: color 250ms;

                &:active,
                &.active {
                    color: #FDBD3E;
                }
            }
        }
    }

    @include mq("md") {

        .title-bar {
            line-height: 60px;

            .title,
            .hcp {
                float: left;
            }
            .hcp {
                margin-left: 32px;
            }
        }
        .primary-nav {

        }
    }
    @include mq("sm") {

        .title-bar {
            display: table;
            width: 100%;

            .wrap--content {
                display: table-cell;
                width: 100%;
                vertical-align: middle;
            }
        
            .title {
                font-size: 18px;
                line-height: 22px;
            }
            .hcp {
                font-size: 10px;
                line-height: 12px;
            }
        }
        .primary-nav {

        }
    }
}
