header.header--global {

    .title-bar {
        height: 60px;
        background: #52758B;

        .title {
            @include gs("light");
            color: #E6EEF2;
            transition: color 250ms;
        }
        .hcp {
            @include gs("light-italic");
            color: #C0D2DE;
        }
        .signup {
            @include gs("light");
        }

    }
    .primary-nav {

        nav {

        }
        nav ul {

        }
        nav ul li {

        }
        nav ul li a {

        }

    }

    @include mq("lg") {

        .title-bar {
            line-height: 60px;

            .title,
            .hcp {
                height: 100%;
                float: left;
            }
            .title {
                font-size: 22px;

                &:hover {
                    color: $active-yellow;
                }
            }
            .hcp {
                margin-left: 22px;
                font-size: 15px;
            }
            .signup {
                float: right;
                font-size: 15px;
                color: #EDEDED;
                line-height: 30px;
                border: 1px solid #ADB2B6;
                border-radius: 4px;
                width: 260px;
                height: 30px;
                margin: 15px 0;
                text-align: center;
                transition: color 250ms, border 250ms, background 250ms;

                &:hover {
                    color: $active-yellow;
                    border-color: $active-yellow;
                }
                &.active,
                &:active {
                    color: #52758B;
                    background: $active-yellow;
                    border-color: $active-yellow;
                }
            }
        }

        .primary-nav {
            background: #333E48;

            nav {

            }
            nav ul {
                display: flex;
                justify-content: space-between;

                .no-flexbox & {
                    display: table;
                    width: 100%;                    
                }
            }
            nav ul li {

                .no-flexbox & {
                    display: table-cell;
                }

                &:last-child {
                    display: none;
                }
            }
            nav ul li a {
                border-bottom: 2px solid transparent;
                height: 43px;
                line-height: 43px;
                font-size: 16px;
                color: #C9D3D9;
                transition: border 250ms, color 250ms;

                &.active, 
                &:hover {
                    color: $active-yellow;
                }
                &.active {
                    border-bottom-color: $active-yellow;
                }

            }

        }
    }

    @include mq("md", "sm") {

        .title-bar {

            .title {

                &:active {
                    color: $active-yellow;
                }
            }

            .menu-tile {
                width: 58px;
                height: 60px;
                background: #333E48;
                position: absolute;
                top: 0;
                right: 0;
            }
            .menu-btn {
                width: 24px;
                height: 17px;
                position: fixed;
                top: 21px;
                right: 17px;
                cursor: pointer;
                z-index: z("menu", "button");

                &:after {
                    content: '';
                    position: absolute;
                    top: -21px;
                    right: -17px;
                    width: 58px;
                    height: 60px;
                }

                .line {
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    background: #FFFFFF;
                    transform: rotate(0deg);
                    transition: 250ms;

                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        top: 7px;
                    }
                    &:nth-child(4) {
                        top: 14px;
                    }
                }

                &:active .line {
                    background: $active-yellow;
                }

                .nav-open & .line {

                    &:nth-child(1) {
                        top: 7px;
                        width: 0%;
                        left: 50%;
                    }
                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }
                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                    &:nth-child(4) {
                        top: 7px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }

        }

        .primary-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: z("menu", "overlay");
            background: #252F39;
            opacity: 0;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            pointer-events: none;

            .wrap--content {
                padding: 15px 0;
                display: table;
                height: 100%;
                width: 100%;
            }

            .lt-ie11 & {
                display: none;
            }

            .nav-transition & {
                transition: opacity 250ms;
            }

            .nav-open & {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
            }
            .lt-ie11.nav-open & {
                display: block;
            }

            nav {
                display: table-cell;
                vertical-align: middle;
                height: 100%;
                
                transform: scale(0.85);
                transform-origin: center center;
                transition: transform 250ms;
                
                .nav-open & {
                    transform: scale(1.0);
                }
            }
            nav ul {

            }
            nav ul li {
                text-align: center;
                padding: 4px 0;

                &:last-child {
                    padding-top: 30px;

                    a:before {
                        content: '';
                        position: absolute;
                        top: -15px;
                        left: 25%;
                        right: 25%;
                        height: 1px;
                        background: #858B91;
                        pointer-events: none;
                    }
                }
            }
            nav ul li a {
                @include gs("light");
                color: #F2F2F2;
                transition: color 250ms;

                &:active,
                &.active {
                    color: $active-yellow;
                }
            }
        }
    }

    @include mq("md") {

        .title-bar {
            line-height: 60px;

            .wrap--content {
                padding: 0 percentage(20/768);
            }

            .title,
            .hcp {
                float: left;
            }
            .hcp {
                margin-left: 32px;
                z-index: z("default");
            }
        }
        .primary-nav {
            nav ul li a {
                font-size: 36px;
            }
        }
    }
    @include mq("sm") {

        .title-bar {
            display: table;
            width: 100%;

            .wrap--content {
                display: table-cell;
                width: 100%;
                vertical-align: middle;
            }
        
            .title {
                font-size: 18px;
                line-height: 22px;
            }
            .hcp {
                font-size: 10px;
                line-height: 12px;
            }
        }
        .primary-nav {
            nav ul li a {
                font-size: 26px;
            }
        }
    }
}
