---
title: "Privacy Policy"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    .gradient

    header.header--contact-us
        .wrap--content

    section.section--contact-us
        .wrap--content
            .subcontainer

                h1.heading--1 Contact Us

                h2.heading--2 Thank you for your interest. Shire US Inc. welcomes your comments and questions.

                h3.heading--3 Health Care Professionals
                p 
                    | Clinical inquiries: For further clinical information on Shire products, US health care professionals may call Shire Medical Affairs toll free at 
                    span.white 1-800-828-2088 
                    | or send an e‐mail to 
                    a(href="mailto:medinfoGlobal@shire.com").white medinfoGlobal@shire.com
                    | .

    footer.footer--page
        .wrap--content
