---
title: "Helping Adults with Binge Eating Disorder"
description: ""
keywords: ""
section: "home"
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--
        .wrap--content

            h1.
                How adult patients with binge eating disorder (!{BED}) may present—and tools to help when they do

            .people
                a(href="#needurl")
                a(href="#needurl")
                a(href="#needurl")
                a(href="#needurl")

            .callouts

                .callout

                    h2.
                        Screening the patient
                    p.
                        Use this validated screener to help evaluate adult patients you suspect may have !{BED}
                    a(href="#needurl").
                        DOWNLOAD THE !{BED} SCREENER

                .callout

                    h2.
                        Conducting a conversation
                    p.
                        Use this discussion guide to help begin a dialogue about !{BED} with your adult patients.
                    a(href="#needurl").
                        DOWNLOAD THE DISCUSSION GUIDE
