---
title: "Helping Adults with Binge Eating Disorder"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--patients
        .wrap--content

            h1.heading--1.
                How adult patients with binge eating disorder (!{BED}) may present—and tools to help when they do

            .persons
                a(href="/hcp/profiles.aspx#kimberly").person.kimberly
                a(href="/hcp/profiles.aspx#nikki").person.nikki
                a(href="/hcp/profiles.aspx#julie").person.julie
                a(href="/hcp/profiles.aspx#diego").person.diego

            .callouts

                .callout.one

                    h2.heading--2.
                        Screening the patient
                    p.
                        Use this validated screener to help evaluate adult patients you suspect may have !{BED}
                    a(href="#needurl").btn.btn--yellow
                        | DOWNLOAD THE !{BED} SCREENER

                .callout.two

                    h2.heading--2.
                        Conducting a conversation
                    p.
                        Use this discussion guide to help begin a dialogue about !{BED} with your adult patients.
                    a(href="#needurl").btn.btn--yellow
                        | DOWNLOAD THE DISCUSSION GUIDE
