---
title: "HCP Information on Binge Eating Disorder in Adults"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--hero

        .hero(hero-player="")

            .player

                .color

                .video

                .still

            .copy

                .wrap--content

                    p.eyebrow.
                        Binge eating disorder (!{BED}) is a cycle of...

                    h1.heading--1.yellow.
                        Binge. Distress. Repeat.#[sup 1]

                    p.
                        Now a distinct disorder, !{BED} is defined as recurring episodes (on average, &ge;1 episode per week for at least 3 months) of consuming a large amount of food in a short time compared with others, a feeling of lack of control during a binge, and marked distress over binge eating. Patients also typically experience shame and guilt, among other symptoms.#[sup 1]

            .callouts

                .wrap--content

                    a(href="/hcp/dsm5-criteria.aspx").cta1

                        h4.heading--4
                            | Know the !{DSM5} criteria

                        .icon.is--vc.is--hc

                    a(href="/hcp/patient-statistics.aspx").cta2
                        
                        h4.heading--4
                            | See the statistics

                        .icon.is--vc.is--hc

                    a(href="/hcp/identifying-patients.aspx").cta3
                        
                        h4.heading--4
                            | Helping your patients

                        .icon.is--vc.is--hc

        .wrap--refs
            ol.refs.number
                li.
                    American Psychiatric Association. Binge eating disorder. In: #[em Diagnostic and Statistical Manual of Mental Disorders.] 5th ed. Arlington, VA: American Psychiatric Association; 2013:350-353.
