---
title: "More Information on Binge Eating Disorder in Adults"
description: ""
keywords: ""
section: "home"
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    section.section--
        .wrap--content

            h1.
                VIDEOS: Experts discuss !{BED} in adults

            
            h1.
                Downloadable Resources from Shire
            p.
                A validated screener that can help in evaluating adult patients you suspect may have !{BED}
            a(href="#needurl").
                DOWNLOAD THE !{BED} SCREENER
