---
title: "Thank You"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    header.header--ty
        .wrap--content
            

    section.section--ty
        .wrap--content
            h1.heading--1.
                Thank you for signing up.
            h2.heading--2
                | Your download of the 
                span.roman DSM-5
                    sup &reg; 
                | diagnostic criteria for B.E.D. is now available. You can download it immediately using the button below or later from the unique link included in your welcome e-mail.
            button(type='button').btn.btn--yellow
                | DOWNLOAD NOW

    footer.footer--page
        .wrap--content
