---
title: "Thank You Request"
description: ""
keywords: ""
---
extends /layouts/base.jade
//- append analytics
:raw
block content
    header.header
        .wrap--content
    section.section
        .wrap--content
            h1.heading--1.
                Thank you for signing up.
            h2.heading--2.
                Your request has been received, and we will update your contact preferences. Please be aware that it may take up to 10 business days for your preferences to be reflected in our system. You may still receive communications during this time.
            h2.heading--2.
                Please feel free to register with us again should you wish to receive information about binge eating disorder (B.E.D.) in adults and other information from Shire in the future.
    footer.footer--page
        .wrap--content
