---
title: "Unsubscribe"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    include /mixins/forms.jade


    .gradient

    header.header--unsubscribe
        .wrap--content

    section.section--unsubscribe
        .wrap--content
            .subcontainer

                h1.heading--1 Unsubscribe

                h2.heading--2 To unsubscribe from future communications, please select an option below, fill in the required fields, and click SUBMIT.

                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of future !{BED} e-mail communications
                            .arrow.closed
                    mixin content
                        .formContainer(ng-controller="emailController")
                            form.emailForm(name='optOutEmail', autocomplete='off', novalidate, show-errors='{showSuccess:true}', ng-submit="submitForm()")
                                input.inputForm(type='email', name="email", placeholder="E-mail", ng-model='user.email', required)
                                p.help-block(ng-if="submitted && (optOutEmail.email.$error.email || optOutEmail.email.$error.required)")
                                    | Please enter e-mail address
                                button(type="button", ng-click="submitForm()").btn.btn--yellow
                                    | SUBMIT

                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of future !{BED} direct mail communications
                            .arrow.closed
                    mixin content
                        .formContainer(ng-controller="directMailController")
                            form.directMail(name='optOutDirectMail', ng-submit="submitForm()", autocomplete='off', novalidate, show-errors='{showSuccess:true}')
                                input(type='email', name="email", placeholder="E-mail", ng-model='user.email', required)
                                p.help-block(ng-if="submitted && (optOutDirectMail.email.$error.email || optOutDirectMail.email.$error.required)")
                                    | Please enter e-mail address
                                input(type='text', name="firstName", placeholder="First Name", ng-model='user.firstName', required)
                                p.help-block(ng-if="submitted && optOutDirectMail.firstName.$error.required")
                                    | The user's first name is required
                                input(type='text', name="lastName", placeholder="Last Name", ng-model='user.lastName', required)
                                p.help-block(ng-if="submitted && optOutDirectMail.lastName.$error.required")
                                    | The user's last name is required
                                input(type='text', name="address", placeholder="Street Address", ng-model='user.address', required)
                                p.help-block(ng-if="submitted && optOutDirectMail.address.$error.required")
                                    | The user's street address is required
                                input(type='text', placeholder="Suite/Office (not required)", ng-model='suite', required)
                                input(type='text', name="city", placeholder="City", ng-model='city', required)
                                p.help-block(ng-if="submitted && optOutDirectMail.city.$error.required")
                                    | The user's city is required
                                select(type='text', placeholder="State", ng-model='state', required)
                                    +states
                                input(type='text', name="zip", placeholder="Zip", ng-model='zip', required)
                                p.help-block(ng-if="submitted && optOutDirectMail.zip.$error.required")
                                    | The user's zip code is required
                                
                                button(type='button', ng-click="submitEmail()").btn.btn--yellow
                                    | SUBMIT


                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of all future Shire communications
                            .arrow.closed
                    mixin content
                        .formContainer(ng-controller="allController")
                            form.optAll(name='optOutAll', ng-submit="submitForm()", autocomplete='off', novalidate, show-errors='{showSuccess:true}')
                                input(type='email', name="email", placeholder="E-mail", ng-model='user.email', required)
                                p.help-block(ng-if="submitted && (optOutAll.email.$error.email || optOutAll.email.$error.required)")
                                    | Please enter e-mail address
                                input(type='text', name="firstName", placeholder="First Name", ng-model='user.firstName', required)
                                p.help-block(ng-if="submitted && optOutAll.firstName.$error.required")
                                    | The user's first name is required
                                input(type='text', name="lastName", placeholder="Last Name", ng-model='user.lastName', required)
                                p.help-block(ng-if="submitted && optOutAll.lastName.$error.required")
                                    | The user's last name is required
                                input(type='text', name="address", placeholder="Street Address", ng-model='user.address', required)
                                p.help-block(ng-if="submitted && optOutAll.address.$error.required")
                                    | The user's street address is required
                                input(type='text', placeholder="Suite/Office (not required)", ng-model='suite', required)
                                input(type='text', name="city", placeholder="City", ng-model='city', required)
                                p.help-block(ng-if="submitted && optOutAll.city.$error.required")
                                    | The user's city is required
                                select(type='text', placeholder="State", ng-model='state', required)
                                    +states
                                input(type='text', name="zip", placeholder="Zip", ng-model='zip', required)
                                p.help-block(ng-if="submitted && optOutAll.zip.$error.required")
                                    | The user's zip code is required

                                button(type='button', ng-click="submitAll()").btn.btn--yellow
                                    | SUBMIT

                //- .box(ng-click="openBox(3)")
                    .text I would like to opt out of all future Shire communications
                    .arrow.closed
                    .formContainer.ng-hide
                        | hello sir. my name is form 3
                    
    footer.footer--unsubscribe
        .wrap--content

            
//, ng-class="{forminvalid: (opt-out-direct-mail.address.$invalid && opt-out-direct-mail.address.$dirty) || (opt-out-direct-mail.address.$invalid && invalidform)}")
//, ng-class="{forminvalid: (opt-out-direct-mail.suite.$invalid && opt-out-direct-mail.suite.$dirty) || (opt-out-direct-mail.suite.$invalid && invalidform)}")
//, ng-class="{forminvalid: (opt-out-direct-mail.city.$invalid && opt-out-direct-mail.city.$dirty) || (opt-out-direct-mail.city.$invalid && invalidform)}")
//, ng-class="{forminvalid: (opt-out-direct-mail.state.$invalid && opt-out-direct-mail.state.$dirty) || (opt-out-direct-mail.state.$invalid && invalidform)}")
//, ng-class="{forminvalid: (opt-out-direct-mail.zip.$invalid && opt-out-direct-mail.zip.$dirty) || (opt-out-direct-mail.zip.$invalid && invalidform)}")

//input(type='text', placeholder="First Name", ng-model='firstName', required, ng-class="{forminvalid: (opt-out-all.firstName.$invalid && opt-out-all.firstName.$dirty) || (opt-out-all.firstName.$invalid && invalidform)}")
//input(type='text', placeholder="Last Name", ng-model='lastname', required, ng-class="{forminvalid: (opt-out-all.lastName.$invalid && opt-out-all.firstName.$dirty) || (opt-out-all.lastName.$invalid && invalidform)}")
//input(type='text', placeholder="Street Address", ng-model='address', required, ng-class="{forminvalid: (opt-out-all.address.$invalid && opt-out-all.address.$dirty) || (opt-out-all.address.$invalid && invalidform)}")
//input(type='text', placeholder="Suite/Office (not required)", ng-model='suite', required, ng-class="{forminvalid: (opt-out-all.suite.$invalid && opt-out-all.suite.$dirty) || (opt-out-all.suite.$invalid && invalidform)}")
//input(type='text', placeholder="City", ng-model='city', required, ng-class="{forminvalid: (opt-out-all.city.$invalid && opt-out-all.city.$dirty) || (opt-out-all.city.$invalid && invalidform)}")
//select(type='text', placeholder="State", ng-model='state', required, ng-class="{forminvalid: (opt-out-all.state.$invalid && opt-out-all.state.$dirty) || (opt-out-all.state.$invalid && invalidform)}")
//+states
//input(type='text', placeholder="Zip", ng-model='zip', required, ng-class="{forminvalid: (opt-out-all.zip.$invalid && opt-out-all.zip.$dirty) || (opt-out-all.zip.$invalid && invalidform)}")
//button(type='button', ng-click="submitAll()").btn.btn--yellow
//| SUBMIT
