---
title: "Unsubscribe"
description: "Find info on binge eating disorder in adults, including diagnostic criteria, distinction from other eating disorders, prevalence, and possible causes."
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    include /mixins/forms.jade


    .gradient

    header.header--unsubscribe
        .wrap--content

    section.section--unsubscribe
        .wrap--content
            .subcontainer

                h1.heading--1 Unsubscribe

                h2.heading--2 To unsubscribe from future communications, please select an option below, fill in the required fields, and click SUBMIT.

                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of future !{BED} e-mail communications
                            .arrow.closed
                    mixin content

                        .formContainer(ng-controller="emailController")
                            form.emailForm(name='optOutEmail', autocomplete='off', novalidate, show-errors='{showSuccess:true}', ng-submit="submitForm()")
                                input(type='email', name="email", placeholder="E-mail", ng-model='user.email', required, ng-class="{forminvalid: (optOutEmail.email.$invalid && optOutEmail.email.$dirty && submitted) || (optOutEmail.email.$invalid && optOutEmail.email.$pristine && submitted)}", ng-keyup="emailController.syncFields(this)").form-control
                                p.help-block.spe(ng-if="submitted && (optOutEmail.email.$error.email || optOutEmail.email.$error.required)")
                                    | Please enter e-mail address
                                button(type="button", ng-click="submitForm()").btn.btn--yellow
                                    | SUBMIT

                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of future !{BED} direct mail communications
                            .arrow.closed
                    mixin content

                        .formContainer(ng-controller="directmailController")
                            form(name='optoutdirectmail', autocomplete='off', novalidate, show-errors='{showSuccess:true}', ng-submit="submitForm()").directMail.form-group
                                input(type='email', name="email", placeholder="E-mail", ng-model='user.email', required, ng-class="{forminvalid: (optoutdirectmail.email.$invalid && optoutdirectmail.email.$dirty && submitted) || (optoutdirectmail.email.$invalid && optoutdirectmail.email.$pristine && submitted)}", ng-keyup="directmailController.syncFields(this)").form-control
                                p.help-block(ng-if="submitted && (optoutdirectmail.email.$error.email || optoutdirectmail.email.$error.required)")
                                    | Please enter a vaild email address
                                input(type='text', name="firstName", placeholder="First Name", ng-model='firstName', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.firstName.$invalid && optoutdirectmail.firstName.$dirty && submitted) || (optoutdirectmail.firstName.$invalid && optoutdirectmail.firstName.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optoutdirectmail.firstName.$error.required")
                                    
                                input(type='text', name="lastName",placeholder="Last Name", ng-model='lastname', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.lastName.$invalid && optoutdirectmail.firstName.$dirty && submitted) || (optoutdirectmail.lastName.$invalid && optoutdirectmail.lastName.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optoutdirectmail.lastName.$error.required")
                                    
                                input(type='text', name="address", placeholder="Street Address", ng-model='address', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.address.$invalid && optoutdirectmail.address.$dirty && submitted) || (optoutdirectmail.address.$invalid && optoutdirectmail.address.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optoutdirectmail.address.$error.required")
                                    
                                input(type='text', name="suite",placeholder="Suite/Office (not required)", ng-model='suite', ng-required="false", ng-class="{forminvalid: (optoutdirectmail.suite.$invalid && optoutdirectmail.suite.$dirty && submitted) || (optoutdirectmail.suite.$invalid && invalidform && submitted)}")
                                input(type='text', name="city",placeholder="City", ng-model='city', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.city.$invalid && optoutdirectmail.city.$dirty && submitted) || (optoutdirectmail.city.$invalid && optoutdirectmail.city.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optoutdirectmail.city.$error.required")
                                    
                                select(type='text', name="state", placeholder="State", ng-model='state', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.state.$invalid && optoutdirectmail.state.$dirty && submitted) || (optoutdirectmail.state.$invalid && optoutdirectmail.state.$pristine && submitted)}")
                                    +states
                                input(type='text', name="zip",placeholder="Zip", ng-model='zip', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.$invalid && optoutdirectmail.zip.$dirty && submitted) || (optoutdirectmail.zip.$invalid && optoutdirectmail.zip.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optoutdirectmail.zip.$error.required")
                                    
                                button(type="submit", ng-click="submitForm()").btn.btn--yellow

                                    | SUBMIT


                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of all future Shire communications
                            .arrow.closed
                    mixin content

                        .formContainer(ng-controller="allmailController")
                            form(name='optinall', autocomplete='off', novalidate, show-errors='{showSuccess:true}', ng-submit="submitForm()").form-group
                                input(type='email', name="email", placeholder="E-mail", ng-model='user.email', required, ng-class="{forminvalid: (optinall.email.$invalid && optinall.email.$dirty && submitted) || (optinall.email.$invalid && optinall.email.$pristine && submitted)}", ng-keyup="allmailController.syncFields(this)").form-control
                                p.help-block(ng-if="submitted && (optinall.email.$error.email || optinall.email.$error.required)")
                                    | Please enter a vaild email address
                                input(type='text', name="firstName", placeholder="First Name", ng-model='firstName', ng-required="true", ng-class="{forminvalid: (optinall.firstName.$invalid && optinall.firstName.$dirty && submitted) || (optinall.firstName.$invalid && optinall.firstName.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optinall.firstName.$error.required")
                                    
                                input(type='text', name="lastName", placeholder="Last Name", ng-model='lastname', ng-required="true", ng-class="{forminvalid: (optinall.lastName.$invalid && optinall.firstName.$dirty && submitted) || (optinall.lastName.$invalid && optinall.lastName.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optinall.lastName.$error.required")
                                    
                                input(type='text', name="address", placeholder="Street Address", ng-model='address', ng-required="true", ng-class="{forminvalid: (optinall.address.$invalid && optinall.address.$dirty && submitted) || (optinall.address.$invalid && optinall.addresss.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optinall.address.$error.required")
                                    
                                input(type='text', name="suite", placeholder="Suite/Office (not required)", ng-model='suite', ng-required="false", ng-class="{forminvalid: (optinall.suite.$invalid && optinall.suite.$dirty && submitted) || (optinall.suite.$invalid && invalidform && submitted)}")
                                input(type='text', name="city", placeholder="City", ng-model='city', ng-required="true", ng-class="{forminvalid: (optinall.city.$invalid && optinall.city.$dirty && submitted) || (optinall.city.$invalid && optinall.city.$pristine && submitted)}")
                                .help-block(ng-if="submitted && optinall.city.$error.required")
                                    
                                select(type='text', name="state", placeholder="State", ng-model='state', ng-required="true", ng-class="{forminvalid: (optinall.state.$invalid && optinall.state.$dirty && submitted) || (optinall.state.$invalid && optinall.state.$pristine && submitted)}")
                                    +states
                                input(type='text', name="zip", placeholder="Zip", ng-model='zip', ng-required="true", ng-class="{forminvalid: (optinall.zip.$invalid && optinall.zip.$dirty && submitted) || (optinall.zip.$invalid && optinall.zip.$pristine && submitted)}")
                                p.help-block(ng-if="submitted && optinall.zip.$error.required")

                                button(type="submit", ng-click="submitForm()").btn.btn--yellow

                                    | SUBMIT

                
                    
    footer.footer--unsubscribe
        .wrap--content

            
