---
title: "Unsubscribe"
description: ""
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    include /mixins/forms.jade


    .gradient

    header.header--unsubscribe
        .wrap--content

    section.section--unsubscribe
        .wrap--content
            .subcontainer

                h1.heading--1 Unsubscribe

                h2.heading--2 To unsubscribe from future communications, please select an option below, fill in the required fields, and click SUBMIT.

                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of future !{BED} e-mail communications
                            .arrow.closed
                    mixin content
                        .formContainer
                            form(name='opt-out-email', autocomplete='off', novalidate, ng-controller="emailController")
                                input(type='email', placeholder="*E-mail", ng-model='email', required)
                                span.errorMsg(ng-show="(opt-out-email.email.$error.required && submitted) || (opt-out-email.$error.email && submitted)")
                                    | Email is invalid
                                button(type="submit", ng-click="submitEmail(opt-out-email)").btn.btn--yellow
                                    | SUBMIT


                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of future !{BED} direct mail communications
                            .arrow.closed
                    mixin content
                        .formContainer
                            form(name='opt-out-direct-mail', ng-submit="optOutDirectMail()", autocomplete='off', novalidate).directMail
                                input(type='email', placeholder="E-mail", ng-model='email', ng-pattern="emailPattern",ng-required="true", ng-class="{forminvalid: (opt-out-direct-mail.email.$invalid && opt-out-direct-mail.email.$dirty) || (opt-out-direct-mail.email.$invalid && invalidform)}")
                                input(type='text', placeholder="First Name", ng-model='firstName', ng-required="true", ng-class="{forminvalid: (opt-out-direct-mail.firstName.$invalid && opt-out-direct-mail.firstName.$dirty) || (opt-out-direct-mail.firstName.$invalid && invalidform)}")
                                input(type='text', placeholder="Last Name", ng-model='lastname', ng-required="true", ng-class="{forminvalid: (opt-out-direct-mail.lastName.$invalid && opt-out-direct-mail.firstName.$dirty) || (opt-out-direct-mail.lastName.$invalid && invalidform)}")
                                input(type='text', placeholder="Street Address", ng-model='address', ng-required="true", ng-class="{forminvalid: (opt-out-direct-mail.address.$invalid && opt-out-direct-mail.address.$dirty) || (opt-out-direct-mail.address.$invalid && invalidform)}")
                                input(type='text', placeholder="Suite/Office (not required)", ng-model='suite', ng-required="false", ng-class="{forminvalid: (opt-out-direct-mail.suite.$invalid && opt-out-direct-mail.suite.$dirty) || (opt-out-direct-mail.suite.$invalid && invalidform)}")
                                input(type='text', placeholder="City", ng-model='city', ng-required="true", ng-class="{forminvalid: (opt-out-direct-mail.city.$invalid && opt-out-direct-mail.city.$dirty) || (opt-out-direct-mail.city.$invalid && invalidform)}")
                                select(type='text', placeholder="State", ng-model='state', ng-required="true", ng-class="{forminvalid: (opt-out-direct-mail.state.$invalid && opt-out-direct-mail.state.$dirty) || (opt-out-direct-mail.state.$invalid && invalidform)}")
                                    +states
                                input(type='text', placeholder="Zip", ng-model='zip', ng-required="true", ng-class="{forminvalid: (opt-out-direct-mail.zip.$invalid && opt-out-direct-mail.zip.$dirty) || (opt-out-direct-mail.zip.$invalid && invalidform)}")

                                button(type='submit').btn.btn--yellow
                                    | SUBMIT


                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of all future Shire communications
                            .arrow.closed
                    mixin content
                        .formContainer
                            form(name='opt-out-all', ng-submit="optOutAllShire()", autocomplete='off', novalidate)
                                input(type='email', placeholder="E-mail", ng-model='email', ng-required="true", ng-class="{forminvalid: (opt-out-all.email.$invalid && opt-out-all.email.$dirty) || (opt-out-all.email.$invalid && invalidform)}")
                                input(type='text', placeholder="First Name", ng-model='firstName', ng-required="true", ng-class="{forminvalid: (opt-out-all.firstName.$invalid && opt-out-all.firstName.$dirty) || (opt-out-all.firstName.$invalid && invalidform)}")
                                input(type='text', placeholder="Last Name", ng-model='lastname', ng-required="true", ng-class="{forminvalid: (opt-out-all.lastName.$invalid && opt-out-all.firstName.$dirty) || (opt-out-all.lastName.$invalid && invalidform)}")
                                input(type='text', placeholder="Street Address", ng-model='address', ng-required="true", ng-class="{forminvalid: (opt-out-all.address.$invalid && opt-out-all.address.$dirty) || (opt-out-all.address.$invalid && invalidform)}")
                                input(type='text', placeholder="Suite/Office (not required)", ng-model='suite', ng-required="false", ng-class="{forminvalid: (opt-out-all.suite.$invalid && opt-out-all.suite.$dirty) || (opt-out-all.suite.$invalid && invalidform)}")
                                input(type='text', placeholder="City", ng-model='city', ng-required="true", ng-class="{forminvalid: (opt-out-all.city.$invalid && opt-out-all.city.$dirty) || (opt-out-all.city.$invalid && invalidform)}")
                                select(type='text', placeholder="State", ng-model='state', ng-required="true", ng-class="{forminvalid: (opt-out-all.state.$invalid && opt-out-all.state.$dirty) || (opt-out-all.state.$invalid && invalidform)}")
                                    +states
                                input(type='text', placeholder="Zip", ng-model='zip', ng-required="true", ng-class="{forminvalid: (opt-out-all.zip.$invalid && opt-out-all.zip.$dirty) || (opt-out-all.zip.$invalid && invalidform)}")

                                button(type='submit').btn.btn--yellow
                                    | SUBMIT

                //- .box(ng-click="openBox(3)")
                    .text I would like to opt out of all future Shire communications
                    .arrow.closed
                    .formContainer.ng-hide
                        | hello sir. my name is form 3


    footer.footer--unsubscribe
        .wrap--content
