---
title: "Unsubscribe"
description: "Find info on binge eating disorder in adults, including diagnostic criteria, distinction from other eating disorders, prevalence, and possible causes."
keywords: ""
---

extends /layouts/base.jade

//- append analytics
    :raw

block content

    include /mixins/forms.jade


    .gradient

    header.header--unsubscribe
        .wrap--content

    section.section--unsubscribe
        .wrap--content
            .subcontainer

                h1.heading--1 Unsubscribe

                h2.heading--2 To unsubscribe from future communications, please select an option below, fill in the required fields, and click SUBMIT.
                
                ul.contactinfo
                    li For all other opt-out inquiries, please send your request to:
                    li Shire Marketing Services — Opt outs
                    li 725 Chesterbrook Blvd
                    li Wayne, PA 19087
                    li 
                    | Shire US Inc. will not sell or provide your e-mail information to other parties without your permission. This information will not be used for any purpose other than what is explained in our Privacy Policy Statement. We encourage you to read our Privacy Policy Statement by clicking on this link: 
                    a(href="http://www.vyvansepro.com/privacy-policy/default.aspx") Review Shire Privacy Policy Statement. 
                    | &nbspThis consent will be in effect until such time as you opt out of the program.

                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of future !{BED} e-mail communications
                            .arrow.closed
                    mixin content

                        .formContainer(ng-controller="emailController")
                            form.emailForm(name='optOutEmail', autocomplete='off', novalidate, show-errors='{showSuccess:true}', ng-submit="submitForm()")
                                input(type='email', id="Email", name="email", placeholder="E-mail", ng-model='optOutEmail.Email', required, ng-class="{forminvalid: (optOutEmail.email.$invalid && optOutEmail.email.$dirty && submitted) || (optOutEmail.email.$invalid && optOutEmail.email.$pristine && submitted)}", ng-blur="syncFields($event)").form-control
                                p.help-block.spe(ng-if="submitted && (optOutEmail.email.$error.email || optOutEmail.email.$error.required)")
                                    | Please enter e-mail address
                                button(type="button", ng-click="submitForm(); optOutEmailForm()").btn.btn--yellow
                                    | SUBMIT

                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of future !{BED} direct mail communications
                            .arrow.closed
                    mixin content

                        .formContainer(ng-controller="directmailController")
                            form(name='optoutdirectmail', autocomplete='off', novalidate, show-errors='{showSuccess:true}', ng-submit="submitForm()").directMail.form-group
                                input(type='email', id="Email" name="email", placeholder="E-mail", ng-model='optoutdirectmail.Email', required, ng-class="{forminvalid: (optoutdirectmail.email.$invalid && optoutdirectmail.email.$dirty && submitted) || (optoutdirectmail.email.$invalid && optoutdirectmail.email.$pristine && submitted)}", ng-blur="syncFields($event)").form-control
                                p.help-block(ng-if="submitted && (optoutdirectmail.email.$error.email || optoutdirectmail.email.$error.required)")
                                    | Please enter a vaild email address
                                input(type='text', id="FName" name="firstName", placeholder="First Name", ng-model='optoutdirectmail.FName', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.firstName.$invalid && optoutdirectmail.firstName.$dirty && submitted) || (optoutdirectmail.firstName.$invalid && optoutdirectmail.firstName.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optoutdirectmail.firstName.$error.required")
                                    
                                input(type='text', id="LName", name="lastName",placeholder="Last Name", ng-model='optoutdirectmail.LName', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.lastName.$invalid && optoutdirectmail.firstName.$dirty && submitted) || (optoutdirectmail.lastName.$invalid && optoutdirectmail.lastName.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optoutdirectmail.lastName.$error.required")
                                    
                                input(type='text', id="Address1", name="address", placeholder="Street Address", ng-model='optoutdirectmail.Address1', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.address.$invalid && optoutdirectmail.address.$dirty && submitted) || (optoutdirectmail.address.$invalid && optoutdirectmail.address.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optoutdirectmail.address.$error.required")
                                    
                                input(type='text', id="Address2" name="suite",placeholder="Suite/Office (not required)", ng-model='optoutdirectmail.Address2', ng-required="false", ng-class="{forminvalid: (optoutdirectmail.suite.$invalid && optoutdirectmail.suite.$dirty && submitted) || (optoutdirectmail.suite.$invalid && invalidform && submitted)}", ng-blur="syncFields($event)")
                                input(type='text', id="City", name="city",placeholder="City", ng-model='optoutdirectmail.City', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.city.$invalid && optoutdirectmail.city.$dirty && submitted) || (optoutdirectmail.city.$invalid && optoutdirectmail.city.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optoutdirectmail.city.$error.required")
                                    
                                select(type='text', id="State", name="state", placeholder="State", ng-model='optoutdirectmail.State', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.state.$invalid && optoutdirectmail.state.$dirty && submitted) || (optoutdirectmail.state.$invalid && optoutdirectmail.state.$pristine && submitted)}", ng-blur="syncFields($event)")
                                    +states
                                input(type='text',id="Zip", name="zip",placeholder="Zip", pattern="[0-9]*" maxlength="5", ng-model='optoutdirectmail.Zip', ng-required="true", ng-class="{forminvalid: (optoutdirectmail.$invalid && optoutdirectmail.zip.$dirty && submitted) || (optoutdirectmail.zip.$invalid && optoutdirectmail.zip.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optoutdirectmail.zip.$error.required")
                                    
                                button(type="submit", ng-click="submitForm(); optoutdirectmailForm()").btn.btn--yellow

                                    | SUBMIT


                +accordion(undefined,true)
                    mixin header
                        .accordion-title
                            | I would like to opt out of all future Shire communications
                            .arrow.closed
                    mixin content

                        .formContainer(ng-controller="allmailController")
                            form(name='optinall', autocomplete='off', novalidate, show-errors='{showSuccess:true}', ng-submit="submitForm()").form-group
                                input(type='email', id="Email", name="email", placeholder="E-mail", ng-model='optinall.Email', required, ng-class="{forminvalid: (optinall.email.$invalid && optinall.email.$dirty && submitted) || (optinall.email.$invalid && optinall.email.$pristine && submitted)}", ng-blur="syncFields($event)").form-control
                                p.help-block(ng-if="submitted && (optinall.email.$error.email || optinall.email.$error.required)")
                                    | Please enter a vaild email address
                                input(type='text', id="FName", name="firstName", placeholder="First Name", ng-model='optinall.FName', ng-required="true", ng-class="{forminvalid: (optinall.firstName.$invalid && optinall.firstName.$dirty && submitted) || (optinall.firstName.$invalid && optinall.firstName.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optinall.firstName.$error.required")
                                    
                                input(type='text', id="LName", name="lastName", placeholder="Last Name", ng-model='optinall.LName', ng-required="true", ng-class="{forminvalid: (optinall.lastName.$invalid && optinall.firstName.$dirty && submitted) || (optinall.lastName.$invalid && optinall.lastName.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optinall.lastName.$error.required")
                                    
                                input(type='text', id="Address1", name="address", placeholder="Street Address", ng-model='optinall.Address1', ng-required="true", ng-class="{forminvalid: (optinall.address.$invalid && optinall.address.$dirty && submitted) || (optinall.address.$invalid && optinall.addresss.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optinall.address.$error.required")
                                    
                                input(type='text', id="Address2", name="suite", placeholder="Suite/Office (not required)", ng-model='optinall.Address2', ng-required="false", ng-class="{forminvalid: (optinall.suite.$invalid && optinall.suite.$dirty && submitted) || (optinall.suite.$invalid && invalidform && submitted)}", ng-blur="syncFields($event)")
                                input(type='text', id="City", name="city", placeholder="City", ng-model='optinall.City', ng-required="true", ng-class="{forminvalid: (optinall.city.$invalid && optinall.city.$dirty && submitted) || (optinall.city.$invalid && optinall.city.$pristine && submitted)}", ng-blur="syncFields($event)")
                                .help-block(ng-if="submitted && optinall.city.$error.required")
                                    
                                select(type='text', id="State", name="state", placeholder="State", ng-model='optinall.State', ng-required="true", ng-class="{forminvalid: (optinall.state.$invalid && optinall.state.$dirty && submitted) || (optinall.state.$invalid && optinall.state.$pristine && submitted)}", ng-blur="syncFields($event)")
                                    +states
                                input(type='text', id="Zip", name="zip", placeholder="Zip", ng-model='optinall.Zip', pattern="[0-9]*" maxlength="5", ng-required="true", ng-class="{forminvalid: (optinall.zip.$invalid && optinall.zip.$dirty && submitted) || (optinall.zip.$invalid && optinall.zip.$pristine && submitted)}", ng-blur="syncFields($event)")
                                p.help-block(ng-if="submitted && optinall.zip.$error.required")

                                button(type="submit", ng-click="submitForm(); optinallForm()").btn.btn--yellow

                                    | SUBMIT
                
                //ul.contactinfo
                //    li For all other opt-out inquiries, please send your request to:
                //    li Shire Marketing Services — Opt outs
                //    li 725 Chesterbrook Blvd
                //    li Wayne, PA 19087
                //    li
                //    | Shire US Inc. will not sell or provide your e-mail information to other parties without your permission. This information will not be used for any purpose other than what is explained in our Privacy Policy Statement. We encourage you to read our Privacy Policy Statement by clicking on this link:
                //    a(href="http://www.vyvansepro.com/privacy-policy/default.aspx") Review Shire Privacy Policy Statement.
                //    | &nbspThis consent will be in effect until such time as you opt out of the program.



    footer.footer--unsubscribe
        .wrap--content

            
