footer.footer--global

    .wrap--content.full--sm

        nav.bottom-bump
            ul
                li
                    if dev
                        +a-active(href="/hcp/unsubscribe.aspx")
                            | Unsubscribe
                    else
                        +a-active(href="/hcp/unsubscribe/index.aspx")
                            | Unsubscribe
                li
                    +a-active(href="/hcp/contact-us.aspx")
                        | Contact Us
                li
                    +a-active(href="/hcp/privacy-policy.aspx")
                        | Privacy Policy
                li
                    a(href="http://www.shire.com/", target="_blank").
                        Shire US

    .wrap--content.last

        p.
            #[em DSM-IV]#[sup &reg;], #[em DSM-IV-Text Revision]#[sup &reg;], and #[em !{DSM5}] are registered trademarks of the American Psychiatric Association.

        p.bottom-bump
            a(href="http://www.shire.com/", target="_blank")
                +picture-retina("shire-logo.png", "Shire")

        p.legal
            span.line
                | &copy;2015 #[a(href="http://www.shire.com/", target="_blank") Shire US Inc.], [Waltham, MA 02451]&nbsp;&nbsp;&nbsp;&nbsp;
            span.line
                | 1&ndash;800&ndash;828&ndash;2088&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            span.line
                | All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            span.line
                | S05144&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08/15

        p.
            Unless otherwise noted, all content of this website, including text, images, graphics, sound files, and their arrangement, belongs to Shire and is protected by international copyright laws. All other intellectual property rights are reserved.  The content may not be copied for commercial use or distribution, nor may these objects be downloaded, modified, or posted to other sites.

        p.
            This site is intended solely for US residents and is governed solely by US laws and government regulations. Please see our #[a(href="/hcp/privacy-policy.aspx") privacy policy] for more information. While Shire US Inc. makes reasonable efforts to include accurate, up&ndash;to&ndash;date information on the site, Shire US Inc. makes no warranties or representations as to its accuracy. Shire US Inc. assumes no liability for any errors or omissions in the content of the site.
