.bar {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    font-family: font("gill sans", "roman");
    // padding: 10px 0;
    // margin-bottom: 50px;
    @include mq("mobile") {
        height: 93px;
        line-height: 93px;
        margin-bottom: 93px;
    }

    &.bar--title {
        color: #ffffff;
        font-size: 19px;
        // display: none;
        @include mq("mobile") {
            font-size: 30px;
        }

        @include mq("desktop") {
            padding-top: 5px;
        }
    }
    &.bar--next {
        // triangle
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            border-top: 16px solid transparent;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -20px;
            @include mq("mobile") {
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid transparent;
                top: -1px;
            }
        }
        // &.highlight {
        //     background: #fec451 !important;
        // }
   
    }
}
