.button {
    font-size: 21px;
    background: #333e48;
    text-align: center;
    padding: 4px 0;
    color: #febd3f;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
