.slideout--dsm5 {
    .slideout__inner {
        padding: 30px 23px;
        @include mq("desktop") {
            width: 300px;
        }

        @include mq("mobile") {
            width: 560px;
        }
    }
    h2 {
        color: #333e48;
        border-bottom: 1px solid #ffffff;
        @include mq("desktop") {
            font-size: 21px;
            line-height: 28px;
            padding: 10px 0 5px 0;
            margin-bottom: 10px;
        }

        @include mq("mobile") {
            font-size: 58px;
            line-height: 60px;
            padding-bottom: 30px;
            margin-bottom: 25px;
        }
    }
    p, li {
        color: #333e48;
        @include mq("desktop") {
            font-size: 15px;
            line-height: 17px;
        }

        @include mq("mobile") {
            font-size: 32px;
        }
    }
    p {
        padding-bottom: 15px;
    }
    ul.bullet {
        padding-bottom: 0;
    }
    ul.bullet > li:before {
        color: #333e48;
    }
    a.pdf-link {
        @include mq("mobile") {
            margin-left: 0;
        }
    }
    .smaller {
        @include mq("desktop") {
            font-size: 13px !important;
            line-height: 16px !important;
        }
    }
    .footnote {
        color: #333e48;
        margin-bottom: 15px;
        
        @include mq('desktop') {
            font-size: 15px;
            line-height: 17px;    
        }
        @include mq('mobile') {
            font-size: 32px;
            line-height: 40px;
        }
    }
    .signup {
        margin: 0 auto;
        line-height: 25px;
        clear: both;
        font-family: font("gill sans", "regular");
        cursor: pointer;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.4);
        -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.4);
        box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.4);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: 100%;
        &:hover {
            position: relative;
            top: 1px;
            -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.4);
            -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.4);
            box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.4);
        }
        @include mq("desktop") {
            font-size: 18px;
            line-height: 22px;
            //width: 470px;
            padding: 10px 20px;
        }

        @include mq("mobile") {
            font-size: 28px;
            line-height: 32px;
            padding: 12px 20px;
            //width: 460px;
        }
    }
}
