.slideout--dsm5 {
    .slideout__inner {
        padding: 30px 23px;
        @include mq("desktop") {
            width: 300px;
        }

        @include mq("mobile") {
            width: 560px;
        }
    }
    h2 {
        color: #333e48;
        border-bottom: 1px solid #ffffff;
        @include mq("desktop") {
            font-size: 21px;
            line-height: 28px;
            padding: 10px 0 5px 0;
            margin-bottom: 10px;
        }

        @include mq("mobile") {
            font-size: 58px;
            line-height: 60px;
            padding-bottom: 30px;
            margin-bottom: 25px;
        }
    }
    p, li {
        color: #333e48;
        @include mq("desktop") {
            font-size: 15px;
            line-height: 17px;
        }

        @include mq("mobile") {
            font-size: 32px;
        }
    }
    ul.bullet > li:before {
        color: #333e48;
    }
    a.pdf-link {
        @include mq("mobile") {
            margin-left: 0;
        }
    }
}
