
ul.bullet {
    display: block;

    @include mq("lg") {
        padding-left: 15px;
        // margin-left: -15px;
    }

    @include mq("sm") {
        padding-left: 10px;
        // margin-left: -10px;
    }

    > li {
        display: block;
    }

    > li:before {
        content: '\2022';
        width: 0;
        overflow: visible;
        float: left;
        font-size: 0.8em;

        @include mq("lg") {
            margin: 0 5px 0 -15px;
        }

        @include mq("md") {
            margin: 0 5px 0 -15px;
        }

        @include mq("sm") {
            margin: 0 2px 0 -10px;
        }
    }
}

ul.square {
    display: block;

    margin: 10px 0;

    > li {
        display: block;
        padding: 2px 0 2px 20px;
        text-indent: -10px;
    }

    &.line > li {
        padding: 10px 0 10px 20px;
        border-bottom: 1px solid #5C656D;
    }

    > li:before {
        content: '\25A0';
        font-size: 1.5em;
        @include inline-block;
        padding-right: 8px;
        color: $active-yellow;
        @include mq('lg') {
            top: 0.07em;
        }
        @include mq('sm') {
            font-size: 0.8em;
        }
    }
}

ul.dash {
    display: block;

    @include mq("lg") {
        padding-left: 15px;
        // margin-left: -15px;
    }

    @include mq("md") {
        padding-left: 15px;
        // margin-left: -15px;
    }

    @include mq("sm") {
        padding-left: 10px;
        // margin-left: -10px;
    }

    > li {
        display: block;
    }
    > li:before {
        content: '\2013';
        width: 0;
        overflow: visible;
        float: left;
        font-size: 0.8em;

        @include mq("lg") {
            margin: 0 5px 0 -15px;
        }
        @include mq("md") {
            margin: 0 5px 0 -15px;
        }
        @include mq("sm") {
            margin: 0 2px 0 -10px;
        }
    }
    &.dash--m {
        @include mq("lg") {
            padding-left: 20px;
            margin-left: -20px;
        }
        @include mq("md") {
            padding-left: 20px;
            margin-left: -20px;
        }
        @include mq("sm") {
            padding-left: 15px;
            margin-left: -15px;
        }

        > li:before {
            content: '\2014';

            @include mq("lg") {
                margin-left: -20px;
            }
            @include mq("md") {
                margin-left: -20px;
            }
            @include mq("sm") {
                margin-left: -15px;
            }
        }
    }
}

ol.letter {
    display: block;
    counter-reset: lettered;

    @include mq("lg") {
        padding-left: 15px;
        // margin-left: -15px;
    }
    @include mq("md") {
        padding-left: 15px;
        // margin-left: -15px;
    }
    @include mq("sm") {
        padding-left: 0;
    }

    > li {
        position: relative;
        display: block;
        counter-increment: lettered;
    }
    > li:before {
        content: counter(lettered, lower-alpha);
        margin: 0 5px 0 -15px;
        width: 0;
        overflow: visible;
        float: left;

        @include mq("sm") {
            margin: 0;
            width: auto;
            float: none;
        }
    }
}

ol.number {
    display: block;
    counter-reset: numbered;

    @include mq("lg") {
        padding-left: 20px;
        margin-left: -15px;
    }
    @include mq("md") {
        padding-left: 20px;
        margin-left: -15px;
    }
    @include mq("sm") {
        padding-left: 20px;
        // margin-left: -15px;
    }

    > li {
        display: block;
        counter-increment: numbered;
    }
    > li:before {
        content: counter(numbered, decimal) ".";
        width: 0;
        overflow: visible;
        float: left;

        @include mq("lg") {
            margin: 0 5px 0 -20px;
        }
        @include mq("md") {
            margin: 0 5px 0 -20px;
        }
        @include mq("sm") {
            margin: 0 5px 0 -20px;
        }
    }
}

ul.boxed {

    > li {
        border: 2px solid #5C656D;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 22px;

        & + li {

            &:before {
                content: '';
                position: absolute;
                top: -16px;
                left: 50%;
                margin-left: -4px;
                width: 8px;
                height: 8px;
                background: #FDBD3E;
                border-radius: 50%;
            }
        }
    }
}

ol.refs {

    li a{
        font-size: 14px;
        text-decoration: underline;
    }

    @include mq("lg") {
        width: 675px;
        // margin: 0 auto;
        text-align: left;

        li.space{
            line-height: 20px;
        }

    }
    @include mq("md") {
        
    }
    @include mq("sm") {
        
    }
}
