.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z("modal");
    @include rgba-background(rgba(0, 0, 0, 0.6));
    display: none;
    &._is_open {
        display: block;
    }
    .modal__outer {
        display: table-cell;
        vertical-align: middle;
    }
    .modal__close {
        position: absolute;
        height: 28px;
        width: 28px;
        top: -14px;
        right: -14px;
        background-image: url("#{$img-path}/close.png");
        cursor: pointer;
    }
    .modal__inner {
        padding: 20px;
        margin: 0 auto;
        border-radius: 15px;
        background-color: #fff;
        color: #333e48;
        box-shadow: 0 6px 17px 3px rgba(0, 0, 0, 0.5);
        width: 760px;
        max-height: 80%;
        @include mq("mobile") {
            width: 560px;
        }

        h3 {
            color: #333e48;
            font-family: font("gill sans", "regular");
            text-align: center;
            padding-bottom: 20px;
            @include mq("desktop") {
                font-size: 33px;
                line-height: 36px;
            }

            @include mq("mobile") {
                font-size: 51px;
                line-height: 54px;
                letter-spacing: -0.025em;
            }
        }
        p {
            text-align: center;
            padding-bottom: 20px;
            @include mq("desktop") {
                font-size: 18px;
                line-height: 21px;
            }

            @include mq("mobile") {
                font-size: 25px;
                line-height: 28px;
            }
        }
        .controls {
            text-align: center;
        }
        .button {
            text-transform: uppercase;
            display: inline-block;
            @include mq("desktop") {
                font-size: 18px;
                line-height: 30px;
                height: 30px;
                margin: 0 10px;
                padding: 0 10px;
            }

            @include mq("mobile") {
                font-size: 33px;
                line-height: 64px;
                height: 64px;
                margin: 0 10px;
                padding: 0 20px;
            }
        }
    }
}

.modal--video {
    .modal__inner {
        h3 {
            text-align: left;
            color: #8c8f91;
        }
        .fpo {
            width: 90%;
            margin: 0 auto;
            height: 320px;
            background-color: gray;
            margin-bottom: 20px;
            text-align: center;
            line-height: 320px;
            font-size: 120px;
            color: black;
        }
    }
}
.modal--signup {
    .modal__inner {
        padding: 20px 55px;
    }
}

.modal--interstitial {
    .modal__inner {
        padding: 20px 55px;
    }
}
