.page-nav {
    .slideout__inner {
        width: 320px;
        @include mq("mobile") {
            width: 580px;
        }
        background: #bbbec0;
        .primary-nav {
            .primary-nav__item {
                height: 36px;
                line-height: 36px;
                font-size: 19px;
                border-bottom: 1px solid #c3c6c7;
                letter-spacing: 0.02em;
                padding-bottom: 0;
                &._2_liner {
                    height: 60px;
                    line-height: 20px;
                    a {
                        padding: 10px 60px 10px 20px;
                    }
                }
                @include mq("mobile") {
                    height: 90px;
                    font-size: 37px;
                    line-height: 90px;
                    &._2_liner {
                        height: 145px;
                        line-height: 45px;
                        a {
                            padding: 30px 120px 30px 40px;
                        }
                    }
                    &.active,
                    &.highlight {
                        background: #fec451;
                        box-shadow: 1px 2px 2px rgba(33, 30, 31, 0.25);
                    }
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: #333e48;
                    height: 100%;
                    padding: 0 60px 0 20px;
                    white-space: nowrap;
                    @include mq("mobile") {
                        padding: 0 120px 0 40px;
                    }

                    &.active,
                    &.highlight {
                        background: #fec451;
                        box-shadow: 1px 2px 2px rgba(33, 30, 31, 0.25);
                    }
                }
            }
        }
    }
}
