.section {
    // box-shadow: 0 -6px 17px 3px rgba(0,0,0,.3);
    // padding-bottom: 26px;
    // + .section {
    //   margin-top: -26px;
    // }
    overflow: hidden;
    .content-wrap {
        padding-top: 30px;
        padding-bottom: 45px;
        @include clearfix;
        @include mq("mobile") {
            padding-top: 15px;
            padding-bottom: 40px;
        }
    }
}
