.slideout {
    position: fixed;
    top: 0;
    height: 100%;
    display: none;
    overflow: hidden;
    @include rgba-background(rgba(0, 0, 0, 0.5));
    z-index: z("slideout");

    .slideout__inner {
        position: absolute;
        top: 50px;
        bottom: 0;
        background: #e1e3e4;
        overflow-y: auto;

        @include mq("mobile") {
            top: 93px;
        }
        .eq-ie9 & form {
            width: auto;

            input {
                width: 100%;
            }
        }
    }
    &[data-direction="left"] .slideout__inner {
        left: 0;
    }
    &[data-direction="right"] .slideout__inner {
        right: 0;
    }

    .small-footnote {
        font-size: 13px;
        line-height: 15px;
    }
}
