// Items defined in the style guide should be added here

@mixin helvetica-neue {

  font-family: font('helvetica neue', 'roman');

  strong, b {
    font-family: font('helvetica neue', 'bold');

    em, i {
      font-family: font('helvetica neue', 'bold italic');
    }
  }
  em, i {
    font-family: font('helvetica neue', 'italic');

    strong, b {
      font-family: font('helvetica neue', 'bold italic');
    }
  }

}

@mixin gill-sans {
  
  font-family: font('gill sans', 'roman');

  strong, b {
    font-family: font('gill sans', 'bold');

    em, i {
      font-family: font('gill sans', 'bold italic');
    }
  }
  em, i {
    font-family: font('gill sans', 'italic');

    strong, b {
      font-family: font('gill sans', 'bold italic');
    }
  }
}