
// ---------- Project Resets ----------

*, *:before, *:after {
  position: relative;
  // overflow: auto;
  box-sizing: border-box;
  // Disables Android's font boosting
  max-height: 1000000px;
  // Disables Android's Auto-Fit Pages
  background: url('');
  // Disables Tap Highlight Color
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

sub, sup {
  font-size: 0.6em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  .eq-ie & {
    top: -0.8em;
  }
}

sub {
  bottom: -0.25em;
}

.nobr,
nobr {
  white-space:nowrap;
}

.eq-ie9 * {
  filter: none !important;
}

.hide {
  display: none !important;
}

.hide--small {
  @include mq('small') {
    display: none !important;
  }
}

.hide--medium {
  @include mq('medium') {
    display: none !important;
  }
}

.hide--large {
  @include mq('large') {
    display: none !important;
  }
}

hr {
  margin: 0 auto;
  height: 1px;
  border: 0;
  @include rgba-background(rgba(255,255,255,0.4));
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  background-color: #393e47;
  overflow-y: scroll;
}

.page-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 1024px;
  box-shadow: 0px 5px 10px lighten(#000000, 20%);

  @include mq('small') {
    width: 640px;
  }
}

.content-wrap {
  margin: 0 auto;
  width: 960px;
  height: 100%;

  @include mq('small') {
    width: 600px;
  }
}

ul.bullet {
  display: block;
  padding-left: 10px;

  @include mq('small') {
    padding-left: 20px;
  }

  > li {
    position: relative;
    display: block;

    &:before {
      content: '•';
      margin:0 5px 0 -10px; 
      width: 0;
      overflow: visible;
      float: left;  
      font-size: 0.8em;
      color: #febd3f;

      @include mq('small') {
        margin: 0 5px 0 -20px;
      }
    }
  }
}

ul.dash {
  display: block;
  padding-left: 10px;

  @include mq('small') {
    padding-left: 20px;
  }

  > li {  
    position: relative;
    display: block;

    &:before {
      content: '–';
      margin:0 5px 0 -10px;
      width: 0;
      overflow: visible;
      float: left;
      font-size: 0.8em;
      color: #febd3f;

      @include mq('small') {
        margin: 0 5px 0 -20px;
      }
    }
  } 
}

ol.letter {
  display: block;
  padding-left: 15px;
  counter-reset: lettered;

  @include mq('small') {
    padding-left: 0;
  }

  > li {
    position: relative;
    display: block;
    counter-increment: lettered;

    &:before {
      content: counter(lettered, lower-alpha);
      margin:0 5px 0 -15px;
      width: 0;
      overflow: visible;
      float: left;

      @include mq('small') {
        margin: 0;
        width: auto;
        float: none;
      }
    }
  }
}

ol.number {
  display: block;
  padding-left: 15px;
  counter-reset: numbered;

  @include mq('small') {
    padding-left: 35px;    
  }

  > li {
    position: relative;
    display: block;
    counter-increment: numbered;

    &:before {
      content: counter(numbered, decimal) '.';
      margin:0 5px 0 -15px;
      width: 0;
      overflow: visible;
      float: left;

      @include mq('small') {
        margin-left: -35px;
      }
    }
  }
}

// ---------- Brand Styling ----------


body {
  color: #ffffff;
  font-family: font('helvetica neue', 'roman');
  // TODO: add desktop font-size/line-height

  strong, b {
    font-family: font('helvetica neue', 'bold');

    em, i {
      font-family: font('helvetica neue', 'bold italic');
    }
  }
  em, i {
    font-family: font('helvetica neue', 'italic');

    strong, b {
      font-family: font('helvetica neue', 'bold italic');
    }
  }

  @include mq('small') {
    font-size: 32px;
    line-height: 40px;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: #febd3f;  
  font-family: font('gill sans', 'roman');
  // TODO: add desktop font-size/line-height

  &.white {
    color: #ffffff;
  }

  strong, b {
    font-family: font('gill sans', 'bold');

    em, i {
      font-family: font('gill sans', 'bold italic');
    }
  }
  em, i {
    font-family: font('gill sans', 'italic');

    strong, b {
      font-family: font('gill sans', 'bold italic');
    }
  }
}

h1 {
  // TODO: add desktop font-size/line-height

  @include mq('small') {
    // TODO: add mobile font-size/line-height
    font-size: 59px;
    line-height: 63px;
  }
}

h2 {
  // TODO: add desktop font-size/line-height
  padding-top: 30px;
  padding-bottom: 35px;
  
  @include mq('small') {
    font-size: 56px;
    line-height: 60px;
    padding-top: 15px;
    padding-bottom: 40px;
  }
}

h3 {
  // TODO: add desktop font-size/line-height
  padding-bottom: 10px;

  @include mq('small') {
    // TODO: add mobile font-size/line-height
    font-size: 34px;
    line-height: 40px;
    padding-bottom: 5px;
  }
}

.sub-head {
  font-family: font('helvetica neue', 'roman');
  // TODO: add desktop font-size/line-height
  padding-bottom: 35px;

  @include mq('small') {
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 40px;
  }
}

ul,
ol {
  padding-bottom: 20px;

  @include mq('small') {
    padding-bottom: 20px;
  }

  ul, ol {
    padding-top: 10px;
    padding-bottom: 0;    
  }
}

p {
  padding-bottom: 20px;

  @include mq('small') {
    padding-bottom: 20px;
  }
}

li {
  padding-bottom: 10px;

  @include mq('small') {
    padding-bottom: 10px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.chart-head {
  color: #fefefe;
  font-family: font('gill sans', 'roman');
  // TODO: add desktop font-size/line-height

  @include mq('small') {
    font-size: 34px;
    line-height: 40px;
  }
}

// DEV
html::-webkit-scrollbar {
  width: 0 !important;
}

.fpo {
  height: 500px;
}