// place variables that are needed by both the system utils and the project here


// ---------- Bourbon ----------

// Turn off prefixes, autoprefixer does this for me.
$prefix-for-webkit      : false;
$prefix-for-mozilla     : false;
$prefix-for-microsoft   : false;
$prefix-for-opera       : false;
$prefix-for-spec        : false;


// ---------- Compass ----------

// $legacy-support-for-ie  : true;
// $legacy-support-for-ie6 : true;
// $legacy-support-for-ie7 : true;
// $legacy-support-for-ie8 : true;

// http://beta.compass-style.org/reference/compass/support/
// http://beta.compass-style.org/help/documentation/tuning-vendor-prefixes/
// http://atendesigngroup.com/blog/new-browser-support-features-compass-1x

$graceful-usage-threshold : 0.1;
$critical-usage-threshold : 0.136798;
$debug-browser-support    : false;
$browser-minimum-versions: (
  'ie': '8'
);

// compass-borderbox variables
$global-border-box : true;


// ---------- Z Indexes ----------

$z-layers: (
  'page': (
    'header' : 3,
    'nav'    : 4
  ),
  'mask': (
    'nav' : 2
  ),
  'default'        : 1,
  'below'          : -1,
  'bottomless-pit' : -9000
);

// ---------- Media Queries ----------

$media-queries: (
  'small'  : 'only screen and (max-width: 40em)',
  'medium' : 'only screen and (min-width: 40.063em) and (max-width: 64em)',
  'large'  : 'only screen and (min-width: 64.063em)'
);

$font-names: (
  'helvetica neue': (
    'light': 'HelveticaNeueW01-45Ligh',
    'light italic': 'HelveticaNeueW01-46Ligh',
    'roman': 'HelveticaNeueW01-55Roma',
    'regular': 'HelveticaNeueW01-55Roma',
    'italic': 'HelveticaNeueW01-56It',
    'bold': 'HelveticaNeueW01-75Bold',
    'bold italic': 'HelveticaNeueW01-76Bold'

  ),
  'gill sans': (
    'light': 'Gill Sans W01 Light',
    'light italic': 'GillSansW01-LightItalic',
    'regular': 'Gill Sans W01 Medium',
    'roman': 'Gill Sans W01 Medium',
    'italic': 'GillSansW01-MediumItali',
    'bold': 'Gill Sans W01 Bold',
    'bold italic': 'GillSansW01-BoldItalic'
  )
);

$font-fallback: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;


$scale: 960/1024;