.section--resources {

    // audio section
    .audio {
        background-image: radial-gradient(50% 50%, #333E48 50%, #21282F 100%);
        padding: 40px 58px;

        #one-patients-story {
            top: -75px;
        }

        h2 {
            @include mq('desktop') {
                padding-bottom: 50px;
            }

            @include mq('mobile') {
                padding-bottom: 60px;
                text-align: center;
            }
        }

        @include mq('desktop') {
            height: 530px;
        }

        .scroll-point {
            margin: 0;
        }
    }

    .sunny-icon {

        @include mq('desktop') {
            display: none;
        }
    
        @include mq('mobile') {
            width: 153px;
            height: 152px;
            background-image: url(#{$img-path}/audio-sunny-icon.png);
            background-size: 153px 152px;
            margin: 0 auto 25px auto;
        }
    }

    .audio-bg {

        @include mq('desktop') {
            background-image: url("#{$img-path}/audio-bg.png");
            background-size: 359px 500px;
            width: 359px;
            height: 500px;
            position: absolute;
            right: 20px;
            bottom: 0;
            z-index: 0;
        }
        @include mq('mobile') {
            display: none;
        }
    }

    .quote-block {
        margin: 0 0 27px 27px;
        
        @include mq('desktop') {
            width: 566px;
        }

        .quote {
            color: #C2CBD0;
            font-family: font('gill sans', 'light italic');

            @include mq('desktop') {
                font-size: 22px;
                line-height: 26px;

                .quotation-mark {
                    width: 20px;
                    height: 14px;
                    vertical-align: top;
                    background-size: 20px 14px;
                }
                .quote-open {
                    position: absolute;
                    left: -26px;
                    background-image: url("#{$img-path}/quote-open.png");
                }
                
                .quote-close {
                    display: inline-block;
                    background-image: url("#{$img-path}/quote-close.png");
                    margin-left: 5px;
                }
            }
            @include mq('mobile') {
                font-size: 44px;
                line-height: 53px;
                text-align: center;
                padding-bottom: 35px;

                .quotation-mark {
                    width: 38px;
                    height: 27px;
                    vertical-align: top;
                    background-size: 38px 27px;
                }
                .quote-open {
                    position: absolute;
                    left: -13px;
                    background-image: url("#{$img-path}/quote-open-mobile.png");
                }
                
                .quote-close {
                    display: inline-block;
                    background-image: url("#{$img-path}/quote-close-mobile.png");
                    margin-left: 15px;
                }
            }


        }

        .play-button {
            cursor: pointer;

            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
                background-image: url("#{$img-path}/play-button.png");
                background-size: 27px 26px;
                width: 27px;
                height: 26px;
                margin-right: 7px;

                &:hover {
                    background-image: url("#{$img-path}/play-button-hover.png");
                }

            }
            @include mq('mobile') {
                display: none;
            }
        }

        .listen {
            color: #FFBE2C;

            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
                font-size: 18px;
                line-height: 26px;
                margin-right: 16px;
            }
            @include mq('mobile') {
                font-size: 36px;
                line-height: 43px;
                padding-bottom: 41px;
            }
        }

        .audio-player {

            // temporary until audio is embedded
            background-image: url("#{$img-path}/audio-player-placeholder.png");
            
            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
                background-size: 229px 31px;
                width: 229px;
                height: 31px;
            }

            @include mq('mobile') {
                width: 509px;
                height: 60px;
                background-size: 509px 60px;
                margin-bottom: 70px;
            }
        }

        .audio-container {

            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
                background-size: 229px 31px;
                width: 229px;
                height: 31px;

                .mejs-container {
                    width: 229px !important;
                    height: 31px !important;
                }

                .mejs-controls,
                .mejs-time-total,
                .mejs-time-buffering,
                .mejs-time-loaded,
                .mejs-time-current,
                .mejs-button,
                .mejs-time,
                .mejs-controls {
                }
            }

            @include mq('mobile') {
                width: 509px;
                height: 60px;
                background-size: 509px 60px;
                margin-bottom: 70px;

                .mejs-controls {
                    height: 60px;
                }

                .mejs-time-total {
                    margin-top: 12px;
                    height: 22px;
                    border-radius: 5px;

                    .mejs-time-buffering, .mejs-time-current {
                        border-radius: 5px;
                        height: 22px;
                    }
                }

                .mejs-button {
                    padding-top: 16px;

                    button {
                        transform: scale(1.5);
                    }
                }

                .mejs-time {
                    padding-top: 25px;

                    span {
                        font-size: 17px;
                    }
                }
                .mejs-controls {
                    height: 60px;
                }

            }

            // Hiding the loaded buffer cause it was buggy
            .mejs-time-loaded {
                opacity: 0;
            }
        }
    }

    .callout {

        @include mq('desktop') {
            width: 307px;
            height: 93px;
            background: #657E8E;
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.50);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            position: absolute;
            right: 0;
            bottom: 60px;
            z-index: 1;

            p {
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
                padding: 18px 24px;
                font-family: font('gill sans', 'italic');
            }
        }
        @include mq('mobile') {
            display: none;
        }
    }
}
