.section--course {
    background: #333e48;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjMzMzZTQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxMjgyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%, #333e48), color-stop(100%, #21282f));
    background: -webkit-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -o-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -ms-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: radial-gradient(ellipse at center, #333e48 45%, #21282f 100%);
    .lt-ie9 & {
        background: #333e48;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    }

    .bar--title:before {
        border-top-color: rgb(179, 182, 183);
    }
    h2 {

        @include mq("desktop") {
            padding-bottom: 25px;
            &:nth-of-type(2) {
                padding-top: 25px;
            }
        }
    }
    .sub-head {
        @include mq("desktop") {
            font-size: 25px;
        }
    }
    .sub-head, p {
        .yellow {
            color: #febd3f;
            font-weight: bold;
        }
    }
    .graphic-container {
        overflow: hidden;
        border-bottom: 1px solid #ffffff;
        @include mq("desktop") {
            height: 350px;
        }

        .text {
            width: 329px;
            margin: 0 auto;
        }
        .footnote {
            @include mq("desktop") {
                padding-left: 45px;
            }

            @include mq("mobile") {
                padding-left: 25px;
            }

            padding-bottom: 60px;
        }
        .legend {
            @include mq("desktop") {
                width: 49%;
                display: inline-block;
                .text {
                    float: right;
                    width: 50%;
                }
                .text:first-child {
                    padding-top: 75px;
                }
                .footnote {
                    padding-left: 0;
                }
            }
            @include mq('mobile') {
                margin-bottom: 48px;

                .footnote {
                    margin-top: -175px;
                    padding-left: 40px;
                    color: #333E48;
                }
            }
        }
    }
    .twenty-one-animated {
        float: left;
        width: 50%;
        height: 185px;

        .animated-wrap {
            margin-top: 40px;
            margin-left: 80px;
        }              

        .numbers-wrap {
            width: 300px;
            height: 25px;
            overflow: hidden;
            position: absolute;
            top: 80px;
            left: 0;
        }

        .numbers {
            background: transparent url("#{$img-path}/21-numbers.png") 0 0 no-repeat;
            width: 832px;
            height: 25px;
            position: absolute;
            top: 0;
            left: -452px;
            opacity: 0.5;
        }
        .copy {
            background: transparent url("#{$img-path}/21-text.png") 0 0 no-repeat;
            width: 300px;
            height: 185px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .brackets {
            background: transparent url("#{$img-path}/21-brackets.png") 0 0 no-repeat;
            width: 300px;
            height: 185px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .twenty-one {
        @include mq("desktop") {
            width: 50%;
            display: inline-block;
        }
    }
    .twenty-one, .chart {
        @include mq("mobile") {
            text-align: center;
            height: auto;
            margin-bottom: 30px;
        }

        @include mq("desktop") {
            float: left;
        }
    }
    .twenty-one img {
        @include mq("desktop") {
            float: left;
            width: 300px;
            top: 40px;
            left: 80px;
        }
    }
    .chart {
        margin-left: -45px;
        img {
            @include mq("desktop") {
                width: 175px;
            }
        }
    }
    .mean-duration {
        @include mq("mobile") {
            //font-size: 41px;
            //line-height: 45px;
            font-size: 25px;
            line-height: 34px;
            padding-bottom: 40px;
        }

        @include mq("desktop") {
            position: absolute;
            top: 300px;
            //left: 20px;
        }
    }
    // add to global styles
    .disclaimer {
        //font-size: 25px;
        //line-height: 34px;
        @include mq("mobile") {
            font-size: 25px;
            line-height: 34px;
        }

        @include mq("desktop") {
            font-size: 18px;
            line-height: 21px;
            padding-top: 25px;
            //padding-left: 20px;
        }

        &:before {
            content: '*';
            margin-left: -9px;
        }
    }
    .graphic {
        margin-bottom: 75px;
        .large {
            padding-top: 20px;
            font-size: 160px;
            line-height: 180px;
            font-family: font("gill sans", "bold");
            left: -15px;
            @include mq("desktop") {
                font-size: 130px;
                line-height: 120px;
                padding-top: 60px;
            }
        }
        @include mq("mobile") {
            p {
                padding-right: 25px;
            }
            .large {
                padding-top: 20px;
                font-size: 160px;
                line-height: 180px;
                font-family: font("gill sans", "bold");
                left: -15px;
            }
        }
    }
    .eighty {
        background: url("#{$img-path}/spiral.png") top left no-repeat;
        background-size: 100%;
        text-align: center;
        @include mq("mobile") {
            height: 350px;
            width: 350px;
            margin: 0 auto;
        }

        @include mq("desktop") {
            background-size: 80%;
            width: 450px;
            height: 350px;
            display: inline-block;
            margin-bottom: 0;
            left: 85px;
        }

        p {
            font-size: 22px;
            line-height: 26px;
            left: -15px;
            padding: 0;

            @include mq('mobile') {
                left: 15px;
            }
        }
        .large {
            @include mq('mobile') {
                left: 15px;
            }
        }
    }
    .forty-nine {
        background: url("#{$img-path}/spiral.png") top left no-repeat;
        background-size: 100%;
        text-align: center;
        @include mq("mobile") {
            height: 350px;
            width: 350px;
            margin: 0 auto;
        }

        @include mq("desktop") {
            background-size: 80%;
            margin: 0 15px;
            width: 450px;
            height: 350px;
            display: inline-block;
            left: 20px;
        }

        p {
            font-size: 22px;
            line-height: 26px;
            left: -15px;
            padding: 0;

            @include mq('mobile') {
                left: 15px;
            }
        }
        .large {
            @include mq('mobile') {
                left: 15px;
            }
        }
    }
    .chart-head {
        @include mq('mobile') {
            width: 544px;
        }
    }
    .percent {
        font-size: 0.5em;
        top: -0.65em;
    }
}
