.section--course {
    background: #333e48;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjMzMzZTQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxMjgyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%, #333e48), color-stop(100%, #21282f));
    background: -webkit-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -o-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -ms-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: radial-gradient(ellipse at center, #333e48 45%, #21282f 100%);
    .lt-ie9 & {
        background: #333e48;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    }

    .bar--title:before {
        border-top-color: rgb(179, 182, 183);
    }
    br.mobile {
        @include mq("desktop") {
            display: none;
        }
    }
    h2 {
        @include mq("mobile") {
            font-size: 54px;
        }

        @include mq("desktop") {
            font-size: 38px;
            padding-bottom: 25px;
        }
    }
    .sub-head {
        @include mq("desktop") {
            font-size: 25px;
        }
    }
    .sub-head, p {
        .yellow {
            color: #febd3f;
            font-weight: bold;
        }
    }
    .graphic-container {
        overflow: hidden;

        .text {
            width: 329px;
            margin: 0 auto;
        }
        .footnote {
            padding-left: 45px;
            padding-bottom: 60px;
        }


        div {
            @include mq('desktop') {
                width: 49%;
                display: inline-block;
            }
        }
    }


    .twenty-one {
        @include mq('desktop') {
            width: 50%;
            display: inline-block;
        }
    }
    .twenty-one, .chart {
        @include mq("mobile") {
            text-align: center;
            height: auto;
            margin-bottom: 30px;
        }
        @include mq('desktop') {
            float: left;
        }
    }
    .twenty-one img {
        @include mq("desktop") {
            float: left;
            width: 375px;
            //margin: 30px 310px 140px 0;
        }
    }
    .chart img {
        @include mq("desktop") {
            width: 175px;
            display: inline;
            width: 25%;
        }
    }
    .mean-duration {
        @include mq("mobile") {
            //font-size: 41px;
            //line-height: 45px;
            font-size: 25px;
            line-height: 34px;
            padding-bottom: 40px;
        }

        @include mq("desktop") {
            //font-size: 23px;
            //line-height: 26px;
            position: absolute;
            //top: 330px;
            top: 370px;
            //left: 250px;
            left: 20px;
        }
    }
    // add to global styles
    .disclaimer {
        @include mq("mobile") {
            font-size: 25px;
            line-height: 34px;
        }

        @include mq("desktop") {
            font-size: 18px;
            line-height: 22px;
            padding-left: 20px;
        }
    }


    .graphic {
        margin-bottom: 75px;

        .large {
            padding-top: 55px;
            font-size: 230px;
            line-height: 180px;
            font-family: font('gill sans', 'bold');
        }

        @include mq('mobile') {
            p {
                padding-right: 25px;
            }
        }
        @include mq('desktop') {
            p {
                padding-left: 40px;
            }
        }
    }

    .eighty {
        background: url("#{$img-path}/spiral.png") top left no-repeat;
        text-align: center;


        @include mq("mobile") {
            height: 450px;
        }
        @include mq("desktop") {
            //height: 189px;
            //margin-top: -19px;
            //margin-left: -30px;
            background-size: 100%;
            width: 450px;
            height: 450px;
            display: inline-block;
        }
    }

    .forty-nine {
        background: url("#{$img-path}/spiral.png") top left no-repeat;
        text-align: center;


        @include mq("mobile") {
            height: 450px;
        }
        @include mq("desktop") {
            //height: 189px;
           // margin-top: -19px;
            ///margin-left: -30px;
            background-size: 100%;
            margin: 0 15px;
            width: 450px;
            height: 450px;
            display: inline-block;
        }
    }

    .percent {
        font-size: 0.5em;
        top: -0.65em;
    }
}
