.section--diagnosis {
    background: #51748b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjElIiBzdG9wLWNvbG9yPSIjNTE3NDhiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NDA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #51748b 21%, #29404f 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(21%, #51748b), color-stop(100%, #29404f));
    background: -webkit-radial-gradient(center, ellipse cover, #51748b 21%, #29404f 100%);
    background: -o-radial-gradient(center, ellipse cover, #51748b 21%, #29404f 100%);
    background: -ms-radial-gradient(center, ellipse cover, #51748b 21%, #29404f 100%);
    background: radial-gradient(ellipse at center, #51748b 21%, #29404f 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51748b', endColorstr='#29404f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    .lt-ie9 & {
        background: #51748b;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    
        .content-wrap {
            border-bottom: 0;
        }
    }

    .bar--title:before {
        border-top-color: rgb(43, 52, 61);
    }
    h1 {
        @include mq("desktop") {
            padding-bottom: 10px;
        }

        @include mq("mobile") {
            padding-bottom: 50px;
        }
    }
    .sub-head {
        @include mq("mobile") {
            width: auto;
            padding-bottom: 30px;
        }

        @include mq("desktop") {
            width: 897px;
            padding-bottom: 25px;
        }
    }
    h3 {
        @include mq('mobile') {
            padding-top: 15px;
        }
    }
    p {
        @include mq("mobile") {
            &:nth-of-type(2), &:nth-of-type(3) {
                width: auto;
            }
        }
        &.center {
            text-align: center;
        }
        &.moar {
            padding-bottom: 40px;
        }
    }
    a {
        color: #febd3f;
        &:hover {
            color: #ffcd6d;
        }
    }
    li {
        @include mq("desktop") {
            font-size: 20px;
            line-height: 20px;
        }
    }
    .chart-head {
        @include mq('mobile') {
            padding-bottom: 36px;
        }
    }


    // new content 3/9/15
    .occurance {
        .column-container {
            font-size: 0;
        }
    
        .chart-head {
            @include mq('desktop') {
                padding: 15px 0 32px 40px;
                text-align: left;
            }
            @include mq('mobile') {
                padding-bottom: 18px;
            }
        }

        .column {
            position: relative;
            font-size: 0;

            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
            }
            @include mq('mobile') {
                text-align: center;
                padding-bottom: 20px;
            }
        }

        .person {
            background-repeat: no-repeat;
            height: 208px;
            line-height: 208px;
            display: inline-block;
            vertical-align: top;
        }
        .text {
            display: inline-block;
            vertical-align: top;
            padding-left: 20px;
            max-width: 175px;
        }

        .normal-weight {

            @include mq('desktop') {
                margin-left: 30px;
                width: 297px;
            }

            p {
                color: #f9bf49;
            }

            .person {
                background-image: url(#{$img-path}/occurance-normal-weight.png);
                background-size: 77px 208px;
                width: 77px;
            }
        }
        .overweight {

            @include mq('desktop') {
                width: 303px;
            }

            p {
                color: #f9f9f9;
            }

            .person {
                background-image: url(#{$img-path}/occurance-overweight.png);
                background-size: 88px 208px;
                width: 88px;
            }
        }
        .obese {

            @include mq('desktop') {
                width: 302px;
            }
        
            p {
                color: #b8babe;
            }

            .person {
                background-image: url(#{$img-path}/occurance-obese.png);
                background-size: 107px 208px;
                width: 107px;
            }
        }

        .percentage {
            text-align: center;
            font-size: 119px;
            line-height: 96px;
            font-family: font("gill sans", "bold");
            padding-bottom: 15px;
        }
        .letter-spacing-fix {
            letter-spacing: -0.14em;
            
        }
        .description {
            text-align: center;
            font-size: 20px;
        }

        .footnote {

            @include mq('desktop') {
                padding-top: 32px;
                padding-bottom: 0;
            }
            @include mq('mobile') {
                //padding-top: 12px;
            }
        }
    }

    .fifty-percent {
        padding-top: 100px;
        min-height: 375px;
        text-align: center;

        @include mq("mobile") {
            margin-left: 115px;
        }

        .large {
            font-size: 145px;
            line-height: 140px;
            font-family: font("gill sans", "bold");
            padding-bottom: 0;
            padding-right: 15px;
        }
        p:not(.large) {
            margin-top: -15px;
            font-size: 29px;
            line-height: 34px;
        }
        p {
            width: 381px !important;
        }
        @include mq("desktop") {
            float: left;
            width: 400px;
            margin-top: 40px;
        }

        .grey-circle {
            background: transparent url("#{$img-path}/grey-circle.png") 0 0 no-repeat;
            background-size: 381px 375px;
            width: 381px;
            height: 375px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .yellow-wrap {
            width: 190.5px;
            height: 375px;
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
        }
        .yellow-circle {
            background: transparent url("#{$img-path}/yellow-half-circle.png") top right no-repeat;
            background-size: 375px 375px;
            width: 375px;
            height: 375px;
            position: absolute;
            top: 0;
            left: -185px;
            transform-origin: center center;
        }
    }
    .weight-graphic {
        padding-left: 105px;

        @include mq("mobile") {
            margin-left: 115px;
        }

        .large {
            font-size: 120px;
            line-height: 100px;
            font-family: font("gill sans", "bold");
        }
        p {
            padding-bottom: 10px;
        }
    }
    .nineteen-percent {
        margin-top: 35px;
        background: url("#{$img-path}/diagnosis-nineteen.png") top left no-repeat;
        min-height: 250px;
        padding-bottom: 40px;

        @include mq("desktop") {
            float: left;
            width: 300px;
            line-height: 26px;
        }
    }
    .thirty-six-percent {
        padding-left: 105px;
        background: url("#{$img-path}/diagnosis-thirty-six.png") top left no-repeat;
        min-height: 210px;

        @include mq("desktop") {
            float: left;
            width: 300px;
            line-height: 26px;
        }
    }
    .percent {
        font-size: 0.5em;
        top: -0.65em;
    }
}



/* BED 2.0 Patient Profiles */

.bed-patient-profiles {
    border-top: 1px solid #B2BDC4;
    border-bottom: 1px solid #B2BDC4;
    
    @include mq('desktop') {
        margin-top: 45px;
    }

    @include mq('mobile') {
        margin-top: 35px;

        .scroll-point {
            margin-bottom: 35px;
        }
    }

    .patient-profiles-header {
        text-align: center;
        position: relative;

        @include mq('desktop') {
            height: 248px;
            padding-top: 25px;
            background-image: url("#{$img-path}/patient-profile-header.png");
            background-repeat: no-repeat;
            background-position: 240px 125px;

            h3 {
                font-size: 36px;
                line-height: 43px;
            }
            p {
                font-size: 13px;
                line-height: 14px;
                color: #BAC8D1;
            }
        }

        @include mq('mobile') {

            h3 {
                font-size: 56px;
                line-height: 52px;
            }
            p {
                font-size: 32px;
                line-height: 40px;
                color: #BAC8D1;
            }
        }
    }

    .profile-buttons {

        cursor: pointer;

        @include mq('desktop') {
            position: absolute;
            left: 279px;
            top: 235px;
            z-index: 1;

            li {
                display: inline-block;
                margin-right: 67px;
                width: 46px;
                height: 46px;
                background-image: url(#{$img-path}/patient-profile-icon-inactive.png);
                background-size: 46px;
                transition: transform 300ms;
                padding-bottom: 0;

                // background to show on hover/selection
                .active-bg {
                    //@include opacity(0);
                    
                    opacity: 0;
                    transition: opacity 0.3s;
                    background-image: url(#{$img-path}/patient-profile-icon-active.png);
                    width: 100%;
                    height: 100%;
                    background-size: 46px;

                    .lt-ie9 & {
                        visibility: hidden;
                    }
                }

                &.hover {
                    .active-bg {
                        //@include opacity(1);
                        opacity: 1;

                        .lt-ie9 & {
                            visibility: visible;
                        }
                    }
                }

                &.active-profile-button {
                    transform: translateY(13px);

                    // .lt

                    .active-bg {
                        //@include opacity(1);
                        opacity: 1;

                        .lt-ie9 & {
                            visibility: visible;
                        }
                    }
                }
            }
        }

        @include mq('mobile') {
            display: none;
        }
    }
    
    .profile-container {
        position: relative;
        z-index: 0;

        @include mq('desktop') {
            background-image: radial-gradient(50% 100%, #3B5F76 0%, rgba(69,101,123,0.00) 100%);
            height: 530px;

            .arrow {
                display: none;
            }
        }
        @include mq('mobile') {
            width: 2210px; // 4x profile width
            margin: 44px auto 0 auto;
            height: 1200px;
            overflow: auto;

            .arrow {
                position: absolute;
                top: 50px;
                width: 79px;
                height: 79px;
                background-size: 79px;
                z-index: 2;
                opacity: 1;
                transition: opacity 300ms;
                cursor: pointer;

                &.inactive {
                    @include opacity(0.3);
                }
            }
            .arrow-prev {
                left: 42px;
                background-image: url('#{$img-path}/arrow-previous.png');
            }
            .arrow-next {
                left: 430px;
                background-image: url('#{$img-path}/arrow-next.png');
            }
        }

        .patient-profile-pagination {

            @include mq('desktop') {
                display: none;
            }

            @include mq('mobile') {
                width: 75px;
                height: 15px;
                margin: 12px auto 0 auto;
                font-size: 0;

                .circle {
                    width: 13px;
                    height: 13px;
                    border: 2px solid #9EACB6;
                    border-radius: 6.5px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 5px;
                
                    &.active {
                        background-color: #9EACB6;
                    }
                }
            }
        }
    }


    .profile {
        // @include opacity(0);
        opacity: 0;
        z-index: -1;
        transition: opacity 300ms, transform 300ms;

        .lt-ie9 & {
            visibility: hidden;
        }

        li {
            position: relative;

            &:before {
                content: '\2022';
                position: absolute;
                top: 2px;
                color: #FFBE2C;
            }
        }

        @include mq('desktop') {
            padding-top: 90px;
            position: absolute;
            top: 0;
            left: 0;
            height: 529px;

            h3 {
                margin-left: 312px;
            }

            li {
                margin-left: 15px;

                &:before {
                    left: -15px;
                }
            }
        }
        @include mq('mobile') {
            width: 548px;
            float: left;

            h3 {
                text-align: center;
                margin: 0 auto;
                padding: 0;
            }
            li {
                margin-left: 30px;

                &:before {
                    left: -22px;
                }
            }
        }
    }
    .active-profile {
        // @include opacity(1);
        opacity: 1;
        z-index: 1;


        .lt-ie9 & {
            visibility: visible;
        }
    }

    .profile-image {
        
        @include mq('desktop') {
            position: absolute;
            left: 50px;
            bottom: -23px;
        }
        @include mq('mobile') {
            position: relative;
            width: 161px;
            height: 160px;
            background-size: 161px 160px;
            left: 50%;
            margin: 0 0 24px -80px;
        }
    }
    
    .profile-section {
        width: 512px;
        border-bottom: 1px solid #728592;
        padding: 16px 0 11px 0;

        p, li {
            font-size: 16px;
            line-height: 18px;
            padding-bottom: 5px;
            margin-bottom: 0;

            &.footnote {
                font-size: 13px;
                color: #99ABB8;
            }
            &.quote {
                font-family: font('gill sans', 'italic');
                font-size: 24px;
                line-height: 29px;
                color: #FFBE2C;
                position: relative;
            }
            &.block-quote {

                @include mq('desktop') {
                    margin-left: 11px;
                }
            }
        }

        ul {
            @include mq('desktop') {
                padding-bottom: 0;
            }
        }
        .bmi {
            margin-top: 30px;
        }

        @include mq('desktop') {
            margin-left: 312px;

            &:last-of-type {
                border-bottom: 0;
            }

            .block-quote-opening {
                position: absolute;
                left: -11px;
                top: 0;
            }
        }

        @include mq('mobile') {
            width: 548px;
            margin: 0 auto;
            border-right: 1px solid #728592;
            border-left: 1px solid #728592;
            border-radius: 0;

            &.first {
                margin-top: 31px;
                border: 1px solid #728592;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            &:last-of-type {
                text-align: center;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }

            p {
                text-align: center;
            }
            p, li {
                font-size: 32px;
                line-height: 36px;

                &.footnote {
                    font-size: 26px;
                    line-height: 36px;
                }
                &.bmi {
                    position: absolute;
                    bottom: -65px;
                    width: 100%;
                }
                &.quote {
                    font-size: 48px;
                    line-height: 58px;
                    padding: 27px 32px 32px 32px;
                }
            }
        }
    }

    .stats {

        @include mq('desktop') {
            p {
                display: inline;
                vertical-align: top;
                width: 60px;
                margin-right: 40px;
            }
        }

        @include mq('mobile') {
            padding: 0;
            overflow: auto;

            p {
                float: left;
                height: 90px;
                line-height: 90px;
                width: 272px;
                margin-right: 0;

                &:first-child {
                    border-right: 1px solid #728592;
                }
            }
        }
    }

    .kim-profile {
        .profile-image {

            @include mq('desktop') {
                background-image: url('#{$img-path}/kim-full.png');
                background-size: 282px 498px;
                width: 282px;
                height: 498px;
            }

            @include mq('mobile') {
                background-image: url('#{$img-path}/profile-icon-kim.png');
            }
        }
    }

    .nikki-profile {
        .profile-image {

            @include mq('desktop') {
                background-image: url('#{$img-path}/nikki-full.png');
                background-size: 246px 509px;
                width: 246px;
                height: 509px;
            }

            @include mq('mobile') {
                background-image: url('#{$img-path}/profile-icon-nikki.png');
            }
        }
    }

    .julie-profile {
        .profile-image {
            @include mq('desktop') {
                background-image: url('#{$img-path}/julie-full.png');
                background-size: 284px 504px;
                width: 284px;
                height: 504px;
            }
            @include mq('mobile') {
                background-image: url('#{$img-path}/profile-icon-julie.png');
            }
        }


        .bmi {
            @include mq('desktop') {
                margin-top: 10px;
            }
        }
    }

    .diego-profile {
        .profile-image {
            @include mq('desktop') {
                background-image: url('#{$img-path}/diego-full.png');
                background-size: 274px 507px;
                width: 274px;
                height: 507px;
            }
            @include mq('mobile') {
                background-image: url('#{$img-path}/profile-icon-diego.png');
            }
        }

    }
}

