.section--home {
    background: #4d5158;

    @include mq("mobile") {
        background: #4d5158 url("#{$img-path}/home__bg--mobile.jpg") 0 25px no-repeat;

        &.mobile-bg {
            background-position: 0 197px;
        }

        &.mobile-bg-1 {
            background-image: url("#{$img-path}/mobile-home-bg-1.png");
        }
        &.mobile-bg-2 {
            background-image: url("#{$img-path}/mobile-home-bg-2.png");
        }
        &.mobile-bg-3 {
            background-image: url("#{$img-path}/mobile-home-bg-3.png");
        }
        &.mobile-bg-4 {
            background-image: url("#{$img-path}/mobile-home-bg-4.png");
        }
    }

    @include mq("desktop") {
        //background: #4d5158 url("#{$img-path}/home__bg.jpg") 0 0 no-repeat;
        //height: 700px;

        // BED 2.0 updates
        height: 651px;
    }

    .scroll-point {
        margin-bottom: 0;
        margin-top: 0;
    }
    .bar--title {
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #febd3f;
        font-size: 21px;
        line-height: 45px;
        z-index: 1002;
        background: #51748b;
        margin-bottom: 0;

        @include mq("mobile") {
            font-size: 25px;
            line-height: 25px;
            padding-top: 25px;
            margin-left: -40px;
        }
    }
    .disclaimer-bar {
        width: 100%;
        background-color: #333e48;
        position: relative;
        z-index: 1000;

        p {
            text-align: center;
            color: #BFCAD2;
        }
        a {
            color: #ffffff;
        }

        @include mq('desktop') {
            height: 25px;

            p {
                line-height: 25px;
                font-size: 14px;
            }
        }
        @include mq('mobile') {
            height: 104px;

            p {
                padding-top: 8px;
                font-size: 24px;
                line-height: 26px;
            }
        }
    }

    .home-video-container {
        position: absolute;
        top: 75px;
        left: 0;
        width: 1024px;
        height: 576px;


        .home-video {
            position: absolute;
            top: 0;
            left: 0;
            display: none;

            &.active {
                display: block;
            }
        }

        .mejs-overlay-button, .mejs-container .mejs-controls {
            display: none !important;
            visibility: hidden !important; 
        }

    }

    .content-wrap {
        @include mq("mobile") {
            padding-left: 14px;
            padding-top: 545px;
        }

        @include mq("desktop") {
            //padding: 122px 35px 0 609px;
            padding: 77px 35px 0 609px;
            opacity: 0;
            transition: opacity 3s;
            transition-delay: 4s;

            &.active {
                opacity: 1;
            }
        }
    }
    .eyebrow {
        font-family: font("gill sans", "roman");
        font-size: 20.5px;
        line-height: 23px; 
        padding-bottom: 0;

        @include mq("desktop") {
            padding-bottom: 10px;
        }

        @include mq("mobile") {
            font-size: 35px;
            line-height: 39px;
        }
    }
    h1 {
        //text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        

        @include mq("mobile") {
            font-size: 40px;
            line-height: 44px;
            padding-bottom: 5px;
            padding-top: 24px;
        }

        @include mq("desktop") {
            font-size: 26px;
            line-height: 29px;
            padding-bottom: 10px;
        }
    }
    h3 {
        //text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        @include mq("desktop") {
            font-size: 26px;
        }
    }
    p {
        &.sub-head {
            @include mq("desktop") {
                font-size: 23px;
                line-height: 26px;
                padding-bottom: 10px;
            }

            @include mq("mobile") {
                padding-bottom: 20px;
            }
        }
        @include mq("desktop") {
            font-size: 16px;
            line-height: 18px;
        }
    }
    .sign-up-button {
     
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
        p {
            text-align: center;
            color: #FEBD3F;
        }

        @include mq('desktop') {
            border: 3px solid #FFBE2C;
            border-radius: 12px;
            height: 55px;
            width: 307px;

            p {
                font-size: 16px;
                line-height: 55px;
            }
        }
        @include mq('mobile') {
            border: 6px solid #FFBE2C;
            border-radius: 24px;
            height: 110px;
            width: 564px;

            p {
                font-size: 28px;
                line-height: 110px;
            }
        }
    }

}



/* BED 2.0 Callouts */

.callouts {
    background-color: #323E48;

    h2 {
        color: #FFBE2C;
    }

    @include mq('desktop') {
        padding: 0 65px;
        height: 229px;
    }

    .callout-link {
        display: block;
        width: 100%;
        height: 100%;
    }

    .column {
        width: 33%;
        display: inline-block;
        vertical-align: top;

        @include mq("mobile") {
            width: 100%;
            display: block;
            border-bottom: 1px solid #606E7A;
        }
        
        .callout-link {
            position: relative;

            @include mq('desktop') {
                padding: 52px 0 32px 0;
            }
            @include mq('mobile') {
                padding: 35px 0 28px 0;
            }
        }

        h2 {
            padding-bottom: 15px;

            @include mq("desktop") {
                margin-left: 41px;
                font-size: 26px;
                line-height: 22px;
            }
            @include mq('mobile') {
                margin-left: 35px;
                font-size: 40px;
                line-height: 40px;
            }
        }

        p {
            margin-left: 41px;
            color: #B6C2CC;

            @include mq("desktop") {
                font-size: 16px;
                line-height: 19px;
            }
        }

        .callout-arrow {
            position: absolute;

            @include mq('desktop') {
                background-image: url('#{$img-path}/callout-arrow.png');
                width: 27px;
                height: 27px;
                left: 0;
                top: 52px;
            }

            @include mq('mobile') {
                background-image: url('#{$img-path}/callout-arrow-mobile.png');
                width: 34px;
                height: 34px;
                top: 41px;
                right: 32px;
            }
        }
    }
}
