.section--neurobiology {
    background: #333e48;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjMzMzZTQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxMjgyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%, #333e48), color-stop(100%, #21282f));
    background: -webkit-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -o-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: -ms-radial-gradient(center, ellipse cover, #333e48 45%, #21282f 100%);
    background: radial-gradient(ellipse at center, #333e48 45%, #21282f 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333e48', endColorstr='#21282f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    .lt-ie9 & {
        background: #333e48;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    }

    .bar--title:before {
        border-top-color: rgb(56, 84, 102);
    }
    h2.pretitle {
        padding-bottom: 10px;
        color: #ffffff;
        @include mq("mobile") {
            font-size: 36px;
            line-height: 42px;
        }

        @include mq("desktop") {
            font-size: 25px;
            line-height: 28px;
        }
    }
    h1 {
        padding-bottom: 50px;
        @include mq("mobile") {
            font-size: 53px;
        }

        @include mq("desktop") {
            font-size: 36px;
        }
    }
    h3 {
        @include mq("desktop") {
            font-size: 25px;
            line-height: 28px;
            padding-bottom: 0;
        }
    }
    p, ul {
        @include mq("desktop") {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .dash {
        li:before {
            color: #ffffff;
        }
    }
    .neuro-graphic {
        background-position: top left;
        background-repeat: no-repeat;
        @include mq("desktop") {
            min-height: 145px;
            padding: 34px 0 0 189px;
            margin-bottom: 26px;
        }
    }
    .reward {
        @include mq("mobile") {
            background-image: url("#{$img-path}/neurobiology-mobile-1.png");
            position: relative;
            left: -20px;
            padding: 332px 0  0 20px;
        }

        @include mq("desktop") {
            background-image: url("#{$img-path}/neurobiology-1.png");
        }
    }
    .dysregulation {
        @include mq("mobile") {
            background-image: url("#{$img-path}/neurobiology-mobile-2.png");
            background-position: top right;
            position: relative;
            right: -20px;
            padding: 310px 20px 0 0;
            h3, p {
                margin-left: -20px;
            }
        }

        @include mq("desktop") {
            background-image: url("#{$img-path}/neurobiology-2.png");
        }
    }
    .endogenous {
        @include mq("mobile") {
            background-image: url("#{$img-path}/neurobiology-mobile-3.png");
            left: -20px;
            padding: 325px 0  0 20px;
        }

        @include mq("desktop") {
            background-image: url("#{$img-path}/neurobiology-3.png");
        }

        .blurb {
            margin: 10px 0 40px 0;
            color: #333e48;
            @include mq("mobile") {
                border: 2px solid #febd3f;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                padding: 40px 35px 40px 40px;
                margin-left: -42px;
                background-image: -webkit-linear-gradient(-130deg, #cacaca, white 67%);
                background-image: -moz-linear-gradient(-130deg, #cacaca, white 67%);
                background-image: -o-linear-gradient(-130deg, #cacaca, white 67%);
                background-image: linear-gradient(-140deg, #cacaca, white 67%);
            }

            @include mq("desktop") {
                background-image: url("#{$img-path}/neurobiology-text-bg.png");
                background-position: top left;
                background-repeat: no-repeat;
                padding: 20px 60px 20px 40px;
                margin-left: -223px;
                font-size: 20px;
                line-height: 22px;
                margin-top: 40px;
                margin-bottom: 20px;
            }
        }
    }
    .risk {
        @include mq("mobile") {
            width: 640px;
            background-image: url("#{$img-path}/neurobiology-mobile-4.png");
            left: -20px;
            padding: 510px 0  0 20px;
        }

        @include mq("desktop") {
            padding-top: 10px;
            background-image: url("#{$img-path}/neurobiology-4.png");
            ul.dash {
                margin-bottom: 25px;
            }
        }

        .asterisk {
            @include mq("mobile") {
                font-size: 25px;
                line-height: 30px;
            }

            @include mq("desktop") {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}
