.section--prevalence {
    background: #51748b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjNTE3NDhiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NDA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #51748b 20%, #29404f 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%, #51748b), color-stop(100%, #29404f));
    background: -webkit-radial-gradient(center, ellipse cover, #51748b 20%, #29404f 100%);
    background: -o-radial-gradient(center, ellipse cover, #51748b 20%, #29404f 100%);
    background: -ms-radial-gradient(center, ellipse cover, #51748b 20%, #29404f 100%);
    background: radial-gradient(ellipse at center, #51748b 20%, #29404f 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51748b', endColorstr='#29404f',GradientType=0 ); /* IE6-8 fallback on horizontal gradient */
    .lt-ie9 & {
        background: #51748b;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    }

    .bar--title:before {
        border-top-color: rgb(77, 81, 88);
    }
    h1, h2, h3, p {
        font-family: font("helvetica neue", "light");
    }
    h1 {
        padding-bottom: 25px;
        @include mq("desktop") {
            font-size: 32px;
            font-family: font("gill sans", "regular");
        }
    }
    h3 {
        //font-size: 32px;
        font-family: font("gill sans", "regular");
    }
    .graphic {
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top left;
    }
    .us-graphic {
        @include mq("mobile") {
            background-image: url("#{$img-path}/prevalence-us-mobile.png");
            height: 420px;
        }

        @include mq("desktop") {
            background-image: url("#{$img-path}/prevalence-us.png");
            height: 420px;
            width: 496px;
            float: left;
            margin-left: 100px;
        }
    }
    .asterisk {
        padding-left: 5px;
        font-size: 26px;
        line-height: 28px;
        width: 538px;
        margin-left: 25px;
        padding-bottom: 50px;
        /*&:before {
            content: '*';
            margin-left: -9px;
        }*/
        @include mq("desktop") {
            float: left;
            width: 275px;
            padding-top: 150px;
            font-size: 18px;
            line-height: 20px;
        }
    }
    .blurb {
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top left;
        padding: 22px;
        color: #333e48;
        font-size: 27px;
        line-height: 31px;
        @include mq("mobile") {
            background-image: url("#{$img-path}/prevalence-text-bg-mobile.png");
            width: 571px;
            height: 167px;
            margin-bottom: 20px;
        }

        @include mq("desktop") {
            background-image: url("#{$img-path}/prevalence-text-bg.png");
            width: 740px;
            height: 73px;
            margin: 420px auto 0 auto;
            padding: 16px 25px;
            font-size: 20px;
            line-height: 22px;
        }
    }
    .blurb-2 {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top left;
        padding: 22px;
        color: #333e48;
        font-size: 27px;
        line-height: 31px;

        @include mq("mobile") {
            background-image: url("#{$img-path}/prevalence-text-bg-mobile.png");
            width: 571px;
            height: 167px;
            margin-bottom: 20px;
        }
        @include mq("desktop") {
            background-image: url("#{$img-path}/prevalence-text-bg-2.png");
            width: 740px;
            height: 115px;
            margin: 0 auto 25px auto;
            padding: 25px 35px;
            font-size: 20px;
            line-height: 22px;
        }
    }

    .male-graphic {
        background: url("#{$img-path}/prevalence-male-graphic.png") 0 0 no-repeat;
        width: 254px;
        // height: 248px;
        height: 348px;
        position: absolute;
        @include mq("mobile") {
            top: 0;
            left: 185px;
        }

        @include mq("desktop") {
            top: 0;
            left: 185px;
        }
    }
    .female-graphic {
        background: url("#{$img-path}/prevalence-female-graphic.png") 0px 42px no-repeat;
        width: 210px;
        // height: 306px;
        height: 348px;
        position: absolute;
        @include mq("mobile") {
            // top: 42px;
            top: 0;
            left: 55px;
        }

        @include mq("desktop") {
            // top: 42px;
            top: 0;
            left: 55px;
        }
    }
    .male-female-graphic {
        text-align: center;
        height: 348px;
        width: 500px;
        margin: 0 auto 45px auto;
        padding-top: 65px;
        p {
            font-size: 38px;
            font-family: font("gill sans", "regular");
        }
    }
    // Graphic (and cooresponding text) only visible on desktop
    // .desktop-graphic {
    //     @include mq("mobile") {
    //         display: none;
    //     }

    //     @include mq("desktop") {
    //         display: none;
    //         background-repeat: no-repeat;
    //         background-position: top center;
    //         text-align: center;
    //         float: left;
    //         p {
    //             font-size: 22px;
    //             line-height: 26px;
    //             font-family: font("gill sans", "regular");
    //             width: 230px;
    //             margin-left: -36.5px;
    //         }
    //         &.female-graphic {
    //             background-image: url("#{$img-path}/prevalence-female.png");
    //             width: 158px;
    //             height: 230px;
    //             margin: 75px 0 0 151px;
    //             padding-top: 235px;
    //             color: #febd3f;
    //         }
    //         &.male-graphic {
    //             background-image: url("#{$img-path}/prevalence-male.png");
    //             background-size: 100% auto;
    //             width: 192px;
    //             height: 189px;
    //             margin: 45px 0;
    //             padding-top: 205px;
    //         }
    //     }

    // }
    // Mobile text
    .gender-ratio {
        @include mq("mobile") {
            padding: 30px 20px 10px 0;
        }

        @include mq("desktop") {
            //display: none;
            font-size: 20px;
            line-height: 25px;
            padding-top: 45px;
        }
    }
    .comparable {
        padding: 40px 0 26px 0;
        margin-bottom: 40px;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        @include mq("desktop") {
            padding-top: 25px;
        }

        .patients-graphic {
            margin: 0 auto;
            @include mq("mobile") {
                width: 605px;
                height: 545px;
                //background-image: url("#{$img-path}/prevalence-patients-mobile.png");
            }

            @include mq("desktop") {
                width: 897px;
                height: 186px;
                //background-image: url("#{$img-path}/prevalence-patients.png");
            }

            .graphic {
                @include mq("desktop") {
                    width: 195px;
                    height: 185px;
                    display: inline-block;
                    margin-right: 25px;
                }

                @include mq('mobile') {
                    width: 275px;
                    height: 262px;
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 15px;
                }
            }
        }
        .patient-1 {
            background-image: url("#{$img-path}/prevalence-patient-1.png");
        }
        .patient-2 {
            background-image: url("#{$img-path}/prevalence-patient-2.png");
        }
        .patient-3 {
            background-image: url("#{$img-path}/prevalence-patient-3.png");
        }
        .patient-4 {
            background-image: url("#{$img-path}/prevalence-patient-4.png");
        }
        h2 {
            @include mq("mobile") {
                font-size: 40px;
                line-height: 46px;
                width: 90%;
                padding-bottom: 50px;
            }

            @include mq("desktop") {
                font-size: 23px;
                line-height: 26px;
                font-family: font("gill sans", "regular");
                width: 725px;
                padding: 0 0 15px 0;
            }
        }
        .dagger {
            padding: 0 0 25px 0;
            //margin-left: 15px;
            /*&:before {
                content: '†';
                margin-left: -15px;
            }*/
        }
    }
    ul {
        @include mq("desktop") {
            font-size: 22px;
        }
    }
    .frequencies {
        @include mq("desktop") {
            font-size: 22px;
            line-height: 25px;
        }
    }

    .twelve-month {
        padding-top: 36px;
    }
}

@include mq("mobile") {
    .percent {
        font-size: 26px;
    }
}


@include mq("desktop") {
    .percent {
        font-size: 18px;
    }
}
