.section--prevalence {
    background: #51748b;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjNTE3NDhiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5NDA0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #51748b 20%, #29404f 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%, #51748b), color-stop(100%, #29404f));
    background: -webkit-radial-gradient(center, ellipse cover, #51748b 20%, #29404f 100%);
    background: -o-radial-gradient(center, ellipse cover, #51748b 20%, #29404f 100%);
    background: -ms-radial-gradient(center, ellipse cover, #51748b 20%, #29404f 100%);
    background: radial-gradient(ellipse at center, #51748b 20%, #29404f 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51748b', endColorstr='#29404f',GradientType=0 ); /* IE6-8 fallback on horizontal gradient */
    .lt-ie9 & {
        background: #51748b;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    }

    .bar--title:before {
        border-top-color: rgb(77, 81, 88);
    }
    h3, p {
        font-family: font("helvetica neue", "light");
    }
    h1 {
        padding-bottom: 25px;
        @include mq("desktop") {
            font-size: 32px;
            font-family: font("gill sans", "regular");
        }
    }
    h3 {
        font-family: font("gill sans", "regular");
    }
    .graphic {
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top left;
    }
    .us-graphic {

        @include mq("mobile") {
            background-image: url("#{$img-path}/prevalence-us-mobile.png");
            height: 420px;
        }

        @include mq("desktop") {
            background-image: url("#{$img-path}/prevalence-us.png");
            height: 420px;
            width: 496px;
            float: left;
            margin-left: 100px;
        }
    }
    .chart-note {
        width: 538px;
        padding-bottom: 50px;

        @include mq("desktop") {
            float: left;
            width: 275px;
            padding-top: 150px;
            font-size: 18px;
            line-height: 20px;
            margin-left: 25px;
        }

        @include mq('mobile') {
            padding-top: 20px;
        }
    }
    .blurb {
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top left;
        padding: 22px;
        color: #333e48;
        font-size: 27px;
        line-height: 31px;

        @include mq("mobile") {
            background-image: url("#{$img-path}/prevalence-text-bg-mobile.png");
            width: 520px;
            margin-bottom: 50px;
            font-size: 33px;
            line-height: 37px;
            background-size: 100% 100%;
        }

        @include mq("desktop") {
            background-image: url("#{$img-path}/prevalence-text-bg.png");
            width: 740px;
            height: 73px;
            margin: 420px auto 0 auto;
            padding: 16px 25px;
            font-size: 20px;
            line-height: 22px;
        }
    }
    .blurb-2 {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top left;
        padding: 22px;
        color: #333e48;
        line-height: 31px;

        p.line-one {
            color: #333E48;
            font-family: font("helvetica neue", "regular");
        }
        p.line-two {
            color: #333E48;
            font-family: font("helvetica neue", "bold");
        }
        p.line-three {
            color: #67737E;
            font-family: font("helvetica neue", "regular");
        }

        @include mq("mobile") {
            background-image: url("#{$img-path}/prevalence-text-bg-tall.png");
            width: 571px;
            margin-bottom: 20px;
            margin-top: 30px;
            background-size: 100% 100%;

            p.line-one {
                font-size: 30px;
                line-height: 35px;
                margin-bottom: 13px;
            }
            p.line-two {
                font-size: 36px;
                line-height: 39px;
                margin-bottom: 20px;
            }
            p.line-three {
                font-size: 24px;
                line-height: 27px;
            }
        }

        @include mq("desktop") {
            background-image: url("#{$img-path}/prevalence-text-bg-2.png");
            width: 740px;
            height: 180px;
            margin: 30px auto 25px auto;
            padding: 15px 28px;
            font-size: 20px;
            line-height: 22px;

            p.line-one {
                font-size: 20px;
                line-height: 26px;
                padding-bottom: 6px;
            }
            p.line-two {
                font-size: 23px;
                line-height: 25px;
                padding-bottom: 20px;
            }
            p.line-three {
                font-size: 18px;
                line-height: 20px;
            }
        }

        .sub-head {
            @include mq("desktop") {
                padding-bottom: 15px;
            }
        }
    }
    .male-graphic {
        background: url("#{$img-path}/prevalence-male-graphic.png") 0 0 no-repeat;
        width: 254px;
        height: 348px;
        position: absolute;

        @include mq("mobile") {
            top: 0;
            left: 185px;
        }

        @include mq("desktop") {
            top: 0;
            left: 185px;
        }
    }
    .female-graphic {
        background: url("#{$img-path}/prevalence-female-graphic.png") 0px 42px no-repeat;
        width: 210px;
        height: 348px;
        position: absolute;

        @include mq("mobile") {
            top: 0;
            left: 55px;
        }

        @include mq("desktop") {
            top: 0;
            left: 55px;
        }
    }
    .male-female-graphic {
        text-align: center;
        height: 348px;
        width: 500px;
        margin: 0 auto 45px auto;
        padding-top: 65px;
        p {
            font-size: 38px;
            font-family: font("gill sans", "regular");
            @include mq("desktop") {
                line-height: 38px;
            }
        }
    }

    // Mobile text
    .gender-ratio {
        border-top: 1px solid #ffffff;
        @include mq("mobile") {
            margin-top: 30px;
            padding: 30px 20px 10px 0;
        }

        @include mq("desktop") {
            margin-top: 30px;
            padding-top: 30px;
            padding-bottom: 0;
        }
    }
    .comparable {
        border-top: 1px solid #ffffff;
        margin: 18px 0 32px;
        padding: 24px 0 10px 0;
        border-bottom: 1px solid #ffffff;

        h3 {

            @include mq('desktop') {
                font-size: 26px;
                line-height: 31px;
            }

            @include mq('mobile') {
                font-size: 40px;
                line-height: 40px;
            }

            .small {
                font-size: 18px;
            }
        }
        p.sub-sub {
            text-align: center;

            @include mq('desktop') {
                font-size: 18px;
                line-height: 18px;
            }

            @include mq('mobile') {
                font-size: 24px;
                line-height: 28px; 
            }
        }
        .footnote {
            margin-top: 30px;

            @include mq('desktop') {
                margin-top: 35px;
                padding-bottom: 25px;
            }
        }

        .patient-thumbs {
            text-align: center;

            @include mq('mobile') {
                margin-top: 21px;
                padding-bottom: 38px;
            }
        }

        /* patient thumbnails */
        .patient-thumb {
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin-right: 4px;

            @include mq('desktop') {
                background-size: 76px;
                width: 76px;
                height: 76px; 
            }
            @include mq('mobile') {
                background-size: 154px;
                width: 154px;
                height: 154px; 
            }
        }
        .kim-thumb {

            @include mq('desktop') {
                background-image: url("#{$img-path}/kim-thumb.png");
            }
            @include mq('mobile') {
                background-image: url("#{$img-path}/kim-thumb-mobile.png");
            }

        }
        .nikki-thumb {

            @include mq('desktop') {
                background-image: url("#{$img-path}/nikki-thumb.png");
            }
            @include mq('mobile') {
                background-image: url("#{$img-path}/nikki-thumb-mobile.png");   
            }
        }
        .julie-thumb {

            @include mq('desktop') {
                background-image: url("#{$img-path}/julie-thumb.png"); 
            }
            @include mq('mobile') {
                background-image: url("#{$img-path}/julie-thumb-mobile.png");    
            }
        }
        .diego-thumb {

            @include mq('desktop') {
                background-image: url("#{$img-path}/diego-thumb.png");
            }
            @include mq('mobile') {
                background-image: url("#{$img-path}/diego-thumb-mobile.png");   
            }
        }

        .view-patient-profiles {
            display: block;
            background: #FFBE2C;
            margin: 29px auto 0 auto;
            overflow: hidden;

            @include mq('desktop') {
                width: 388px;
                height: 55px;
                border-radius: 12px;
            }
            @include mq('mobile') {
                width: 528px;
                height: 110px;
                border-radius: 28px;
            }

            p {
                color: #2B4251;
                font-family: font('gill sans', 'regular');
                -webkit-transition: transform 0.3s;
                -moz-transition: transform 0.3s;
                transition: transform 0.3s;

                @include mq('desktop') {
                    font-size: 20px;
                    line-height: 55px;
                }
                @include mq('mobile') {
                    font-size: 36px;
                    line-height: 40px;
                    padding: 15px 50px;
                }
            }
            &:before {
                content: "\2193";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                color: #2B4251;
                -webkit-transition: transform 0.3s;
                -moz-transition: transform 0.3s;
                transition: transform 0.3s;

                @include mq('desktop') {
                    top: -55px;
                    line-height: 55px;
                    font-size: 30px;
                }

                @include mq('mobile') {
                    top: -110px;
                    line-height: 110px;
                    font-size: 60px;
                }
            }
            &:hover {
                
                p, &:before {
                    
                    @include mq('desktop') {
                        -webkit-transform: translateY(55px);
                        -moz-transform: translateY(55px);
                        transform: translateY(55px);
                    }
                    @include mq('mobile') {
                        -webkit-transform: translateY(110px);
                        -moz-transform: translateY(110px);
                        transform: translateY(110px);
                    }
                }
            }
        }
    }
    ul {
        @include mq("desktop") {
            font-size: 22px;
        }
    }
    .frequencies {
        @include mq("desktop") {
            font-size: 23px;
            line-height: 26px;
        }

        @include mq("mobile") {
            font-size: 24px;
            line-height: 28px;
        }
    }
    .twelve-month {
        padding-top: 36px;
    }
}

.percent {
    line-height: 0;
    @include mq("desktop") {
        font-size: 18px;
    }

    @include mq("mobile") {
        font-size: 26px;
    }
}
