.section--resources {
    background: #8c8f91;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjOGM4ZjkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%, #8c8f91), color-stop(100%, #323333));
    background: -webkit-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -o-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -ms-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: radial-gradient(ellipse at center, #8c8f91 40%, #323333 100%);
    .lt-ie9 & {
        background: #8c8f91;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    }

    .bar--title:before {
        border-top-color: rgb(56, 84, 102);
    }
    @include mq("desktop") {
        h2 {
            //font-size: 36px;
            padding-bottom: 10px;
        }
        .sub-head {
            padding-bottom: 20px;
        }
        h3 {
            font-size: 28px;
            line-height: 30px;
        }
        h4 {
            font-size: 24px;
            line-height: 28px;
        }
        p {
            //font-size: 23px;
            //line-height: 26px;
        }
        li {
            //font-size: 20px;
            //line-height: 22px;
            padding-bottom: 5px;
        }
    }

    @include mq("mobile") {
        h2 {
            //font-size: 48px;
            //line-height: 50px;
            padding-bottom: 15px;
        }
        .sub-head {
            //font-size: 30px;
            //line-height: 33px;
        }
        h3 {
            //font-size: 26px;
            //line-height: 28px;
        }
        p, li {
            //font-size: 24px;
            //line-height: 29px;
        }
    }

    .graphic-wrap {
        @include mq("desktop") {
            background: url("#{$img-path}/bed-patient.png") no-repeat bottom left;
            padding-left: 400px;
            min-height: 386px;
            // width: 1024px;
            margin-left: -32px;
        }
    }
    .videos {
        background: #a1a1a1;
        width: 1024px;
        margin: 0 30px 0 -32px;
        padding: 20px 40px 25px;
        @include mq("mobile") {
            width: 640px;
            margin: 0 0 30px -20px;
        }

        h4 {
            color: #ffffff;
            font-size: 24px;
            margin-bottom: 30px;
            @include mq("mobile") {
                font-size: 27px;
                width: 640px;
                //letter-spacing: -1px;
            }
        }
        video {
            display: none;
        }
        .mejs-container video {
            display: block;
        }
    }
    .video-playlist {
        li {
            cursor: pointer;
            background: #616364;
            display: block;
            margin: 0 auto 1px auto;
            //border-bottom: #747779 solid 12px;
            @include mq("desktop") {
                width: 800px;
                height: 60px;
                font-size: 18px;
                padding: 0 20px;
                padding-left: 80px;
            }

            @include mq("mobile") {
                //width: 268px;
                //height: 240px;
                width: 100%;
                min-height: 60px;
                // margin-right: 7px;
                ///border-bottom: #747779 solid 18px;
                padding: 10px 20px;
                text-align: center;
                padding-left: 80px;
            }



            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: #3d3d3d;
                width: 60px;
            }
            &:after {
                content: '\25B6';
                color: #febd3f;
                text-align: center;
                width: 60px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -11px;
                @include mq("mobile") {
                    margin-top: -14.5px;
                    font-size: 30px;
                }
            }
            &.active,
            &:hover {
                background-color: #747779;
            }
            p {
                margin: 0 auto;
                color: #febd3f;
                display: table-cell;
                width: 100%;
                vertical-align: middle;
                text-align: left;
                height: inherit;
                padding-bottom: 0;
                font-family: font("gill sans", "regular");
                @include mq("mobile") {
                    font-size: 24px;
                    line-height: 26px;
                    width: 500px;
                }

                @include mq("desktop") {
                    font-size: 18px;
                    line-height: 20px;
                    // padding-top: 0;
                    // width: 560px;
                }
            }
        }
    }
    .video-player {
        position: relative;
        .arrow {
            height: 40px;
            width: 30px;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            cursor: pointer;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        .arrow-left {
            left: 10px;
            background: url("#{$img-path}/arrow-left.png") center center no-repeat;

            @include mq("mobile") {
                left: -35px;
            }
        }
        .arrow-right {
            right: 10px;
            background: url("#{$img-path}/arrow-right.png") center center no-repeat;

            @include mq("mobile") {
                right: -35px;
            }
        }
        .mejs-container {
            margin: 0 auto 1px auto;
        }
    }
    h3.org-header {
        @include mq("desktop") {
            padding: 40px 0 20px 0;
            //font-size: 25px;
        }

        @include mq("mobile") {
            padding-bottom: 30px;
        }
    }
    ul.organizations {
        @include clearfix;
        @include mq("mobile") {
            padding-bottom: 50px;
        }

        li {
            width: 50%;
        }
        li:nth-child(odd) {
            float: left;
            clear: left;
        }
        li:nth-child(even) {
            float: right;
            clear: right;
        }
        p {
            padding-bottom: 0;
            
        }
        // Title
        p:nth-child(1) {
            color: #ffffff;
        }
        // URL
        p:nth-child(2) {
            color: #febd3f;
        }
        // Phone
        p:nth-child(3) {
            color: #febd3f;
        }
        @include mq("mobile") {
            li {
                float: none !important;
                clear: both !important;
                width: 100% !important;
            }
        }

        a {
            color: #febd3f;
            text-decoration: none;
        }
    }
    .signup {
        margin: 0 auto;
        line-height: 25px;
        clear: both;
        font-family: font("gill sans", "regular");
        cursor: pointer;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.4);
        -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.4);
        box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.4);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        @include mq("desktop") {
            font-size: 24px;
            line-height: 26px;
            width: 470px;
            padding: 10px 20px;
            margin-bottom: 48px;
        }

        @include mq("mobile") {
            font-size: 28px;
            line-height: 32px;
            padding: 12px 20px;
            width: 460px;
        }
    }
    .references {
        word-wrap: break-word;
        margin-top: 20px;
        @include mq("mobile") {
            margin-top: 30px;
        }

        p {
            //font-size: 17px;
            //line-height: 21px;
            color: #eeeeee;
            padding-right: 16px;
        }
    }
    br.mobile-only {
        @include mq("desktop") {
            display: none;
        }
    }
}
