.section--resources {
    background: #8c8f91;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjOGM4ZjkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%, #8c8f91), color-stop(100%, #323333));
    background: -webkit-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -o-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -ms-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: radial-gradient(ellipse at center, #8c8f91 40%, #323333 100%);
    .lt-ie9 & {
        background: #8c8f91;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    }


    .bar--title:before {
        border-top-color: rgb(56, 84, 102);
    }
    @include mq("desktop") {

        h2 {
            padding-bottom: 10px;
        }
        .sub-head {
            padding-bottom: 20px;
            font-size: 18px;
            line-height: 22px;
        }
        h3 {
            font-size: 28px;
            line-height: 30px;
        }
        h4 {
            font-size: 24px;
            line-height: 28px;
        }
        li {
            padding-bottom: 5px;
        }
    }

    @include mq("mobile") {
        h2 {
            padding-bottom: 15px;
            //margin-left: 32px;
        }
        .sub-head {
            padding-bottom: 32px;
            //margin-left: 32px;
        }
    }

    .graphic-wrap {
        @include mq("desktop") {
            background: url("#{$img-path}/bed-patient-2.png") no-repeat bottom left;
            background-size: 455px 466px;
            padding-left: 400px;
            min-height: 466px;
            width: 455px;
            margin-left: -32px;
        }

        ul ul li {
            padding-bottom: 0;
            padding-top: 10px;
        }
    }

    // BED 2.0 - "Starting the conversation"

    .content-wrap.steps {

        @include mq('desktop') {
            //padding: 0;
            height: 637px;
        }
    }

    // Steps section
    .graphic-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    h3 {
        font-size: 24px;

        @include mq('desktop') {
            line-height: 29px;
            margin-top: 13px;
        }

        @include mq('mobile') {
            font-size: 40px;
            line-height: 40px;
        }
    }


    .step {

        &:before {
            content: '';
            position: absolute;
        }

        @include mq('desktop') {
            margin-left: 530px;
            width: 339px;

            &:before {
                left: -63px;
                top: 0;
                width: 43px;
                height: 43px;
                background-size: 43px;
            }

            p {
                font-size: 16px;
                line-height: 19px;
            }
        }

        @include mq('mobile') {
            width: 588px;
            //margin-left: 32px;

            &:before {
                left: 0;
                top: 0;
                width: 68px;
                height: 67px;
                background-size: 68px 67px;
            }

            h3 {
                text-align: center;
                line-height: 67px;
                margin-bottom: 20px;
            }

            p {
                font-size: 32px;
                line-height: 38px;
            }
        }
    }

    .download-button {
        background: #323E48;
        cursor: pointer;
        margin-bottom: 18px;

        &:hover {
            position: relative;
            top: 1px;

            p {
                color: #ffcd6d;
            }
        }

        p {
            text-align: center;
            color: #FFBE2C;
        }

        @include mq('desktop') {
            width: 323px;
            height: 32px;
            border-radius: 8px;

            p {
                font-size: 15px;
                line-height: 31px;
            }
        }

        @include mq('mobile') {
            width: 536px;
            height: 114px;
            border-radius: 18px;
            margin: 0 auto 25px auto;

            p {
                padding-top: 22px;
                font-size: 30px;
                line-height: 36px;
            }
        }
    }


    .step-1 {
        @include mq('desktop') {
            margin-top: -100px;
        }

        &:before {
        
            @include mq('desktop') {
                //background-image: url("#{$img-path}/step-1.png");
            }
            @include mq('mobile') {
                //background-image: url("#{$img-path}/step-1-mobile.png");
            }
        }
    }
    .step-2 {

        @include mq('desktop') {
            .download-button {
                height: 49px;

                p {
                    padding-top: 7px;
                    line-height: 18px;
                }
            }
        }

        &:before {
            @include mq('desktop') {
                //background-image: url("#{$img-path}/step-2.png");
            }
            @include mq('mobile') {
                //background-image: url("#{$img-path}/step-2-mobile.png");
            }
        }
    }



    // audio section
    .audio {
        background-image: radial-gradient(50% 50%, #333E48 50%, #21282F 100%);
        padding: 40px 58px;

        
        #one-patients-story {
            top: -90px;
        }

        h2 {
            @include mq('desktop') {
                padding-bottom: 50px;
            }

            @include mq('mobile') {
                padding-bottom: 60px;
                text-align: center;
            }
        }

        @include mq('desktop') {
            height: 530px;
        }


        .scroll-point {
            margin: 0;
        }
    }

    .sunny-icon {

        @include mq('desktop') {
            display: none;
        }
    
        @include mq('mobile') {
            width: 153px;
            height: 152px;
            background-image: url(#{$img-path}/audio-sunny-icon.png);
            background-size: 153px 152px;
            margin: 0 auto 25px auto;
        }
    }

    .audio-bg {

        @include mq('desktop') {
            background-image: url("#{$img-path}/audio-bg.png");
            background-size: 359px 500px;
            width: 359px;
            height: 500px;
            position: absolute;
            right: 20px;
            bottom: 0;
            z-index: 0;
        }
        @include mq('mobile') {
            display: none;
        }
    }

    .quote-block {
        margin: 0 0 27px 27px;
        
        @include mq('desktop') {
            width: 566px;
        }

        .quote {
            color: #C2CBD0;
            font-family: font('gill sans', 'light italic');

            @include mq('desktop') {
                font-size: 22px;
                line-height: 26px;

                .quotation-mark {
                    width: 20px;
                    height: 14px;
                    vertical-align: top;
                    background-size: 20px 14px;
                }
                .quote-open {
                    position: absolute;
                    left: -26px;
                    background-image: url("#{$img-path}/quote-open.png");
                }
                
                .quote-close {
                    display: inline-block;
                    background-image: url("#{$img-path}/quote-close.png");
                    margin-left: 5px;
                }
            }
            @include mq('mobile') {
                font-size: 44px;
                line-height: 53px;
                text-align: center;
                padding-bottom: 35px;

                .quotation-mark {
                    width: 38px;
                    height: 27px;
                    vertical-align: top;
                    background-size: 38px 27px;
                }
                .quote-open {
                    position: absolute;
                    // left: -40px;
                    left: -13px;
                    background-image: url("#{$img-path}/quote-open-mobile.png");
                }
                
                .quote-close {
                    display: inline-block;
                    background-image: url("#{$img-path}/quote-close-mobile.png");
                    margin-left: 15px;
                }
            }


        }

        .play-button {
            cursor: pointer;

            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
                background-image: url("#{$img-path}/play-button.png");
                background-size: 27px 26px;
                width: 27px;
                height: 26px;
                margin-right: 7px;

                &:hover {
                    background-image: url("#{$img-path}/play-button-hover.png");
                }

            }
            @include mq('mobile') {
                display: none;
            }
        }

        .listen {
            color: #FFBE2C;

            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
                font-size: 18px;
                line-height: 26px;
                margin-right: 16px;
            }
            @include mq('mobile') {
                font-size: 36px;
                line-height: 43px;
                padding-bottom: 41px;
            }
        }

        .audio-player {

            // temporary until audio is embedded
            background-image: url("#{$img-path}/audio-player-placeholder.png");
            
            
            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
                background-size: 229px 31px;
                width: 229px;
                height: 31px;
            }

            @include mq('mobile') {
                width: 509px;
                height: 60px;
                background-size: 509px 60px;
                margin-bottom: 70px;
            }
        }

        .audio-container {
            @include mq('desktop') {
                display: inline-block;
                vertical-align: top;
                background-size: 229px 31px;
                width: 229px;
                height: 31px;

                .mejs-controls,
                .mejs-time-total,
                .mejs-time-buffering,
                .mejs-time-loaded,
                .mejs-time-current,
                .mejs-button,
                .mejs-time,
                .mejs-controls {
                }
            }

            @include mq('mobile') {
                width: 509px;
                height: 60px;
                background-size: 509px 60px;
                margin-bottom: 70px;

                .mejs-controls {
                    height: 60px;
                }

                .mejs-time-total {
                    margin-top: 12px;
                    height: 22px;
                    border-radius: 5px;
                    .mejs-time-buffering,
                    .mejs-time-current {
                        border-radius: 5px;
                        height: 22px;
                    }
                }

                .mejs-button {
                    padding-top: 16px;
                    button {
                        transform: scale(1.5);
                    }
                }

                .mejs-time {
                    padding-top: 25px;
                    span {
                        font-size: 17px;
                    }
                }
                .mejs-controls {
                    height: 60px;
                }

            }

            // Hiding the loaded buffer cause it was buggy
            .mejs-time-loaded {
                opacity: 0;
            }
        }
    }

    .callout {

        @include mq('desktop') {
            width: 307px;
            height: 93px;
            background: #657E8E;
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.50);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            position: absolute;
            right: 0;
            bottom: 60px;
            z-index: 1;

            p {
                font-size: 16px;
                line-height: 19px;
                color: #ffffff;
                padding: 18px 24px;
                font-family: font('gill sans', 'italic');
            }
        }
        @include mq('mobile') {
            display: none;
        }
    }
}
