.section--resources {
    background: #8c8f91;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjOGM4ZjkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%, #8c8f91), color-stop(100%, #323333));
    background: -webkit-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -o-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -ms-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: radial-gradient(ellipse at center, #8c8f91 40%, #323333 100%);
    .lt-ie9 & {
        background: #8c8f91;
    }
    @include mq("mobile") {
        // TODO: change to linear gradient for mobile
    }


    .bar--title:before {
        border-top-color: rgb(56, 84, 102);
    }
    @include mq("desktop") {

        h2 {
            padding-bottom: 10px;
        }
        .sub-head {
            padding-bottom: 20px;
            font-size: 18px;
            line-height: 22px;
        }
        h3 {
            font-size: 28px;
            line-height: 30px;
        }
        h4 {
            font-size: 24px;
            line-height: 28px;
        }
        li {
            padding-bottom: 5px;
        }
    }

    @include mq("mobile") {
        h2 {
            padding-bottom: 15px;
        }
        .sub-head {
            padding-bottom: 32px;
        }
    }

    .graphic-wrap {
        @include mq("desktop") {
            background: url("#{$img-path}/bed-patient-2.png") no-repeat bottom left;
            background-size: 455px 466px;
            padding-left: 400px;
            min-height: 466px;
            width: 455px;
            margin-left: -32px;
        }

        ul ul li {
            padding-bottom: 0;
            padding-top: 10px;
        }
    }

    // BED 2.0 - "Starting the conversation"

    .content-wrap.steps {

        @include mq('desktop') {
            height: 637px;
        }
    }

    // Steps section
    .graphic-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    h3 {
        font-size: 24px;

        @include mq('desktop') {
            line-height: 29px;
            margin-top: 13px;
        }

        @include mq('mobile') {
            font-size: 40px;
            line-height: 40px;
        }
    }

    .step {

        &:before {
            content: '';
            position: absolute;
        }

        @include mq('desktop') {
            margin-left: 530px;
            width: 339px;

            &:before {
                left: -63px;
                top: 0;
                width: 43px;
                height: 43px;
                background-size: 43px;
            }

            p {
                font-size: 16px;
                line-height: 19px;
            }
        }

        @include mq('mobile') {
            width: 588px;

            &:before {
                left: 0;
                top: 0;
                width: 68px;
                height: 67px;
                background-size: 68px 67px;
            }

            h3 {
                text-align: center;
                line-height: 67px;
                margin-bottom: 20px;
            }

            p {
                font-size: 32px;
                line-height: 38px;
            }
        }
    }

    .download-button {
        background: #323E48;
        cursor: pointer;
        margin-bottom: 18px;

        &:hover {
            position: relative;
            top: 1px;

            p {
                color: #ffcd6d;
            }
        }

        p {
            text-align: center;
            color: #FFBE2C;
        }

        @include mq('desktop') {
            width: 323px;
            height: 32px;
            border-radius: 8px;

            p {
                font-size: 15px;
                line-height: 31px;
            }
        }

        @include mq('mobile') {
            width: 536px;
            height: 114px;
            border-radius: 18px;
            margin: 0 auto 25px auto;

            p {
                padding-top: 22px;
                font-size: 30px;
                line-height: 36px;
            }
        }
    }

    .step-1 {
        @include mq('desktop') {
            margin-top: -100px;
        }
    }
    .step-2 {

        @include mq('desktop') {
            .download-button {
                height: 49px;

                p {
                    padding-top: 7px;
                    line-height: 18px;
                }
            }
        }
    }


}
