
.section--videos {
    background: #8c8f91;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDAlIiBzdG9wLWNvbG9yPSIjOGM4ZjkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMyMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(40%, #8c8f91), color-stop(100%, #323333));
    background: -webkit-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -o-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: -ms-radial-gradient(center, ellipse cover, #8c8f91 40%, #323333 100%);
    background: radial-gradient(ellipse at center, #8c8f91 40%, #323333 100%);
    
    .content-wrap {
        padding-top: 0;
    }
    .videos {
        background: #a1a1a1;
        width: 1024px;
        margin: 0 30px 0 -32px;
        padding: 20px 52px 25px;

        @include mq("mobile") {
            width: 640px;
            margin: 0 0 30px -20px;
        }

        h3 {
            color: #333E48;
            padding-bottom: 24px;

            @include mq('desktop') {
                text-align: center;
                font-size: 28px;
                line-height: 34px;                
            }
            @include mq('mobile') {
                font-size: 56px;
                line-height: 60px;
            }
        }
        h4 {
            color: #ffffff;
            margin-bottom: 30px;
        }
        video {
            margin: 0 auto;
            display: block;
        }

        @media only screen and (min-width: 40.063em) and (max-width: 64em) and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
            video::-webkit-media-controls-fullscreen-button {
                display: none;
            }
        }
    }
    

    .video-player {
        position: relative;
        .arrow {
            height: 40px;
            width: 30px;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            cursor: pointer;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            @include mq("mobile") {
                display: none;
            }
        }
        .arrow-left {
            left: 10px;
            background: url("#{$img-path}/arrow-left.png") center center no-repeat;
            @include mq("mobile") {
                left: -35px;
            }
        }
        .arrow-right {
            right: 10px;
            background: url("#{$img-path}/arrow-right.png") center center no-repeat;
            @include mq("mobile") {
                right: -35px;
            }
        }
        .mejs-container {
            margin: 0 auto 1px auto;
        }
    }
    h3.org-header {
        @include mq("desktop") {
            padding: 40px 0 20px 0;
        }

        @include mq("mobile") {
            padding-bottom: 30px;
        }
    }
    ul.organizations {
        @include clearfix;
        @include mq("desktop") {
            width: 50%;
            float: left;
            clear: left;

            & + ul.organizations {
                float: right;
                clear: right;
            }
        }

        p {
            padding-bottom: 0;
        }
        // Title
        p:nth-child(1) {
            color: #ffffff;
        }
        // URL
        p:nth-child(2) {
            color: #febd3f;
        }
        // Phone
        p:nth-child(3) {
            color: #febd3f;
        }
    }

    //- BED 2.0 video listings
    .video-list {
        font-size: 0;
        position: relative;
        font-family: font("gill sans", "regular");

        .video-nav {
            li {
                background-color: #4F5A64;
                transition: background-color 0.3s;
                color: #D7DBDF;

                &.active, &:hover {
                    background-color: #333E48;
                }
            }

            @include mq('desktop') {
                width: 800px;
                height: 60px;
                font-size: 0;
                margin: 20px auto 42px auto;

                li {                
                    display: inline-block;
                    vertical-align: top;
                    width: 33.33333%;
                    height: 60px;
                    font-size: 16px;
                    line-height: 60px;
                    text-align: center;
                    border-right: 1px solid #5F6B75;

                    cursor: pointer;

                    &:last-of-type {
                        border: 0;
                    }

                    &.mobile-dropdown {
                        display: none;
                    }
                }
                .two-lines {
                    line-height: 16px;
                    padding-top: 12px;
                }
            }
            @include mq('mobile') {

                $mobileNavHeight: 90px;

                height: $mobileNavHeight;
                overflow: visible;
                position: relative;
                z-index: 1000;
                width: 536px;
                margin: 35px 0;

                li {
                    height: $mobileNavHeight;
                    width: 536px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1111;
                    font-size: 32px;
                    line-height: $mobileNavHeight;
                    padding-left: 39px;
                    transition: top 0.3s;

                    &.active {
                        z-index: 5555;
                    }
                }
                .mobile-dropdown {
                    z-index: 8888;
                    background: transparent;

                    &:hover {
                        background: transparent;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 36px;
                    width: 36px;
                    height: 20px;
                    margin-top: -10px;
                    background-image: url(#{$img-path}/video-nav-arrow.png);
                    transform: rotateZ(-90deg);
                    transition: transform 0.3s;
                    z-index: 9999;
                }
                &.mobile-open {
                    
                    .second-row {
                        top: $mobileNavHeight;
                    }
                    .third-row {
                        top: 2 * $mobileNavHeight;
                    }
                    .mobile-dropdown {
                        z-index: 0;
                        position: absolute;

                    }
                    &:after {    
                        transform: rotateZ(0);
                    }
                }
            }
        }
        .video-section {
            position: relative;
            z-index: 0;
            top: 0;
            display: none;
            opacity: 0;
            transition: opacity 0.5s;

            &.active {
                display: block;
                opacity: 1;
            }

            @include mq('desktop') {
                left: 60px;
            }
            @include mq('mobile') {
                width: 590px;
            }
        }
        .video-thumb {
            cursor: pointer;
            background-position: top left;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            margin: 0 29px 29px 0;

            &.new:before {
                position: absolute;
                content: '';
                background-image: url(#{$img-path}/new-video-icon.png);
                background-size: 36px 21px;
                height: 21px;
                width: 36px;
                top: 6px;
                left: -6px;
            }

            p {
                color: #333E48;
            }

            .timestamp {
                position: absolute;
                right: 0;
                color: #ffffff;
                background-color: #333E48;
                text-align: center;
            }
            
            @include mq('desktop') {
                width: 178px;
                height: 180px;
                background-size: 178px 100px;

                p {
                    margin-top: 110px;
                    font-size: 16px;
                    line-height: 16px;
                }
                .timestamp {
                    top: 75px;
                    width: 39px;
                    height: 25px;
                    font-size: 12px;
                    line-height: 25px;
                }
            }
            @include mq('mobile') {
                width: 253px;
                height: 272px;
                background-size: 253px 142px;

                p {
                    margin-top: 156px;
                    font-size: 24px;
                    line-height: 28px;
                }
                .timestamp {
                    top: 107px;
                    width: 51px;
                    height: 35px;
                    font-size: 17px;
                    line-height: 35px;
                }
            }
        }

    }


    //  Video thumbnails!
    .what-is-bed {
        .video-1 {
            background-image: url(#{$img-path}/what-is-bed-thumb-1.png);
        }
        .video-2 {
            background-image: url(#{$img-path}/what-is-bed-thumb-2.png);
        }
        .video-3 {
            background-image: url(#{$img-path}/what-is-bed-thumb-3.png);
        }
        .video-4 {
            background-image: url(#{$img-path}/what-is-bed-thumb-4.png);
        }
        .video-5 {
            background-image: url(#{$img-path}/what-is-bed-thumb-5.png);
        }
    }

    .bed-in-adults {
        .video-1 {
            background-image: url(#{$img-path}/bed-in-adults-thumb-1.png);
        }
        .video-2 {
            background-image: url(#{$img-path}/bed-in-adults-thumb-2.png);
        }
        .video-3 {
            background-image: url(#{$img-path}/bed-in-adults-thumb-3.png);
        }
        .video-4 {
            background-image: url(#{$img-path}/bed-in-adults-thumb-4.png);
        }
        .video-5 {
            background-image: url(#{$img-path}/bed-in-adults-thumb-5.png);
        }
        .video-6 {
            background-image: url(#{$img-path}/bed-in-adults-thumb-6.png);
        }
        .video-7 {
            background-image: url(#{$img-path}/bed-in-adults-thumb-7.png);
        }
    }

    .physician-television {
        .video-1 {
            background-image: url(#{$img-path}/physician-television-thumb-1.png);
        }
        .video-2 {
            background-image: url(#{$img-path}/physician-television-thumb-2.png);
        }
        .video-3 {
            background-image: url(#{$img-path}/physician-television-thumb-3.png);
        }
        .video-4 {
            background-image: url(#{$img-path}/physician-television-thumb-4.png);
        }
        .video-5 {
            background-image: url(#{$img-path}/physician-television-thumb-5.png);
        }
        .video-6 {
            background-image: url(#{$img-path}/physician-television-thumb-6.png);
        }
    }




    .signup {
        margin: 0 auto;
        line-height: 25px;
        clear: both;
        font-family: font("gill sans", "regular");
        cursor: pointer;
        box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.4);
        border-radius: 10px;
        &:hover {
            position: relative;
            top: 1px;
            box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.4);
        }
        @include mq("desktop") {
            font-size: 24px;
            line-height: 26px;
            width: 470px;
            padding: 10px 20px;
            margin-bottom: 48px;
        }

        @include mq("mobile") {
            font-size: 32px;
            line-height: 40px;
            padding: 12px 20px;
            width: 490px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }
    .references {
        word-wrap: break-word;
        margin-top: 20px;
        @include mq("mobile") {
            margin-top: 30px;
        }

        p {
            color: #eeeeee;
            padding-right: 16px;
        }
    }
    br.mobile-only {
        @include mq("desktop") {
            display: none;
        }
    }


    // BED 2.0
    .scroll-point {
        position: absolute;
        top: -50px;
    }
}
